[2020-03-16 14:21] cchaos commented on #287
Blocked by #1298

[2020-03-16 14:31] cchaos commented on #478
I think the main approach here is to:

- Re-word the title of the callout from "Please address the errors in your form." to "Please address the errors highlighted below."
- When EuiForm's `isInvalid` prop is `true`, also allow the alert/callout to be shown or not.

[2020-03-16 14:35] cchaos commented on #587
@snide Do you think this still needs to be addressed. Consumers can add any content they want in the expanded portion so I'm not entirely sure what we can do from the EUI side.

[2020-03-16 14:36] anishagg17 commented on #475
I think it's already implemented

[2020-03-16 14:43] anishagg17 commented on #590
Also ,hitting delete key doesn't delete the currently focused element ,

![Hnet com-image (6)](https://user-images.githubusercontent.com/43617894/76769424-7a379200-67c2-11ea-84e3-f995e869214e.gif)

[2020-03-16 14:48] anishagg17 commented on #634
@cchaos please recheck this issue this has been already fixed

[2020-03-16 14:55] cchaos commented on #1023
The above example is not an EuiComboBox but an EuiSuperSelect. Likely the EuiSuperSelect needs to use the newly created EuiInputPopover to correct this situation.

[2020-03-16 14:59] cchaos commented on #1074
Similar issue #476

[2020-03-16 15:00] justinkambic opened #3092 "[EuiContextMenuItem] Text bottom is cut off when `href` prop is supplied"
I have noticed that the bottom of an `EuiContextMenuItem` is cut off when I specify the `href` prop for its content. Screenshot (look at the letter `g` in the text that says "Manage alerts"):

![image](https://user-images.githubusercontent.com/18429259/76770827-e25f8700-6774-11ea-8260-963aaf03daac.png)

The implementation of the item looks like:

[code]

If I remove the `href` prop, I no longer se

[2020-03-16 15:10] cchaos commented on #3092
I looked deeper into this and the problem stems from the combination of line-height and padding.

**Rendered as links**
<img width="357" alt="Screen Shot 2020-03-16 at 09 56 00 AM" src="https://user-images.githubusercontent.com/549577/76771519-daecad80-6775-11ea-9b95-d5a9865a9b72.png">

The overall height is correct, but because of the short line-height, the descenders get cutoff.

**Rendered as b

[2020-03-16 15:14] cchaos commented on #1118
I'm ok with this regression that effects IE11 only. The functionality of it works.

[2020-03-16 15:14] #1118 closed

[2020-03-16 15:17] cchaos commented on #1126
Closing this out as we highlighted using Kibana's Monaco editor for code completion and we have a Meta ticket for EuiSuggest accessibility issues #2404

[2020-03-16 15:17] #1126 closed

[2020-03-16 16:08] gchaps commented on #478
We are removing the spatial references "above", "below", "left", and "right" from the docs for accessibility reasons.

So I suggest this wording: "Please address the highlighted errors."

[2020-03-16 16:39] cchaos commented on #1235
Tooltips, I believe, are using the same Popover service as EuiPopovers and EuiPopovers can handle fixed position anchors. It seems that Tooltips just need to have this ability as well and most likely always, instead of manually.

[2020-03-16 16:55] cchaos commented on #1398
Closing in favor of our updated 2020 roadmap #2520

[2020-03-16 16:55] #1398 closed

[2020-03-16 16:58] cchaos commented on #1862
Similar issue #1401

[2020-03-16 17:01] cchaos commented on #1436
Should we add a `max-width: 100%` to all EuiTooltip anchor wrappers?

[2020-03-16 17:02] Ishaan28malik commented on #3055
Hey is it still , open . I can work on this.

[2020-03-16 17:27] thompsongl commented on #3081
This is a decision that we've intentionally left to consumers. For the most part, EUI form components are simple wrappers around HTML form elements, and where possible we adhere to DOM APIs. We have used `throttle` methods in places where we are internally consuming events, but we don't want to make assumptions about exposed `onChange` callbacks or what events they will eventually affect.

That be

[2020-03-16 17:45] #2831 closed

[2020-03-16 17:47] chandlerprall commented on #1501
@hetanthakkar1 go ahead, we'll accept a PR

[2020-03-16 18:06] chandlerprall commented on #2427
I pulled your branch and ran

[code]

with no issues, were you able to solve the issue, or am I missing something?

[2020-03-16 18:31] cchaos commented on #1563
Closing as the last item is a dup of #1023

[2020-03-16 18:31] #1563 closed

[2020-03-16 18:35] cchaos commented on #1656
We'll need to get back to working on this issue for the 7.8 time frame. In particular, the use case is being able to have components like EuiControlBar and EuiTooltip render as "dark theme in light mode".

[2020-03-16 18:38] chandlerprall commented on #1656
can you expand on that, or link to an existing definition/conversation?

[2020-03-16 18:50] cchaos commented on #1838
As far as I can tell, there doesn't seem to be a need for this anymore. I'm going to close this ticket. Feel free to reopen if I am mistaken.

[2020-03-16 18:50] #1838 closed

[2020-03-16 18:56] anishagg17 commented on #1715
@cchaos what needs to be done for this?

[2020-03-16 19:13] chandlerprall commented on #3090
@snide @cchaos thoughts on this pattern? I think we've been mostly consistent in the docs where each section (this case of vertical & horizontal layout being a single section) sharing the same state. I kinda like being able to interact with one layout and seeing how it affects the other, instead of needing to mirror my actions when testing. Makes it easy to see how different presentation configura

[2020-03-16 19:20] chandlerprall commented on #2441
Go ahead @mridulgogia - as described above, we should move the **Context** documentation (https://elastic.github.io/eui/#/utilities/context) into **I18n** (https://elastic.github.io/eui/#/utilities/i18n), and better document the various localization/internationalization options,

https://github.com/elastic/eui/blob/1780d7090e9fc7fae60367c46c47c0be90a9f762/src/components/context/context.tsx#L9-L17

[2020-03-16 19:22] cchaos commented on #1401
I am also finding out that we need this for the `data-test-subj` prop as well so they can be unique per button

[2020-03-16 19:35] chandlerprall commented on #599
`react-loadable` would not address as we currently rely on the downstream application to EUI's styles, we would need to poll the DOM in some fashion, likely checking a known-to-exist DOM node in checkbox for an EUI style. There isn't a programmatic way to hook `react-loadable` into this

As we move away from applying styles in this way, and toward some kind of CSS-in-JS solution, this issue goes a

[2020-03-16 19:35] #599 closed

[2020-03-16 19:38] cchaos commented on #3090
For this specific demo, I agree. We use these demo sections to test for visual discrepancies and we can cut our time short by applying the states similarly to multiple examples in the demo. I would say this specific issue (if it doesn't impede with the accessibility testing) is a no-op.

[2020-03-16 19:38] #3090 closed

[2020-03-16 19:51] cchaos commented on #1656
This was sort of an internal note that @snide and I discussed. But we're seeing more components that render with dark backgrounds like EuiControlBar and EuiTooltip. Right now all their contents (aside from plain text which can easily inherit color), assumes they're in light theme and therefore won't render with proper contrast or visibility at all. The current terrible way to handle this is to hav

[2020-03-16 19:51] anishagg17 commented on #3090
@cchaos @chandlerprall the id's assigned to both horizontal and vertical layouts were same and were causing error while a11y testing

[2020-03-16 19:53] cchaos commented on #3090
Is it possible to solve the `id` issue without separating the state?

[2020-03-16 20:00] cchaos commented on #3055
Thanks for the interest @Ishaan28malik But we're working on this particular one internally as shown by the added assignee.

[2020-03-16 20:14] cchaos commented on #3032
I thought screenreaders only read the legend on the first input that gets focused then as they move through the fieldset, it doesn't reread the legend. At least that's how it's working with Mac's VO.

[2020-03-16 20:43] mridulgogia commented on #3072
Can I work on adding accessibility to the mark documentation?

[2020-03-16 20:47] cchaos commented on #1715
The input in the EuiSuperDatePicker's absolute tab expects users to type the entire expected format down to the hundredth millisecond. Instead, the input should allow the user to type in an incomplete yet valid format up to the stopping point and the time picker would just fill in the rest with `0`s.

[2020-03-16 21:47] #1371 closed

[2020-03-16 21:55] snide commented on #3072
Generally, if it's a one-off (which this feels like it is) its usually better to make a separate section to describe what the prop changes do. We usually reserve things like display toggles when it's a repeatable, common scenario we have to deal with a lot.

https://github.com/elastic/eui/blob/master/CONTRIBUTING.md#how-we-assign-work-and-define-our-roadmap

[2020-03-16 21:57] myasonik commented on #3032
JAWS, Window's most popular screen reader, adds it after each form element

[2020-03-16 22:46] LeonY1 commented on #2427
I didn't end up pushing with the errors because I wasn't sure if I was supposed to? However, I can push up that version to see if you can help out.

[2020-03-16 23:03] cchaos commented on #3032
Then, I supposed, yes, you could just wrap the heading and not the description in the `<legend>`

[2020-03-16 23:04] cchaos commented on #3032
Oh wait, sorry, I forgot this whole chain of thought. Nope, if `<legend>` has to be the first descendent of `<fieldset>` and we can't include the `description`, then my plan fails. 🤷‍♀

[2020-03-16 23:12] myasonik commented on #3032
Then maybe we do include it in the `<legend>` and count a potentially long/wordy `description` as the price we pay for all things we're trying to balance?

I think it would be better than what we have now at the very least...

[2020-03-17 02:16] PeterSenpai commented on #2760
From what I see, this test is essentially a sanity test to verify if the external and internal packages can install EUI(npm link) package, and then run build, lint successfully. I am thinking about if we can use scripts to add some code to actually use the EUI and then run build etc for better testing.

[2020-03-17 07:41] tkim90 opened #3101 "[DataGrid] Question on grabbing a selected row's column values in DataGrid"
Hi Elastic team,

I've been playing around with the framework and love it so far, especially DataGrids! I was hoping to use it for a project and had a question about accessing cell values. I'm implementing an EDIT button, where the user would select a row, click EDIT, and get a modal with the fields pre-populated.

How would I go about getting all the column values for the selected row? I'm curren

[2020-03-17 08:53] anishagg17 commented on #833
@cqliu1 can you provide the link to SVG ?

[2020-03-17 08:57] anishagg17 commented on #833
![Screenshot 2020-03-17 at 2 26 18 PM](https://user-images.githubusercontent.com/43617894/76839300-45c3e480-685b-11ea-8992-a013cd6f8d6e.png)

I am using (https://s.cdpn.io/3/kiwi.svg) and can't reproduce the issue

[2020-03-17 10:45] anishagg17 commented on #1469
@snide is there anything that i can work upon in this?

[2020-03-17 10:58] anishagg17 commented on #1357
@cchaos please assign me this issue

[2020-03-17 14:27] myasonik commented on #3101
Yup, using the index is the official recommendation at the moment. You can find an example of a similar use case on the [Data grid control columns](https://elastic.github.io/eui/#/tabular-content/data-grid-control-columns) page.

DataGrid is a pretty new component and it's still getting it's legs under it so if you have any API suggestions, we'd be happy to hear them!

[2020-03-17 14:28] bundaskifli commented on #3052
Hi,

thanks very much for the explanation, this answers my question.

[2020-03-17 16:33] anishagg17 commented on #1715
I was asking if you had an approach for it or not

[2020-03-17 16:45] cchaos commented on #1715
@anishagg17 I do not have a thought out approach. The above comment explains what **should** occur. Hopefully that is enough to figure out a possible solution.

[2020-03-17 17:21] #623 closed

[2020-03-17 17:22] snide commented on #1888
As mentioned here https://github.com/elastic/eui/pull/3069#issuecomment-600195991 we've decided to close out this issue. We're a little worried about the prop jumble of these components and think it's easier to simply suggest using a wrapping element around your content. Given the lack of conversation on this issue, we assume that method has worked well enough for folks.

[2020-03-17 17:22] #1888 closed

[2020-03-17 18:33] mridulgogia opened #3110 "console errors on Data grid schemas and Popovers"
![Screenshot from 2020-03-17 23-59-57](https://user-images.githubusercontent.com/44144128/76889549-cca0ad80-68ab-11ea-89f8-a317ff7221cd.png)

[2020-03-17 18:43] mridulgogia commented on #2441
For documentation, should I add them into the text section or add them into the props tab?

[2020-03-17 19:19] #3033 closed

[2020-03-17 19:50] tkim90 commented on #3101
@myasonik Thanks for the response - sounds good!

For APIs: I liked how [Tabulator](http://tabulator.info/docs/4.5/components) allows granular control thru objects like `Row`, `Column` and `Cell`. Each component has a set of APIs that let you access info about the context (ex. `Cell.getValue`, `Cell.getRow`, `Cell.getColumn`).

In this case though, maybe just a `DataGrid.getSelectedRows` could be

[2020-03-17 19:50] #3101 closed

[2020-03-17 19:55] myasonik commented on #3101
@chandlerprall Something to consider down the road 👆

Not sure where the best way to document it might be...

[2020-03-17 21:09] tsullivan opened #3111 "Unable to test with snapshot using "In-Memory Table - Selection""
It looks like the checkbox IDs are populated by making dynamic strings. This is making it impossible to do unit testing with snapshots.

Example of the dynamic strings, from the EUI docs:
![image](https://user-images.githubusercontent.com/908371/76902236-ce8d5100-6858-11ea-83c2-e1d7a2fa4143.png)

Snapshot tests will fail with errors like:
[code]

[2020-03-17 21:13] chandlerprall commented on #2731
@lokeshrana9999 a use case would be to import the `$euiColorPrimary` variable from either *src/global_styling/variables/_colors.scss* (light theme) or *src/themes/eui/eui_colors_dark.scss* (dark theme), for use in some additional computation.

[2020-03-17 21:25] cchaos commented on #2731
I'll also add to that that this would be in the EUI component creation `src/components` not in the consuming application/docs `src-docs/src`. We already have a solution for consuming applications where we build the **full** `.json`.

[2020-03-17 21:31] cchaos commented on #3111
@tsullivan It will only auto-generate if you don't pass an `id` explicitly with every row object. The docs example shows passing an id like so:
[code]

And then the id of the box is `_selection_column_1-checkbox`

<img width="677" alt="Screen Shot 2020-03-17 at 17 29 00 PM" src="https://user-images.githubusercontent.com/549577/76903831-18843000-6875-11ea-90d3-10ff0a528d64.png">

[2020-03-17 21:33] cchaos commented on #3111
The same `id` is then used for the `data-test-subj` as well. I'm going to consider this issue a no-op and close it, but feel free to reopen if you continue to have the problem.

[2020-03-17 21:38] thompsongl commented on #3111
The generated id occurs in the "Select all" (`data-test-subj=checkboxSelectAll`) checkbox, which always uses `makeId`

For unit testing, mocking is the correct approach:
`jest.mock('@elastic/eui/lib/components/form/form_row/make_id', () => () => 'generated-id');`

But any interaction in the table will cause the id to be changed. It should be stored in local state for the duration of the component

[2020-03-17 22:52] thompsongl opened #3112 "Replace `makeId` with `htmlIdGenerator`"
EUI has two utility methods for creating unique identifiers for associating `input`s and `label`s.

`makeId`:
* Zero-dependency
* No affixing/customization
* Exported from and used exclusively in `./form/`
* No documentation

`htmlIdGenerator`
* Uses [`uuid`](https://www.npmjs.com/package/uuid) v1
* Allows for prefixing and suffixing
* Exported as part of the public API
* Documentation in the work

[2020-03-17 23:13] paul-tavares opened #3113 "EuiIcon fails to display SVG url path after initially being rendered with `empty` eui icon type"
I have a component that will initially render an EuiIcon of type `empty` and then in a subsquent render, changes that to be a string path to an SVG image. This works only the first time the icon is displayed within the browser session. navigating way from the view and then back fails to display the remote `<img` with the path to the svg image and instead continues to show the Empty icon. Here is a

[2020-03-18 09:40] malviyanshiv commented on #3092
@cchaos , I further explored the issue and found that the root of the issue is **line-height** property of `<span class="euiContextMenu__itemLayout">`, resulting in a height difference of 4px. For better explaination,
The HTML markup generated in both the cases ( with and without href argument ) is as follows :
**with _href_ prop**
![withhyperlink](https://user-images.githubusercontent.com/3516597

[2020-03-18 09:51] malviyanshiv commented on #3092
@cchaos , Can I fix this issue by adding **line-height: normal;** to `<span class="euiContextMenu__itemLayout">` ?

[2020-03-18 12:15] thefaded commented on #1792
Guys, pls check PR
Should I add samples to docs with href?

[2020-03-18 12:26] cchaos commented on #3092
Thanks @malviyanshiv , for the extra details. Yes, I believe your fix would fix the inconsistent sizing between button and anchor tags. However, it wouldn't fully solve the original issue which is that the descenders of the letters get cut off because the line-height is too small. There would also need to be tweaks to increase the line-height for both, and decrease the vertical padding. If you thi

[2020-03-18 14:24] malviyanshiv commented on #3092
@cchaos Sure, I will raise the PR.

[2020-03-18 16:09] anishagg17 commented on #2254
@cchaos is it still open ? please assign me then

[2020-03-18 16:15] anishagg17 commented on #2224
@cjcenizal please assign me this issue

[2020-03-18 16:17] anishagg17 commented on #2210
@walterra I can't reproduce this issue

[2020-03-18 16:20] anishagg17 commented on #2200
@katrin-freihofner i am unable to reproduce this issue in the docs

[2020-03-18 16:46] cchaos commented on #2224
@anishagg17 We've decided that we [won't "assign" issues to community members](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md#how-we-assign-work-and-define-our-roadmap) any longer but just by commenting that you will be taking the issue should be enough to discourage conflicts with others. 👍

[2020-03-18 16:49] cchaos commented on #2254
@anishagg17 This one involves heavy thinking on how we want to communicate these chart usages. You can see the amount of thought gone into [these pages here](https://elastic.github.io/eui/#/elastic-charts/creating-charts). I'd rather reserve this one for internal. Thanks for the interest though! 😻

[2020-03-18 16:56] snide commented on #2224
Also, just a reminder. You have [a dozen open PRs](https://github.com/elastic/eui/pulls/anishagg17) at the moment. Please don't make any new ones until those ones are resolved.

[2020-03-18 17:05] myasonik commented on #2224
Seems like there's a bug with `ownFocus` where all flyouts seems to have `ownFocus` set on them.

When fixing this issue, I wonder if we could make that the official default as no one has seemed to have complained about this bug ever so I'm guessing no one noticed.

[2020-03-18 17:15] anishagg17 commented on #2961
@myasonik do i need to apply a post-render update for this?

[2020-03-18 17:21] myasonik commented on #2210
Reproduced on the EUI docs in FF.

@anishagg17 You'll also note that we've got a `design decision` label added to this PR which means we don't have a plan on _how_ to solve the current issue. Do you have a suggestion? We should probably have a plan before jumping into code.

If you want to work on `EuiCodeEditor`, there are still the two issues you picked up earlier briefly that still require work

[2020-03-18 17:23] anishagg17 commented on #2210
@myasonik

these two issues are by the side of `react-ace` they need to fix it

[2020-03-18 17:25] myasonik commented on #2200
I'm largely rewriting selectable right now and am able to reproduce. Will make sure it's resolved.

[2020-03-18 17:28] myasonik commented on #2961
Yes, this issue and #2960 should be fixed with the solution @chandlerprall posted above.

Make a new object prop called `textareaProps`.
After render of the component, apply any props from `textareaProps` to the textarea rendered.

[2020-03-18 18:00] anishagg17 commented on #1981
@cchaos please assign me this issue

[2020-03-18 18:03] anishagg17 commented on #2404
@myasonik I want to work on the keyboard controls for this component

[2020-03-18 18:08] myasonik commented on #2404
This isn't a good issue to take at the moment as the rewrite of EuiSelectable is likely to impact EuiSuggest's implementation

[2020-03-18 18:11] myasonik commented on #1981
Thanks for you enthusiasm @anishagg17!

[Per policy](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md#how-we-assign-work-and-define-our-roadmap), we won't be assigning issues to community contributors.

If you'd like to work on an issue, commenting is enough to indicate that you've started working on it and will discourage others from doing the same.

We also ask that community contribut

[2020-03-18 18:13] anishagg17 commented on #2404
okay would tackle it after the rewrite part is completed

[2020-03-18 18:22] cchaos commented on #2085
Closed via #3060

[2020-03-18 18:22] #2085 closed

[2020-03-18 18:30] cchaos commented on #2249
This happens because "every `0` seconds" is invalid and so it **has** to turn off the auto refresh. I think the correct fix for this would be to update the refresh interval `onBlur` of the inputs instead `onChange`.

[2020-03-18 18:37] cchaos commented on #2283
`prepend` and `append`s do now accept `strings` and automatically wraps them in a `<label>`. I think this was fixed with the compressed forms.

[2020-03-18 18:37] #2283 closed

[2020-03-18 18:38] cchaos commented on #2292
@smith Do you still hav that PR handy, we can certainly help with the design considerations.

[2020-03-18 18:41] smith commented on #2292
@cchaos No I checked on the branch and there's nothing there, so I don't think I made any changes back then. Thanks for looking!

[2020-03-18 18:58] cchaos commented on #2393
Likely the loading display should also check if there's data available first before swapping out rows for the loader. If there is data, then use the absolutely positioned infinite progress bar.

[2020-03-18 19:01] cchaos commented on #2400
#2758 Actually updated the EuiToken props to accept a `none` type of `fill`. That should suffice for the cases you mention and is already in use by Discover and Lens. Re-open though, if there's more you need from this component.

[2020-03-18 19:01] #2400 closed

[2020-03-18 19:03] cchaos commented on #2441
Closed vis #3116

[2020-03-18 19:03] #2441 closed

[2020-03-18 19:09] cchaos commented on #2474
I have, as of late, been frustrated that we don't also just have a simple function that returns a string for this. Kibana does have something like this:

https://github.com/elastic/kibana/blob/24534e832e8fb8691d0559a6f29825345f086e09/x-pack/legacy/plugins/lens/public/indexpattern_datasource/datapanel.tsx#L202-L204

[2020-03-18 19:44] cchaos commented on #2916
Closed via #3013

[2020-03-18 19:44] #2916 closed

[2020-03-18 20:05] miukimiu commented on #2687
Closing this issue. The solution for https://github.com/elastic/enhancements/issues/7793
is to use the `EuiCodeEditor ` with the `isReadOnly ` prop.

[2020-03-18 20:05] #2687 closed

[2020-03-18 20:31] cchaos commented on #2543
Since we now save the last theme to local store I think we can close this one out. It's a quick toggle for first-timers, but I think auto-shifting to dark could be misrepresenting how EUI works.

[2020-03-18 20:31] #2543 closed

[2020-03-18 20:39] cchaos opened #3119 "Setup DependaBot for Charts dependency updates"
@chandlerprall we talked about adding RenovateBot (used in kibana) or DependaBot (github owned) few weeks ago and I remember that you prefer first update manually all your dependencies and then configure a bot for the following updates.
We are testing dependabot in elastic-charts, and this will automatically update EUI in elastic-charts. You can configure the same in EUI, so you will get a PR for

[2020-03-18 20:40] cchaos commented on #2572
Closing in favor of #3119

[2020-03-18 20:40] #2572 closed

[2020-03-18 21:43] #696 closed

[2020-03-18 22:27] cchaos opened #3121 "Form control feature consolidation & Compressed forms follow-up"
_Piggy backing off of #2286_

### The following form controls are currently **lacking**  support

| control | compressed | prepend  | append  | other |
|---|---|---|---|---|
| EuiFieldPassword | ✔️ | ✔️ | ✔️ |   |
| EuiSelect | ✔️ | ✔️ | ✔️ | `id` does not seem to get passed to the actual `select` tag |
| EuiSuperSelect | ✔️ |  ✔️  |  ✔️  |   |
| EuiComboBox | ✔️ | ✔️for `singleSelect` only | ✔️fo

[2020-03-18 22:27] cchaos commented on #2286
This is all done, closing in favor of follow up issue #3121

[2020-03-18 22:27] #2286 closed

[2020-03-18 23:23] #3113 closed

[2020-03-18 23:49] chandlerprall commented on #475
Confirmed!

[2020-03-18 23:49] #475 closed

[2020-03-18 23:53] chandlerprall commented on #634
This test suite has 8 `skip` blocks, I'm updating the issue description to better reflect the current state.

[2020-03-19 00:11] chandlerprall commented on #3110
Thanks for reporting! This was fixed in #3065 - if you are still seeing this warning locally please delete your `.cache-loader` directory inside the EUI checkout and re-start the development server

[2020-03-19 00:11] #3110 closed

[2020-03-19 00:15] chandlerprall commented on #3111
@thompsongl make/generate id functions might be good candidates for our jest build. May also be too judicial of a choice... maybe the mocked function can expose some configuration method?

[2020-03-19 06:53] walnutdust commented on #435
Hi - wanted to ask if this issue was still open. `EuiTablePagination` seems to have a `hidePerPageOptions` which provides a method to:

Otherwise, if the focus of the issue is instead to provide an alternative interface (e.g. automatically detecting when `pageSizeOptions` is a number rather than an array, or an array with only one number, and hiding the select box), I would like to work on it!

[2020-03-19 09:05] anishagg17 commented on #1896
I have made something like this

![Hnet com-image (10)](https://user-images.githubusercontent.com/43617894/77049872-db43ad80-69ee-11ea-9c3a-7f8e3df4e702.gif)

is it fine??

[2020-03-19 09:14] lokeshrana9999 commented on #2731
Thanks @chandlerprall and @cchaos, I'll keepit in mind.

[2020-03-19 13:38] cchaos opened #3124 "[EuiSuperDatePicker] Update button tooltip occurs too often"
The "Click to apply" tooltip shows up everytime the input changes its date. That means it occurs even before the user is done navigating through the popover options.

![Screen Capture on 2020-03-19 at 09-30-24](https://user-images.githubusercontent.com/549577/77073339-83dd1780-69c5-11ea-9b36-322fdffb9094.gif)

---

This is extremely annoying and overly aggressive. Instead, since no editing can hap

[2020-03-19 14:35] #913 closed

[2020-03-19 14:38] thompsongl commented on #3111
@chandlerprall Yes, especially after we get #3112 done and it's clear where the id is coming from.

Everything seems relatively safe after icons 😄. Customization is a good idea, though

[2020-03-19 16:27] NightWing1998 commented on #3124
Hey,
I would like to work on this issue if it's available

[2020-03-19 16:31] ashikmeerankutty commented on #3124
@NightWing1998 I have already opened a PR. Can you please take any other Issue

[2020-03-19 17:01] #652 closed

[2020-03-19 17:01] #1767 closed

[2020-03-19 18:26] chandlerprall commented on #2249
`onChange` hasn't felt like the right interaction anyway, ++ for `onBlur`

[2020-03-19 18:29] #2098 closed

[2020-03-19 18:56] #3083 closed

[2020-03-19 19:06] #1554 closed

[2020-03-19 19:10] cchaos commented on #2567
Closed by #2573

[2020-03-19 19:10] #2567 closed

[2020-03-19 19:21] chandlerprall commented on #1896
Before jumping into any code, a couple quick thoughts:

* text-diffing service; this may be an additional npm dependency, or something internal. It **must** be robust, secure, and performant
  * changes can occur in multiple locations
  * output must be some kind of data representation, not DOM
  * "secure" mostly meaning resilient to denial of service attacks
* new component that uses the diffing

[2020-03-19 19:33] chandlerprall commented on #435
Thanks for checking! Yes, this functionality does exist, exposed as the `hidePerPageOptions` option on `pagination` prop for both `EuiBasicTable` and `EuiInMemoryTable`. I see we are missing:

* proper documentation for `EuiInMemoryTable`'s `pagination` prop
* **Adding pagination to a BasicTable** docs section has a toggle to show/hide the pagination bar, but it is setup _backwards_

[2020-03-19 19:47] anishagg17 commented on #1896
Will take care of all these comments

[2020-03-19 20:26] chandlerprall opened #3130 "EuiBasicTable actions example throws proptype warning"
Enabling _Multiple Actions_ in the `EuiBasicTable` **Adding actions to BasicTable** section emits a proptype warning for `itemId`. Need to investigate what the fix is: the example itself may be incorrect, or we may have defined something in the TypeScript types incorrectly.

![proptype warning](https://d.pr/i/7ztqLR.gif)

[2020-03-19 20:29] thompsongl opened #3131 "[EuiSuperDatePicker] "End date" popover shows wrong relative time"
<img width="618" alt="Screen Shot 2020-03-19 at 11 46 42 AM" src="https://user-images.githubusercontent.com/2728212/77092102-76308d80-69d7-11ea-825a-87ef70da1a7a.png">

The "End date" popover shows the same relative time as the "Start date" popover. This only applies to "Relative" times; "Now" and "Absolute" are fine.

[2020-03-19 20:30] #1600 closed

[2020-03-19 21:26] chandlerprall commented on #3124
This is definitely a lot better than being overwhelmed by the tooltip. Two things that could make this even better, if we can get the popover stuff to function this way:

![update prevents interaction](https://d.pr/i/flADGj.gif)

* the tooltip no longer shows up if hovering over the Update button while the selection panel is open
* have to click on the Update button twice (if the panel is open) to

[2020-03-20 02:26] winnllam commented on #2258
Hi, I'd like to try this!

[2020-03-20 03:55] amitsin6h commented on #2483
I am working to fix this issue

[2020-03-20 05:19] pranshuchittora commented on #3130
@chandlerprall  I would like to work on this :)

[2020-03-20 16:15] cchaos commented on #1708
I have investigated this further and I see now that it's during this state, where the date selection popover and the "Click to update" tooltip are shown.

<img width="679" alt="Screen Shot 2020-03-20 at 12 11 32 PM" src="https://user-images.githubusercontent.com/549577/77183008-0fc57100-6aa4-11ea-91a6-519dd8e07849.png">

I was worried that all FF users couldn't change this select box, but it's onl

[2020-03-20 16:20] cchaos commented on #1708
I just checked #3127 in Firefox and it does fix this issue in particular, but then there's still the other issue of #2490 (two clicks needed to interact with inputs) which isn't specific to Firefox.

[2020-03-20 17:41] #3081 closed

[2020-03-20 18:53] cchaos opened #3136 "[EuiAccordion] Doesn't adjust exposed height when content height changes"
This usually happens the parent's width changes forcing the content to reflow and increase/decrease in height.

![Screen Capture on 2020-03-20 at 14-50-36](https://user-images.githubusercontent.com/549577/77196795-6f2e7b80-6aba-11ea-9c4f-7510150d9b5c.gif)

The EuiAccordion component should watch for changes in the children's size and auto-adjust.

[2020-03-20 20:13] #2427 closed

[2020-03-20 20:37] i-a-n opened #3137 "[EuiProgress] Allow `max` property to be undefined"
Spent some time chatting in Slack about this, and was advised to make an issue. Here's the summary of the problem:

The `max` property alleges that it accepts either a number, or undefined, which checks out when I do either of these:
[code]

.. but TypeScript fails to compile when I do this:
[code]

This doesn't seem to be a TypeScript bug or anything, since this [pared-down example](https://www.t

[2020-03-20 20:46] chandlerprall commented on #3136
`EuiAccordion` uses `EuiMutationObserver`, and should be moved over to `EuiResizeObserver`. Note that there is a related bug in `EuiResizeObserver` with an open PR #3088, which means simply moving to `EuiResizeObserver` does not fix this in all browsers _yet_.

[2020-03-20 20:54] thompsongl commented on #3137
Stems from the way that `max` is defined in the context of `ExclusiveUnion`.

#2984 would alleviate the problem, also, but I'm unsure how far off that work is.

[2020-03-20 20:57] bevacqua opened #3138 "Some EuiSearchBar TypeScript issues"
- [ ] `EuiSearchBarProps['box']` doesn't understand `disabled`, but it's valid — we forward extra props to `EuiFieldSearch` but don't specify that in the types
- [ ] Where do I get `FilterConfig` from? It's a type we use pervasively in Cloud UI but there doesn't seem to be a simple way to access it
- [ ] Similar ask about `EuiSearchBar['filters']`, we'd like this to be exposed as a top level expor

[2020-03-20 21:15] myasonik commented on #3137
I don't think anyone is working on it and this seems like a much smaller thing to tackle

[2020-03-20 21:20] bevacqua commented on #3138
One more, but this one needs a bit of lead up explanation. These are the types we had in Cloud UI:

[code]

Now that we replaced `Filter[]` from the code above with `EuiSearchBarProps['filters']`, we have to get rid of `FilterOptionValue`, but this one was used in a few places around our codebase. So the asks here are:

- [ ] Can EUI expose the equivalent type for `FilterOptionValue`?
- [ ] Can EU

[2020-03-21 05:21] hbharding commented on #287
@cchaos I'm not sure how the `euiResizableContainer` would work within the flyout (at least in it's current state). The container expects 2 or more panels and puts a resizer between panels for adjusting widths. The flyout only has 1 "panel", so there isn't an obvious place to put the resizer.

Here's a quick demo of the of the `euiResizableContainer`component, from https://github.com/elastic/eui/p

[2020-03-21 09:43] TAYTS opened #3139 "Active state for the EuiNavDrawerGroup listItems"
[propose feature]
Current there is no props available for setting the current selected menu items, after we click on the menu item for redirecting to new path but the user has to maintain the state for the selected menu item and override the styling to make sure the selected menu styling persist.
Personally, I feel it could be convenient to have the support for just passing the "key" as one of the

[2020-03-21 11:00] mouradmourafiq opened #3140 "[EuiCodeBlock] Possibility to show line numbers"
It would be nice to have a flag to show line numbers on `EuiCodeBlock` when not used inline.

e.g.

[code]

[2020-03-21 11:02] mouradmourafiq opened #3141 "Possibility to copy content from EuiCodeEditor"
Similar to `EuiCodeBlock`'s flag `isCopyable` but for `EuiCodeEditor`, especially useful when used in read only mode.

[2020-03-21 11:03] anishagg17 commented on #3140
I would soon make a pr for this when my other prs get closed

[2020-03-21 16:48] walter-ind commented on #2903
@chandlerprall  I will reply shortly.

[2020-03-21 22:18] cpmoore opened #3143 "Sidebar does not scroll on mobile"
When viewing kibana using a mobile browser I am unable to scroll the sidebar. I’m opening this issue here instead of the Kibana repo as I assume it’s an issue with the sidebar component.

I have a video of the issue but I am unable to upload it currently. I have attached a screenshot of the issue instead, to show you how many options I have.

![5F049A1D-82B4-4413-B18A-031A0DA3DA75](https://user-im

[2020-03-22 08:02] crux153 opened #3144 "EuiBasicTable's DefaultItemAction with IconFunction crashes when collapsed"
While `DefaultItemAction` accepts a function to dynamically change icon value as like below,

[code]

It crashes when shown in `CollapsedItemActions` component, due to its resolver only presents in `DefaultItemAction` component.

[code]

<img width="934" alt="Screen Shot 2020-03-22 at 4 43 49 PM" src="https://user-images.githubusercontent.com/10908841/77244994-768e8a00-6c5e-11ea-916a-16048439f396.

[2020-03-22 14:49] sqren opened #3146 "Interoperability of `EuiBottomBar` and `EuiNavDrawer`"
APM has started using `EuiBottomBar` and we’re running into an issue where it overlays on top of `EuiNavDrawer`.

![image](https://user-images.githubusercontent.com/209966/77252075-53f67400-6c52-11ea-869c-13d36f8629c1.png)

Talking to @cchaos I can see why it happens (not every consumer of `EuiBottomBar` also uses `EuiNavDrawer` so EUI can’t simply offset by default).

Currently, the only way for

[2020-03-23 02:49] winnllam commented on #3136
Hi, I'd like to try this!

[2020-03-23 03:50] walter-ind commented on #2903
<h1>Technical Description</h1>

Scrollspy is made up of two words => Scroll and Spy.
Scroll refers to the scenario of displaying a clickable menu of page elements that a user can navigate to whereas spying means 'spying' on the user's position in the page in order to update itself to highlight the current centered item.

1.

[2020-03-23 06:20] walter-ind commented on #2903
@chandlerprall please look at it.

[2020-03-23 14:09] cchaos commented on #3146
@sqren Yeah, I know that it's hard to utilize the bottom bar in the current Kibana implementation alongside EuiNavDrawer.

The main issue with trying to manage this from the EUI side, is that there are actually multiple sizes of the EuiNavDrawer depending on it's state. So consuming applications will still need to know the collapsed and locked state of their nav drawer. Your screenshot is showing

[2020-03-23 14:13] cchaos commented on #3139
@TAYTS Have you tried using the `isActive: true` property on your active list item? It should be supported by `listItems`.

[2020-03-23 14:54] cchaos opened #3148 "EuiPagination compressed `of` is out of alignment"
I'm not sure when this got introduced. But in the `compressed` version of EuiPagination, the `of` is out of baseline alignment.

<img width="374" alt="Screen Shot 2020-03-08 at 6 47 55 PM" src="https://user-images.githubusercontent.com/549577/77329634-a0928b80-6cf4-11ea-89a2-3e3ea2e7bd67.png">

[2020-03-23 14:58] cchaos opened #3149 "EuiModal title can get overlapped by the close button"
Depending on how they line up, the close button's light background can overlap the text.

<img width="748" alt="Screen Shot 2020-03-10 at 09 46 29 AM" src="https://user-images.githubusercontent.com/549577/77329874-f8c98d80-6cf4-11ea-8be5-c9600231e427.png">

The close button should probably just shift to live in the padding area of the modal.

![Screen Shot on 2020-03-23 at 10:57:32](https://user-i

[2020-03-23 15:03] TAYTS commented on #3139
@cchaos Thank you for pointing out, totally miss out that.

May I know is it possible to update the docs about the EuiNavDrawerGroup or add a note or link to reference the "EuiListGroupItem" so that people can find the props much easier without dive into the source code? Is it possible for me to contribute to the docs for this?

ps: Actually I am new to this framework and still exploring and the f

[2020-03-23 15:05] cchaos commented on #3139
Any help you can provide where things are confusing are always welcome. Feel free to start a PR. Our contributing guide should help you. https://github.com/elastic/eui/blob/master/CONTRIBUTING.md

[2020-03-23 15:23] chandlerprall opened #3150 "[DOCS] Convert examples to function components + hooks + Typescript"
We've embraced function components and hooks in our `src`, but continue to copy&paste the examples' class component structure when creating new docs. This also impacts developers when they go to copy the example code, and need to convert it from class components.

New examples should avoid using class components, and existing ones should be converted.

[2020-03-23 15:32] myasonik commented on #3150
Thoughts on converting them to TS as well? (There have been a few times that I go to copy and paste and example only for it to have type errors which is kind of annoying...)

[2020-03-23 15:38] snide commented on #3150
@myasonik https://github.com/elastic/eui/issues/1799 discusses this a bit. I think preferably we'd have both.

[2020-03-23 17:18] myasonik opened #3151 "[EuiDataGrid] Cells in focus aren't always in view"
<img width="982" alt="Screen Shot 2020-03-23 at 13 45 41" src="https://user-images.githubusercontent.com/4188087/77352089-a1371c00-6d0c-11ea-89e7-c721ac339074.png">

If a cell is partially cut off by the scrolling container, there's no way to see the whole thing with just a keyboard. If the cell is completely cut off, the browser will scroll it into view for you.

We should scroll the container to

[2020-03-23 17:23] barlowm commented on #3151
@myasonik if you can give me an example I can check it out in Chrome.

[2020-03-23 18:13] walter-ind commented on #3149
@cchaos I am working on this.

[2020-03-23 18:22] walter-ind commented on #3149
@cchaos I am working on this.

[2020-03-23 18:46] myasonik commented on #3151
Thanks for the offer Mike but @chandlerprall got to it first in another thread and reports that Chrome works as expected.

(Also, attached a screenshot to the description)

[2020-03-23 18:56] barlowm commented on #3151
Ahh good. Though really do wish things would work better cross browser :D

[2020-03-23 20:35] chandlerprall commented on #2903
**Note:** if you're proposing this as a Google Summer of Code project, you'll have to submit this through their portal and the conversation will move over there

Thanks! This sounds good, have a couple comments below but I think it looks good enough to proceed. We'll definitely have some iterations on a PR, so please feel free to push early & often for review.

IDs get tricky, especially within a

[2020-03-23 20:52] #3044 closed

[2020-03-23 20:58] #1501 closed

[2020-03-23 21:02] cchaos commented on #3149
Thanks @walter-ind for the interest in this one, but I have labelled this as an issue for a designer specifically. Feel free to grab any `assign:engineer` or `assign:anyone` tagged issues.

[2020-03-23 21:11] #1708 closed

[2020-03-23 21:11] #3124 closed

[2020-03-23 21:58] #3148 closed

[2020-03-24 02:27] walter-ind commented on #2903
@chandlerprall Can this idea be proposed as a Google Summer of Code project?

[2020-03-24 02:32] chandlerprall commented on #2903
Any idea can be a GSoC proposal :) To be honest, I don't think it's big enough that we'd pursue it that way, but I wanted to include the note in case that is what you were thinking.

[2020-03-24 02:34] walter-ind commented on #2903
Yes @chandlerprall .

[2020-03-24 03:13] walter-ind opened #3153 "EuiFieldPassword missing the prop 'isVisible'."
<h1>Description</h1>

Rightnow, when we type something in the EuiFieldPassword , it is not visible what we're typing which is good and recommended.
But there should be an icon(eg. 'eye' ) clicking on which would let us know what we've typed in it.
I recommend adding a prop 'isVisible' whose default value will be set to 'false' and the type would be 'boolean'.

[2020-03-24 03:14] walter-ind commented on #3153
@chandlerprall Have a look at above and let me know if I have to work on it or not.

[2020-03-24 14:28] pugnascotia opened #3156 "EuiCodeBlock requires a DOM implementation when the component is created"
`EuiCodeBlockImpl` in `src/components/code/_code_block.tsx` expects to be able to call `document.createElement` while the class instance is being constructed. This makes it impossible (from a practical POV) to use in the Next starter. This component should only be creating DOM nodes in an appropriate lifecycle function.

[2020-03-24 16:32] chandlerprall commented on #3153
@cchaos what are your thoughts?

[2020-03-24 17:10] cchaos commented on #3153
I can see the utility of it but I have concerns over the security of it. We'll need to look into the proper way to handle this and make sure it's optional and off by default.

[2020-03-24 17:39] miukimiu opened #3157 "Could not find module in path in Codesandbox | Icons issue"
### Issue/discussion

This issue/discussion was brought during the **Kibana Design Weekly** and is **blocking** #2728.

When generating dynamic **CodeSandbox** docs to our documentation all the generated sandboxes that contain **icons** don't work properly. This is the error generated:

<img width="1030" alt="Screenshot 2020-03-24 at 17 06 30" src="https://user-images.githubusercontent.com/2750668

[2020-03-24 18:33] chandlerprall commented on #3131
I can't recreate (tried to reproduce to test #3132 ), can you confirm this still happens for you?

[2020-03-24 18:34] chandlerprall commented on #3131
Oh, that PR merged without closing this one. Nice! The fix works :)

[2020-03-24 18:34] #3131 closed

[2020-03-24 18:38] thompsongl commented on #3131
Ah yep! I forgot to edit the summary to use the auto-close keyword

[2020-03-24 18:58] chandlerprall commented on #2258
This is still a bug, to allow reproducing in the first combo box example (https://elastic.github.io/eui/#/forms/combo-box) comment out this line: https://github.com/elastic/eui/blob/ab29a11993e2ede3c2c7b5d2e541d8cbb510589a/src-docs/src/views/combo_box/combo_box.js#L74

And then add  10 options (I left the two default selected & added 8 custom, see screenshot below)

![10 options, says everything i

[2020-03-24 19:06] myasonik commented on #3153
As a user of password fields, I love this feature.

[2020-03-24 19:35] chandlerprall commented on #3143
Can reproduce in the EUI docs, using Chrome on Android. I added 20 more `<EuiNavDrawerGroup listItems={this.analyzeLinks} />` lines to *src-docs/src/views/nav_drawer/nav_drawer.js* and can scroll on desktop but not on mobile. Can also reproduce this in Desktop Chrome's device "emulation".

[2020-03-24 19:46] chandlerprall commented on #3136
@winnllam go for it! We'll take a look at a PR, but we do not assign issues out.

https://github.com/elastic/eui/blob/b93bca738ebe503c0ef8d93ced7c9670eb78a43d/CONTRIBUTING.md#L11

[2020-03-24 19:54] liorg2 opened #3158 "Import a specific component"
This isn't a bug report, but assistance request..
I haven't found a way to import a component from a direct path, in order to reduce bundle size

For example
Instead of this way:
import {
  EuiButton
} from '@elastic/eui';

import {
  EuiButton
} from '@elastic/eui/components/euiButton';

[2020-03-24 20:06] tushar22-tg commented on #3156
Is it really a gsoc issue?
why isn't this mentioned it in https://github.com/elastic/gsoc

or is it a bug that selected GSoC candidates should solve during there summer time?

[2020-03-24 20:19] chandlerprall commented on #3156
@tushar22-tg we use these [`Issues`](https://github.com/elastic/eui/issues) to track all bugs, feature requests, and other ideas. We have designers and engineers who work full time in this repo, and pull from this same list of issues. A couple of the ideas are big enough for GSoC, and we've compiled them at https://github.com/elastic/gsoc#ideas - as EUI is an open source library, everyone is free

[2020-03-24 20:37] anishagg17 opened #3159 "Missing Carousel component"
![Hnet com-image (13)](https://user-images.githubusercontent.com/43617894/77474795-bd86a600-6e3d-11ea-8397-00efd847bf29.gif)

Such a component can be used to display a collection of images

[2020-03-24 20:47] winnllam commented on #2258
I see, I think I may have misunderstood the first time. Will take another stab at it!

[2020-03-24 20:47] snide commented on #3159
Closing. See https://github.com/elastic/eui/issues/2900 for some reasoning. I think we'd need to be very specific about what we'd do with a component like this.

[2020-03-24 20:47] #3159 closed

[2020-03-24 21:02] chandlerprall commented on #3157
@pugnascotia the current setup was because of cloud's support for dynamic imports, do you know if that fix is still valid/needed?

[2020-03-25 02:46] walter-ind commented on #3153
This feature is present in most of the applications that I have seen.

[2020-03-25 03:51] sheunglaili opened #3162 "The nav drawer demo toggle is not working in s,xs size"
Hi , the  NavDrawer Ref toggle open method will not collapse the drawer when clicked again while open

[2020-03-25 07:02] walter-ind opened #3163 "EuiHealth components related to essential and easy to represent HTTP response status codes."
<h1>Description</h1>

EuiHealth must include a separate section exhibiting the health components related to essential and easy to represent HTTP response status codes.

HTTP Responses often comes out with error or success which is quite usual when we're using any API. So we can have health components representing various responses.

The decision on what color code to be included can be done based

[2020-03-25 07:10] walter-ind commented on #3163
I want to work on this. Kindly look at the issue @chandler.prall

[2020-03-25 07:27] anishagg17 commented on #634
I am working on this issue

[2020-03-25 08:01] lior-fortifieddata commented on #3158
can you please approve that this is the way?

[code]

[2020-03-25 10:47] lior-fortifieddata opened #3164 "eui dependency - highlight.js"
hello

I'm using eui 20.1.0 for my react website (and love it!)

when analyzing my bundle, I've notices that highlight.js, which is eui dependency,is taking lots of it: (highlight.js "^9.12.0")

![image](https://user-images.githubusercontent.com/59799643/77528422-9ad4ab80-6e96-11ea-8550-f77d28633662.png)

is there anyway to remove it from the bundle?
it seems to be in use in EuiCodeBlock but I don

[2020-03-25 10:59] anishagg17 commented on #2199
i tried implementing It but got this as an error
![Screenshot 2020-03-25 at 4 27 55 PM](https://user-images.githubusercontent.com/43617894/77529432-97045180-6eb5-11ea-845e-59839d70905f.png)

even when I used
[code]

as a custom matcher

[2020-03-25 11:56] pugnascotia commented on #3157
See, this issue is peculiar because the icons work just fine in the [Next starter in CodeSandbox](https://codesandbox.io/s/github/elastic/next-eui-starter).

I'm not sure what aspect of the current setup you're referring to. Babel is translating:

[code]

into:

[code]

which might be the root of the problem?

[2020-03-25 15:20] chandlerprall commented on #3164
Thanks for reporting! We are aware of this and better modularization is somewhat tracked [on our roadmap](https://github.com/elastic/eui/issues/2520).

I did confirm a few months ago that a properly configured webpack project will tree shake unused modules (off the top of my head that is ensuring `es` imports are used, production mode, and minification), though this can be cumbersome and error pro

[2020-03-25 15:31] #62 closed

[2020-03-25 16:06] anishagg17 commented on #1398
@snide  why was `Time zone selection` never worked upon ?

[2020-03-25 16:11] lior-fortifieddata commented on #3164
Thanks
Where should i put this code?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chandler Prall <notifications@github.com>
Sent: Wednesday, March 25, 2020 5:20:46 PM
To: elastic/eui <eui@noreply.github.com>
Cc: Lior Goldemberg <LGoldemberg@fortifieddata.com>; Author <author@noreply.github.com>
Subject: Re: [elastic/eui] eui dependency - highlight.js (#31

[2020-03-25 16:49] snide commented on #1398
We didn't have much use for it. Kibana has a lot of these sorts of things as settings within the application natively. There isn't much need to make UIs for them directly since they get inherited from there.

[2020-03-25 16:52] anishagg17 commented on #1398
Okay, but if there is Any other component that I can be built in 10-12 days duration please do let me know as I have to mention that i my application

[2020-03-25 16:58] walter-ind commented on #3163
@chandlerprall should I submit a PR closing this issue?

[2020-03-25 17:01] chandlerprall commented on #3163
The `EuiHealth` docs can certainly use a more dedicated example, and the `color` prop should be given a description as the existing _string or enum_ `type` is not very helpful.

I don't think we should build/include any additional abstraction on top of the color selection, except specifically in a docs example. One of our values in EUI is keeping components flexible, which means not forcing decisi

[2020-03-25 17:08] walter-ind commented on #3163
@chandlerprall I can also figure out that It's impossible to almost decide for every status codes, particular color...that is the reason why I have clearly mentioned "easy to represent HTTP response Status codes".
Will iterate on the design...just keep reviewing.

[2020-03-25 17:09] walter-ind commented on #3163
I truly agree with this thought.

[2020-03-25 20:07] #1357 closed

[2020-03-25 20:21] cchaos commented on #3162
Yes, we are aware that the mobile side has some issues. Duplicate of #1713

[2020-03-25 20:21] #3162 closed

[2020-03-25 20:38] cchaos commented on #3153
I checked with our security team and it seems that as long as we follow a similar guidance to this example https://www.w3schools.com/howto/howto_js_toggle_password.asp and make sure that it is obfuscated by default, then it's fine from a security standpoint. 👍

[2020-03-25 21:23] chandlerprall commented on #3158
@lior-fortifieddata 's way should work, but there are a couple other things to note:

* We don't officially support importing from beyond `@elastic/eui` - that is our public interface, we may remove some value exported elsewhere and not consider it a breaking change.
* `lib` (as mentioned above) is transpiled to commonjs, `es` is another option which is still transpiled code but retains the ES Mod

[2020-03-25 21:27] lior-fortifieddata commented on #3158
sorry can you please elaborate ?

[2020-03-25 21:32] chandlerprall commented on #3153
@myasonik any specific screen reader/keyboard accessibility recommendations here, since it relates to passwords/security?

[2020-03-25 21:41] chandlerprall commented on #3158
No problem! The import statements you provided work, but you can also change lib->es to get the ES Modules version of those components.

`import { EuiSelect } from "@elastic/eui/es/components/form/select"`

[2020-03-25 21:56] cchaos opened #3170 "[EuiFocusTrap] Can be funky when it comes to returning focus to originating button"
Originally caught by @myasonik in #3117, when the EuiCollapsibleNav drawer is opened and then closed for the first time, the focus doesn't correctly return to the triggering button. However, all subsequent interactions do.

![Screen Capture on 2020-03-25 at 17-53-42](https://user-images.githubusercontent.com/549577/77589223-abe6e200-6ec1-11ea-8145-9fbf50cd3fa3.gif)

Interestingly enough I was able

[2020-03-25 22:35] myasonik commented on #3153
Not much that I can think of... Some implementation tips to whoever picks this up:
- Use `EuiButton` for the show/hide button
	- For the `aria-label`, use something like: `{isHidden ? 'Show password as plain text. Note: this will visually expose your password on the screen.' : 'Mask password'}`
- After pressing the button, move focus to the input

[2020-03-25 22:55] cchaos commented on #3028
The problem stems from the card's title being truncated instead of allowing to wrap. EuiFlexGrid uses `flex-basis` to set widths, meaning it's a "recommendation" of a width, but will grow to fit it's contents. So with the card's title having `white-space:nowrap`, it forces some titles to be longer than others.

EuiFlexGrid intrinsically then wraps it's items as they become too wide to fit on a lin

[2020-03-25 22:57] snide opened #3171 "EuiSelect should remove moz border on focus"
Looks like we need a vendor prefix to remove the dotted outline for Selects. Focus is already displayed through the blue border.

![image](https://user-images.githubusercontent.com/324519/77593222-15aac000-6eb1-11ea-857b-a3419dea8efc.png)

[2020-03-25 23:04] snide opened #3172 "[EuiSelectable in EuiPopover] Focus trap requires two clicks when focus is on select"
## To replicate

1. Go to `EuiExpression` docs https://elastic.github.io/eui/#/forms/expression
2. Click first expression.
3. Change the dropdown
4. Two clicks are required to exit the trap

This is not something specific to `EuiExpression` and I was able to replicate in the popover docs by adding a new select.

![](http://snid.es/a2b2c2a189d5/Screen%252520Recording%2525202020-03-25%252520at%25252

[2020-03-25 23:04] snide commented on #3172
cc @mikecote since this is an issue he runs into often in Kibana.

[2020-03-25 23:12] cchaos commented on #2678
@Akshay090 I'm not quite following what your request/question is. Can you please explain further?

[2020-03-25 23:12] snide commented on #3158
This should be pretty obvious, but the way EUI's css is delivered you will still need to include the CSS in one gulp, or make your own sass import to trim off components you don't need. There are some guidelines for this here.

https://github.com/elastic/eui/blob/master/wiki/consuming.md#importing-css-or-scss

[2020-03-25 23:13] cchaos commented on #3172
Possibly similar to #2490

[2020-03-26 01:58] walter-ind commented on #3153
I will work on it.

[2020-03-26 05:36] lokeshrana9999 commented on #3172
@snide, I would like to give it a try please assign me.

[2020-03-26 07:17] walter-ind commented on #2903
@chandlerprall...Under which section will this component be put out?
Utilities, layout etc ?

[2020-03-26 12:07] miukimiu commented on #3157
Hi @chandlerprall and @pugnascotia,

I try to gather more info about how to solve this issue with the **CodeSandbox** team and they tried to help me.

They said the reason it works in Next.js it's because they still use a **CommonJS** version. But they are looking for a way that it still works with the `esmodule` build. But it will take some time until they find a solution.

So I asked if there is

[2020-03-26 12:08] lokeshrana9999 commented on #3143
@chandlerprall, Sorry about asking for assignment of this issue after initiating pr. Please assign this to me and review #3174.

[2020-03-26 12:26] pugnascotia commented on #3157
My guess is that this suggesion would cause all icons to be loaded though? We could experiment, but the current icon code only fetches the required icons on-demand.

[2020-03-26 12:28] lokeshrana9999 commented on #3141
Hey @cchaos, Can I give it a go?

[2020-03-26 12:48] lokeshrana9999 commented on #2806
Hii @cchaos, If no one else has tried it I would like to implement the solution suggested by @thompsongl.

[2020-03-26 14:49] cchaos commented on #3028
Also, as a note, it looks like Cloud added the `width` as mentioned above, but also had to add `min-width: 0` for Firefox

[2020-03-26 15:01] phylim opened #3175 "iconType: Invalid prop warning in when a function is used as prop to render custom icon"
When using a ReactElement as prop for iconType in EuiEmptyPrompt or EuiHeaderLogo, it throws this error.
![Screen Shot 2020-03-26 at 10 58 00 AM](https://user-images.githubusercontent.com/42676669/77661171-aab0c600-6f50-11ea-8cb1-8d4fad58fdfa.png)

If a function returning a ReactElement is passed to iconType prop, it renders successfully on the UI but, now, it shows this warning in console.
![Scre

[2020-03-26 15:46] #3138 closed

[2020-03-26 16:52] #3130 closed

[2020-03-26 17:20] chandlerprall commented on #2903
I think it makes most sense to include it in **Navigation**

![navigation](https://d.pr/i/6QZE6n.png)

[2020-03-26 17:26] chandlerprall commented on #3143
@lokeshrana9999 thank you for the PR! As a rule, we are not assigning issues to community contributors so I am leaving this unassigned.

https://github.com/elastic/eui/blob/master/CONTRIBUTING.md#how-we-assign-work-and-define-our-roadmap

[2020-03-26 17:43] cchaos commented on #3143
Thanks for finding the root of the problem which seems to be stemming from the EuiFlexGroup's responsive property. Instead of overriding this in CSS, however, we should just make the EuiFlexGroup's instance be `responsive=false` at this line:

https://github.com/elastic/eui/blob/6f4e62ef63dcfd025c46e55c155ee0809dfd9a0a/src/components/nav_drawer/nav_drawer.js#L350

[2020-03-26 17:45] chandlerprall commented on #3157
Exactly, which in some ways would be worse than the original issue the dynamic import was trying to solve.

I tried converting EuiIcon's `'./assets/' + typeToPathMap[iconType] + '.js'` to a template string `./assets/${typeToPathMap[iconType]}.js` to see if that would change babel's output, but it still uses a concat:

[code]

[2020-03-26 17:56] #1597 closed

[2020-03-26 18:15] walter-ind commented on #3171
@miukimiu I have already solved this issue.
I am going to make a PR in next 10 minutes.

[2020-03-26 18:17] miukimiu commented on #3171
Ok @walter-ind! Thanks for tackling this issue.

[2020-03-26 18:21] walter-ind commented on #3171
Your Welcome! @miukimiu

[2020-03-26 19:24] #3149 closed

[2020-03-27 11:14] pugnascotia commented on #3157
I'm still confused about what the actual problem is though - are CodeSandbox trying to process the non-transpiled sourced, i.e. the `import(...)`?

[2020-03-27 11:18] mridulgogia commented on #3150
Can I work on this?

[2020-03-27 11:52] anishagg17 commented on #2258
![Screenshot 2020-03-27 at 5 21 43 PM](https://user-images.githubusercontent.com/43617894/77753405-6fe18780-704f-11ea-8ad0-364ba092d2d1.png)

I am unable to reproduce this even though I commented that line

[2020-03-27 12:15] anishagg17 commented on #2130
Working on this one 👍

[2020-03-27 12:29] lokeshrana9999 commented on #3143
Thanks for the input @cchaos, I have updated my PR related to this issue, please review it.
#3174

[2020-03-27 15:04] myasonik opened #3182 "[EuiToken] `aria-label` gets applied to `span` because of `{...rest}`"
Because of where the `{...rest}` is, when passing in an `aria-label` it gets applied to a `span` where `aria-label` (and most other `aria-*` properties) don't work...

3 possible solutions I see (not sure which is best):
- move the `...rest` to the `EuiIcon` inside the `span`
- check for `aria-*` props and put those on `EuiIcon` manually (could be later reused in other components potentially)
- ad

[2020-03-27 16:28] winnllam commented on #2258
<img width="434" alt="Screen Shot 2020-03-27 at 12 27 48 PM" src="https://user-images.githubusercontent.com/36285522/77777763-64c63180-7026-11ea-9324-bc23cac39072.png">
@anishagg17 It appears when you enter 8 options, but you can still add more after.

[2020-03-27 16:32] anishagg17 commented on #2258
Okay will try that thanks

[2020-03-27 16:43] #639 closed

[2020-03-27 18:37] mridulgogia commented on #3182
Can I work on this issue?

[2020-03-27 18:40] walter-ind opened #3184 "Elastic Charts should also include Pie Charts."
<h1>Description</h1>

Pie charts are good for illustrating and showing sample break down in an individual dimension. It is in the shape of a pie to show the relationship between the main and sub-categories of your data. It is good to use when you are dealing with categorized groups of data, or if you want to show differences among data based on a single variable.

Pie charts missing in EUI charts

[2020-03-27 18:58] cchaos commented on #3041
Closed via #3125

[2020-03-27 18:58] #3041 closed

[2020-03-27 18:59] myasonik commented on #3182
Before starting work we should probably pick which solution to go towards. (3 options outlined above.) Do you have a suggestion on which might be best?

[2020-03-27 19:01] cchaos commented on #3184
Thanks @walter-ind We agree and I'm already working with the elastic-charts team to produce this content. 👍

[2020-03-27 19:25] CompuIves commented on #3157
Heyo! Dropping in so I can show what I've found.

As long as the import statements are in an `import()` method they will not be included in the initial bundle, since they are dynamically loaded. This is also effectively what the current code is doing by doing `import('./assets/' + typeToPathMap[iconType] + '.js')`, this will tell the bundler to create a lazy loaded bundle with all files you can fi

[2020-03-27 19:42] cchaos commented on #3182
My suggestion would be to go with solution no. 2: watch for `aria-` props and apply to `EuiIcon`. We don't want the consumer overriding other `EuiIcon` properties that the token needs to maintain.

[2020-03-27 19:52] anishagg17 commented on #3143
@cchaos I think you forgot to close this issue

[2020-03-27 19:53] cchaos commented on #3143
Fixed via #3174

[2020-03-27 19:53] #3143 closed

[2020-03-27 20:00] cchaos commented on #2224
I think this is also related to #3170

[2020-03-27 20:04] snide commented on #3150
Yes. Though I'd recommend doing one page at a time to make the reviews easier to track.

[2020-03-27 20:04] cchaos commented on #2334
@hbharding Is this still a valid feature request? Not sure if you've changed your design for this or if you still need it.

[2020-03-27 20:07] cchaos commented on #2446
To be clear, are you asking for underlines just on things that render as `<a>` anchor tags not `<button>`s correct?

[2020-03-27 20:20] myasonik commented on #2446
Yup!

[2020-03-27 20:30] myasonik commented on #3182
I'm good with that.

@mridulgogia If you like that plan too, you can get started on a PR.

You'll want to check for `aria-label`, `aria-describedby`, `aria-labelledby`, and `title`.

There are other things we _could_ check for but I think these should be enough for any practical purposes.

[2020-03-27 20:40] myasonik opened #3185 "EuiIcon is missing props"
[EuiIcon](https://elastic.github.io/eui/#/display/icons) seems to be missing props

<img width="950" alt="Screen Shot 2020-03-27 at 15 36 33" src="https://user-images.githubusercontent.com/4188087/77798404-c8f5ef00-7040-11ea-9b87-3cfc2a36021d.png">

[2020-03-27 20:44] snide commented on #2446
Hey there. I appreciate the spirit of this request, and I'm trying to find some old discussions on this since it came up several times in the early days of EUI. But I feel pretty strongly that underlines for links in an _application_ versus a _text document_ is very challenging and not a good thing for EUI.

I really appreciate the thought and care of the WCAG guidelines, but I do feel they are wr

[2020-03-27 21:09] nreese commented on #2795
@miukimiu Can you make sure to add type ahead support in your designs. In the Kibana maps application, the stop input box is a combo box and uses a function passed in to props to fetch suggestions from ES.

<img width="350" alt="Screen Shot 2020-03-27 at 3 07 46 PM" src="https://user-images.githubusercontent.com/373691/77800662-e88b1880-703c-11ea-8bb0-359dab08fd3b.png">

[2020-03-27 21:17] miukimiu commented on #3157
Thank you for clarifying @CompuIves!

[2020-03-28 01:56] walter-ind commented on #3184
Sure @cchaos .

[2020-03-28 04:17] Marvin9 commented on #3185
Can I give it a try?

[2020-03-28 04:41] walter-ind commented on #3163
Giving Description to `color` prop should be done in Color Guidelines Section or Health Guidelines Section?

[2020-03-28 12:44] Marvin9 commented on #3185
@myasonik react-docgen plugin is not generating __docgenInfo property, After debugging custom plugin proptypes-from-ts-props and react-docgen, I found this error (in react-docgen) is stopping __docgenInfo generation.

![Screenshot from 2020-03-28 18-06-43](https://user-images.githubusercontent.com/17699717/77823256-ac7cb400-711f-11ea-9ecd-d69f1e37c00c.png)

I wonder if anything is missed out in pr

[2020-03-28 13:42] walter-ind commented on #3185
@Marvin9 Are you trying it still?

[2020-03-28 13:47] Marvin9 commented on #3185
You can try @walter-ind

[2020-03-28 13:47] walter-ind commented on #3185
Thanks @Marvin9

[2020-03-28 17:52] anishagg17 commented on #2249
but on using `onBlur`, `onKeyDown` function receives an outdated value of interval

[2020-03-28 18:00] walter-ind commented on #3185
I have found a way to add props @myasonik .

[2020-03-29 03:08] #2994 closed

[2020-03-29 03:54] naumansamejo commented on #3140
@anishagg17 if you've not started work on this yet, let me work on this.

[2020-03-29 09:43] helptesting opened #3187 "Can't get the example code for EuiIcon to render in codesandbox"
The documentation:
https://elastic.github.io/eui/#/display/icons

The EuiIcon component dosen't render the icon
https://codesandbox.io/s/github/helptesting/helptesting

[2020-03-29 09:59] helptesting commented on #3187
Could not find module in path in Codesandbox | Icons issue #3157

[2020-03-29 09:59] #3187 closed

[2020-03-29 11:12] Marvin9 commented on #3150
@mridulgogia Are you working on it?

[2020-03-29 11:13] mridulgogia commented on #3150
@Marvin9 yes

[2020-03-29 15:17] Marvin9 commented on #3185
Figured out, if we manually remove [if statement](https://github.com/benjamn/ast-types/blob/master/lib/types.ts#L822) which is causing error, we got result.

![Screenshot from 2020-03-29 20-21-27](https://user-images.githubusercontent.com/17699717/77852507-ac9eb180-71fc-11ea-9907-95a1d8442b9a.png)

In short, the problem is with [dynamic import](https://github.com/elastic/eui/blob/master/src/compon

[2020-03-29 20:16] pranshuchittora opened #3189 "Publish individual components as scoped packages"
**Description**
Shipping `eui` components as scoped packages.

---

Right now the `eui` ships as a single unit which has a huge surface area of `45.5MB`, as per NPM.
![Screenshot from 2020-03-30 01-07-10](https://user-images.githubusercontent.com/32242596/77858752-1467f300-7223-11ea-8f04-b856d3bf10e5.png)

Say someone wants to just consume the button component, but he's been shipped with table com

[2020-03-30 02:45] walter-ind commented on #3185
There is one more way by which this issue can be fixed right now and that is if we add props_info.js file in icons folder of views directory and put all prop info into it.

[2020-03-30 02:47] walter-ind commented on #3163
The colors can be used as a representation in various different contexts => a). a general meaning (symbolizes) b). Effects c). Positive d). Negative . The colors I am going to use in my PR have the following description => 1. Blue - represents Security, Trust, Loyalty and responsible (General meaning) 2. Orange in negative sense signifies "Impatience" 3. Green represents Success in positive sense

[2020-03-30 08:15] walter-ind opened #3191 "EuiSpacer misses Vertical Spacer."
<h1>Description</h1>

Vertical Spacer may also prove to be useful in many cases. For example, if we want a nice, easy to see and distinct space between two grid items(not many), we may use CSS but it would be much nicer  to create space using Vertical Spacer provided grid items are less in number in a given horizontal line.

Also, one may utilise it as per the imagination and his/her own creativit

[2020-03-30 08:15] walter-ind commented on #3191
I want to work on it

[2020-03-30 14:17] cchaos commented on #3191
Hi @walter-ind Can you describe how this would be different from using [EuiFlexGroup](https://elastic.github.io/eui/#/layout/flex) which provides margins between EuiFlexItems.

[2020-03-30 15:05] snide commented on #3189
This is somewhat covered over here. https://github.com/elastic/eui/issues/3164

I'm closing this issue and that one, and better filling out https://github.com/elastic/eui/issues/2520 since this is a major project we're working on separately.

This is a major project with a lot of care needed.

[2020-03-30 15:05] #3189 closed

[2020-03-30 15:05] snide commented on #3164
Closing in favor of a better roadmap description https://github.com/elastic/eui/issues/2520

[2020-03-30 15:05] #3164 closed

[2020-03-30 15:08] miukimiu commented on #2795
@nreese as promised the Draft PR is live: #3192.

[2020-03-30 15:19] cchaos commented on #3150
@mridulgogia & @Marvin9 There a **lots** of files that will need to be converted. I'm sure there's a way for multiple people to work on this without duplicating the work.

[2020-03-30 15:26] Marvin9 commented on #3150
@cchaos agreed.

@mridulgogia I will start in reverse order.

[2020-03-30 15:31] mridulgogia commented on #3150
I am done with most of the files and as you have asked to PRs a file one at a time

[2020-03-30 15:34] cchaos commented on #3150
Maybe a light grouping of files instead of one at a time then? Haha

[2020-03-30 17:38] myasonik commented on #3185
EUI team, what do y'all think? I've got no idea.

[2020-03-30 18:13] shobhitchittora commented on #3189
Good thinking here.

[2020-03-30 18:39] snide commented on #3185
This is fine as a short term solution. If you make this, I'd advise against listing the entire icon list (since it is fairly long) for the `type` and make a custom output that says "Check docs for a list of acceptable values"...etc.

[2020-03-30 19:08] walter-ind commented on #3191
![Screenshot from 2020-03-31 00-16-36](https://user-

images.githubusercontent.com/52423075/77950775-a71d9600-72e6-11ea-8769-f34c86d3fd86.png)

If we look at the UI above then, it would look much nicer if we insert a vertical spacer between the login and logout forms.
These login and logout forms may be grid items as well but yes, grid items comes with default spacing so, it would by default be be

[2020-03-30 19:16] walter-ind commented on #3185
I know it would be too long. It's better to make one solution that stays for long. So better, let it be fixed by #3056.

[2020-03-30 20:23] #3171 closed

[2020-03-30 20:41] cchaos commented on #3182
Fixed via #3195

[2020-03-30 20:41] #3182 closed

[2020-03-30 20:54] cchaos commented on #937
Another problem is that it can cause an overlap of clickable elements
![Screen Shot on 2020-03-30 at 16:53:44](https://user-images.githubusercontent.com/549577/77960929-107db480-72a7-11ea-9f00-4f480589ad1f.png)

[2020-03-30 23:54] snide commented on #3139
Fixed via https://github.com/elastic/eui/pull/3181

[2020-03-30 23:54] #3139 closed

[2020-03-31 04:36] walter-ind commented on #3191
Sorry! I found another component that may serve the above purpose.
Hence, closing this issue.

[2020-03-31 05:05] snide commented on #3191
There is no need for a vertical spacer. FlexGroup with `justifyContent` could be `spaceEvenly` or `spaceBetween` as you need. Put  a width on the container if you want to be fancy.

![image](https://user-images.githubusercontent.com/324519/77988895-3a000580-72d2-11ea-9a05-1852c610d6a6.png)

[2020-03-31 05:07] walter-ind commented on #3191
Thanks for the description @snide.
As there is no need, then I should close this issue.

[2020-03-31 05:07] #3191 closed

[2020-03-31 07:28] lior-fortifieddata commented on #3164
i'll just update what I did as a future reference:

1. installed craco: https://github.com/gsoft-inc/craco
2. created craco.config.js with the following content:
[code]

[2020-03-31 10:32] claracruz opened #3201 "Auto-focus on first item in EuiContextMenu should be optional"
<h1>Description</h1>

When using `EuiContextMenu` with content prop in panel (see code below), the first item in the menu is auto-focused when the menu is opened. Would be good to have a prop that enables this to be turned off when not required.

![image](https://user-images.githubusercontent.com/91763/78016530-da8e0e00-7342-11ea-8583-fda10a56e662.png)

[code]

[2020-03-31 12:55] miukimiu commented on #3201
You can change the example you provided to an array of objects with a different structure:
[code]

[2020-03-31 13:03] claracruz commented on #3201
@miukimiu Not for what we're doing, because we need to use the `content` prop

[2020-03-31 15:49] LeonY1 commented on #1235
I would like to try solving this issue.

[2020-03-31 15:54] #3136 closed

[2020-03-31 16:15] chandlerprall commented on #3185
The icon props display for me, locally. Is this something that has already been fixed on master, or is it a problem with the docs' production build?

[2020-03-31 16:50] miukimiu commented on #3185
@chandlerprall I think it's a problem is in the doc's production build. I can see the icons props locally but in a build, it doesn't show up: https://eui.elastic.co/pr_3200/#/display/icons

[2020-03-31 16:53] myasonik opened #3202 "Adding underlines to some links/buttons"
In an effort to iteratively improve accessibility for our links/buttons (#2446) let's add underlines to some links in specific areas:
- Inside of **EuiCallout**
	- Why? Because callouts can be so many different colors, it's a nightmare for calculating all of the color contrast possibilities. Doing this let's us cut a bunch of permutations.
- Inside of **EuiText**
	- Why? Mostly because it makes so

[2020-03-31 16:55] myasonik commented on #3202
@cchaos @snide What do y'all think of these 3 areas?

Also, I left off mentioning **EuiButtonEmpty** at all to kick the can down the road a little till we see how this shakes out. Is that cool or do you think we should address them together?

[2020-03-31 16:57] myasonik commented on #2446
Discussed live and came to the conclusion this is hard 😅

We'll try rolling out some underlines in specific areas and see how that goes. Further down the line we may also consider doing something to **EuiButtonEmpty**, expanding the scope of when to use underlines (or other visual indicators), or improving our color contrast but we're going to start small.

[2020-03-31 16:59] chandlerprall commented on #3185
I just did a docs build locally (`yarn build-docs && cd docs && python -m SimpleHTTPServer`) add see the icon props. Let's keep an eye on this after the next EUI release & docs deploy.

[2020-03-31 17:10] cchaos commented on #3202
Here is part of a problem with EuiText as @snide was getting at. People wrap all kinds of things in EuiText if there's also **any** plain text somewhere inside. If we blanket say `.euiText a { text-decoration: underline }` then if they put buttons inside there, they will start getting underlines too. It's just a bit too tricky right now without having to do a bunch of `:not()` syntax.

![Screen Sh

[2020-03-31 17:14] anishagg17 commented on #3150
I have converted button components to functional and would make a pr as soon as one of mine is closed

[2020-03-31 17:14] #634 closed

[2020-03-31 17:21] chandlerprall commented on #3163
The description should explain what the `string or enum` means, where string is a valid color code and enum is one of https://github.com/elastic/eui/blob/a5d1cba036ff5409fe2ec954be304396485a5e4d/src/components/icon/icon.tsx#L420-L431

@cchaos what do you think about the above comment's description of a new **EuiHealth** docs section to add a more identifiable example of its use?

[2020-03-31 17:24] chandlerprall commented on #3157
It wouldn't affect the bundle, but does change the runtime functionality as all of the icons would immediately begin downloading, instead of only on-demand.

We've been living with this aspect of EUI+CodeSandBox for a while, I suspect we'll end up waiting to see what happens with esmodules support and go from there. Thank you very much for helping investigate this, @CompuIves !

[2020-03-31 18:18] cchaos commented on #3163
This seems like an extremely **specific** use case for EuiHealth. The write up of associating color to HTTP response codes is very intriguing and an interesting use of color theory. However, based on my initial comment of the use case being very specific, I don't think it warrants being specified within the component.

Since EuiIcon accepts any CSS color value, and EuiHealth's `color` prop extends

[2020-03-31 18:44] #2825 closed

[2020-03-31 18:44] snide commented on #3163
I feel the same way. Eui Health provides the necessary tools to provide this type of context, but that context is not something inherent to EUI itself.

The only action item I could see coming from this thread is that we should probably better document (with an example) that `EuiHealth` takes a custom hex string for a color. Currently we're only showing the enum values on the page.

[2020-03-31 19:02] myasonik commented on #3202
I guess my thought on this is that this is fine... When we make this change the first time, we'll have to hunt a little for these kind of issues and we can help teams migrate away from abusing **EuiText**. In the future, devs will have more visual clues that maybe they're not doing something they should be _or_ will "pay the cost" of having links underlined.

Like, the "breakage" here, isn't that

[2020-03-31 19:46] cchaos commented on #3202
I disagree here. I think a) You give too much credit to the consumers thinking that the render is not as intended and b) the regression on button's isn't acceptable because it's too close to our focus state (which uses underline).

This gets too slippery and can be hard to maintain, coming from the knowledge of these universal non-eui selectors we already have in Kibana.

---

Here's an alternativ

[2020-03-31 20:08] myasonik commented on #3202
Sure — I'm happy to start there! Do you want to table the **EuiCallout** and **EuiFormRow** `helpText` and `error` text ideas for now too?

[2020-03-31 21:23] cchaos commented on #3202
I would table **EuiCallout** since that is rendering an **EuiText**, but we can attempt the form stuff.

[2020-04-01 06:56] walter-ind commented on #3163
Should I proceed in documenting about EuiHealth accepting custom hex string for a color with an example?

[2020-04-01 07:37] walterra opened #3209 "EuiDataGrid column selection overflows document height with large number of fields"
For data grid configurations with a lot of columns (e.g. `filebeat` based indices have 1000+ fields), the dropdown to select columns will overflow the page height like this:

![image](https://user-images.githubusercontent.com/230104/78110708-c1956380-73fb-11ea-8e07-3fc5dbd300dd.png)

If you then scroll down the list of fields, the page itselfs moves out of the visible area:

![image](https://user-

[2020-04-01 10:21] claracruz commented on #3201
Closing issue because eui does this for;

And a refactor of the code in question solved the problem of having the selected item appear further down the menu.

[2020-04-01 10:21] #3201 closed

[2020-04-01 13:20] walterra commented on #1909
We hit this issue on the Kibana Management page for the transforms list too:

![Kapture 2020-04-01 at 15 18 08](https://user-images.githubusercontent.com/230104/78141723-2ff21a00-742c-11ea-8288-032733f28500.gif)

In the GIF you can see that the list resets to page 1 (index 0) when hitting the refresh button.

[2020-04-01 13:41] anishagg17 commented on #2961
Working on this would update shortly

[2020-04-01 13:43] hbharding commented on #2334
Hey! Sorry for the delay. Yeah, we still intend to do this, but it hasn't been a priority. In the meantime we're using a stacked list of EuiLinks. I'm wrapping up the remaining designs for Ingest manager this week, and intend to start contributing to the codebase so that it matches the designs. Let's touch base next week. Ideally we can get this in for 7.8, which we're calling our "alpha" release.

[2020-04-01 14:20] anishagg17 commented on #2961
![Screenshot 2020-04-01 at 7 48 09 PM](https://user-images.githubusercontent.com/43617894/78147866-b9681300-7451-11ea-84e6-958d610b0f82.png)

@myasonik this technique has solved the issue, I will make a pr  when one of my or gets closed

[2020-04-01 14:36] chandlerprall commented on #2806
I'm not sure this is ready to be worked on, we haven't reached a consensus of what change(s) should be made.

SVG as string can be a little problematic, as we already accept strings to refer to external URLs. This could be used today to pass the SVG as a data URI. Otherwise, we have to introduce some heuristic to determine if the thing is injectable content and apply via `dangerouslySetInnerHTML`,

[2020-04-01 14:45] cchaos commented on #2806
Maybe it's best if I restate the goal:

Allow EuiIcon to **render** custom SVG content. **Not as dataURI.** Without needing to turn it into a React component first.

So that the final output would be:

[code]

Which would allow the consumer to dynamically style the icon the same way we provide dynamic style with our basic glyphs.

[2020-04-01 14:56] cchaos commented on #3163
Sure, that'd be great!

[2020-04-01 15:12] snide commented on #3209
I'll fix this one quickly. Sorry @walterra

[2020-04-01 17:14] chandlerprall commented on #2258
@cchaos when the only remaining option(s) is disabled, should the combo box display the drop down normally, or should it show the no-more-options message?

![example](https://d.pr/i/evOvXU.png)

[2020-04-01 17:25] cchaos commented on #2258
What you're showing is correct. It should show the disabled option.

[2020-04-01 20:41] myasonik opened #3218 "[EuiFormRow] With difficult components"
**EuiFormRow** passes down the `id` an `input` element should take on to wire up **EuiFormRow**'s `<label>` correctly.

But there are several cases where this breaks down:
- #3037 describes a case where if the form control isn't built as expected by **EuiFormRow** and so the `id` never makes it to the `<input />`
- Another issue is what to do if there are multiple `<input />` elements (like dual i

[2020-04-01 20:57] wylieconlon commented on #2795
@ryankeairns I like that canvas is offering more than one categorical palette here: none of the other threads I've seen about color palettes have specified which palettes are useful.

[2020-04-01 22:02] cchaos commented on #3218
🤔 Interesting idea. Would love to see a POC

[2020-04-01 22:11] LeonY1 commented on #1235
@cchaos I was wondering if I could get some more information regarding this EuiPopovers and Tooltips. I can see that within the Tooltip there is a popover element. However, I'm not entirely sure what needs to be changed.

[2020-04-02 00:09] myasonik commented on #3218
Yes, @chandlerprall, we would all love to see a POC 😆

[2020-04-02 13:30] frank-mendez opened #3225 "How to trigger onSelectionChange manually for In-Memory Table?"
I want to have a custom select all functions that can select all the records on the table. Currently, I can only select what is in every page. Let me know if a custom select all function is possible thanks

[2020-04-02 15:37] lokeshrana9999 commented on #2731
Hii @chandlerprall I still have a query regarding this that needs to be resolved. If the application of scss variables is in docs ie src-docs then webpack along with scss-loader allows direct import of variables. Else if the application is during consuming the library this line
 `import * as euiVars from '@elastic/eui/dist/eui_theme_light.json';`
allows import of json file. I guess I am still not

[2020-04-02 16:57] chandlerprall commented on #2731
Yes, the ask here is that files in `src` can import scss variables. The two cases you mention:

* `src-docs`, via webpack, can access via loader
* downstream / consuming applications via the theme json file

but we cannot use either of those methods to import a value from a component itself

[2020-04-02 17:13] chandlerprall commented on #2806
I don't think this is something we'd want to do in EUI. It would require parsing the input string as HTML, and then either converting the parsed DOM structure to the proper `React.createElement` calls, or injecting the class & other attributes into the HTML string and render that into the DOM, which opens up security concerns.

Instead, When building React apps, the common practice is to rely on t

[2020-04-02 17:28] chandlerprall commented on #3225
Cross-page selection can be very tricky UI, as it's difficult to communicate to the user what non-visible rows are selected and if group actions apply to non-visible items. For those reasons, we have not built the tables to support selection outside of the current page worth of data.

[2020-04-02 17:28] #3225 closed

[2020-04-02 17:45] snide commented on #2806
I tend to agree with Chandler here. I think possibly the takeaway is... The expectation is that they want will _likely_ want this functionality. We can at least hint in the docs at a way they could do it within their application. Right now they just assume it should work because of course you'd want it work that way.

Perhaps we close this issue and replace it with a docs one?

[2020-04-02 17:50] lokeshrana9999 commented on #2731
Understood, will get to it.

[2020-04-02 18:18] #2258 closed

[2020-04-02 19:38] i-a-n opened #3231 "[EuiInMemoryTable] Pagination state does not update when props change"
Updating the `pagination` prop on `EuiInMemoryTable` doesn't render expected pagination output. For instance, updating from `pagination={false}` to `pagination={true}` (without a re-mount) will render a buggy state where `Rows per page: 1`:

<img width="200" alt="Screen Shot 2020-04-02 at 11 58 52 AM" src="https://user-images.githubusercontent.com/1937355/78294102-99cafc00-74de-11ea-9264-fbf12834c

[2020-04-02 20:14] snide commented on #3185
Latest release cleared up this issue. Will monitor the builds the next few docs syncs to see if there is something flakey here.

[2020-04-02 21:45] #3185 closed

[2020-04-03 02:31] pdutourgeerling opened #3235 "[EuiOverlayMask] EuiOverlayMask is being mounted twice when using CRA dev server"
The EuiOverlayMask div is being mounted twice in the DOM when using Elastic UI with the create-react-app development server. The first one that is mounted is uncontrollable and can't be unmounted anymore.

It seems to be caused because EuiOverlayMask calls `document.body.appendChild(this.overlayMaskNode)` in its constructor instead of in `componentDidMount`.

This issue only occurs when using the

[2020-04-03 13:54] ryankeairns opened #3243 "Insufficient color contrast in EuiCodeBlock"
In addressing a separate a11y issue within Kibana's 'Add data' section, we noticed axe warnings for insufficient color contrast related to the pink accent colored used in `EuiClodeBlock`. It's SO close but falls just short, and the same value can be seen in the EUI docs examples.

#### Kibana tutorial

<img width="596" alt="Screenshot 2020-04-03 08 48 33" src="https://user-images.githubusercontent

[2020-04-03 14:17] cchaos opened #3244 "EuiPagination needs to better manage focus when clicking on numbers"
If the pagination numbers are truncated (hiding those after 1 or before the last), when a user clicks through each of the numbers in the center, since the numbers that are actually being displayed are changing, the focus stays on the correct button via **index** but not **display**. This can cause confusion and will actually be wrong for keyboard users.

![Screen Recording 2020-04-03 at 10 08 AM](

[2020-04-03 15:38] #3029 closed

[2020-04-03 15:51] oatkiller opened #3248 "`EUIRadio` with a `label` and no `id` behaves unexpectedly"
Hi there. Thanks for the work on EUI. I've really been enjoying using it. I found some behavior that I think is unexpected and threw me for a loop.

If you define an `EuiRadio` with a `label` and no `id`, `onChange` will not be triggered from a click.

[code]

Check my [codesandbox](https://codesandbox.io/s/working-eui-3syk0) to see the example.

If the `label` property is passed an HTML `<label /

[2020-04-03 16:59] anishagg17 opened #3249 "[useInnerText] Flakey test"
![Screenshot 2020-04-03 at 10 28 04 PM](https://user-images.githubusercontent.com/43617894/78385998-667d8f80-75fa-11ea-9731-06efd9191cd6.png)

Some times this test passes sometimes it fails even though no change was made to any related file

[2020-04-03 17:02] anishagg17 commented on #2998
@cchaos can you please recheck this issue I think it has been resolved

[2020-04-03 18:09] mridulgogia commented on #3244
Can I work on this?

[2020-04-03 18:10] #3112 closed

[2020-04-03 19:32] shahzad31 opened #3250 "Missing type initialSelectedTab.name provided to EuiTabbedContent from EuiDatePopoverContet"
Missing type initialSelectedTab.name  provided to EuiTabbedContent from EuiDatePopoverContet
There is error in EUI usage while running functional tests

[code]

[2020-04-03 20:15] #3209 closed

[2020-04-03 23:08] #2626 closed

[2020-04-04 03:48] #3175 closed

[2020-04-05 19:24] snide commented on #1689
This is closable now that data grid is fairly mature. Any items still left will be converted to new issues.

[2020-04-05 19:24] #1689 closed

[2020-04-06 14:31] #1792 closed

[2020-04-06 16:29] jportner opened #3258 "Audit components and ensure secure links are generated"
Currently, if you use `EuiLink` to create a link, it implements a security control that uses the `href` property to calculate the appropriate `rel` attribute (added in #337). This is needed to ensure that potentially malicious external websites cannot modify the DOM of the source page.

However, other components that support the `href` property (such as `EuiBadge` and `EuiListGroupItem`) do not se

[2020-04-06 17:05] chandlerprall commented on #3258
To address, we need to:

* automate detection of these instances (e.g. eslint rule), use it to audit existing code and prevent regressions
* fix detected instances

[2020-04-06 17:06] #2961 closed

[2020-04-06 17:09] thompsongl commented on #2960
Closed via #3212

[2020-04-06 17:09] #2960 closed

[2020-04-06 18:41] cchaos opened #3261 "[EuiTabbedContent] Doesn't focus on correct tab when using mouse and `initialFocus` is `selected`"
_[Original comment](https://github.com/elastic/eui/pull/3154#pullrequestreview-388515105) by @cchaos_

![Screen Recording 2020-04-06 at 02 19 PM](https://user-images.githubusercontent.com/549577/78593409-956f4d80-7814-11ea-909b-da77f6f33007.gif)

[2020-04-06 21:42] anishagg17 commented on #1896
Is this fine now https://euitextdiff.stackblitz.io   ?

I would add `fading` later on when I would actually start building this Component

[2020-04-06 22:16] chandlerprall commented on #1896
I think the below screenshot is a little more accurate to the what the service should return

![text diff](https://d.pr/i/w8EEDl.png)

In a data format, something like:

[code]

The resulting component maybe could be configurable to show deletions?

[2020-04-06 22:33] anishagg17 commented on #1896
Got a woy to build this. Would update it soon

[2020-04-06 23:39] jibberishclient opened #3266 "Underline on Components"
I like what I see in EUI and I'm looking to make the move from MUI and ReactBootstrap. However, I was wondering is there a way to globally remove all those underlines from the components like links, accordions, buttons, etc. I'd like to remove them from all components

[2020-04-06 23:45] snide commented on #3266
I'm gonna assume you're talking about underlines on hovers and focus states. They are all in there because we aim for EUI to be accessible to folks with low vision. Changing more than just the color of things in these states help draw them out and I'd suggest you keep them in.

That said, if you're looking to get your hands dirty, the place to change these things would be in the Sass files themsel

[2020-04-06 23:45] #3266 closed

[2020-04-07 00:28] jibberishclient commented on #3266
I don't need to worry about that in this particular use case. Would there be a way to style that change global instead of component to component?

[2020-04-07 01:18] myasonik opened #3267 "Autodetect open port to start EUI on"
When testing features against master, it's convenient to run two instances of EUI.

Unfortunately, running EUI on multiple ports is a manual process which is just kind of annoying even if not too difficult.

It'd be really nice if EUI autodetected a new port to run on if the default one is busy.

[2020-04-07 01:29] snide commented on #3266
Something like this would work. Again, I don't suggest this.

[code]

[2020-04-07 02:29] jibberishclient opened #3269 "Scrolling with Flyout"
Taking a look at the Flyout examples, specifically I noticed two things. First, the super select's dropdown floats on it's own separate from the input bar when opened. Secondly, once you reach the bottom of the flyout content, it starts to scroll the main content underneath. Is there anyway to keep the superselect in tact in a flyout and lock the main content while the flyout is active?

![image](

[2020-04-07 05:22] snide commented on #3269
This popover issue is noticed and tracked here. https://github.com/elastic/eui/issues/1023

This is normal browser behavior when there are multiple scrolls on a page. It can be "fixed" by setting `ownFocus` on the flyout, which forces the body height to 100%. In general, using ownFocus is preferred, but hasn't been set as a default since it would require a sizable upgrade downstream.

Closing this

[2020-04-07 05:22] #3269 closed

[2020-04-07 05:27] jibberishclient commented on #3269
I'm not really seeing a clear answer in that issue. I see something about a container prop but on which component cuz it doesn't seem to be documented

[2020-04-07 06:34] snide commented on #3269
Sorry, it's not an answer. It's that the issue is already tracked so this issue is a duplicate.

[2020-04-07 09:54] shahzad31 commented on #2225
Closing this, since new issue should be open for missed use case.

[2020-04-07 09:54] #2225 closed

[2020-04-07 10:58] anishagg17 commented on #2860
I am working on this

[2020-04-07 12:43] Marvin9 commented on #3258
@chandlerprall Can work on it?

[2020-04-07 12:51] #2490 closed

[2020-04-07 14:33] cchaos commented on #1235
The **EuiPopover** component uses some popover positioning services:
https://github.com/elastic/eui/blob/0decfbd84c59d1af66fb7287e32c5f732d9a9375/src/components/popover/popover.tsx#L34-L38

While the **EuiTooltipPopover** does not. https://github.com/elastic/eui/blob/master/src/components/tool_tip/tool_tip_popover.tsx

The **EuiTooltipPopover** could **probably** also use these popover positioning

[2020-04-07 16:19] LeonY1 commented on #1235
Okay thanks for the clarification.

[2020-04-07 16:45] cchaos opened #3273 "Condensed EuiTabs need better focus states"
Regular tabs have a full shaded background color for focused tabs:

<img width="336" alt="Screen Shot 2020-04-07 at 12 43 37 PM" src="https://user-images.githubusercontent.com/549577/78696429-6b2d9680-78cd-11ea-9e41-e38780fbe550.png">

However, the `condensed` version doesn't have any background and relies solely on text underline.

<img width="527" alt="Screen Shot 2020-04-06 at 14 14 19 PM" src=

[2020-04-07 19:23] #3250 closed

[2020-04-07 21:04] #3267 closed

[2020-04-08 02:12] #3163 closed

[2020-04-08 03:18] TAYTS opened #3277 "EuiNavDrawer collapse prop"
May I know is it possible to have a prop such as `collapsible` that can toggle the EuiNavDrawer collapse feature? Or provide a flexible breakpoint width so that the user can customise the screen width that trigger the collapse function?

[2020-04-08 12:20] mouradmourafiq opened #3279 "Data grid adapts to its container but not the pagination"
When using a data grid in container with fixed width, the pagination does not adapt to the parent container, and so the pages are hidden.

One solution could be to use a `compressed` display or at least provide a flag to allow the user to use it.

![Screenshot 2020-04-08 at 14 17 59](https://user-images.githubusercontent.com/1261626/78783393-d9448d00-79a3-11ea-8904-95ff74261f16.png)

[2020-04-08 15:38] walter-ind opened #3280 "EuiDualRange Slider's circle which alters the range value should be improved in terms of characterizing different range(s)"
<h1>Description</h1>

Right now, it feels like circle representing different range values cross each other when they come closer.

![ezgif com-crop](https://user-images.githubusercontent.com/52423075/78802654-b504a280-79db-11ea-9bfb-07be1fb36506.gif)

However, on giving the closer look, it is visible that they do not cross each other. But, I recommend adding colors to the circle by which they can

[2020-04-08 15:39] walter-ind commented on #3280
I want to work on it!

[2020-04-08 15:50] snide commented on #3279
I'm gonna need the context of this screenshot to understand it more. What size is the container? At a certain point (under 400px, a grid is just not going to be reliable)

[2020-04-08 16:01] walter-ind commented on #3280
@cchaos ?

[2020-04-08 16:05] mouradmourafiq commented on #3279
Thanks for the reply, yes the current width of the div containing the grid is `300px`, changing the value to `400px` works.

Although I will use `400px`, I still think that providing the possibility to enable the [Compressed display](https://elastic.github.io/eui/#/navigation/pagination) of pagination could solve containers with width less than `400px`

[2020-04-08 16:12] snide commented on #3279
400px is less than mobile. It's not something I think we want to support. Data grids that small aren't going to be useable, and if there is that little information in them, another component is likely more appropriate.

[2020-04-08 16:12] #3279 closed

[2020-04-08 19:08] walter-ind opened #3281 "EuiFeed/ EuiNotifications Component missing from library."
Feeds =  your friends' main activities ordered by date i.e. activities that are happening with the people that you have a relationship with(friend/following) chronologically.

![71](https://user-images.githubusercontent.com/52423075/78823660-af6a8500-79fa-11ea-841c-914c3091fafe.png)

Notifications = are actions that directly happen to you( or your content) i..e your status updates.
However, at man

[2020-04-08 20:08] cchaos commented on #3281
We actually just merged into master a new component called EuiComment. The `update` style of EuiComment can display just as you have it in the screenshot. https://github.com/elastic/eui/pull/3179

Closing as this now exists. Woo @andreadelrio 🎉

[2020-04-08 20:08] #3281 closed

[2020-04-08 20:16] cchaos commented on #3280
It seems you have uncovered a regression. The focused EuiRangeThumb is supposed to have a `:focus` style using the `euiFocusRing()`, but it seems it is no longer displaying. Perhaps the `:focus` state is not really on the EuiRangeThumb?

[2020-04-08 20:56] cchaos opened #3282 "[EuiBadge] Can have it's inline styles wiped by consumer passed inline styles"
For example, when supplying a badge like:

[code]

The component doesn't account for `style` being passed as a prop and it gets passed to the render via `...rest` which comes after the badge's internal inline styles for adding the appropriate colors.

<img width="802" alt="Image 2020-04-08 at 4 50 48 PM" src="https://user-images.githubusercontent.com/549577/78832623-9097ce80-79b9-11ea-95c5-5048186

[2020-04-09 02:33] walter-ind commented on #3280
You mean, the thumb is displaying and making things clear over here about circles representing different range value(s)?

I have already said above.

[2020-04-09 04:55] #3280 closed

[2020-04-09 10:54] mouradmourafiq opened #3286 "[Typescript] Add types for EuiNavDrawer"
This is a minor issue, but currently importing  `EuiNavDrawer` and `EuiNavDrawerGroup` shows an error:

[code]

[2020-04-09 14:29] thompsongl commented on #3286
#3268 will resolve this

[2020-04-09 14:29] #3286 closed

[2020-04-09 16:07] chandlerprall commented on #2474
Thoughts on the existing setup, some paths we could take, and my opinion at the end

### Existing implementation with React components

Relying on React components:

* re-uses an already-known paradigm
* provides a guarantee that the configuration happens before its use (**EuiContext** wraps **EuiI18n**)
* changing the configuration propagates to uses without the need for a page reload/refresh

Be

[2020-04-09 16:18] #3261 closed

[2020-04-09 17:21] #2860 closed

[2020-04-09 18:28] anishagg17 commented on #3121
Which one should I work upon?

[2020-04-09 18:31] anishagg17 commented on #3172
Same is the issue with Theme select popover

[2020-04-09 21:44] myasonik opened #3292 "Upgrade Typescript in EUI to 3.7.2"

[2020-04-09 21:54] anishagg17 commented on #3292
Can I work upon this?

[2020-04-09 22:20] chandlerprall commented on #3292
@anishagg17 go for it

[2020-04-09 23:01] mouradmourafiq opened #3293 "How to inline svg/icons into a webpack bundle"
Is there a recommended way to include the svg icons into the bundle generated by webpack? I tried `svg-url-loader` and `url-loader`, but all svg files were generated into different js files with the main bundle having a rel path linking to them.

[2020-04-09 23:29] #2826 closed

[2020-04-10 02:06] snide commented on #3293
Closing this as a duplicate of https://github.com/elastic/eui/issues/2806#issuecomment-607976776

That issue can give you some context. We'll try to get some docs going.

[2020-04-10 02:20] chandlerprall commented on #3293
Not a dupe of that one! I think I answered this somewhere else... I'll try to dig it up and if not, I'll answer this issue. On mobile right now, but am planning on answering this tomorrow.

[2020-04-10 02:22] chandlerprall commented on #3293
(the difference being: #2806 is a discussion of how to import svg as a react component, this question [unless I'm misreading] is how to get eui's icons to not split into separate bundle/build files)

[2020-04-10 11:29] mouradmourafiq commented on #3293
@snide I read all the issues that have `svg` word in them in this repo including the one you linked to. I only created this issue as a last resort because I did not manage to inline the svg files in the bundle. If there's a recommendation or if other users managed to have a configuration that works, I would be very appreciative if they could comment on this issue.

[2020-04-10 12:11] cauemarcondes opened #3296 "EuiSelect missing value property problem on IE"
I was fixing a bug on IE that when a user selects an option in the select box, the value isn't really selected. It keeps with the `Select option:`  selected.

After investigating it, I noticed that the problem is caused because the `<option>`  tags don't have the `value` attribute. And it doesn't have the attribute because my array only has the `text` property like:
[code]
It's an easy fix, I only

[2020-04-10 14:46] chandlerprall commented on #2731
Any progress, thoughts, or questions @lokeshrana9999 ? Just checking in - it's certainly a harder issue to tackle :)

[2020-04-10 14:54] chandlerprall commented on #3235
Relates to #2074 as we cannot do these operations in the constructor if we're going to support SSR.

[2020-04-10 15:32] mouradmourafiq commented on #3293
@chandlerprall your understanding is correct, my intention is to create a single bundle containing all icons, currently it generates several files.

[2020-04-10 15:51] chandlerprall commented on #3277
There isn't a prop for this, but you can put a `ref` on the EuiNavDrawer element and interact with it:

[code]

[2020-04-10 17:47] chandlerprall commented on #3293
Two options:

1. Import the icon you want to use, and pass it in
[code]

Webpack will still output multiple icon files in your build directory, but there will not be a dynamic fetch.

2. Configure webpack to disable **all** additional chunks/bundles with the [`LimitChunkCountPlugin` plugin](https://webpack.js.org/plugins/limit-chunk-count-plugin/)

[code]

If you're looking for more control, the `

[2020-04-10 18:29] #3282 closed

[2020-04-10 19:04] #2130 closed

[2020-04-10 19:27] mouradmourafiq commented on #3293
Thanks a lot for your fast reponses and the webpack config snippet, I did not know about that plugin. This setting could have saved me a lot of time and frustration.

[2020-04-10 19:27] #3293 closed

[2020-04-10 19:41] chandlerprall opened #3301 "hasPropName utility errors on null values"
If a null value gets to *i18n_util.tsx*::hasPropName an error is thrown

[code]

This should be reproduced with a unit test before fixing. Haven't tested, but I believe this will error:

`<EuiI18n token="blah" default="{arg}" values={{ arg: null }}`

_Originally posted by @chandlerprall in https://github.com/elastic/eui/pull/2891/review_comment/create_

[2020-04-10 21:26] #3158 closed

[2020-04-10 22:41] snide commented on #2833
Closing this since the majority of the asks are now available with `EuiComment`. Following soon from @andreadelrio  will be `EuiCommentList` as a higher order component, but whats out is usable if you're in a hurry.

https://elastic.github.io/eui/#/display/comment

[2020-04-10 22:41] #2833 closed

[2020-04-11 13:10] lokeshrana9999 commented on #2731
I have been having to create a build a lot of the times to properly test so the progress has been slower than expected, But I think I am getting the hang of it, will initiate a draft pr in a couple of days.

[2020-04-11 17:30] lokeshrana9999 commented on #2731
@chandlerprall I am trying to implement conditional import of variables based on the environment, while in build consumable colors can be used and during  development imports with the help of webpack, I have implemented both conditions saperately but I am trying to figure out if NODE_ENV
can help with the conditional execution.

[2020-04-12 04:21] TAYTS commented on #3277
@chandlerprall Thank you so much for the inputs, it works.
May I know will it be supported in the future to allow the user to customise the collapse breakpoint?
The current implementation is hard coded as 1200px, it would be great if we can have a flexibility to change it. And is it possible to make it integrate more seamless with the `EuiPageBody` as now we have to add the `euiNavDrawerPage__page

[2020-04-12 10:32] TAYTS opened #3302 "EuiCollapsibleNav isDocked state does not work with manual toggle isOpen"
I was trying to achieve manual toggle using `isOpen` with `isDocked` as the default behaviour for open state `<EuiCollapsibleNav isOpen{visible} isDocked={visible} hideButtonIfDocked={false} >` but if I toggle the Nav to close state and reduce the window size small enough (<992) and try to open the Nav again, the overlay is not display and unable to close the Nav. Just roughly read the code, it se

[2020-04-13 13:57] shahzad31 opened #3304 "TLS Icon request"
In uptime we are adding lot's of features around TLS/SSL Certificates.

It would be nice to have an TLS Icon in EUI.

[2020-04-13 14:27] chandlerprall commented on #3277
@cchaos can you give some insight for the above questions?

[2020-04-13 14:40] jpambrun commented on #1454
I have the same issue. Is there any workaround?

[2020-04-13 14:43] walter-ind commented on #3304
Can I work on this?

[2020-04-13 14:53] cchaos commented on #3304
@walter-ind I appreciate the enthusiasm, but we like to leave icon creation work to our designers. Especially for glyphs that will be used throughout Elastic products.

[2020-04-13 14:56] cchaos commented on #1454
There doesn't seem to be one at the moment except for perhaps turning off `ownFocus` or by making the combobox not the first focusable element in popover.

[2020-04-13 15:04] cchaos commented on #3277
As you seem to becoming aware, the EuiNavDrawer is a bit complicated to maintain at the moment. It was created for a very specific purpose with very specific specification within Kibana. It will actually be deprecated in the coming months and so we most likely won't be supporting any feature updates such as this.

I'd advise to try to switch to the EuiCollapsibleNav which is much more flexible. It

[2020-04-13 15:07] cchaos commented on #3302
Do you have a codesandbox or an example gist we can take a look at for this particular configuration?

[2020-04-13 15:09] TAYTS commented on #3277
@cchaos Thank you for the updates, I will close this issue.

[2020-04-13 15:09] #3277 closed

[2020-04-13 15:17] #3301 closed

[2020-04-13 15:44] thompsongl commented on #1454
The case specifically shown in the gif was recently fixed in Kibana: https://github.com/elastic/kibana/pull/56222

The solution was to use the `initialFocus` prop on EuiPopover to target one of the header elements for focus.

To prevent this error on at EUI level, I think we'd be looking at altering animation logic or introducing render delays for popover content.

[2020-04-13 17:17] TAYTS commented on #3302
@cchaos Here is the codesandbox link: [EuiCollapsibleNav_ManualToggleDemo](https://codesandbox.io/s/euicollapsiblenavmanualtoggledemo-2k7nb)

Steps to replicate the issue:
1. Click the toggle button to close the `EuiCollapsibleNav`
2. Reduce the window size (> 992px)
3. Click the toggle button again
4. Unable to close the `EuiCollapsibleNav` with either the `close` empty button and no overlay mask

[2020-04-13 18:18] ashikmeerankutty commented on #2981
@chandlerprall Is the required implementation needs to be a custom virtualized scrolling component or by using existing external component like [react-virtualized](https://github.com/bvaughn/react-virtualized)

[2020-04-13 18:33] ryankeairns commented on #3243
While our base text colors pass the 4.5 contrast on `$euiPageColorBackground`, `EuiCodeBlock` uses `$euiColorLightestShade` which is slightly darker. This results in several of the code block colors not meeting the 4.5 contrast level.

Two initial options come to mind:
1. we could futz with the text color values in `EuiCodeBlock` or
2. we could consider using `$euIPageColorBackground` as the bg co

[2020-04-13 18:52] cchaos commented on #3243
My concern with changing the background color of the codeblock is in case the consumer has placed it not within a panel and so it resides on top of the page background color. Then there wouldn't be any visible boundary.

I would honestly opt for taking a better look into our color scheme for code blocks. We have the `makeHighContrast` mixin that would allow us to ensure that all the hex colors we

[2020-04-13 19:28] #2658 closed

[2020-04-13 20:03] myasonik commented on #2981
react-virtualized doesn't meat our accessibility standards so it's already being ripped out of the existing places that it's in EUI.

[react-window](https://github.com/bvaughn/react-window) is a good 3rd party replacement by the same developer that doesn't make any a11y assumptions at all so it's a much easier canvas to layer our a11y work on top of.

Either way, using a 3rd party renderer will li

[2020-04-13 20:12] chandlerprall commented on #2981
The datagrid's implementation (react-window or otherwise) will need to interact with the pagination in not-yet-determined ways. Most of the React virtualized scrolling libraries assume all of the data is available, and the windowing functionality is simply passing over the items, rendering whichever should be visible. Datagrid will need more thought than just that, as you may start with a "page" w

[2020-04-13 22:27] #2884 closed

[2020-04-13 22:37] myasonik opened #3310 "Defining a support matrix for EUI"
## The problem
As a consumer of EUI, I've got no idea what assistive tech/browsers/operating systems you test with.

I think EUI's support matrix is the same as Kibana's which is currently latest FF, Chrome, and Safari plus IE11 (which will be replaced by Edge around the time of 8.0.0) but I'm not 100% certain.

It'd be great to define this as part of EUI for people consuming the project outside o

[2020-04-13 22:37] myasonik opened #3311 "Adding badging to components for less frequent asssitive tech testing"
## The problem
As Kibana and EUI expand their a11y work there's always going to be areas that are more polished than others. I know that several auditors have tested EUI (either piecemeal from within Kibana or EUI directly) with various screen reader+browser+OS combinations but I've got no idea what those were or when that last happened.

I largely assume that everything works fine with VoiceOver

[2020-04-14 14:27] sgrodzicki commented on #3304
Secure Sockets Layer (SSL) is no longer in use, so I suggest using TLS or a more generic padlock icon.

[2020-04-14 14:56] shahzad31 commented on #3304
I agree with this.

[2020-04-14 15:05] #3273 closed

[2020-04-14 16:30] #505 closed

[2020-04-14 16:32] myasonik commented on #3311
Discussed in weekly design meeting today. Will start off with logging this info internally in AirTable. Depending on how that goes will consider something publicly facing down the road.

[2020-04-14 16:32] #3311 closed

[2020-04-14 16:33] myasonik commented on #3310
Discussed in weekly design meeting today. Will start off with defining this internally in AirTable. Depending on how that goes will consider something publicly facing down the road.

[2020-04-14 16:33] #3310 closed

[2020-04-14 18:06] miukimiu commented on #3304
@shahzad31 and @sgrodzicki,

There's already a padlock icon in EU: `<EuiIcon type="lock" />`.

Do you think this icon would work?

<img width="100" alt="lock@2x" src="https://user-images.githubusercontent.com/2750668/79258250-c7bb2380-7e82-11ea-96af-eb50e3072e89.png">

[2020-04-14 18:15] shahzad31 commented on #3304
Yes, i will close the issue.

[2020-04-14 18:15] #3304 closed

[2020-04-14 20:31] #3137 closed

[2020-04-14 20:51] cchaos commented on #3302
I'm understanding your configuration now. You are forcing the collapsible nav flyout to always push the body contents (always docked) when toggling it to visible. In other words, your nav will always be docked unless its forced to mobile overlay. I have found the problem area and will have a PR soon. I will also look into allowing the customization of that breakpoint.

[2020-04-14 21:50] i-a-n opened #3318 "[InMemoryTable] Default sorting broken when column name is <i18n> tag"
Hi there. I noticed that setting a default `sorting:` option in `EuiInMemoryTable` is broken when the `name` of the column to be sorted is an `<EuiI18n>` tag. So if my column definition looks like this:

[code]

Setting this in the component will not work:

[code]

It works again when I change the column `name` to a string. I have no idea how difficult this would be to fix, but thought I'd make an

[2020-04-15 00:41] TAYTS commented on #3302
@cchaos Thank you so much, I could try to help out for the breakpoint feature if you need

[2020-04-15 05:11] TAYTS opened #3319 "Unify the date typing for `ReactDatePickerProps` in `EuiDatePicker` Typescript"
Is it possible to add `null` to the `ReactDatePickerProps` `startDate` props as Typescript complaint about tying between the `moment.Moment | null` and `moment.Moment | undefined`?

I faced this issue when trying to use `useState` hook:
[code]

Although the issue can simply resolved by just casting to `moment.Moment | undefined` but I think it might be nicer to unify the typing since most of the d

[2020-04-15 13:46] sebelga opened #3321 "EuiCodeBlock does not update the value in to copy to clipboard"
The `<EuiCodeBlock>` does not seem to update the value to copy when the content changes. So when the `request` changes below

[code]

The value copied to the clipboard does not update.

I had to use the following hack to make it work: https://github.com/alisonelizabeth/kibana/pull/2/commits/1ba2c6b635a87f5c09a7a2be42448d723da5184d

[2020-04-15 15:56] cchaos opened #3323 "[EuiInMemoryTable] With `incremental` search on doesn't initiate reset from `isClearable` EuiFieldSearch"
Using EuiInMemoryTable's `incremental` search, shows updated results as each letter is typed into the search box. This search box is simply a **EuiFieldSearch** with `isClearable` set to true. However, when the user then uses the clearing button (x), the table doesn't reset its results until the user hits `enter`.

[Video](https://share.getcloudapp.com/nOu8B7Bl)

[2020-04-15 16:21] anishagg17 commented on #3323
I will soon make a pr for this 👍

[2020-04-15 16:58] andreadelrio opened #3324 "EuiSteps to allow for different title sizes"
Right now the `title` prop is placed inside `<EuiTitle size="s">`. We'd need to have a prop to customize the title size.

This is the scenario where this came up. We had the following flyout and we wanted to reduce the font size in Steps in order to reflect hierarchy

![image (10)](https://user-images.githubusercontent.com/4016496/79365188-22926080-7eff-11ea-9319-ded1ffed9071.png)
Related comment

[2020-04-15 17:05] cchaos commented on #3324
cc @hbharding on this as he's looking into the disparate stylings we currently have between vertical and horizontal steps as well as possibly some other customizations.

[2020-04-15 17:21] hbharding commented on #3324
@andreadelrio  FYI, i'm thinking of adding a "disabled" state for vertical steps, which _might_ be useful in the context of your screenshot. If form fields in step 1 are required to complete step 2, we could disabled step 2 (and not render content) until step 1 is valid. My use case is slightly different, so not sure if it's necessary for you here. One benefit of disabled steps is that it could de

[2020-04-15 17:29] #3292 closed

[2020-04-15 18:41] cchaos commented on #3324
I would just be wary of completely hiding content in disabled steps. I've run into this problem quite a few times where if the next content depends on the previous selections what happens when the user is at step 3 but then changes the info in step 1. Does it completely erase their efforts in the following steps? Does it re-hide the content? Does it just populate then error out the next steps? Do

[2020-04-15 18:43] cchaos commented on #3324
And now that I've hijacked this particular issue, maybe we need a separate one for disabled steps just to start the conversion.

[2020-04-15 19:06] anishagg17 opened #3327 "[EuiInMemoryTable] schema="[object Object]" appears as an attribute to <input/>"
![Screenshot 2020-04-16 at 12 32 32 AM](https://user-images.githubusercontent.com/43617894/79378022-3c24be00-7f7a-11ea-80fb-693002364ef1.png)

![Screenshot 2020-04-16 at 12 32 28 AM](https://user-images.githubusercontent.com/43617894/79378034-42b33580-7f7a-11ea-948e-dddacd96c86e.png)

[2020-04-15 21:57] cchaos commented on #3302
@TAYTS Pr is here: #3330 If you want to take a look

[2020-04-16 01:26] TAYTS commented on #3302
@cchaos That's really fast, I can't thank you enough for the updates

[2020-04-16 14:55] cchaos commented on #3302
You're very welcome. If you find any more bugs just let us know, or if you feel comfortable, pass us a PR!

[2020-04-16 15:12] deliveryblueprintsdev opened #3334 "[EuiDataGrid] Rendering EuiTextField inside cell breaks focus"
When rendering an `EuiTextField` inside a `EuiDataGrid` cell, it doesn't behave as described in the documentation with regards to interactive elements.

When clicking the cell, instead of the focusing the text element, the cell focuses instead, and a second click is required before the click event is bubbled down to the text input.

Additionally, any re-renders of the `EuiDataGrid` results in the

[2020-04-16 15:28] ashikmeerankutty commented on #3327
@cchaos What should be the desired behavior? Should schema need to be passed to input?

[2020-04-16 15:39] snide commented on #3334
From DataGrid's top level docs

Although we can look at this specific focus problem, short term, the current suggestion would be to put all dynamic inputs within the popover system. A more long term solution and feature spec needs to be considered for DataGrid to be reliable for data entry. It really hasn't been tested much for that use case yet, and while I'm sure it'll work in pieces, the experi

[2020-04-16 15:41] snide commented on #3334
And just to be clear, that doesn't preclude someone from picking up this issue! Just sort of stating the long term "DataGrid as Excel" functionality likely will be pretty involved.

[2020-04-16 16:06] anishagg17 commented on #3327
I observed that `schema` comes as  a property of `box` which is just spread on input bar `{...box}`

we can remove the schema attribute, I think so.

[2020-04-16 19:58] #3323 closed

[2020-04-16 20:45] #3302 closed

[2020-04-16 22:25] pickypg opened #3338 "[EuiBasicTable] Property warning when sorting={true}"
I have a pretty simple table defined as:

[code]

However, this unexpectedly leads to this warning (in the browser):

It looks like the props setup is different from the Typescript setup, which happily accepts the implied `true` value for `sorting`.

[2020-04-16 23:30] hbharding commented on #3324
Great points / definitely more to think about... in another issue :) Apologies for getting off topic.

+1 for different title sizes for EuiSteps

[2020-04-17 00:07] hbharding opened #3339 "[EuiSteps] Disabled state for vertical steps"
Picking up on another thread that got off topic here https://github.com/elastic/eui/issues/3324, and from an earlier conversation with @cchaos.

Ingest Manager has a user flow with 3 steps where steps 2 and 3 can't be shown until step 1 is complete/valid. It would be nice to have a visual indicator (a disabled state) to suggest that there is a dependency. Example:

![image](https://user-images.git

[2020-04-17 05:57] TAYTS opened #3341 "Allow passing node to the image props for EuiCard"
[Feature propose]
Allow user to pass custom image component to `image` props in the `EuiCard`.
The use case is that if a user want to have progressive image loading, it can be simply just pass the custom component to the `image` props.

One possible approach to achieve this that I could think off is to check the type of the `image` props and decide whether to render the normal `<img />` or the cus

[2020-04-17 09:37] nellicus opened #3342 "table pagination resets to page 1"
hello,

I'm rendering tables populated with range sliders within accordions as

[code]

here the func rendering the rangeSlider

[code]

and experiencing the following behaviour which I see as unexpected (step 3) :

1) I open an accordion and the table within it displays with all the rangeSlider rows
2) if the table has more than 1 page, I go and click on page 2 (or any other page index > 1)
3) tr

[2020-04-17 14:39] chandlerprall commented on #3318
Hmm, I'm unable to reproduce. I created a brand-new app with `create-react-app` and added EUI, changing _App.js_ to

[code]

And it sorts that column as expected

![expected sorting](https://d.pr/i/STaDac.gif)

[2020-04-17 15:17] anishagg17 commented on #3248
If the onChange property is provided it will be run, even if label is provided and id is not.
OR, the id should be required if label is passed.
OR, the behavior should be documented

which is the required behaviour?

[2020-04-17 15:21] chandlerprall commented on #3319
Makes sense!

[2020-04-17 15:39] i-a-n commented on #3318
thanks for the quick response @chandlerprall. very strange! there must be something wrong with my setup.

![sort-bug](https://user-images.githubusercontent.com/1937355/79586913-a32f9900-8086-11ea-823c-a353f8fe22a9.gif)

as you can see, when it's an `i18n` node, it doesn't display the sort arrow by default. and as you _can't_ see (because I didn't have visual clicks enabled), after clicking one tim

[2020-04-17 15:43] chandlerprall commented on #3334
Heh. I was planning on putting together an excel-like demo with datagrid over the weekend, just for fun. I'm sure I'll run into the same issues and will probably start fixing them as I go. Thanks for reporting, @deliveryblueprintsdev !

[2020-04-17 18:23] i-a-n commented on #3318
@chandlerprall update: it appears to only be broken for me when used in conjunction with `pagination={true}`. if you still have your test app handy, would you mind turning on pagination to see if that replicates my issue?

[2020-04-17 18:53] chandlerprall opened #3346 "[EuiAccordion] Usage of ResizeObserver throws "error" during canvas workpad load"
When loading a busy canvas workpad (like the ecom sample dataset's), the `ResizeObserver loop limit exceeded` error is thrown. This is ignorable and indicates that the observed element was resized multiple times during the same animation frame - https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

It's being swallowed on the canvas side, at least temporarily, but we sho

[2020-04-20 00:18] bocong opened #3347 "EuiSuggest: Cannot select options using arrow keys"
On EuiSuggest: https://elastic.github.io/eui/#/forms/suggest

After typing some input, several options are rendered in a dropdown below the input. I would expect to be able to use up/down arrow to select an option, but it does not work in this case.

Is this intentional behavior?

[2020-04-20 08:41] lior-fortifieddata opened #3348 "EuiInMemoryTable - allow displaying number of filtered rows/ total rows"
![image](https://user-images.githubusercontent.com/59799643/79731943-abdcd500-82fb-11ea-8eee-8821779fff54.png)

I couldn't find an option to get the number of filtered items/ total items, displayed in a EuiInMemoryTable
version: 22.3.0

** the image was taken from kibana, but I'm using eui in my website

[2020-04-20 11:52] claracruz opened #3356 "Configurable positioning for EuiDatePickerRange calender popper"
<h1>Description</h1>

When using `EuiDatePickerRange` the calender popper always opens to the right. Would be good to have a prop that enables placement to be configurable. At the very least - `bottom-left`.

<h2>More details</h2>
The issue we're facing is that if the `EuiDatePickerRange` component is placed to the right-end of the page, opening the calendar causes a horizontal scrollbar and also

[2020-04-20 14:41] cchaos commented on #3347
This component still has a lot of accessibility enhancements to do. It is by design at the moment, but we have a meta ticket to improve interactions for keyboard users here: https://github.com/elastic/eui/issues/2404

Sine the referenced issue contains up/down arrow navigation, I consider this ticket a duplicate. Thanks.

[2020-04-20 14:41] #3347 closed

[2020-04-20 14:49] chandlerprall commented on #3334
I put together a quick proof of concept at https://tissue.chandlerprall.com , and code at https://github.com/chandlerprall/tissue

The only custom thing I did with the datagrid is [override .euiDataGridRowCell padding](https://github.com/chandlerprall/tissue/blob/master/src/App.css)

---

I was able to reproduce this issue in my setup by modifying the `renderCellValue` prop into returning a new co

[2020-04-20 16:25] hbharding opened #3358 "EuiColorStops popover position does not align with color stop"
I think I found a bug with EuiColorStops - at least on the EUI docs site https://elastic.github.io/eui/#/forms/color-selection.

Expected behavior: The position of the color stop popover should follow the position of the slider handle.

Tested in Chrome and Opera

![Kapture 2020-04-20 at 12 19 26](https://user-images.githubusercontent.com/847805/79775068-b00bf100-8301-11ea-91d4-5ecbd8061130.gif)

[2020-04-20 16:34] cchaos commented on #3358
Oooh that's new! ☹️ I can replicate. Probably something in the latest release. cc @thompsongl

[2020-04-20 16:56] thompsongl commented on #3358
Fixed in #3329

[2020-04-20 16:56] #3358 closed

[2020-04-20 18:18] chandlerprall commented on #3318
We discussed over zoom, and found a solution.

InMemoryTable is using the `name` as an identity, and when the component hosting the table re-renders, that `name` element is recreated and no longer matches the previous value. I was able to recreate (with a small difference, but I suspect it's the same root cause) the issue in my example by forcing a re-render when the `onChange` callback triggers.

[2020-04-20 18:18] #3318 closed

[2020-04-20 18:28] i-a-n commented on #3318
great work, and many thanks!!

[2020-04-20 18:49] i-a-n opened #3361 "[Icons] Icon request: "download" icon"
Hi all. I'm working on a component that offers a user the ability to "download" a license file, and the closest current `EuiIcon` (exportAction) doesn't strike me as immediately recognizable to most people as a synonym for "download":

<img width="102" alt="Screen Shot 2020-04-20 at 11 42 12 AM" src="https://user-images.githubusercontent.com/1937355/79787597-1726a700-82fc-11ea-9967-f656ec025110.pn

[2020-04-20 18:55] cchaos commented on #3318
Whenever we find a workaround for a (probably) common instance, we should add a docs example. Or add it to an existing example so we can
a. monitor that it continues to work
b. point others to the solution (within code)

[2020-04-20 19:17] chandlerprall opened #3362 "Add documentation around EuiInMemoryTable's usage of column names in sorting"
**EuiInMemoryTable** relies on referential integrity of a column's `name` field to sort on that column. This should be documented in the docs

_Originally posted by @cchaos in https://github.com/elastic/eui/issues/3318#issuecomment-616744904_

[2020-04-20 19:31] chandlerprall commented on #3248
`id` should be required if there is a `label` provided, as it is necessary for the label->radio interaction.

[2020-04-20 19:44] chandlerprall commented on #3341
This makes sense. An alternative would be to allow an additional `imageProps` object to be provided, and forward its values to the `<img />`.

If we did open `image` up to custom values, the only enforcement of the type of element allowed would be strictly run-time and ensuring the value itself is an `img`. E.g.

[code]

Curious what @cchaos's thoughts are

[2020-04-20 21:30] cchaos commented on #3341
I think the greatest need from a design standpoint is to ensure the passage of `className` from EuiImage to whatever is passed as `image`. I'm ok with opening it up to be more flexible, but it should only be a single ReactElement with the prop `className` available.

[2020-04-21 03:48] jpcarey opened #3363 "EuiInMemoryTable does not update its internal query state after changes to `search` prop"
The `EuiInMemoryTable` does not update its internal query state after changes to `search` prop.

cc: @thompsongl

[2020-04-21 05:00] TAYTS commented on #3341
Is it possible that we can provide a wrapping `<div>` for the `<img>` then add the `className` to the `<div>` to apply the styling?

[code]

[code]

[2020-04-21 13:02] cchaos commented on #3341
We can attempt to add this wrapping div and move the className as you have it in your last example. We would also need to add `.euiCard__image img { width: 100% }` to ensure proper sizing. Normally we try to avoid generic selectors like `img` but I think in this case, there isn't any way around it. The only problem here is that we are still expecting the custom image to contain an `<img />` tag. I

[2020-04-21 14:51] TAYTS commented on #3341
@cchaos If we go for the wrapping div approach, is it ok to use wildcard selector since there is a concern where the custom component does not contain the img tag?
[code]
If we limit the element passing through the `image` prop to only `<img />`, this could help in applying the proper styling but isn't this kinda defeat the purpose of the flexibility?

[2020-04-21 14:57] cchaos commented on #3341
That still doesn't take care of the situation where they might pass something that has several layers of wrapping elements surrounding the `<img>` or other tag.

I think the best approach is still using this wrapping div, but expect that the consumer's component renders an `<img>` tag. We can supply some guidance if they're for some reason not rendering an `<img>` like telling them they have to ap

[2020-04-21 15:24] TAYTS commented on #3341
By "expect ...consumer's component render an `<img>` tag", do you mean to dive into the supplied component(multi layers element) and make sure the `<img>` in it takes the full width?

I just feel that if we could just ensure the layers right under the wrapper div take the full width would be suffice as any elements under it should be up to user to implement it?

p.s: I hope I didn't miss understan

[2020-04-21 15:38] chandlerprall commented on #3338
What version of EUI are you on? I attempted to recreate via create-react-app + EUI v22.6.0 with the following and did not observe any proptype messages.

[code]

[2020-04-21 16:12] TAYTS commented on #3341
Ok I got what you mean now, just tried out the `img` selector, thank you so much!!
Is it ok for me to create a PR for this?

[2020-04-21 16:38] cchaos commented on #3341
Please do, thanks @TAYTS !

[2020-04-21 17:01] #3319 closed

[2020-04-21 17:37] #3327 closed

[2020-04-21 18:58] pickypg opened #3366 "[EuiDatePicker] Do not drop Time Selection in Mobile"
When resizing my screen to test a datepicker with time selection, I noticed that time dropped off. The selected datepicker has `showTimeSelect` set.

![image](https://user-images.githubusercontent.com/1501235/79902848-25e68a00-83e0-11ea-9485-d0f99973e841.png)

Could we let the timepicker remain or add a flag that allows UIs to opt into having it?

[2020-04-21 19:01] cchaos opened #3367 "[EuiDatePicker] Can no longer change text in input"
I believe this to be a regression where some added focus-stealing means anytime the input is selected the popover steals the focus making it impossible to change the input text directly.

![Screen Recording 2020-04-21 at 02 58 PM](https://user-images.githubusercontent.com/549577/79903404-02700f00-83e1-11ea-8116-aa9ad57cd435.gif)

[2020-04-21 19:02] lior-fortifieddata commented on #3348
another related issue will be for example, if I want to export to excel.
In that case, I will want to export only filtered items (that answered the search term for example)

[2020-04-21 20:05] #2752 closed

[2020-04-21 20:05] #2889 closed

[2020-04-21 20:05] #3356 closed

[2020-04-21 20:25] #3055 closed

[2020-04-21 21:29] thompsongl commented on #3367
I don't think this was ever(?) possible except when when using keyboard navigation. I went back to v9.9.1 (a year ago) and the behavior is the same.

Worth noting that EuiDatePicker does not use EuiPopover, so we may have less control. But, stock react-datepicker does not force focus so there's something else going on with our fork.

[2020-04-21 22:59] snide commented on #2833
`EuiCommentList` is now available as well.

https://elastic.github.io/eui/#/display/comment-list

[2020-04-21 23:46] #3321 closed

[2020-04-22 16:04] gjones opened #3373 "EuiTabs can break layouts"
**Summary**
When you have a number of EuiTabs, they do not honour the width of their parent and instead force their own width. This can lead to weird behaviour on smaller screens.

Here's an example of the Elastic Cloud layout being forced to horizontal scroll.

![Screen Recording 2020-04-22 at 12 00 pm](https://user-images.githubusercontent.com/305167/80004934-f04da980-8490-11ea-9df6-a5ec819074a1

[2020-04-22 16:17] snide commented on #3373
Can you give us an example on how to replicate?

When given a parent of 300px, I'm seeing the overflow?

![image](https://user-images.githubusercontent.com/324519/80006676-1025a300-847a-11ea-95cc-f481b3798f21.png)

[2020-04-22 16:30] snide commented on #3373
Ah. I see the issue now.

[2020-04-22 18:17] seeruk commented on #3146
Another one that doesn't quite work is an EuiPage with restrictWidth set to true. It shrinks the page even if there's plenty of room either side of the page for the menu. Ideally it'd just re-centralise the EuiPage in the leftover space and as you get to a small enough size for the EuiPage to touch the nav drawer, that'd be the ideal time for the EuiPage to start shrinking in size.

[2020-04-22 18:42] snide commented on #3373
This is not a problem with the tabs themselves, but the container. Essentially, because of the flex, you'll need to make sure you have a `max-width:100%` on the parent containers to let the flex in tabs know it can't exceed a certain size (in this case, the full page).

You can fix this on the docs by applying the following

![image](https://user-images.githubusercontent.com/324519/80020430-dfe7ff

[2020-04-22 18:46] miukimiu commented on #3373
@snide the same issue happens on this page: https://elastic.github.io/eui/#/display/code. I think it was introduced with the `whiteSpace="pre"`.

Applying `max-width: 100%` to `euiPageBody` as you suggested fix this issue too.

[2020-04-22 18:55] bevacqua commented on #3373
@snide's fix seems beautiful

[2020-04-22 19:07] gjones commented on #3373
Looks good Dave, thanks! So is this something you (eui team) would apply to the `euiPageBody` itself? Or is it something we should add at the cloud level?

[2020-04-22 19:09] miukimiu opened #3374 "[EuiDatePickerRange] StartDateControl popover wrong placement"
The default `popoverPlacement` of the first **EuiDatePicker** inside a **EuiDatePickerRange**
is `'bottom-start'`.

When the icon is `true` the popover is placed after the icon. I think it would look better if it was placed before the icon.

<img width="469" alt="popover placement@2x" src="https://user-images.githubusercontent.com/2750668/80021592-a38ac280-84d2-11ea-9690-db46daaae238.png">

[2020-04-22 19:12] bevacqua commented on #3373
I don't see a reason not to add this to EUI itself

[2020-04-22 19:47] snide commented on #3373
I'll make a PR for @cchaos to review.

[2020-04-22 20:53] cchaos commented on #3146
@seeruk Sounds unrelated to either EuiBottomBar or EuiNavDrawer. Maybe you could open another ticket with a screenshot for guidance?

[2020-04-22 21:20] #3373 closed

[2020-04-22 23:47] myasonik opened #3377 "[EuiHeaderSectionItemButton] should handle being passed a ref"
Need to be able to focus on the button. Because it's a functional component it needs to be wrapped in `React.forwardRef`.

[2020-04-23 11:19] #3361 closed

[2020-04-23 15:41] cchaos commented on #3341
Closed via #3370

[2020-04-23 15:41] #3341 closed

[2020-04-23 17:38] #3324 closed

[2020-04-23 18:22] #3377 closed

[2020-04-23 20:24] chandlerprall opened #3381 "[EuiInMemoryTable] Needs to document its `itemId` prop"
This has confused me and at least 2 other devs. **EuiInMemoryTable** requires a `selection` prop _and_ an `itemId` prop to enable selection. The only way to know this is looking at the _Demo JS_ tab, spotting the `itemId` line, and recognizing it is important. Without `itemId` selection looks like it should be working but it mysteriously doesn't. Information about the necessary props should be inc

[2020-04-24 02:58] winnllam commented on #3374
Hi, I'd like to try this! :)

[2020-04-24 16:12] frank-mendez opened #3384 "forceState={trigger} not working prop for Accordion"

[2020-04-24 16:26] snide commented on #3384
The live docs seem to show this as working? You'll need to provide more info? Are you possibly on an old version of EUI? https://elastic.github.io/eui/#/layout/accordion

[2020-04-24 18:17] snide opened #3385 "[Discuss] Cross-browser focus states for overflow containers"
We had some discussion on the resizable container scroll interactions as part of https://github.com/elastic/eui/pull/2701#issuecomment-618715386, specifically around the following two issues. It was decided this is a more global issue than one component and we should think holistically at the problem.

* Should EUI give guidance and adhere to applying `tabindex=0` for any elements with an applied

[2020-04-24 18:20] myasonik opened #3386 "Potential 22.3.1 patch release for Kibana 7.8 FF"
Documenting issues that impact the global nav change in Kibana. Not really necessary quite yet but keeping a record in case it becomes necessary.

Good to haves:
- #3369
- #3378
- #3330

Must have
- #3398

[2020-04-24 18:30] myasonik commented on #3385
Would be a nice enhancement to only apply `tabindex=0` if the content is actually scrollable, not just if it _could_ be scrollable

[2020-04-24 20:29] chandlerprall commented on #3342
Was able to reproduce and track this down. The pagination is resetting because every time you render the table its `items` array is different. We treat this "a new set of data" and reset the pagination https://github.com/elastic/eui/blob/f937facb3f7647c5c9cacb146436d472082f651f/src/components/basic_table/in_memory_table.tsx#L239-L246

I put a stupid little hack in place to maintain the same in-mem

[2020-04-25 10:51] frank-mendez commented on #3384
Okay, I have updated to the latest version and it's working properly now. Thanks

[2020-04-25 10:51] #3384 closed

[2020-04-25 19:43] nplatis opened #3388 "Errors in examples of EuiBasicTable"
I believe there are some (similar) errors to the example code snippets of EuiBasicTable (https://elastic.github.io/eui/#/tabular-content/tables), when the action columns are specified.

In example _Adding actions to table_, `Demo JS`, the specification for the last column is
[code]

whereas it should be:
[code]
The same happens in the code provided for the following example, _Responsive tables_.

[2020-04-27 17:36] #3248 closed

[2020-04-27 19:01] thompsongl commented on #2895
Done in #3067

[2020-04-27 19:01] #2895 closed

[2020-04-27 19:06] ashikmeerankutty commented on #3388
@nplatis

[https://alligator.io/js/object-property-shorthand-es6/](https://alligator.io/js/object-property-shorthand-es6/)

[2020-04-27 20:38] nplatis commented on #3388
@ashikmeerankutty thanks for the pointer to this explanation.

[2020-04-27 20:38] #3388 closed

[2020-04-27 22:27] hbharding commented on #2795
Hey chiming in late here. I've been working on adding color palettes to the Metrics UI Waffle map, so I'm happy to see we have an effort behind this already! I definitely want to use whatever we decide here. My designs are not final, but here are some screenshots of what I was thinking.

We want to provide a limited choice of colors and options for the user to control how the waffle map is colored

[2020-04-28 01:27] jpcarey opened #3390 "EuiBadge iconOnClick makes badge text clickable"
using `EuiBadge`, if I set `iconOnClick`, the entire badge becomes a clickable button (where only the icon binds to the iconOnClick). This is problematic for using with things like `EuiDraggable`, since there is pretty much no where to click and drag for the badge.

[code]

![image](https://user-images.githubusercontent.com/5118470/80436546-a1eb4100-88bc-11ea-806a-2a32ed004d64.png)
^ notice the un

[2020-04-28 01:35] snide commented on #3390
When diagnosing this, I noticed our docs example renders the inner text as a button when only the icon should be a button. Likely we just need to shift this to a span if no `onClick` is present. I know this is how it used to work, so likely we had a small regression recently.

![image](https://user-images.githubusercontent.com/324519/80437176-ce4f8f00-88b5-11ea-952f-50c5c0bbc6f8.png)

[2020-04-28 01:56] cahna opened #3391 "Failed CSS bundling(?) with react-boilerplate"
## Summary

I am consuming eui from a [`react-boilerplate`](https://github.com/react-boilerplate/react-boilerplate)-based project. When building for release, it appears the CSS is missing (specifically, `@elastic/eui/dist/eui_theme_dark.css`).

Icons and inline SVG seem to work. I have tried following the instructions in [`eui/wiki/consuming.md`](https://github.com/elastic/eui/blob/master/wiki/con

[2020-04-28 08:39] sqren opened #3393 "Icons should be cached to avoid flickering on render"
Because icons are loaded dynamically there is a noticeable delay. This is expected to happen on the initial render but subsequent renders should use a cached version to avoid them flickering

<img src="https://user-images.githubusercontent.com/209966/80465950-2335e880-893c-11ea-91ee-ac79557ad540.gif" alt="drawing" width="100"/>

[2020-04-28 10:42] anishagg17 commented on #3338
Try upgrading your version of `EUI` that might fix the error. Also, please send the entire description including `columns` and `items`  prop.

[2020-04-28 10:49] anishagg17 opened #3394 "[DOCS] Empty first name field in `EuiBasicTable`"
![Screenshot 2020-04-28 at 4 17 50 PM](https://user-images.githubusercontent.com/43617894/80478880-d0742500-896b-11ea-9cf6-0aa7921e668a.png)

this is a docs related issue which displays empty `first name` filed

might be a problem with `createDataStore` function

[2020-04-28 10:54] bollinic opened #3395 "Allow consumers to use EuiToolTipPopover directly"
Allow consumers to use EuiToolTipPopover without EuiToolTip

The most common scenario I can think of is we want to show a tooltip by hovering on a block element

[2020-04-28 12:51] cchaos commented on #3395
@bollinic EuiToolTip takes a `display` prop that you can change to `display="block"` if you need this behavior. Let us know if that works for your scenario.

[2020-04-28 12:52] cchaos commented on #3395
Ack, I take that back the `display` prop is on EuiPopover, not EuiToolTip. However, you can still make your scenario work by adding a utility class like so:

[code]

[2020-04-28 17:22] thompsongl commented on #3391
Thanks for your thorough investigation, @cahna

I believe the problem boils down to the production webpack `sideEffects` config. EUI specifies `sideEffects: false`, which [after some research](https://github.com/webpack/webpack/issues/6741#issuecomment-372720641) _might_ be incorrect when it comes to the `dist` CSS files.

I'll open an issue in EUI to reconsider our `sideEffects` designation. For

[2020-04-28 17:36] thompsongl commented on #3391
Another (probably better) option is the alter `webpack.base.babel.js` to add `sideEffects` to 3rd-party css:

[code]

In this case make no changes to `webpack.prod.babel.js`

[2020-04-28 17:37] #3390 closed

[2020-04-28 17:41] thompsongl opened #3397 "Reconsider `sideEffects` designation"
Per investigation in #3391, the `package.json` setting for `sideEffects` may be incorrect.

We may want to change to the code commented above.

[2020-04-28 21:20] cahna commented on #3391
**Thank you, @thompsongl!!!** I can confirm that your solution works!

...now I'm off to read the docs on webpack tree shaking

[2020-04-29 07:48] jloleysens opened #3399 "Nested Drag and Drop"
Using the EUI drag and drop component with nested droppables & draggables currently does not work. See the following sandbox for information on the versions and behaviour of nested drag and drop:

https://codesandbox.io/s/eui-nested-drag-and-drop-tdv3b?file=/src/App.tsx

*EDIT*: particularly when moving nested draggables into / out of parent components or into child components.

It would be ideal

[2020-04-29 08:21] flash1293 opened #3400 "EuiDataGrid: Add footer row"
The Kibana app team is currently rewriting the data table visualization with the data grid component (https://github.com/elastic/kibana/issues/64444).

The data table features a slightly different styled "summary" row which is shown on each page in the bottom of the table (the "total column" of the screenshot below):
<img width="1279" alt="Screenshot 2020-04-24 at 18 03 24" src="https://user-image

[2020-04-29 10:51] #3374 closed

[2020-04-29 11:38] bollinic commented on #3395
it's working great 👍  and I am not seeing the console warning about the violation of the HTML5 spec I am not sure how it's possible

[2020-04-29 13:06] #3391 closed

[2020-04-29 13:36] ryankeairns opened #3402 "Improve contrast for EuiCollapsibleNav close link"
In testing the new nav component in Kibana, it was noted that the close link can become obfuscated by content underneath the overlay mask, as seen below.

A solution that insures better contrast would significantly improve the readability and accessibility of this link.

![](https://user-images.githubusercontent.com/25181823/80533565-d23de880-896b-11ea-9cfa-6b780ec3f387.png)

[2020-04-29 15:08] thompsongl opened #3403 "Puppeteer-related CI failures"
Noticing an increase in CI failures (both jobs) due to Puppeteer-Chromium download errors:

[Example](https://kibana-ci.elastic.co/job/elastic+eui+pull-request-deploy-docs/976/console):
[code]

No initial thoughts on a cause or remedy.

[2020-04-29 16:26] ryankeairns commented on #3386
@thompsongl Here is a list of the merged, nav-related PRs for the patch release.
@myasonik are there any more to add? Do we want them all?

[2020-04-29 16:34] myasonik commented on #3386
Yeah, might as well get them all in now. @MichaelMarcialis - is it missing anything?

[2020-04-29 16:48] MichaelMarcialis commented on #3386
LGTM!

[2020-04-29 17:01] snide commented on #3400
So I understand the request. You're not looking for us to provide the calculation, you just want a prop to give you space to put something above the pagination, after the grid. I assume this should be fixed, like the pagination in constrained views?

[2020-04-29 17:06] nellicus commented on #3342
I see. thanks @chandlerprall !

[2020-04-29 17:10] flash1293 commented on #3400
@snide yes, exactly. I didn’t think about scrolling yet but having it fixed makes sense to me.

[2020-04-29 17:36] snide commented on #3400
OK. I should be able to add this fairly quickly.

[2020-04-29 18:10] alvarezmelissa87 opened #3406 "EuiTable: add ability to set default selected checkboxes for tables with selection"
Related issue: https://github.com/elastic/eui/issues/1077

This is an enhancement request for table components (Basic and InMemory, primarily).

It would be useful when implementing `selection` to be able to set a default for checkboxes that should be selected/checked by default.

Example use case:

If this table is used as part of a wizard and the user wants to go back to the step with the table

[2020-04-29 18:53] chandlerprall commented on #3386
v22.3.1 is out!

[2020-04-29 18:53] #3386 closed

[2020-04-29 19:33] #3363 closed

[2020-04-30 10:50] walterra opened #3409 "EuiInMemoryTable with custom action with button triggers React console error."
`EuiInMemoryTable` offers a custom `render` prop for action items. When I use that to render a custom button it triggers a React console error like this:

![image](https://user-images.githubusercontent.com/230104/80701690-181bbd80-8ae0-11ea-8779-fe65124c85ed.png)

From what I can see is it's because the popover item always gets rendered with another button, regardless of whether `onClick` or `rend

[2020-04-30 11:07] jloleysens commented on #3399
After digging around in the code a little I can see the logic for managing👆🏻all lives inside of react-beautiful-dnd. I found an issue (https://github.com/atlassian/react-beautiful-dnd/issues/1001) with a comment (https://github.com/atlassian/react-beautiful-dnd/issues/1001#issuecomment-479734485) that hints at a solution to this.

I'll try to adjust my code according to that example, but this stil

[2020-04-30 15:06] snide commented on #3399
Yep. Just for some expectation. This one isn't on our roadmap for the next minor and it's a pretty specialized request that's more to do with the upstream lib. If you are interested in jamming on it we're happy to help review and support (in either repo)

[2020-04-30 15:40] chandlerprall commented on #3409
It looks like that is done to make the whole action area - including the icons and margin - clickable. Knowing that the custom render does get wrapped in a button, does it make sense to change your render's return to not be a button?

[2020-04-30 15:41] #3362 closed

[2020-04-30 15:55] #1298 closed

[2020-04-30 16:06] cchaos commented on #3395
Glad to hear it! I'll close this issue then and consider adding a similar example, or a similar `display` prop that EuiPopover has.

[2020-04-30 16:06] #3395 closed

[2020-04-30 16:56] chandlerprall commented on #3342
Gonna close this one, feel to re-open if you the above work-around ends up not working for you

[2020-04-30 16:56] #3342 closed

[2020-04-30 17:05] chandlerprall commented on #3394
I cannot reproduce this locally or at https://elastic.github.io/eui/#/tabular-content/tables

[2020-04-30 17:05] #3394 closed

[2020-04-30 17:07] ashikmeerankutty commented on #3406
@cchaos @alvarezmelissa87  I would like to work on this.

[2020-04-30 17:13] chandlerprall commented on #3406
@ashikmeerankutty please do!

Make sure to read through the related issue #1077 , ideally we arrive at a consolidated way to set an initial set of selection values and a good way to update them after mount. The table code gets messy quickly, don't hesitate to ask questions as you dig through the components!

[2020-04-30 18:10] #3393 closed

[2020-04-30 19:29] simianhacker commented on #1454
@thompsongl This is happening inside a popover but the switch is happening from the context menu. Adding the `initialFocus` to the popover won't fix the issue since the elements we would need to target are not on screen yet.

[2020-04-30 19:57] myasonik opened #3412 "[EuiRange] and [EuiDualRange] with `showInput` should add `aria-hidden` to track and sliders"
When `showInput=true` is set, we remove the track and sliders from the tab order  making them unusable by keyboard and, effectively, by screen readers as well.

If this is intentional (which I think works fine), we should add `aria-hidden` to the track and sliders (otherwise they require their own accessible names even though they're not actually reachable).

[2020-05-01 10:56] seeruk commented on #1712
Not sure if this'll be related to this issue, but there's something odd going on right now in the latest version of EUI where if I lock the NavDrawer, then unlock it, it doesn't detect the outside clicks and close the NavDrawer. Maybe something caused by the TypeScript migration?

[2020-05-01 11:18] seeruk opened #3414 "[EuiNavDrawer] Doesn't detect outside clicks after being unlocked"
This issue is reproducible in the documentation; open the full screen EuiNavDrawer, open the nav drawer on the left, lock it, then unlock it. If you click outside of the nav drawer now, you'd expect it to close, but it doesn't.

I'll open a PR in a moment that seems to resolve this issue.

[2020-05-01 20:02] ashikmeerankutty opened #3416 "EuiBasicTable selection doesn't work as expected when id is 0"
When data with `id` = 0 is given. EuiBasicTable selection doesn't work as expected.

![Screen Cast 2020-05-02 at 1 24 44 AM](https://user-images.githubusercontent.com/10515204/80837268-1ce18e00-8c14-11ea-8109-458e064bcfe0.gif)

This issue can be found at [docs page](https://elastic.github.io/eui/#/tabular-content/tables) in `Adding selection to a table` table `page 3` `3rd row`

[2020-05-02 01:03] seeruk commented on #1713
I've sort of worked around this issue in a semi-hacky way right now. It might be less hacky if EuiOutsideDetector's API were extended to allow you to ignore other elements somehow.

What I've done is wrapped the EuiNavDrawer in my own EuiOutsideClickDetector, in that one I've specifically made it ignore outside clicks from my mobile toggle button:

[code]

Then as you can see partially there, I'm

[2020-05-04 17:44] #3416 closed

[2020-05-04 19:52] #3414 closed

[2020-05-04 20:28] thompsongl commented on #3412
It was intentional, yes.

[2020-05-05 03:16] hieund020896 opened #3420 "[EuiFieldSearch] onSearch trigger 2 time when press enter"
When I press enter the function in onSearch does it twice.

[2020-05-05 08:29] timroes opened #3421 "[EuiDataGrid] Columns popover should not only show ids"
Currently the popover to control visibility of columns and reodering them always shows the `id` property of that column. I think it would make more sense to show the `display` of that column or introduce at least a mode to configure that.

The `id` of a column can be something very technical, that the user otherwise will never see and thus cannot make a connection to the column they are seeing. e.

[2020-05-05 09:08] ashikmeerankutty opened #3422 "[EuiBasicTable] shows no items if all items of last page is deleted"
In EuiBasicTable if all items on the last page are deleted. The table shows no Items found.

![Screen Cast 2020-05-05 at 2 35 38 PM](https://user-images.githubusercontent.com/10515204/81050531-c3ac7f80-8edd-11ea-8a31-7d07393aa2c3.gif)

[2020-05-05 18:44] anishagg17 commented on #3420
Would love to work on this one

[2020-05-05 18:59] chandlerprall commented on #3420
Go for it!

[2020-05-05 19:06] anishagg17 commented on #3420
@hieund020896  I tried all examples of `EuiInMemoryTable` where `EuiFieldSearch` is used But couldn't reproduce the issue. Can you share some demo?

[2020-05-05 19:33] anishagg17 commented on #3422
What should be the desired behavior, should the user be redirected to the previous page or the first page?

[2020-05-05 19:42] anishagg17 commented on #3140
I would soon make a pr for this when my other prs get closed.

[2020-05-05 20:18] naderhen opened #3426 "[EuiSearchBar] Allow Escaping @-symbol (or any configurable set of tokens)"
I'm having a problem that seems similar to the one described in https://github.com/elastic/eui/issues/2788. Attempting to search for an exact email address is considered invalid. Is there any way to extend the parsing logic via props/configuration that would allow this use case?

![image](https://user-images.githubusercontent.com/99392/81111931-d7f77900-8eeb-11ea-8c0a-07178582ff9b.png)

![image](h

[2020-05-05 20:23] chandlerprall commented on #3422
That's a good question. @thompsongl what are your thoughts? On one hand, basic table could detect an out-of-bounds page and call onChange to move it to the last one; on the other, the app itself owns paginated and we could say it's up to it (and the example) to ensure correct pagination data.

[2020-05-05 20:33] chandlerprall commented on #3421
That one sounds best to me. We'll want to use the same value in the `Sort fields` popover, and it wouldn't surprise me if there's more places to re-use it in the future.

[2020-05-05 21:04] chandlerprall commented on #3426
Similarly, there was a recent request (through slack) for commas to be supported in quoted values.

The syntax for phrases (quoted values) is at

https://github.com/elastic/eui/blob/f937facb3f7647c5c9cacb146436d472082f651f/src/components/search_bar/query/default_syntax.ts#L164-L167

Which matches case-insensitive `or`, parenthesis, and wordChar which is defined as https://github.com/elastic/eui/bl

[2020-05-06 02:36] #3420 closed

[2020-05-06 14:30] thompsongl commented on #3422
At the very least, it appears to be an error that the pagination bar becomes hidden in this scenario. I think we could go just a bit further and detect the out-of-bounds page and move to the actual last page.

[2020-05-06 14:39] chandlerprall commented on #3422
Via the callback (make the application update and fix the problem), or just ignore the invalid input at that point and clamp to the valid page range? (< 0 becomes 0, > MAX becomes MAX)

[2020-05-06 16:12] TAYTS opened #3429 "Overlay Mask child element onClick event bubble up"
Hi, may I know is it possible to add a check on the event target for the `OverlayMask` component to prevent `onClick` getting triggered by the bubbling up of the child element's click event?

The use case is that I was trying to allow both the `EuiOverlayMask` and `EuiModal`'s close button to close the modal. However, when I tried to submit the modal form, the `EuiOverlayMask`'s `onClick` got trig

[2020-05-06 16:18] thompsongl commented on #3422
Clamp to the valid page range. Seems like pagination_bar could detect when pageIndex > pageCount (which is _not_ part of parent state) and use the `onChangePage` callback to set parent state to next-to-last page

[2020-05-06 16:54] chandlerprall commented on #3422
Thanks!

Good observation

@ashikmeerankutty does that make sense?

[2020-05-06 17:44] chandlerprall commented on #3429
I think the solution depends on:

@cchaos how do we want consumers to think about the overlay mask:

* it wraps the modal content in the DOM (how it actually works)
* it is independent from the content (maybe we change it to be siblings in the future)
* consumers should never care

If the first, the answer here _might_ be for the consumer to `stopPropagation()` on those clicks, or to check if the

[2020-05-06 18:31] ashikmeerankutty commented on #3422
@chandlerprall I think I got it. I will make a PR for the same. 👍

[2020-05-06 20:01] #2842 closed

[2020-05-06 20:01] #3156 closed

[2020-05-06 22:05] steve-offutt opened #3433 "EuiSuperDatePicker UTC offset"
My team and I are using this library to mainly do review of logs. We have had a lot of success using your other components contained in this library. It's been great! However, there is one issue that I need help with. This application that we are using uses the `EuiSuperDatePicker` to filter and search through logs. The user is expected to perform the search in UTC as we get logs from all differen

[2020-05-06 22:32] cchaos commented on #3433
The underlying component within EuiSuperDatePicker are our regular EuiDatePickers so it stands to reason that we should be able to pass down the `utcOffset` prop.

[2020-05-06 23:21] anishagg17 commented on #3433
Working on this one 🔧

[2020-05-07 03:45] snide commented on #3400
Ok, started building this one out then started thinking about how we'd want to use this. Do you...

1. Want a grid like row that, regardless of pagination, is always present as the last row. This would likely be a new property on the `columns` object. It would act like a real row otherwise.
2. Want an empty area under the grid, above the pagination where you can pass anything (non gridlike data)?

[2020-05-07 04:14] snide opened #3434 "EuiSuggestInput needs to use a textarea, rather than a text input"
As a quick fix for https://github.com/elastic/kibana/issues/36140 we're going to try and use a text area for the KQL search bar so that the user can have expand the area where a query might be run. This will require:

* `EuiTextArea` to start using `EuiFormControlLayout` like our other components and be styled appropriately (specifically figure out how to handle append and prepend)
* `EuiTextArea`

[2020-05-07 05:20] cchaos commented on #3434
Sorry to be a negative nelly. But I feel like we're brute forcing this solution. I'm very concerned about three things.

<img width="1061" alt="Screen Shot 2020-05-07 at 1 01 03 AM" src="https://user-images.githubusercontent.com/549577/81257279-d4a1e180-9000-11ea-93de-b7cf2f827323.png">

1. The prepend/append options. They **will not** act appropriately as designed. We've already run this through

[2020-05-07 05:45] chetanmajithiya opened #3435 "EuiGlobalToastList render it into Left side props (currently it's default rightside) ?"
https://elastic.github.io/eui/#/display/toast

[2020-05-07 06:17] walterra commented on #3409
Thanks for clarifying, the way we use it is not ideal. We'll refactor our code.

[2020-05-07 06:17] #3409 closed

[2020-05-07 07:05] flash1293 commented on #3400
@snide For the use case of table vis it would be option 1.

cc @timroes to keep you in the loop here.

[2020-05-07 07:55] weiklr opened #3437 "Flyout generates two EuiOverlayMask when ownFocus is enabled"
Hi,

I'm using the latest version (23.2.0) of elastic UI and was trying the "Small Flyout, own Focus" demo in my own dev environment.

When I click the button, i realize the overlay mask stays on even though the drawer has closed.

On inspecting the browser console, i realize there's two EuiOverLayMask component created when the drawer is open. When the drawer is closed, there's still one remainin

[2020-05-07 12:17] shahzad31 commented on #2393
i can no longer reproduce this issue, i don't see any activity here, but the code on basic table seems like have been refactored.

[2020-05-07 12:17] shahzad31 commented on #2393
so i am closing this.

[2020-05-07 12:17] #2393 closed

[2020-05-07 13:57] snide commented on #3434
I don't disagree with you. I think you got the impression I was OK with the results of the gif. I was just showing the basic functionality should be **possible** and requires more work (mentioning that it would need some styling considerations). This is just an issue to state the problem exists and needs attention.

[2020-05-07 14:35] myasonik commented on #3400
From the screenshot above, it kind of looks like both, doesn't it?

A grid row for the totals and a empty area for the data export.

[2020-05-07 14:35] #3412 closed

[2020-05-07 14:40] flash1293 commented on #3400
It's not a strict requirement for the export button to stay in that position - I think it's more accidental in the current UI.

[2020-05-07 14:49] snide commented on #3400
Export would be fine using the additionally toolbar controls that the grid already provides. I'll need to think about the footer though since it needs to output in the grid. That'll likely push it into needing an engineer.

[2020-05-07 15:03] chandlerprall commented on #3435
`EuiGlobalToastList` was designed to be on the right side of the screen to avoid obscuring the side nav bar. However, it makes sense to let this be configured by the application.

Will need a new prop, `side`, which defaults to `right`, along with an accompanying CSS class to change the element's fixed position.

[2020-05-07 15:08] chandlerprall commented on #3437
I'm unable to reproduce a double overlay on https://elastic.github.io/eui/#/layout/flyout (which currently uses v23.2.0). Can you provide the steps you're taking to navigate to and toggle that flyout?

[2020-05-07 15:11] chandlerprall commented on #2393
For completeness - this was likely fixed by #2754

[2020-05-07 15:12] snide commented on #3434
@MichaelMarcialis is going to take on the design work for this one. I'll support him getting his concepts into EUI.

[2020-05-07 15:18] chandlerprall commented on #3400
At the very least it'll need a pass around element focus - mouse may Just Work, but keyboard nav won't

[2020-05-07 15:19] anishagg17 commented on #3435
Working on this one

[2020-05-07 15:37] miukimiu commented on #3402
Hi @ryankeairns,

I was thinking to add a background behind the **close** link. What do you think about one of these two options?

<img width="1800" alt="Options - EuiCollapsibleNav Close Button@2x" src="https://user-images.githubusercontent.com/2750668/81314070-964c0700-9080-11ea-9913-7e128c939611.png">

You can find the Figma project [here](https://www.figma.com/file/rmB9s2T1IkxITMpBsFiuSE/EuiCo

[2020-05-07 15:51] snide commented on #2998
This was fixed with https://github.com/elastic/eui/pull/3375

[2020-05-07 15:51] #2998 closed

[2020-05-07 16:03] walterra opened #3439 "[EuiDataGrid] Needs more documentation on how it adapts to container widths"
There seems to be an issue related to responsive media queries or similar with `EuiDataGrid`'s header:

In the first example, the data grid is wrapped in a `<EuiFlexItem style={{ minWidth: '480px' }}>` and works as expected: When we hide all columns, all data disappears, but the menu is still available and we can re-enable columns.

![datagrid-header-1](https://user-images.githubusercontent.com/23

[2020-05-07 16:16] snide commented on #3439
This is due the container collapsing, likely because you have wrapping elements around the grid that effect its size (like a flex element shrinking). You'll want to make sure you set the container to have a min-width. Usually setting some parrent to have 100% will fix the issue. The grid merely adapts to the size of it's container based upon the content it has. If it has no content, and the contai

[2020-05-07 17:21] chandlerprall opened #3441 "Apply an eslint rule to give forwardRef components a displayName"
From reviewing #3440 - it's important to retain the component displayName when wrapping with forwardRef. I suspect this is doable in a few different ways, but either way we should find or create an eslint rule to enforce whatever pattern we come up with.

[2020-05-07 18:53] ryankeairns commented on #3402
Thanks @miukimiu , of that set, I prefer Option 2.

I was curious to see a white background version, but I see in the Figma file you've already done that :) The light gray background seems to blend better with the big shadow coming from the nav versus the white.

[2020-05-07 19:55] myasonik opened #3443 "[EuiDualRange] + [EuiRangeInput] types are too permissive and don't match"
## Summary
Change all occurrences of `number | string` types to only allow `number`

## Why?
It's confusing accepting both. I realize this was probably done to pave over whatever craziness the DOM might return, but I think pushing a `parseInt` into consuming apps is worth the type checking cleanliness.

Especially when it's inconsistent with `EuiRangeInputProps` which only accepts `number` for `mi

[2020-05-07 19:57] myasonik commented on #3443
@thompsongl Looks like you wrote this component, what do you think?

[2020-05-07 20:55] thompsongl commented on #3443
Definitely worth taking another look.

These were originally loosely prop-typed JS components, and when I converted them to TS I tried to avoid breaking changes.

[2020-05-07 22:21] thompsongl commented on #3433
After reviewing #3436, it doesn't appear that the `utcOffset` prop in `EuiDatePicker` does what it says/what we think.

In the docs, the actual UTC offset is done on `selected` value itself:

https://github.com/elastic/eui/blob/12074a5827c27500ade1747661c59608b0980cf6/src-docs/src/views/date_picker/utc.js#L43-L45

And passing _just_ the `utcOffset` value has no effect.

There are 0 usages in Kiban

[2020-05-08 04:00] weiklr commented on #3437
I simply copied the code from the "Small Flyout, Own Focus" demo to its own jsx file, and run it like it's described in the demo.

[2020-05-08 04:28] weiklr commented on #3437
I realize this is  because of React's <StrictMode /> component in App.js. This comes with every react app that's created with CRA. If i remove it, the flyout works as intended.

More details here:
https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[2020-05-08 07:22] walterra commented on #3439
We can work around it in our case by setting a `min-width` that's higher than `480px`.

That's not affecting our use case but in general this might still be something that could confuse users:
If the container and data grid have a fixed width of smaller than `480px`, some header items will disappear.

<img src="https://user-images.githubusercontent.com/230104/81381004-31d68980-910c-11ea-825f-5964f

[2020-05-08 10:36] walterra commented on #3439
Just spotted that docs part about containers and that it mentions that it will hide controls: https://elastic.github.io/eui/#/tabular-content/data-grid-styling-and-toolbar

Maybe it makes sense to just add a note of caution there about using `flex` and percentage instead of pixel widths?

Feel free to close this issue!

[2020-05-08 10:46] miukimiu commented on #3402
Thanks @ryankeairns,

I added two more options with a light gray background. I also added a better background screenshot based on @cchaos Figma comments.

<img width="1800" alt="Options - EuiCollapsibleNav Close Button@2x" src="https://user-images.githubusercontent.com/2750668/81398411-12962700-9121-11ea-8b73-a3d9a192f32c.png">

You can find the Figma project [here](https://www.figma.com/file/rmB9

[2020-05-08 13:24] ryankeairns commented on #3402
Thanks! Most of all, I prefer the lighter weight font as it detracts the eye less. I could go either way on the light gray/white and slightly prefer the blue text.

[2020-05-08 13:42] cchaos commented on #3402
I prefer the white as well. The other thing we can do, since this was implemented mostly for keyboard users, is to wrap this one in the `<EuiScreenReaderOnly showOnFocus>` component. Then make sure there's a good visible focus ring around it as well.

[2020-05-08 15:37] snide commented on #3439
Yeah. I think this is mostly a docs issue. The grid is a little magical in how it adapts (which is good most of the time), and there needs to be more docs that explain how that works. I'll leave this issue up as a reminder to fix. I think I should also adjust the media query to still show the "columns" list along with the fullscreen button as long as their is room.

[2020-05-08 17:14] anishagg17 opened #3444 "[Docs] EuiResizableContainer not Imported in correct manner"
![Screenshot 2020-05-08 at 10 41 07 PM](https://user-images.githubusercontent.com/43617894/81430426-03dd5d80-917d-11ea-9fc2-b669fb1b0c1a.png)

import statement should be

`import { EuiText, EuiResizableContainer } from '@elastic/eui';`

instead of

`import { EuiText, EuiResizableContainer } from '../../../../src';`

[2020-05-08 18:03] anishagg17 commented on #3444
I have fixed it , I would make a pr when any of my pr gets closed

[2020-05-08 18:29] cjcenizal opened #3445 "[EuiInMemoryTable] Pagination breaks when `search.onChange` is configured"
To reproduce this problem, configure an `EuiInMemoryTable` with something like this:

[code]

The bug arises due to the new array being generated each render by the filtering logic. `EuiInMemoryTable` deliberately treats a new array as a trigger for resetting pagination to the first page. This manifests as nonresponsive pagination whenever `search.onChange` is configured.

After discussing this wi

[2020-05-08 23:56] cjcenizal commented on #3445
As you can see in https://github.com/elastic/kibana/pull/65931, the solution can get a little more complicated when you consider that items might be deleted (or added). In these cases, table won't update, because the original list of items no longer acts as an input to the render method. This requires the introduction of a `getDerivedStateFromProps` method to update the filtered items cache when t

[2020-05-09 10:21] frank-mendez opened #3450 "EuiTabbedContent TypeError: Cannot read property 'content' of undefined"
I tried to create a dynamic tab content
`const tabs = [];`
  `credentials.map((item) => {`
    `tabs.push({`
      `id: item.ID + '--id',`
     ` name: item.credential_name,`
      `content: (`
      `  <Fragment>`
         `<EuiText>Test</EuiText>`
       ` </Fragment>`
     ` ),`
   ` });`
 ` });`

Returns TypeError: Cannot read property 'content' of undefined

[2020-05-09 10:29] frank-mendez commented on #3450
<EuiTabbedContent
      tabs={tabs}
      initialSelectedTab={tabs[0]}
      autoFocus='selected'
      onTabClick={(tab) => {
        console.log('clicked tab', tab);
      }}
    />

[2020-05-10 09:32] seeruk commented on #2520
I've been thinking about the CSS-in-JS part of this a fair bit, wouldn't CSS modules also work, along with CSS variables? That way there's no need to pull in another library, and it would work well out of the box with create-react-app. You'd still get scoping and modularisation with it too.

[2020-05-11 09:41] lior-fortifieddata opened #3453 "table filter counters"
hi this is not a bug but a question:

I've noticed that in Kibana there are table filters with counters by the data, and I can't find it in EUI samples.
can anybody assist with achieving that?

![image](https://user-images.githubusercontent.com/59799643/81547342-648ab700-9384-11ea-973e-31a823d4d9a7.png)

![image](https://user-images.githubusercontent.com/59799643/81547371-6f454c00-9384-11ea-9b6b-5

[2020-05-11 11:30] lior-fortifieddata opened #3455 "customize colors"
hello,

is there a way to customize the theme colors? for example, instead of primary be #006BB4 make it blue

I found this guide, but it's not very clear.
does it suggest that I should change the code inside node_modules?

thanks

[2020-05-11 12:48] matchatype opened #3456 "[EuiFlyout] Popover and other positioned elements within should not scroll with the page"
Absolutely positioned elements do not seem to work correctly when they are wrapped in a flyout component. They scroll with the rest of the page.

Check the "More complicated flyout" on the official style guide for reproduction.

![flyout](https://user-images.githubusercontent.com/28128/81563367-2c737c00-9364-11ea-8e38-8de31689059a.gif)

[2020-05-11 14:57] timroes opened #3458 "[EuiComboBox] Label not calculated correctly"
It seems we have some issues in the `EuiComboBox`, that the label shown when your query doesn't match any item in the list.

Earlier we could see a message like "Hit Enter to create that item" in the popover. It seems that code still exists: https://github.com/elastic/eui/blob/master/src/components/combo_box/combo_box_options_list/combo_box_options_list.tsx#L223:L254

But it's never triggered, bec

[2020-05-11 15:06] snide commented on #3456
This is mostly capture by https://github.com/elastic/eui/issues/1236

I'll close that one, since this one has a more general writeup.

[2020-05-11 15:06] snide commented on #1236
Closing in favor a more generic writeup in https://github.com/elastic/eui/issues/3456

[2020-05-11 15:06] #1236 closed

[2020-05-11 15:13] chandlerprall commented on #2520
A key requirement we have is supporting multiple themes and allowing overriding/customizing those in applications. Today this is solved by shipping full, static builds for each theme and those can be overridden by the application by doing a custom build (not great, but it supports the requirement). We have a lot of layers of SCSS variables / mixins which adds that dynamism (at build time), and are

[2020-05-11 15:19] #3455 closed

[2020-05-11 15:26] snide commented on #3453
The code for that table lives over here in Kibana. If you search around, you should be able to see some of how they handle it.

https://github.com/elastic/kibana/blob/master/src/plugins/saved_objects_management/public/management_section/objects_table/components/table.tsx

[2020-05-11 15:26] #3453 closed

[2020-05-11 16:14] cchaos commented on #3450
HI @frank-mendez , I just tested your example and couldn't get the same error. Were you able to get it working or could you explain more of your implementation details?

[2020-05-11 16:19] TAYTS commented on #3429
@chandlerprall @cchaos
May I know is there any updates regarding this issue?

[2020-05-11 16:25] thompsongl commented on #3057
@anishagg17 We'll use this issue to discuss and track modifications to your proposal.

Comment in this thread and then I can assign the issue to you.

[2020-05-11 16:26] thompsongl commented on #3056
@ashikmeerankutty  We'll use this issue to discuss and track modifications to your proposal.

Comment in this thread and then I can assign the issue to you.

[2020-05-11 16:34] ashikmeerankutty commented on #3056
@thompsongl Thanks!

[2020-05-11 16:52] cchaos commented on #3429
I ran around in circles about the correct "implementation" for the behavior but couldn't come up with a solid solution so instead I'll just describe the expected behavior:

**Consumer provides `onClick` to EuiOverlayMask with children, the children should not receive the close action from the overlay, (no matter if the content is interact-able or not). Meaning, even if the overlay's children is si

[2020-05-11 16:56] sarahetter opened #3459 "Card icon property does not take type null"
The acceptable types for EuiCard are either a React Component or `undefined`. We're using a function to get the Icon component. Sometimes we (in Cloud) do not want to display an icon, which is typically done by returning null.

Can null be added as an accepted type?

[2020-05-11 17:01] lior-fortifieddata commented on #3455
Does it require to download the source>modify>build locally or can be done from my source (create react app)

When saying
"Create a src/themes/my_theme_name/ directory."
Does it mean my project's root or something else?

Sent from Outlook Mobile<https://aka.ms/blhgte>

[2020-05-11 18:58] chandlerprall commented on #3459
Agreed! Let's widen that type to support `null`s

[2020-05-11 19:11] chandlerprall commented on #3429
@TAYTS with all of that, we'll take your suggestion with one modification: will need to compare `this.overlayMaskNode === e.target` instead of `this`. Would you like to put a PR together for the change?

[2020-05-11 20:42] #3433 closed

[2020-05-11 20:43] thompsongl opened #3461 "[EuiDatePicker] Investigate `utcOffset` prop"
After reviewing #3436, it doesn't appear that the `utcOffset` prop in `EuiDatePicker` does what it says/what we think.

In the docs, the actual UTC offset is done on `selected` value itself:

https://github.com/elastic/eui/blob/12074a5827c27500ade1747661c59608b0980cf6/src-docs/src/views/date_picker/utc.js#L43-L45

And passing _just_ the offset value via  the `utcOffset` prop  has no effect.

As su

[2020-05-11 22:22] thompsongl commented on #3461
FWIW, `utcOffset` is from `react-datepicker`, but it was removed from the API in a version more recent than the EUI fork.

[2020-05-12 02:09] TAYTS commented on #3429
@chandlerprall I have created the PR(#3462)

[2020-05-12 08:26] chetanmajithiya opened #3464 "Elastic UI in Next.js, creased when use Collapsible nav.(V23.3.0)"
https://elastic.github.io/eui/#/navigation/collapsible-nav

i'm using this template,
https://github.com/elastic/next-eui-starter

 i want to use V.23.3.0 EUI not working with this version

[2020-05-12 15:07] atifsyedali opened #3466 "onPanelWidthChange for EuiResizeableContainer only provides sizes for two panels"
First, thank you for this amazing library of components!

Problem:

1. When I attach an `onPanelWidthChange` on an `EuiResizableContainer`, the provided argument only gives sizes for two panels that are currently change.

2. Furthermore, it assumes those two panels are the only ones in the container, such that one panel takes up the space of the other panels not indexed in the provided object.

3.

[2020-05-12 16:57] snide commented on #3400
Hey @flash1293. We had a quick breakout on this in our weekly. Unfortunately I misunderstood your original request. This one is going to need a real engineer 😄

With our current roadmap we're pretty focused on getting the Markdown editor out the door in 7.9. We can add this an an enhancement request for 7.10. If that's too late I'd suggest one of the following:

1. We can do a quick zoom and sugge

[2020-05-12 17:09] snide commented on #3455
The Gatsby repo has a good example of how you import EUI sass into a project.

https://github.com/elastic/gatsby-eui-starter/blob/master/src/themes/theme_light.scss#L1-L9

From here, you would essentially enhance the global_styling layer with any overwrites you would have for variables in there. For example, you might decide to overwrite the colors.

So within your project it would look like this:

[2020-05-12 17:14] lior-fortifieddata commented on #3455
Thank you sir

Sent from Outlook Mobile<https://aka.ms/blhgte>
________________________________
From: Dave Snider <notifications@github.com>
Sent: Tuesday, May 12, 2020 8:09:45 PM
To: elastic/eui <eui@noreply.github.com>
Cc: Lior Goldemberg <LGoldemberg@fortifieddata.com>; Author <author@noreply.github.com>
Subject: Re: [elastic/eui] customize colors (#3455)

The Gatsby repo has a good example of

[2020-05-12 17:38] #3444 closed

[2020-05-12 18:02] chandlerprall commented on #3437
Ahh, now I understand what's going on. Yep, that's a problem. I confirmed moving the overlay's `document.body.appendChild(this.overlayMaskNode);` from its constructor and into the did mount life cycle fixes this particular issue.

We should enable strict mode in our docs, work on identify other existing places like this, and fix. /cc @thompsongl for visibility

[2020-05-12 20:05] miukimiu commented on #3464
Thanks for reporting the issue. 🙂

I'm closing this in favor of https://github.com/elastic/next-eui-starter/issues/4. We need to update the starter to handle the latest version of EUI.

[2020-05-12 20:05] #3464 closed

[2020-05-12 21:23] chandlerprall commented on #3466
@thompsongl I think it makes sense to fire the onPanelWidthChange callback with all of the sizes, instead of just the two affected, thoughts?

I could not replicate point 2. For testing, I modified the docs' *Horizontal resizing with three panels* section to log the sizes object, and those values looked correct (not consuming the entire space).

_src-docs/src/views/resizable_container/resizable_co

[2020-05-12 21:38] sarahetter opened #3468 "EuiStepProps type not being exported"
We are unable to import `EuiStepProps` and get the error `Module '"@elastic/eui"' has no exported member 'EuiStepProps'.`

[2020-05-12 22:07] cchaos commented on #3468
Yeah it isn't exported at the top level, you'll have to import it from `@elastic/eui/src/components/steps/step`

[2020-05-13 03:52] atifsyedali commented on #3466
@chandlerprall You are right about (2). Apologies -- my math was off. My third column was tiny so I rounded up in my head.

On a related note, is there a way to not make EuiResizeableContainer a controlled element when `onPanelWidthChange` is supplied? For example, to only receive the callback `onPanelWidthChange` so that the values can be persisted, and the size is set with `initialSize` instead.

[2020-05-13 08:17] flash1293 commented on #3400
Thanks for the context, @snide . The timeline is not decided yet, it will be in the next planning round (~2 weeks from now). I will keep this issue updated.

[2020-05-13 09:06] timroes opened #3469 "[EuiDataGrid] EuiOverlayMask needs a higher z-index when in fullscreen"
The data grid fullscreen currently has a z-index of 8000, while the `EuiOverlayMask` has a z-index of only 6000. I think the `EuiOverlayMask` should have a higher z-index than pretty much everything else. Currently if you have actions in a data grid that will open a modal, this won't show when in fullscreen because it's hidden behind the fullscreen mask. I think it would make sense to still see mo

[2020-05-13 14:17] MichaelMarcialis commented on #3434
@snide, @cchaos, @ryankeairns: Below is a quick take on the short-term fix for the query bar. It's similar to Dave's earlier exploration, with a few small differences. Basically:

- Expand `textarea` vertically to show full contents (up to sensible `max-height`) on user `input` and `focus` events. Doing so should allow us to disable the `textarea` resize.
- The `textarea` would be absolutely posit

[2020-05-13 14:24] thompsongl commented on #3468
We should export the props interfaces for each of the components exported in `steps/index.ts`

[2020-05-13 14:35] thompsongl commented on #3466
Thanks for the feedback, @atifsyedali

Just to clarify, it sounds like your ideal case is:

1) Have an uncontrolled `EuiResizeableContainer` (no `size` prop in use)
2) Subscribe to panel size changes for persistence
3) Use those persisted panel size values to set `initialSize` for initialization/reload

[2020-05-13 15:23] cchaos commented on #3434
I think the prototype works for an interim solution. I would suggest (pun intended), that if it truly is an interim solution we don't do this in EUI. The [Kibana implementation](https://github.com/elastic/kibana/blob/master/src/plugins/data/public/ui/query_string_input/query_string_input.tsx) doesn't yet use EuiSuggest and the release loop from EUI dev, to release, to Kibana upgrade, to Kibana rep

[2020-05-13 15:28] anishagg17 commented on #3057
@thompsongl Sorry for the late reply , I think my `mention notifications` are turned off.

Sure this would be great!

[2020-05-13 15:35] atifsyedali commented on #3466
@thompsongl yes that would be ideal!

[2020-05-13 15:48] #3402 closed

[2020-05-13 15:48] thompsongl commented on #3057
@cchaos We'll use this issue to track discussion for the EUI docs project. Post anything you've been thinking about for design, etc.

I'll be updating the main summary area soon

[2020-05-13 15:54] cchaos commented on #3057
My current thoughts are that I'd like to avoid creating a new tab to each documentation section. Instead, I'm thinking that it's basically a separate page(application) with all the components listed in it's own side nav on the left and toggles/code editor on the right. Then each component in our normal docs would just have a button/link that goes to it's playground section in this new page/app. I'

[2020-05-13 18:04] bevacqua opened #3472 "[EuiLoadingContent] Make indicators lighter?"
This type of indicator is usually used to build out skeleton screens, and in Cloud we think they'd be a lot better if they were a lighter shade of gray

<img width="970" alt="Screen Shot 2020-05-13 at 15 03 25" src="https://user-images.githubusercontent.com/934293/81848067-ec122a80-952a-11ea-8c7e-0d8716ac72c4.png">

https://elastic.github.io/eui/#/display/loading

[2020-05-13 18:12] bevacqua opened #3473 "EuiCallOut: `title` should be required?"
Currently `title` isn't required and that can lead to misuse, as well as weird boxing:

<img width="1440" alt="Screen Shot 2020-05-13 at 15 10 57" src="https://user-images.githubusercontent.com/934293/81848760-fda80200-952b-11ea-8530-19a9e7264814.png">

We should either make `title` required or remove the `.euiCallOutHeader` element when `title` is missing, as that carries extra spacing. My vote w

[2020-05-13 18:14] cchaos commented on #3472
@daveyholler Maybe something you can tackle in the Amsterdam theme?

[2020-05-13 18:35] snide opened #3474 "[Discuss] Skeleton component and usage"
@bevacqua reminded us that folks are using `<EuiLoadingContent lines={3} />` quite a bit downstream. We've also seen some usage in the SIEM apps that @andrew-goldstein and @XavierM put together. We had a discussion as a team about how to handle these types of loading states and came away with the following discussion points:

### We need more skeleton primitives for off the cuff usage

To "fake" c

[2020-05-13 18:51] PhilDore11 opened #3475 "Add ability to 'control' EuiNavDrawer"
As with other components, exposing `isOpen` and `toggle` props will allow us to hook into that state to update other elements of the UI.

[2020-05-13 19:17] PhilDore11 commented on #3475
Current workaround looks a bit like this:
[code]

Example of solution:
[code]

[2020-05-13 19:29] cchaos commented on #3475
Welcome @PhilDore11.

We've recently released a different navigation drawer component called [EuiCollapsibleNav](https://elastic.github.io/eui/#/navigation/collapsible-nav) that will eventually fully replace EuiNavDrawer. This means that we won't be supporting enhancements to EuiNavDrawer, only bug fixes.

I'd suggest switching to this new component, otherwise it sounds like you found a workaround

[2020-05-13 19:29] #3475 closed

[2020-05-13 19:36] kaleighflynn commented on #3472
Wanted to show a comparison of what we have in mind for the loading state using the current loading/text content color and a lighter EUI shade. It definitely makes the page less overwhelming and heavy with something lighter (shade here is just an example)

**Current EUI loading color**
<img width="1440" alt="with current loading color" src="https://user-images.githubusercontent.com/54046474/818568

[2020-05-13 20:19] timroes opened #3476 "[EuiDatePicker] Fix display in overflow containers"
Currently `EuiDatePicker` does not work properly when places e.g. in a Modal where it doesn't have enough space. Instead it will just cause it's parent `overflow: auto` container to scroll:

![screenshot-20200513-204914](https://user-images.githubusercontent.com/877229/81860880-aa53a500-9567-11ea-86f4-eac0b1d669cf.png)

It would be nice if it would be able to be used in these scenarios too.

[2020-05-13 20:23] timroes commented on #3476
Digging a bit in the code, it seems there are basically two ways this could potentially work:

1. Use properties passed to `popper` (the library used by `react-datepicker`) to render the popover to somehow move it into an EuiPortal. I've tried this with code like:

[code]

It seems this basically works, but there are some issues, e.g. the stylings are missing, because the styles currently expect t

[2020-05-13 20:38] #3459 closed

[2020-05-13 20:44] cchaos commented on #3473
We're actually trying to be more flexible with our components and I think having EuiCallOut's title be optional is a valid option. It allows consumers to place callouts with more subtlety (gray text instead of colored).

I do see the problem though where we're still displaying the title's wrapping div when there is no content. Should be a quick fix.

---

## To solve:

Ensure the `.euiCallOutHeade

[2020-05-13 21:54] thompsongl commented on #3476
I think Option 2 is the right approach. A similar method is used for `EuiSuperDatePicker`

[2020-05-13 22:23] thompsongl opened #3478 "[EuiInMemoryTable] `getDerivedStateFromProps` can incorrectly block updates"
The `getDerivedStateFromProps` method is set up with a false prioritization of updates. For instance, if both the `items` reference and the `search` reference change, only the `items` update propagates to new component state simply because the update logic occurs first.

https://github.com/elastic/eui/blob/eab1f14363bb0d65240989a87797ae632cdc008c/src/components/basic_table/in_memory_table.tsx#L244

[2020-05-13 22:51] bevacqua commented on #3472
Agreed, it's pretty dark atm. Here's the actual UI side by side with a version where we hack loading styles:

| Actual | Hacked |
|-------|---------|
| <img width="1552" alt="Screen Shot 2020-05-13 at 19 44 27" src="https://user-images.githubusercontent.com/934293/81873457-322eb480-9552-11ea-89af-fd149f902640.png"> | <img width="1552" alt="Screen Shot 2020-05-13 at 19 41 04" src="https://user-imag

[2020-05-14 00:19] daveyholler commented on #3472
This is definitely an improvement. I’ll certainly tackle this in Amsterdam. It’s such a nice improvement though I wonder if we ought to just make this change against the current theme. Thoughts?

[2020-05-14 00:39] snide commented on #3472
I think it's fine to just switch this everywhere.

[2020-05-14 19:22] chandlerprall opened #3482 "Change webpack cache directory when configuration changes"
We use `cache-loader` when running the dev server, which means modifications to build steps like babel aren't caught. The loader has a `cacheDirectory` option which we should use to automatically generate new caches when an underlying configuration changes.

e.g.

[code]

where hash runs the those file contents through [xxHash](https://www.npmjs.com/package/xxhash)

[2020-05-14 19:35] thompsongl opened #3483 "[EuiCodeBlockImpl] testenv mock should pass 'data-test-subj'"
#3405 introduced a `testenv` mock for **EuiCode** and **EuiCodeBlock**.
It needs to also allow for passing `data-test-subj` through to the `code` element.

[2020-05-14 20:02] #3468 closed

[2020-05-14 20:25] #3441 closed

[2020-05-14 20:42] dannya opened #3484 "yarn lint-es fails in Windows command line"
When running `yarn lint-es` on Windows, the following error is thrown in the console:

No files matching the pattern "'{src,src-docs,src-framer}/**/*.{ts,tsx,js}'" were found.
Please check for typing mistakes in the pattern.

This is due to https://eslint.org/docs/user-guide/command-line-interface:

"If you want to use node glob syntax, you have to quote your parameter (using double quotes if you

[2020-05-15 04:30] #3429 closed

[2020-05-15 14:41] jpcarey opened #3488 "clear query button inconsistently displayed for search / EuiSearchBarProps"
Using the `EuiInMemoryTable` with search / `EuiSearchBarProps`, the clear query button does not display when the search state is externally provided.

![image](https://user-images.githubusercontent.com/5118470/82061994-acf8ec00-9686-11ea-9fd4-3582152c8405.png)

To reproduce:
The ["In-memory table with search and external state" example](https://elastic.github.io/eui/#/tabular-content/in-memory-tab

[2020-05-15 15:21] thompsongl commented on #3488
A quick look before the issue was created showed that `search_box` uses `defaultValue` for `query` values, but `field_search` looks at `value` to determine whether to display the clear button. Just a little debug help for whoever takes this on.

[2020-05-15 15:48] nandorojo commented on #2074
@pugnascotia That starter is super useful! I did just drop this minor issue on it (https://github.com/elastic/next-eui-starter/issues/5), as it seems that the nav drawer doesn't have the expected behavior when it's locked. Thanks again for adding it!

[2020-05-15 17:21] chandlerprall commented on #3488
Another bug with the controlled input, reproducible on the Controlled docs:

If a pre-built value is selected and the input then changed by the user, that same pre-built value won't reselect. This is likely a bug in the example docs and not EUI src.

![pre select bug](https://d.pr/i/KUGMOf.gif)