[2020-05-15 18:25] #3484 closed

[2020-05-15 18:32] ryankeairns opened #3489 "Create a stacked header solution"
For the sake of tracking all the related work going into the global header concept, I'm creating this issue to track the EUI portion of the new stacked header design. Likewise, I will create a separate issue to track the navigational search pattern/component within this new header → https://github.com/elastic/eui/issues/3490

Specifically, augmenting `EuiHeader` to display the black bar in this de

[2020-05-15 18:40] ryankeairns opened #3490 "Create navigational/header search solution"
Related to https://github.com/elastic/eui/issues/3489

In order to track work on the global header/navigation solution, I am creating this issue to track the new pattern/component to support the V1 Navigational Search feature as seen below.

<img width="1560" alt="Screenshot 2020-05-15 13 36 06" src="https://user-images.githubusercontent.com/446285/82084534-0b3ac480-96b1-11ea-9da2-7b164af26d3f.png

[2020-05-15 18:56] cchaos commented on #3490
Thanks @ryankeairns. Can you also list out the different states for the search input? Perhaps a link to a Figma file as well?

[2020-05-15 18:58] cchaos commented on #3489
Thanks @ryankeairns, can you list all the component that will be needed inside of this reverse theme header? There will likely need to be custom versions of each to support this reverse theme. Namely I see, some sort of badge and a search input.

[2020-05-15 19:11] cchaos commented on #3489
I think I just need to know what it is. Is it a button or a badge, something new?

[2020-05-15 19:12] ryankeairns commented on #3489
@johnbarrierwilson Is that design the latest or has the switcher moved to the right? Also, what is the status of that badge... is that pretty final or just an idea?

<img width="499" alt="Screenshot 2020-05-15 14 11 57" src="https://user-images.githubusercontent.com/446285/82087639-22c87c00-96b6-11ea-90b0-ae19df136668.png">

[2020-05-15 19:22] ryankeairns commented on #3489
I should clarify - as you'll see in https://github.com/elastic/kibana/issues/62010 - the deployment switcher UI part is not until Phase 3 as there is a significant amount of work to be done on the Cloud side to create the supporting API, so that UI could come later.

[2020-05-15 19:23] miukimiu opened #3491 "[EuiSuperSelect] Dropdown doesn't render full width when isOpen is true"
# Bug
When the we pass ` isOpen={true}` to the **EuiSuperSelect**, the dropdown doesn't render full width:

<img width="430" alt="Screenshot 2020-05-15 at 20 14 51" src="https://user-images.githubusercontent.com/2750668/82087809-c2066700-96e8-11ea-8beb-20e98f1eed66.png">

# Expected behavior

The following image illustrates the expected behavior. The dropdown should render full width:

<img width=

[2020-05-15 19:56] thompsongl commented on #3057
@anishagg17 You can start exploring this idea. I'll do some research, as well.
Some things to consider:
* How would this concept change the scope of your original proposal?
* How would this concept change the technology choices (i.e., react-live) in your original proposal?

[2020-05-16 07:03] anishagg17 commented on #3057
Before coding , let's discuss several alternatives that can be used for this purpose

[2020-05-16 07:08] anishagg17 commented on #3057
### react-live

### Pros

1. Same code can be used for both readOnly code and Playground
2. Some modifications would be required to codeExamples.
3. CodeEditor, ErrorDisplay, ComponentPreview all can be designed, customised.

### Cons

1. Import Statements are not supported inside the code example. _(We can pass code through a function to comment out import statements)_

[2020-05-16 07:27] anishagg17 commented on #3057
### react-view

### Pros

- Import Statements are supported.
- Supports TypeScript code.
- Provides more flexibility.

### Cons

- We would have to write out separate codeExamples for the playground, but about `40%` would be copy pasted

[2020-05-16 07:53] anishagg17 opened #3494 "[DOCS] Code generator service doesn't group imports from same library"
![Screenshot 2020-05-16 at 1 21 08 PM](https://user-images.githubusercontent.com/43617894/82114080-1c023d80-9778-11ea-9eba-c0727fd99b77.png)

Multiple import statements appear from `@elastic/eui`.

[2020-05-18 07:54] nicolapagni opened #3498 "Invalid prop `itemId` supplied to `CollapsedItemActions`"
Hi guys,

when I try to use EuiBasicTable with multiple actions (more than 2), I receive the error described in the issue's title.

Each action item is like the following:

[code]

I tryed to add the itemId prop to each action and also in EuiBasicTable , but I receive the same error.

Any suggestions?

[2020-05-18 12:40] MichaelMarcialis commented on #3434
Per feedback from the SIEM and EUI folks, we've updated the short-term solution mockups and prototype to account for the following:

- On `focus` events, if the query bar has an adjacent sibling datepicker (i.e. Discover), that datepicker will be hidden to allow the horizontal space for the query bar to grow to fill that now-empty space.

- When the `textarea` is focused, watch for an enter key `k

[2020-05-18 12:48] #3491 closed

[2020-05-18 13:39] cchaos commented on #3434
LGTM. We should probably move this solution/discussion back to Kibana since that's where this will be implemented. The EUI side will concentrate on that long-term solution.

[2020-05-18 14:00] chandlerprall opened #3499 "[EuiIcon] Doesn't retry failed icon loads"
Network errors happen, and **EuiIcon** shouldn't expect its dynamic import to always succeed. We should add some basic retry logic.

[2020-05-18 14:24] ryankeairns commented on #3490
@johnbarrierwilson can you post mockups as you have them? Thanks!

A few of the states we discussed were:
- empty
- loading
- results returned (logos for apps, in the Kibana case)
- focused result/row
- themes (dark vs light/K7 vs Amsterdam)

[2020-05-18 15:08] chandlerprall commented on #3494
In these cases, the example (_collapside_nav_list.tsx_) should be refactored to pull all of its imports from _src/components_ and not reaching into any sub directories.

[2020-05-18 15:12] anishagg17 commented on #3494
I tried that but that gives es-lint error

[2020-05-18 15:14] johnbarrierwilson commented on #3489
I was using the badge EUI component. B/c it's primary purpose is to notify the user of what deployment they are in—which is why I defaulted to a badge that's clickable instead of a button that notifies.

[2020-05-18 15:17] johnbarrierwilson commented on #3489
The switcher has moved to the right to be closer to other account level actions, and more importantly to allow for the branding to be more noticeable and mature enough to stand on it's own.

Users can't have more than one deployment on a trial. So, now that switcher is to the right, it allows for it to be replaced by the trial notice.

"What about navigating back to the cloud interface?" When a us

[2020-05-18 15:17] #3422 closed

[2020-05-18 15:32] chandlerprall commented on #3494
Apparently there are some issues with importing from `src` / `src/components` using TypeScript in our docs files. I _think_ these issues will be resolved by updating the two remaining `index.js` to TypeScript, which might need some supporting changes in our build system.

[2020-05-18 17:44] chandlerprall commented on #3498
The `itemProp` prop is added to the **EuiBasicTable** element, and must resolve to a string or number identifier. If there is no `itemProp` given, or if resolves to `undefined` or `null`, the table will fall back to using the row index.

It seems like the item id you are using is resolving to a value, but not one that is a string or number. For example, I can trigger this proptype warning in the *

[2020-05-18 18:28] myasonik opened #3500 "[AriaToolbar] component"
## Preamble

There are 3 focus strategies: the default one (tabbing works as expected), roving tabindex, and `aria-activedescendant`.

The default one just works so there's nothing for us to do. `aria-activedescendant` is pretty rare so let's not worry about it at the moment. But roving tabindex does come up with decent frequency so I'd like to explore creating a reusable pattern (component? util?

[2020-05-18 19:47] thompsongl commented on #3057
`react-view` looks interesting. Have you seen any usages where the prop configuration is less manual? Like, is it possible to consume prop types from PropTypes or TypeScript output?

[2020-05-18 20:08] anishagg17 commented on #3057
Yes, that might be made possible with some modifications, checks.

@cchaos Can you add more clarity to the app do we need separate playground for `Buttons can also be links` and `Button with icon` or a single playground for `Button` would work?

[2020-05-18 21:05] nicolapagni commented on #3498
Hi @chandlerprall ,

from docs I don't see any reference to the _Itemprop_ prop.

I think I don't really got it what you said..
Can you show me a simple example that could solve the problem?

[2020-05-19 13:10] cchaos commented on #3469
We are starting to see this problem happen more frequently. Content in portals vs non-portals, elements with EuiOverlayMask as a parent vs sibling, z-index ordering not the same for all instances. (BTW, z-index layer maintenance is really hard when it's declared outside of the consuming app.)

I think most of it extends from the issue that the overlay mask and the content (modal) can be separated.

[2020-05-19 13:16] chandlerprall commented on #3498
Whoops, meant `itemId` in place of those `itemProp`s.

There are two ways you could solve this, depending on what your `items` look like:

[code]

[code]

[2020-05-19 14:41] nicolapagni commented on #3498
Thanks @chandlerprall , now is clear.
I tryed on my code and It works fine :)

[2020-05-19 14:41] #3498 closed

[2020-05-19 15:35] ashikmeerankutty commented on #3421
Should `displayAsText ` must be a required prop so that it can replace `id` in the `column_selector` and `Sort fields` ?

[2020-05-19 16:50] timroes commented on #3469
so much seconding this.

Could we potentially at least add a high level `zIndex` property to the `EuiOverlayMask` to give consumers an easier way of configuring it?

[2020-05-19 18:12] cchaos commented on #3469
If you're using `<EuiOverlayMask>` directly (meaning it isn't added by an EUI component), you can always pass a custom className and supply your own `z-index` property. Since it is CSS, we **try** not to do inline styles (since they're hard to override) directly on EUI components and we can't have a prop and then matching styles for every single z-index value possible.

[2020-05-19 20:54] matschaffer opened #3503 "Support find (cmd+f) in EuiCodeEditor"
It would be nice to be able to cmd+f to find text in EuiCodeEditor, but I'm not sure this is supported.

Regular browser cmd+f doesn't get hits inside a EuiCodeEditor on the page, only the text around it.

For now I work around by copying to vim and back, but would be nice to not have to do that.

Kibana dev tools seems to implement this as its own internal override of the cmd+f behavior.

Is ther

[2020-05-19 21:23] ryankeairns opened #3504 "[WIP] Global header: deployment switcher"
Related to #3489

As part of the Global Header project ([Kibana meta issue](https://github.com/elastic/kibana/issues/62010)), _Phase 3_ includes the addition of the **Deployment switcher** UI. This feature will allow users to quickly navigate between and (to a degree) manage Cloud deployments.

As I understand it, the EUI solution is still TBD - whether it's a new component or documented pattern.

[2020-05-19 21:59] johnbarrierwilson commented on #3490
A quick screenshot for each of the result types:
![image](https://user-images.githubusercontent.com/2472911/82382592-d9e43080-99f1-11ea-991b-b419026b70df.png)

All results are the same height. Once we get a general agreement on these mockups, I'll update the description.

Do these layouts cover all the use cases we would need?

[2020-05-20 01:16] snide commented on #3421
I think it's ok for this to be optional, but this is a new enough component the breaking change wouldn't likely be too bad. Making it required would ensure consumers really think about their presentation, and has the benefit of being i18n translatable if need be.

I'd wait on @chandlerprall for his response, but that would be my reasoning for making is a required prop.

[2020-05-20 13:33] cchaos commented on #3504
Looking at this close, it seems that it is just a simple EuiBadge with a custom hex passed. The hex could be pulled from the JSON in the consuming applications like so:

[code]

<img width="501" alt="Screen Shot 2020-05-20 at 09 29 21 AM" src="https://user-images.githubusercontent.com/549577/82452174-e9f52200-9a7c-11ea-8c09-677abb2b9864.png">

[2020-05-20 13:35] cchaos commented on #3490
Thanks @johnbarrierwilson  & @ryankeairns. Can you detail the different states for the actual search input as well?

[2020-05-20 13:48] cchaos commented on #3057
No there would be a single playground for each **component**, not docs example. So a single playground for **EuiButton** with toggles based on all the possible props.

[2020-05-20 14:31] snide commented on #3490
@johnbarrierwilson my guess is we don't need that much variety in the styling. Just talking through this I would say you can standardize this into a more readible format by only using these, presented in the same way regardless of the result type.

1. Name of thing
2. Substring of thing (description, URL...etc). Subtext coloring.
3. Type of thing (dashboard, viz, case..etc). Utilize color.
4. Loca

[2020-05-20 15:18] ryankeairns commented on #3490
For Kibana, I would like to try and keep the logo on the app results in order to visually differentiate (in a clear way) them from objects. This also is a nice way to relate them to the left nav groupings.

[2020-05-20 15:19] ryankeairns commented on #3490
@cchaos can clarify what you mean by states in this context?

[2020-05-20 15:33] cchaos commented on #3490
I'm trying to gauge the literally "states" (normal vs focus). From what I can see in the mocks it's using multiple themes. In the default (normal) state, the input is displaying as our "Dark theme, but in light mode", however, this "focused" version in your mock is back to showing the typical light themed search input. I just need clarification that this is what you need.

<img width="1312" alt="S

[2020-05-20 16:03] johnbarrierwilson commented on #3490
@cchaos Yes, that's the extent of the states. Gray for unfocused; white for focused. The switch to white will be super helpful when a user engages with the search using the `command + K` shortcut.

@snide @ryankeairns Yea, I could have done a better job providing context.... The layout for these results are definitely all the same. See diagram:
![image](https://user-images.githubusercontent.com/24

[2020-05-20 17:00] snide commented on #3490
Sorry if this stuff is in a spec somewhere, so I may be way off. I tried searching for one, but didn't see anything that covered the full details yet.

My suggestion is that we should sketch out a lot more examples of the results before we commit. I think you'll find this is going to get a lot more complicated, and then you might up going a lot more simple because of that.

Here's a decent list of

[2020-05-20 17:02] cchaos commented on #3490
Also a reminder that the search item result itself if completely customizable by the consuming application. We can provide some patterns and maybe some specific components, but truly it's up to the consuming app.

[2020-05-20 18:01] ryankeairns commented on #3490
@cchaos regarding themes/states... as I understand it, there is only one version of the top black header. The black vs white input is a matter of focus (dark by default; white when focused).

@johnbarrierwilson is that accurate and did you envision the menus (search, deployment switcher, and profile) to always have a white background as well?

[2020-05-20 18:17] chandlerprall commented on #3421
I'd leave it as optional to make getting started with the grid easier, and our docs can provide the full story for enhancing. Also, when the columns are displaying results from a query, I imagine it would be common to duplicate the id into the name field, which feels a bit burdensome.

[2020-05-20 18:25] ryankeairns commented on #3490
While that list of content @snide outlined initially looked daunting, I can envision all of those fitting into the template that John shared above. Some but not all were captured in a Kibana Global Search doc, I can add the remainder.

It's still a good idea to mock some of these up to prove my assumption, but I don't think we're painting ourselves into a corner especially if EUI goes the route of

[2020-05-20 18:57] johnbarrierwilson commented on #3490
Yep—was on my list to do. Will post here with more visuals.

I agree with @ryankeairns that the majority of those in the list could fit into the template. It will help to make sure we cover those edge cases. Especially around different spaces/deployments.

[2020-05-20 21:30] johnbarrierwilson commented on #3490
Making note: I added a table up top that summarizes various result states we should take into account. Please add more items/details as necessary.

[2020-05-20 21:39] chandlerprall commented on #3503
**EuiCodeEditor** uses `react-ace` under the hood, which only renders the visible lines to the DOM (+/- a couple). This prevents the browser's cmd+f from searching the whole value.

However, there is an extension you can import to automagically give _all_ react-ace editors a search bar:

`import 'brace/ext/searchbox';`

Should be able to put that _anywhere_ in your code to enable it globally for y

[2020-05-21 01:31] matschaffer commented on #3503
Thanks! I'll open this back up if it looks like we have any trouble implementing the import.

[2020-05-21 01:31] #3503 closed

[2020-05-21 01:36] bevacqua commented on #3503
@chandlerprall this sounds like a reasonable default for EUI to implement itself?

[2020-05-21 02:45] chandlerprall commented on #3503
I'd be at least a little hesitant to since it does affect all ace/brace editors in the app, even those EUI doesn't control/wrap. That said, we _do_ already import `brace/ext/language_tools` with similar global impact.

Also, I'm on the fence and not sure we want to provide more automatic benefit to users of our code editor, as we've been encouraging migration to Monaco and whether we want to depre

[2020-05-21 13:27] stacey-gammon commented on #1668
fwiw I am hitting this need as well.  I think it may be become more common because you should use `onClick` to navigate to internal apps without causing a full page refresh, but we also want to support "open in new tab".

Drilldown code needs this as well.  Both onClick and href are set on `EuiContextMenuPanelItemDescriptor`, it's not hitting the ts error though for some reason. https://github.com

[2020-05-21 13:42] stacey-gammon commented on #1668
I'm getting around it by using your pop out icon, but it feels a bit weird because most users would use right click -> open in new tab.

<img width="1122" alt="Screen Shot 2020-05-21 at 9 40 31 AM" src="https://user-images.githubusercontent.com/16563603/82564762-4d4b8680-9b47-11ea-896f-1e5beda2fd8b.png">

[2020-05-21 14:31] cchaos commented on #1668
Let's go ahead an implement allowing both `onClick` and `href` on **EuiListGroupItem**s knowing that we has the lint message they can ignore, but at least we don't block usage or force consumers to "hack" it.

[2020-05-21 14:42] thompsongl commented on #3057
The similarities look promising.
Even if `react-view` isn't the answer, I would imagine that the output from the TypeScript props parsing project will be helpful. @ashikmeerankutty what kind of props output are you expecting from your project?
//cc @chandlerprall

[2020-05-21 14:51] ashikmeerankutty commented on #3057
[code]

@thompsongl  This will be the output from the parser. It seems like it is similar to what required by `react-view`

[2020-05-21 15:12] ashikmeerankutty commented on #3056
Should I continue this as a separate project outside `eui` and use the `plugin` in `eui` or shift the plugin development inside `eui`.

[2020-05-21 16:19] ashikmeerankutty commented on #3421
I would like to work on this.

[2020-05-21 17:47] thompsongl commented on #3056
What do you think, @chandlerprall?

[2020-05-21 17:49] chandlerprall commented on #1668
We'll need to update the eslint plugin to include **EuiListGroupItems**, and then make sure to publish that package and update it in Kibana.

https://github.com/elastic/eui/blob/336666aeff6edc3e730fea27751824d466004457/packages/eslint-plugin/rules/href_or_on_click.js#L1

[2020-05-21 18:14] chandlerprall commented on #3056
Let's move it inside eui; makes it easier to observer changes against any set of components

[2020-05-21 18:56] ashikmeerankutty commented on #3056
Out of curiosity! I just tried adding the plugin to `eui`. Few observations:
- It's taking a lot of time.
- Docs info is generated with most of the components.
- Build is broken

[2020-05-21 19:04] mouradmourafiq opened #3505 "Is it possible to have more control over the MINIMUM_WIDTH_FOR_GRID_CONTROLS"
Hi, I was wondering if it's possible to have some control over the behaviour when the grid has a `width < MINIMUM_WIDTH_FOR_GRID_CONTROLS`, currently only the `Full screen` is enabled, I imagine that at least 2/3 controls could fit the size as well.

[2020-05-21 19:10] chandlerprall commented on #3056
Sounds like it's processing TypeScript code 😀

Sweet!

The only way to make things better :)

Did you remove the existing `./scripts/babel/proptypes-from-ts-props` plugin from babel's config? If not, it might be causing interference.

Next week, I can help look into any issues you're not sure about. If this is too much of a problem right now, there's no rush on moving it into EUI.

[2020-05-21 19:17] ashikmeerankutty commented on #3056
No, I will try removing that.

It doesn't seem to be trouble. I think it's better to continue in eui. I will get a lot of components to try.

[2020-05-21 19:23] thompsongl commented on #3057
That's great; thank you.

@anishagg17 what about using EUI components inside `react-view`? I think we would want to be able to use `EuiCheckbox`, `EuiFieldText`, etc. instead of the default form fields.

[2020-05-21 20:35] anishagg17 commented on #3057
I have made a sample playground for `EuiButton`
those editor props can consumed by `Eui-components` also it provides a `setter` function as a prop to update the value of prop, so it was quiet easy setting up the playground.

[code](https://github.com/anishagg17/react-view-demo/tree/master)
[demo](https://react-view-demo.anish1712.now.sh/)

[2020-05-21 21:24] snide commented on #3505
This makes sense, considering that the consuming application has so much direction over what shows in the app bar itself. Assume exposing a prop would work for you so you could set it yourself?

[2020-05-21 21:31] chandlerprall opened #3507 "Markdown editor's line height is crowded"
![crowded markdown street](https://d.pr/i/96jWmH.png)

I blindly threw `font-family: $euiCodeFontFamily;` into `.euiMarkdownEditor__textArea` and it made it better and worse. Please send help!

[2020-05-21 21:43] mouradmourafiq commented on #3505
I think just giving the control to the end user to trigger that behavior or not would be more than sufficient, you can keep the current behavior as default, and for user who want to disable the behavior, they can control the visibility behavior manually.

As an example, I have a table with a mode `visualize`:

<img width="1363" alt="Screenshot 2020-05-21 at 23 36 10" src="https://user-images.githu

[2020-05-21 21:50] chandlerprall commented on #3505
Boolean props tend to grow unwieldy as time passes. I think taking a minSizeForControls prop that the application could pass `0` to for disabling is the most future proof?

[2020-05-21 22:03] mouradmourafiq commented on #3505
`minSizeForControls` should work as well, and it won't introduce any breaking change.

[2020-05-21 22:48] anishagg17 opened #3508 "Allow user to create issues within the docs-site"
At the bottom of each example in docs there should be a link which redirects user to new-issue page of this repo .

Also, current issues related to the component can be displayed beneath it using this api,

https://api.github.com/repos/elastic/eui/issues?labels=tables

label would be `slug` used for routing thus making is automatically fetch correct issues

[2020-05-22 08:00] Tocknicsu opened #3509 "DataGrid in Modal performance"
Here are two minimum reproduce apps with different version(only change @elastic/eui version).

https://github.com/Tocknicsu/eui-datagrid
https://tocknicsu.github.io/eui-datagrid/22.3.0/
https://tocknicsu.github.io/eui-datagrid/22.4.0/

There are two questions:

- When I put the datagrid in modal(Click any button) at 22.4.0 version. The render speed looks not good.
- When I click button in the tabl

[2020-05-22 15:28] chandlerprall commented on #3509
Thanks for recreating with simple setups! Definitely looks related to #3128, and it appears that there is a constant fighting for focus which is also causing the render performance issue.

Quick notes for whoever looks at this:

The observed error is coming from **EuiModal** -> **EuiFocusLock** -> `react-focus-lock` -> `focus-lock`.

**EuiDataGrid** is only supposed to set/affect focus when it has

[2020-05-22 17:44] ashikmeerankutty commented on #3056
Just found a webpack [loader](https://github.com/strothj/react-docgen-typescript-loader)  that uses [react-docgen-typescript](https://github.com/styleguidist/react-docgen-typescript) 😐.
Tried the same in eui and the results seems good 😐.

![image](https://user-images.githubusercontent.com/10515204/82694971-d4047e80-9c81-11ea-886e-27f153ca4472.png)

[2020-05-22 18:40] mwswindle opened #3510 "[EuiSuperSelect] Ignores `readOnly` prop"
I'm developing a plugin on Kibana v7.7.0 tag, which is using elastic/eui v21.0.1.

I'm using the `EuiSuperSelect` component, which has a `readOnly` prop. If I set this prop to `true`, I can see the styling of the component change, removing the shadows, but I'm still able to change the value.

I have several other EUI components (such as EuiFieldText) that use the same `readOnlyState` variable, tha

[2020-05-25 18:52] dimitropoulos opened #3512 "KeyboardEvent.keyCode is deprecated - should EUI switch to KeyboardEvent.key?"
## TLDR
This issue suggests removing usages of `event.keyCode` (since it's deprecated) in favor of `event.key`.  Optionally, this can be enforced from that point forward with tooling.

## Overview

Many are not aware that although all the latest versions of the browsers still support `KeyboardEvent.keyCode`, it's been deprecated: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCo

[2020-05-26 08:11] kertal commented on #2839
@chandlerprall  think we need also a a sticky column for Discover. in case there's a time column, it's always first and shouldn't be moveable. the horizontally scrolling feature would be nice, but not necessary for the initial use case

[2020-05-26 13:47] anishagg17 commented on #3057
Can we have the roadmap for the first month?

[2020-05-26 13:56] chandlerprall commented on #3512
Yeah! This has been on the back of my mind for a while and sounds good to me.

If you can get the module augmentation to work, we'll need to exclude that definition file when generating EUI's types so we don't force that rule on downstream projects. Exclusion rule can be added to https://github.com/elastic/eui/blob/034d76da8c979b0a1eab4b840b7fff67fd200863/scripts/dtsgenerator.js#L79

[2020-05-26 14:49] thompsongl commented on #3057
This is awesome, @anishagg17
Nice job setting up that now.sh environment, also.

@cchaos What do you think about this concept?

[2020-05-26 14:59] cchaos commented on #3057
This is definitely very similar to the UI explorations I'm currently working on. The only concern I have is looking at the code, it seems very **manual** to create the "toggle" parts. I was hoping we could utilize more of the `__docgenInfo` or something similar to **automatically pull in the props and it's supported values** from the component itself.

[2020-05-26 15:11] cchaos opened #3514 "[Docs] Link to animation SASS file is broken"
This link:
<img width="797" alt="Screen Shot 2020-05-26 at 11 08 58 AM" src="https://user-images.githubusercontent.com/549577/82917489-7d2ccc80-9f41-11ea-98d8-d6af66c81ab5.png">

Goes to:
https://github.com/elastic/eui/blob/master/src/global_styling/variables/_animation.scss

The correct link should be: https://github.com/elastic/eui/blob/master/src/global_styling/variables/_animations.scss

**Mis

[2020-05-26 15:35] cchaos commented on #2848
I wonder if there's a way to make this actually part of the EuiCheckBox component so that any groupings of checkboxes get this behavior. If there's any way to watch for the <kbd>shift</kbd> key and it traverse the dom? Although, it may need to be passed a "stay within this element id" or something so that it doesn't select outside of it's group.

I've implemented something similar to this in a pre

[2020-05-26 17:48] anishagg17 commented on #3057
I don't think we would create many toggles as the working would proceed with `initialCode` prop , code for which would be extracted from any `example demo` thus toggles won't be utillized , and would make work much less manual.

`EuiButton`, `EuiLink`, etc are some components for which live coding doesn't make much sense so ,I think toggles should be provided for them only, instead of `initialCode

[2020-05-26 19:31] periabyte commented on #3437
This also happens with the new `EuiCollapsibleNav`

I also removed the `<React.StrictMode>` tags to fix this

[2020-05-26 20:09] cchaos commented on #3507
Should the markdown editor really be using the code font family? Typically this is for creating simple text, not writing code (or thinking that you're writing code) and really should look as similar as possible to the output. I'd suggest not using the code font and sticking to our normal sans.

[2020-05-26 20:19] cchaos commented on #3508
This is a very interesting idea and could help streamline the bug/feature requests and ensure they're named/titled properly in Github so they're easier to search for.

Though I do have some concerns and caveats.

### Concerns

1. I worry that this can overcrowd the already verbose docs and some pages include more than one component so how do you distinguish?
2. How would we offer these gracefully

[2020-05-26 20:29] thompsongl commented on #3057
We do need some distinction between what props to make toggles and which to leave to the editor, but I think most components would have some toggles. For instance, anywhere `color` or `size` is part of the API we'd want to show the available options as toggle/select elements. It's less about the complexity of the component and more about its API.

To make creating the toggle UI less manual, we cou

[2020-05-26 20:29] cchaos commented on #3510
Hi @mwswindle! I noticed this too pretty recently, thank you for making an issue.

The problem is that `<select>` HTML elements that this component is mimicking [doesn't actually support `readonly`](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/readonly) so it's actually more of a mistake to both

a. support the prop
b. apply the styles for it

It's more appropriate to use the `disa

[2020-05-26 20:53] chandlerprall commented on #2848
My first inclination is that we might want a EuiCheckboxGroup to collect the rendered EuiCheckbox components. Nothing would render to DOM, but provides an API layer to manage. EuiCheckbox could look for it and communicate on shift+click

[2020-05-26 21:02] cchaos commented on #2848
Yeah it would have to be separate from **EuiCheckboxGroup** since that's not used in tables, but it could inherently use it so that consumers using **EuiCheckboxGroup** don't also have to manually add this new API.

[2020-05-26 21:08] anishagg17 commented on #3057
I tested [live-code](https://react-view-demo-qygljxnnl.now.sh/) (_used some predefined code instead of previously defined top-level component_) and noticed that the toggles don't worked as supposed this is because toggles are limited to a top-level component only.

No, doubt that they can work well for our purpose but if we need to use toggles than we can't extract the code from `example-demo` . W

[2020-05-26 21:18] #3514 closed

[2020-05-27 12:09] miukimiu commented on #3507
I agree with @cchaos. We should be using the same font as the output. For example, the GitHub markdown editor uses the same font and similar styles for writing and previewing.

I can create a PR to fix this issue and make both `.euiMarkdownEditor__textArea` and `.euiMarkdownFormat` share similar font styles.

[2020-05-27 12:12] BentoumiTech commented on #1381
It seems that now we need to mock `htmlIdGenerator` since #3129

[code]

It's also mocked inside the codebase for snapshot testing https://github.com/elastic/eui/blob/42c7cedffa9947778ec7f7cd28059c9d4276c685/src/components/popover/popover.test.tsx#L38

[2020-05-27 14:55] chandlerprall opened #3518 "[EuiDataGrid] Document what props cause rows to re-render"
There are quite a few props which could cause **EuiDataGrid** to re-render all of the rows (and if `inMemory` is enabled this would be _all_ rows, not only paginated/visible ones). Most are probably not obvious, and debugging which one is causing a performance issue is tedious. These should be documented.

This list is affected by the in-progress virtualization #4170

The internal `rows` represent

[2020-05-27 15:22] chandlerprall commented on #1381
We now have a `test-env` build ([docs](https://github.com/elastic/eui/blob/09665537262777c8abcafa4caf860598a13de8c8/wiki/consuming.md#using-the-test-env-build)) which we should create an auto-mock for the htmlIdGenerator. Interestingly, I think this can be done without affecting any applications' existing jest mocks for `htmlIdGenerator` as they'd still be targeting the same file(s).

[2020-05-27 15:27] #3458 closed

[2020-05-27 15:29] chandlerprall commented on #3056
How well does that loader / react-docgen-typescript work with components like **EuiButton**, which has a mix of our custom `PropsForAnchor`, `PropsForButton`, and `ExclusiveUnion` types? Or **EuiBadge** which nests those concepts https://github.com/elastic/eui/blob/c9ae5a08eab5729af892d00abda9365ff96d2a44/src/components/badge/badge.tsx#L97-L102

[2020-05-27 15:35] chandlerprall commented on #3507
That makes sense. I was staring at JSON configuration blobs as the only content that I switched contexts. I'll revert the change I made switching the font family.

[2020-05-27 15:35] #3507 closed

[2020-05-27 15:37] johnbarrierwilson commented on #3490
Here's a run-through of all the different iterations (mistakenly referred to as _edge-cases_) using the pre-defined template:

[👨‍💻 **Screencast**](https://www.loom.com/share/b89bdc1d5c924ef4b726da90643a09f5) | [🎨 **Mockups**](https://www.figma.com/file/AngVp8Bexq2UjN7G44IsuZ/Holistic-Experience?node-id=1143%3A5)

[![image](https://user-images.githubusercontent.com/2472911/83041140-c2b2cd80-a005-1

[2020-05-27 16:59] ashikmeerankutty commented on #3056
With **EuiButton** and **EuiBadge** all props are found except the `onClick` prop 😅.

[2020-05-27 18:35] chandlerprall commented on #3503
Update: we're definitely deprecating **EuiCodeEditor** while recognizing that recommending Monaco is not the easiest thing to implement. We will continue exploring an EUI-recommended way to use Monaco without (hopefully) bringing it in as a dependency, similar to what we do with Elastic Charts.

[2020-05-27 21:10] phylim opened #3519 "Can't call setState on a component that is not yet mounted. on EuiHeaderLogo, EuiHeaderLinks, EuiOverlayMask"
I've been using eui on a project initialized with react boilerplate for a while. I just started a new project using CRA and I'm running into this strange issue. When some components are used in the app ( for example, EuiHeaderLogo, EuiHeaderLinks ), browser console outputs this message.

<img width="866" alt="Screen Shot 2020-05-27 at 4 43 53 PM" src="https://user-images.githubusercontent.com/4267

[2020-05-28 07:51] ashikmeerankutty commented on #3056
Preview https://ashikmeerankutty.github.io/eui/

[2020-05-28 14:00] #2560 closed

[2020-05-28 15:39] ashikmeerankutty commented on #3056
`react-docgen-typescript` allows a [propsFilter](https://github.com/styleguidist/react-docgen-typescript#parseroptions) option.
We could use this to whitelist certain props by name or whitelist props from certain files.

[code]

[2020-05-28 15:56] chandlerprall commented on #3509
Did some more investigation on this:

* the freeze/delay in rendering when the table is opened looks like it is from every cell being wrapping in **EuiFocusTrap**, apparently even when the trap is disabled it triggers a lot of work. More investigation can be done here
* The focus fighting is actually between two grids - the button in each row triggers another modal with another grid. I was unable

[2020-05-28 16:03] chandlerprall commented on #3519
Thank you for reporting!

This duplicates #3437 which I've just noticed is also a duplicate of #3235. Closing in favor of #3437

[2020-05-28 16:03] #3519 closed

[2020-05-28 16:04] chandlerprall commented on #3235
Closing this in favor of #3235, which duplicates this issue but has more details and widens the scope.

[2020-05-28 16:04] #3235 closed

[2020-05-28 17:48] joshacheson opened #3521 "Flaws in ESM Build result in failure to build with Vite, Snowpack, etc."
Issue: When including `@elastic/eui` in a project and using [`vitejs/vite`](https://github.com/vitejs/vite) or [`pikapkg/snowpack`](https://github.com/pikapkg/snowpack) to build, a build fails.

Investigation so far: The best way to get a summary of investigation so far into this issue (that may or may not continue) is probably to look at [this issue](https://github.com/vitejs/vite/issues/280) in

[2020-05-28 17:59] chandlerprall commented on #3521
Thanks for reporting and cross-referencing! For completeness & transparency, we have #3437 tracking a known class of issues with EUI+CRA in development mode.

[2020-05-28 18:02] #3243 closed

[2020-05-28 18:07] chandlerprall commented on #3521
Looking through the vite issue linked above, https://github.com/vitejs/vite/issues/280#issuecomment-635444883 has the specific details: EUI itself is ESM compatible (or is theoretically, as we've never proven that and the dynamic icon import may or may not work in a pure browser ESM context), but has cjs-only dependencies - some of which are mentioned in that comment.

[2020-05-28 20:17] PhaedrusTheGreek opened #3523 "ControlBar TypeScript error: No overload matches this call"
ControlBar [demos](https://elastic.github.io/eui/#/navigation/control-bar) don't work when pasted into a new `tsx` file

EUI: 24.0.0

[code]

[2020-05-28 21:27] chandlerprall commented on #3523
When defining `codeControls`, TS sees all those lovely string values as marks them as `string` type, when **EuiControlBar** has stricter validation, e.g. `controlType: 'button'` has additional rules.

Instead of `const codeControls = [`, add a type definition with

[code]

This forces TS to resolve those strings into the expected types, and also helpfully flags the 2nd-from-the-last control as inc

[2020-05-29 16:01] miukimiu opened #3526 "[EuiMarkdownEditor] Lists are not rendering properly"
Currently in ` feature/markdown-editor` branch (https://eui.elastic.co/pr_3522/#/forms/markdown-editor) the lists `unordered` and `ordered` are not rendering properly when we click **preview**:

<img width="983" alt="Screenshot 2020-05-29 at 16 59 43" src="https://user-images.githubusercontent.com/2750668/83279971-d90b8580-a1cd-11ea-8901-0fd37ec9b3b9.png">

I think this issue was originated with t

[2020-05-29 18:52] chandlerprall commented on #3526
Good catch! The right fix is probably to un-disable the `list` tokenizer but inject our own checkbox one ahead of it.

[2020-05-29 22:47] DavidGOrtega commented on #3437
Hi, Im suffering also this issue but not in a flyout, but always. This is the minimum setup where I can see both divs created always staying one after the state change.

[code]

![image](https://user-images.githubusercontent.com/414967/83311304-180dfb00-a20f-11ea-8e39-a16ef712c821.png)

after close the modal
![image](https://user-images.githubusercontent.com/414967/83311323-278d4400-a20f-11ea-9e27

[2020-05-30 09:44] lemcii commented on #3521
Snowpack seems to somewhat work, with:

[code]

However none of the icons want to work, I'm getting this at runtime:

[code]

[2020-05-31 15:35] ekline-expnet opened #3528 "EuiComboBox inputRef not accessible"
The documentation shows the property `inputRef` is available on EuiComboBox.
I thought I was using it to set focus, but after updating EUI, the code stopped working.

Looking at combo_box.tsx, the inputRef is pulled out of the props on line 889, but then the inputRef is set on line 1034 to be `inputRef={this.searchInputRefCallback}` and the `props.inputRef` is never called if present.

[2020-06-01 16:15] miukimiu opened #3530 "[EuiMarkdownEditor] IE 11 error"
I noticed that the  EUI Docs don't open on IE 11 because of an error with the **EuiMarkdownEditor**. I think because IE 11 can't read `includes()`.

Not sure if this is a problem because we're deprecating IE 11.

Also just as a reminder, when I created the initial **draft PR** the build was always falling (https://github.com/elastic/eui/pull/2858#issuecomment-601391432) because of a few **remark**

[2020-06-01 16:27] CompuIves commented on #3157
Hey! Today I'm planning to merge a fix for this issue!

[2020-06-01 16:45] miukimiu commented on #3157
So cool! Thanks @compulves! 🎉

[2020-06-01 19:47] snide commented on #3157
@CompuIves thanks for the fix and the fantastic lib! Closing this issue out and reworking https://github.com/elastic/eui/pull/2728 to get EUI better integrated with CS sandboxes.

[2020-06-01 19:47] #3157 closed

[2020-06-01 20:37] chandlerprall commented on #3521
@lemcii do you have a repo available with that setup I could test with?

[2020-06-01 20:40] chandlerprall commented on #3528
Looks like a regression caused by #2838 which omitted the call to the provided `inputRef`.

[2020-06-02 02:38] #3505 closed

[2020-06-02 10:08] #3526 closed

[2020-06-02 10:48] timroes opened #3533 "[EuiDataGrid] Bug when removing items"
When you use a data grid, with a very simple array of items and let data grid handle the sorting internally like the following:

[code]

If you now sort the table by an order that is not the same as the native order of the array, and delete an item on top of the table (I've only tested when it's the last item in the array actually), the `renderCellValue` will after that deletion (and the change to

[2020-06-02 14:13] lemcii commented on #3521
@chandlerprall sure, here https://github.com/lemcii/snowpack-eui-test

[2020-06-02 14:58] ashikmeerankutty commented on #3056
@chandlerprall Should I proceed in this way or with the plugin.

[2020-06-02 15:01] #3528 closed

[2020-06-02 16:07] chandlerprall opened #3536 "Docs don't retain scroll position on back/forward"
Continuing from https://github.com/elastic/eui/pull/3496#issuecomment-637631710

* navigate to a sub-section
* go to another page
* hit browser's Back
* screen is at the top, not the sub-section

I did a quick test without the new way of scrolling to the top of a page on guide page mount, but the scroll position was messed up for some reason.

This should be fixed when we switch to history router

[2020-06-02 19:55] chandlerprall commented on #3056
@thompsongl what do you think, especially in context of feeding these results/data into the docs stuff?

[2020-06-02 20:12] anishagg17 commented on #3057
creating too many radio buttons would occupy more space and that's why when the number of Options are more that `5` knobs is designed to render `EuiSelect` insted of `radioGroup`.

I too think that would be much better 👍

[2020-06-02 20:33] thompsongl commented on #3056
Is this the same for the webpack loader? What deficiencies (if any) does the webpack loader have when compared with the plugin?

[2020-06-02 20:46] chandlerprall commented on #3056
Good catch, I dropped that context. We'd (ideally) need a way to get those results without running webpack

[2020-06-02 20:52] #2795 closed

[2020-06-02 21:09] chandlerprall opened #3539 "[EuiDataGrid] Column selector errors when its dependent state briefly de-syncs"
from https://github.com/elastic/eui/pull/3520#discussion_r434060179

_column_selector.tsx_ has to use `displayValues[id] || id` instead of `displayValues[id]` right now as a fallback until `useDependentState` re-syncs the value, as it relies on the post-render `useEffect`.

https://github.com/elastic/eui/blob/d0c497b0bde3110983325200bab5d1dd3bd11f36/src/components/datagrid/column_selector.tsx#L202

[2020-06-02 21:26] #3421 closed

[2020-06-02 22:32] RaviDasari commented on #2467
I have the same issue. And it looks like there is no traction. If anyone points to me a solution, I could spend some time and raise a PR.

[2020-06-02 23:09] spalger opened #3540 "Switch to `@elastic/numeral`"
We've fixed a couple issues in numeral 2 what were important to Kibana in [`@elastic/numeral`](https://github.com/elastic/numeral-js) and I think it would make sense for eui to use that fork too so that we don't have both version installed by using eui. Thoughts?

[2020-06-03 04:46] ashikmeerankutty commented on #3056
Yes, the webpack-loader provides all the functionalities of react-docgen-typescript. I haven't found any deficiencies with the loaded. But I hope creating a custom plugin gives more control on the parser especially for some eui specific needs (if any).

[2020-06-03 04:49] ashikmeerankutty commented on #3056
Thanks for the clarification. I should continue with the plugin. 😅

[2020-06-03 08:45] trungtin opened #3541 "Some components doesn't compatible with React.StrictMode"
For example, OverlayMask append new `div` to `body` in `constructor` https://github.com/elastic/eui/blob/d0c497b0bde3110983325200bab5d1dd3bd11f36/src/components/overlay_mask/overlay_mask.tsx#L71
which will be run two times in dev environment if somewhere up in the component tree using `useState` hook, because of this https://github.com/facebook/react/issues/15074
Then only one (`overlayMaskNode`)

[2020-06-03 12:22] nicolapagni opened #3543 "[EuiIcon] - Error using the type 'download'"
Hi guys,

I'm using `"@elastic/eui": "^24.0.0"`.
I've tryed to use this icon as action of an EuiBasicTable.
The following a snippet of code I used:

[code]

<img width="146" alt="download-icon-error" src="https://user-images.githubusercontent.com/17281895/83636001-7d624300-a5a5-11ea-8134-fcad8d7df3b8.png">

But as you can see the icon doesn't rendered correctly.

Thanks in advance,
  Nicola

[2020-06-03 14:27] snide commented on #3543
Are you using this within Kibana or in something separate?

[2020-06-03 14:38] nicolapagni commented on #3543
I'm using It inside a kibana plugin.
Every icon works fine, the only one I've notice the problem is this 'download'

[2020-06-03 15:05] thompsongl commented on #3541
Thanks, @trungtin. We've been tracking this `EuiOverlayMask` issue in #3437; we'll continue to use it as it contains more commentary.

If you happen to find other components with the same problem, please let us know.

[2020-06-03 15:05] #3541 closed

[2020-06-03 16:18] chandlerprall opened #3544 "[EuiBasicTable] EuiTableFieldDataColumnType.mobileOptions type appears incomplete"
Our docs for _Build a custom table from individual components_ present a more flexible `mobileOptions` object than what **EuiBasicTable**'s `columns` accepts; I'm not sure if this is intended. If so, we should document the difference in that section. If not, we need to widen the column `mobileOptions` type.

**Edit:** decision made, the types need to be widened to match the underlying column types

[2020-06-03 16:54] anishagg17 commented on #3057
there are some issues with the `union`  prop such as

EuiImage has size prop which can accept `enum, number, or string` as acceptable value but EuiFieldText always renders string as output , works fine for strings and enum but not for numbers.

[2020-06-03 17:38] chandlerprall commented on #2467
We have just released `v24.1.0` which includes an `appendIconComponentCache` method which can be used to pre-load specific icons and avoid the dynamic fetching. See [_consuming.md_](https://github.com/elastic/eui/blob/684bbeed8d5960709f582c4c12ea90f7dffa5991/wiki/consuming.md#failing-icon-imports) for more details. This is more of a band-aid on the problem to enable these types of projects to work

[2020-06-03 18:39] ashikmeerankutty commented on #3056
![image](https://user-images.githubusercontent.com/10515204/83675924-7f54f200-a5f7-11ea-86b1-a3efd9841247.png)

I think time taken is bit long 😅

[2020-06-03 19:05] spalger commented on #3540
Yeah, the mutable state in the numeral package is extremely annoying. We've already handled this in Kibana by forcing the use of `@elastic/numeral` across the board (even when a package imports `numeral`) so no rush!

[2020-06-03 19:11] thompsongl commented on #3057
We'll need to take these on a case-by-base basis. For this one, I think the `enum` is the most important one to have available.

Otherwise, I think the current list looks good. Perhaps `enum` should use a `select` for anything more than 2-3, but I'll let others weight in here.

[2020-06-03 19:12] thompsongl commented on #3057
@cchaos and @miukimiu have been working on designs and layouts for this project. They plan to have something to look at maybe later this week.

In the meantime, we can continue to hone in on the toggle forms. Labels, especially, will be important regardless.

[2020-06-03 19:39] KasiaGalazka opened #3546 "Update Google Cloud logo in console"
With the recent style change from GCP to Google Cloud, [our new guidance is short](https://wiki.elastic.co/display/MAR/Term+usage+guide#Termusageguide-gcp):

It will be implemented across the site soon as well. (Content ticket is linked below.)

In our console, it currently says `Google Cloud Platform` and if everyone is on board, we'd like to change it to reflect the style change above to read `G

[2020-06-03 19:47] sarahetter commented on #3546
Changing the text here is to be done by me in cloud - not EUI related at all.

What needs to be changed in EUI is the Google Cloud logo. Currently it's the rectangle icon, but needs to be the cloud icon.

[2020-06-03 19:47] snide commented on #3546
@gjones I barely remember why we have these monotone logos, was it for dark mode? Otherwise I can update to their new branding.

[2020-06-03 19:55] sarahetter commented on #3546
Monotone logo is not allowed in the google brand guidelines deck linked above. It also looks like they don't want the cloud image itself used without the wordmark.

[2020-06-03 19:56] #2196 closed

[2020-06-03 19:56] #3244 closed

[2020-06-03 20:01] snide commented on #3543
Just to give you some warning. I'm almost certain that Kibana will only use the EUI defined in it's root package.json file. We have an upgrade on the way in the next week, and at that point you should be able to use v24 in master.

Using different versions of EUI in EUI at the same time is not something we currently support.

If you're in a hurry remember that `EuiIcon` can accept custom svg files

[2020-06-03 20:18] chandlerprall commented on #3056
43 minutes is just a _little_ much 😁

[2020-06-03 20:30] gjones commented on #3546
Yep monotone was for dark mode, it’s also what we currently use throughout our UI. Colour logos tend to attract too much attention.

Well, that’s frustrating, call me old but how do they handle letterheads and printable assets? In my days of branding monotone options were essential.

[2020-06-03 21:45] anishagg17 commented on #3057
There are multiple components which have sub components _ex: EuiSideNav & EuiSideNavItem , EuiTreeView & EuiTreeViewNode_

for which toggles are applicable only for the root component. So , we also need to decide how to handle such components.

[2020-06-03 23:17] toanjsonar opened #3547 "EuiContextMenu is unclickable after going to nested menu"
This issue can be seen in demo page of EuiContextMenu (https://elastic.github.io/eui/#/navigation/context-menu).

I see this issue on Chrome Version 83.0.4103.61 (Official Build) (64-bit) but cannot reproduce it on Firefox.

![EuiContextMenu_unclickable](https://user-images.githubusercontent.com/61565716/83698063-5b70bc80-a5b5-11ea-8ff0-d175f8b82e0c.gif)

[2020-06-04 03:24] snide commented on #3547
I was able to replicate this after upgrading chrome. Specifically it looks like the click events get locked when you switch between them quickly. Wouldn't be surprised if something with the focus trap is causing issues.

[2020-06-04 07:57] sergibondarenko opened #3548 "Drag and drop draggable is way out of the context when start dragging"
Kibana 7.7.1
Eui 24.1.0

This happens when you a drag and drop list is a EuiAccordion child. Here is the demo app https://github.com/sergibondarenko/kibana-plugin-dnd-demo

Screenshot

![Screenshot 2020-06-04 at 09 50 49](https://user-images.githubusercontent.com/5389745/83730673-b3590300-a649-11ea-8f8e-6bd62d6070aa.png)

[2020-06-04 09:28] ashikmeerankutty commented on #3056
With some optimization, I was able to decrease it to 2 minutes 😁  . But there is issues with some components

![image](https://user-images.githubusercontent.com/10515204/83739746-a05b2880-a673-11ea-8630-ed0ac0d4c5ea.png)

Should I start a PR now?

[2020-06-04 09:42] ashikmeerankutty commented on #3056
Also, there are some warnings

![image](https://user-images.githubusercontent.com/10515204/83740314-49a21e80-a674-11ea-8127-b17fceb2d861.png)

[2020-06-04 11:52] shrey commented on #3473
Can I work on this issue?

[2020-06-04 13:11] shrey commented on #3473
@cchaos ?

[2020-06-04 14:35] cchaos commented on #3473
Go for it @shrey !

[2020-06-04 15:52] darnautov opened #3550 "EuiFieldNumber should allow step attribute with "any" value"
Kibana: master
EUI: 23.3.1

According to the `<input type="number">` [specification](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#attr-step) `step` attribute supports `"any"` as a valid value. At the moment `EuiFieldNumber` accepts `step` prop of type `number` only. Besides TS complaining about the prop type, I also get warning in console `Warning: Failed prop type: Inval

[2020-06-04 15:55] cchaos commented on #3550
Action: allow the string `'any'` as an option to the `step` prop of **EuiFieldNumber**

[2020-06-04 16:00] nicolapagni commented on #3543
@snide so what you said is since kibana 7.6.2 uses @elastic/eui 18.x.x, custom plugins (should or must) use the same version?

To use 24.x.x I need to change the kibana version?

[2020-06-04 16:13] cchaos opened #3552 "[Docs] Add EuiCard `display` prop example"
_Originally posted by @cchaos in https://github.com/elastic/kibana/pull/67467/review_comment/create_

<img width="1319" alt="Screen Shot 2020-06-04 at 12 14 18 PM" src="https://user-images.githubusercontent.com/549577/83781794-fec8dc80-a65c-11ea-988e-9ad371081a0b.png">

This also occurs on the Kibana homepage with overriding styles, but would be good to have a consistent approach supplied by EUI.

[2020-06-04 16:23] snide commented on #3543
Yes. And that's because EUI is globally used across kibana at a CSS layer as a giant blob. This is a known weakness in our build systems in kibana.

[2020-06-04 16:27] snide commented on #3552
Reminder for whoever picks this up that this one might touch amsterdam files.

[2020-06-04 16:50] chandlerprall commented on #3056
Sure!

Those are coming from the typescript types/interfaces being imported between files, but those values don't exist after the typescript preset takes its pass. We added logic in our custom `proptypes-from-ts-props` babel plugin. Feel free to ignore these for now, I'm not sure how we want to handle it now vs. in the future.

[2020-06-04 17:01] pickypg opened #3553 "SCSS euiBorderThin does not honor Dark Theme"
While trying to add a left border to table cells, I ran into an issue where the dark version of the generated SCSS was using the light version's border color.

[code]

### Workaround

[code]

[2020-06-04 17:48] cchaos commented on #3553
That is very odd if it is. I wonder if something got messed up with the Amsterdam theme addition.

[2020-06-04 18:25] #3512 closed

[2020-06-04 18:40] thompsongl commented on #3548
Thanks for the repro repo, @sergibondarenko

Looks like a classic case of `transform: translateZ(0);` interfering with a `position: fixed;` child element.

Not sure yet how we'd want to handle this in EUI, but for now you can target `.euiAccordion__childWrapper` with `transform: none;` in your app to solve the problem.

[2020-06-04 19:43] #3488 closed

[2020-06-04 20:24] pickypg opened #3558 "EuiBasicTable Computed Footers have the same key"
Computed columns for the `EuiBasicTable` naturally do not specify a `field` name to use. As a result, the generated `key` for the rendered `EuiTableFooterCell` is `footer_undefined` for all of them. Relatedly, if a table were to use the same field twice -- presumably with different secondary functions -- then it would hit the same issue with duplicated `footer_${field}` keys.

This leads to a warn

[2020-06-04 21:03] shrey commented on #3550
Hey, I'd like to work on this issue

[2020-06-04 21:06] chandlerprall commented on #3550
Go for it!

[2020-06-04 21:09] shrey commented on #3550
@chandlerprall  In the file field_number.ts:-
[code]

Do I need to modify the props anywhere else, or Should I create a PR

[2020-06-04 21:25] #3473 closed

[2020-06-04 21:42] #3558 closed

[2020-06-04 22:13] shrey commented on #3550
@chandlerprall @cchaos  Is this okay?

[code]

[2020-06-04 22:27] cchaos commented on #3550
Yes, that looks great. Go ahead and create a PR!

[2020-06-04 22:50] cchaos commented on #3544
Ah I think the type is actually out of date. It should match what's in the docs.

[2020-06-05 01:18] snide opened #3563 "Code sandbox cleanup tasks"
Here is a list of examples that don't work and the reason.

- [ ] EuiCollapsableNav, EuiColorPalette, EuiFocusTrap, EuiWindowEvent uses helper docs includes that should be moved to the example code.
- [ ] EuiTable uses special includes that could likely be switched to faker
- [ ] ~EuiHorizontalRule~, EuiSpacer, EuiCommentList, EuiSelectable, EuiScreenReadOnly demo examples are TypeScript files.
-

[2020-06-05 06:39] sondh0127 commented on #2074
Please support SSR for `EuiCollapsibleNav`.
EUI v24.1.0  + Next v9.4 got error:
`ReferenceError: window is not defined`

Current solution:
[code]

[2020-06-05 08:44] cauemarcondes commented on #3552
@cchaos https://github.com/elastic/kibana/pull/67467#discussion_r435777187

[2020-06-05 10:38] #3543 closed

[2020-06-05 10:41] shrey commented on #3172
@snide Can I work on this issue?

[2020-06-05 10:55] katrin-freihofner opened #3564 "[Spec] Empty states pattern"
## Purpose
This empty state pattern should provide information and guidance for users when certain areas do not have any content. It informs the user what is missing and gives them an actionable step if applicable.

## Parts

An empty state has
- a title
- a description (optional)
- an illustration (optional)
- a call to action
- links or secondary buttons with further actions and information (for

[2020-06-05 10:56] anishagg17 commented on #3172
it's not assigned to anyone. so , yes you can work upon this

[2020-06-05 12:55] miukimiu opened #3565 "[EuiSuperSelect] Dropdown not rendering properly"
I noticed that when we open the **EuiSuperSelect** and components that reuse this component, in CodeSandBox or with Create React App the dropdown doesn't render properly. It moves 16px to the right:

<img width="453" alt="Screenshot 2020-06-05 at 13 50 13" src="https://user-images.githubusercontent.com/2750668/83878108-897c0b00-a733-11ea-8a45-36df9e372402.png">

Example:
https://codesandbox.io/s/e

[2020-06-05 13:59] ScreamZ commented on #2074
@pugnascotia +1 `EuiCollapsibleNav` has not the same behavior than others
[code]

[2020-06-05 14:18] ryankeairns commented on #3504
and the resulting modal is populated with standard inputs, buttons, and a tables... correct?

[2020-06-05 14:49] cchaos commented on #3504
Not sure who you're asking, but from my view, yes it's all just a combination of other existing EUI components.

[2020-06-05 14:54] cchaos commented on #3565
Ahh, I know why. It's because it's using the popover service which restricts the popover from getting `16px` or close to the window edge. I'd have to check if **EuiSuperSelect** is using the input popover or not and if so, maybe the input popover needs to be able to negate this "buffer" and always maintain it's position against the input.

cc @thompsongl

[2020-06-05 15:29] cchaos commented on #3552
^^ @andreadelrio, I forgot we actually have this option already with `display`. We may still want to add a docs example for it though and look into the padding request.

[2020-06-05 15:49] hbharding commented on #3564
Maybe we should include "icon / illustration (optional)" to the list of elements an empty state can have. One thing that would be great to document is when is it okay to use an illustration VS when it is not?

For each of the use cases you mentioned, I could imagine us having a generic illustration or icon to use. But, this might be more specific to Kibana and not EUI. Food for thought :)

[2020-06-05 15:59] katrin-freihofner commented on #3564
Absolutely, I just somehow forgot to mention it. Thank you!

[2020-06-05 16:04] thompsongl commented on #3565
**EuiSuperSelect** does not use **EuiInputPopover**, just the standard **EuiPopover** service. Passing a `buffer` of `0` should be enough.

[2020-06-05 16:16] kertal opened #3568 "[EuiTooltip] Performance issues"
Depending on the system EuiTooltip caused a performance issue in Kibana Discover. The attached Gifs show a significant higher CPU usage by hovering the Elements containing a EuiTooltip it in Chrome 83, MacOs 10.14.6. While it wasn't that bad on my MacBook Pro (just when moving around the mouse like crazy), it seems to have a significant higher performance impact on Windows based machines (also whe

[2020-06-05 16:30] snide commented on #3568
I'd like to try and replicate this outside of discover. I'll see if I can make a quick code sandbox example to verify the issue.

FWIW, I think using a title instead of a tooltip is a better UI decision anyway, but lets see where this is getting hung up.

[2020-06-05 18:00] cchaos commented on #3565
We should probably get it to use the Input one anyway? Seems most appropriate usage.

[2020-06-05 18:39] #3483 closed

[2020-06-05 21:29] #3437 closed

[2020-06-06 16:29] merlinscholz opened #3572 "Detailed copyright explanation for possible trademark issues"
Hello, and first of all thank you for open-sourcing this wonderful design system!

I've been wanting to adopt this design for a personal webapp, the problem is, that my app written in vue.js. I tried using this framework as CSS-only import, but in the end it seemed easier to just recreate the design itself in handwritten CSS since I don't use that many different components.

Now, my question: Sinc

[2020-06-07 09:19] shrey commented on #3478
@thompsongl I'd like to work on this issue.

[2020-06-07 10:06] shrey commented on #3478
[code]

@thompsongl @chandlerprall  Will this work?

[2020-06-07 11:16] shrey commented on #478
I'd like to work on this issue

[2020-06-07 15:59] ashikmeerankutty commented on #3056
From my observation, `CommonProps` is used for generating prop information. With the new system, we could whitelist some of the props. So should I remove `CommonProps` from components? and whitelisting those props in `CommonProps`

[2020-06-07 22:15] timroes opened #3573 "[EuiComboBox] Bluring triggers `onCreateOption`"
If you use a `EuiComboBox` and have a `onCreateOption` property, so that in theory new "pills" can be created when hitting enter after typing, this property will also be triggered when the user blurs the combo box. Meaning, e.g. the following sequence will create a new option:

* Type something into the combo box
* Press <kbd>Escape</kbd> to hide the popover that says "hit enter to create that opt

[2020-06-08 11:52] miukimiu opened #3575 "Add Color Palette Display component"
## EuiColorPaletteDisplay

This issue is to track the **EuiColorPaletteDisplay** which is a follow up on https://github.com/elastic/eui/issues/2795 (Add Color Palette Picker component and widget).

The idea of the **EuiColorPaletteDisplay** is that we can use the palettes displays outside of the  **EuiColorPaletterPicker**. So we can create this type of UIs:

![80425885-93982780-88b2-11ea-8ccf-0ee

[2020-06-08 14:39] snide commented on #478
@shrey go for it.

[2020-06-08 14:53] snide commented on #3572
Thanks for the polite question. That's one for our legal team so I'll have to get back to you. There's some bits of the repo (specifically logos) that will have some trademark baggage.

[2020-06-08 18:01] chandlerprall commented on #3478
That middle block, returning an object with only `sortName` and `sortDirection`, should also be changed to update the `updatedPrevState` value. Otherwise, the changes look right enough to test :)

[2020-06-08 18:07] thompsongl commented on #3478
Yep, if you'd like to open a PR we can continue to work in there

[2020-06-08 18:47] chandlerprall commented on #3056
Couple thoughts:

* yes, would be great if the plugin is configured to auto-include these when available, even when `CommonProps` is not part of a component - e.g. only `HTMLAttributes<HTMLElement>`
* `data-test-subj` only exists on `CommonProps`, any auto-enabling of it would need to somehow verify it is properly handled (maybe we can extend React's `HTMLAttributes` to have `data-test-subj`?)

[2020-06-08 20:31] ryankeairns commented on #3504
@cchaos Recalling my original impetus for the question... EUI will be providing a pattern for the search 'dropdown', could it also provide a pattern for the deployment switcher 'modal' as seen in the description above? These feel like similar situations.

[2020-06-08 20:43] cchaos commented on #3504
We may want to start thinking about how we "section off" these patterns as a way to explain that these are patterns we **need** for consistency in our platforms but that they're also just simply that. I worry that exposing so much of that to our non-Elasticians could either cause confusion or a sense that we need to keep it up to date.

The main mechanics will be in the integration of whatever the

[2020-06-08 21:00] snide commented on #3504
^^ I agree. I don't think the pattern for this part belongs in EUI. It's just a grouping of existing components and is very likely to change when we do the implementation. I don't think we want to get into a scenario where we have to update patterns in EUI because downstream decisions have been made in the product, especially when none of the actual changes need to happen in the components themsel

[2020-06-08 21:00] ryankeairns commented on #3504
+1 for carving these out. They're very useful but certainly don't feel like they should be made and maintained for the masses.

[2020-06-08 21:06] chandlerprall commented on #2904
#3566 appears to have fixed this memory leak. Using Chrome's _Allocation instrumentation on timeline_ memory profiler I do not see objects hanging around during pagination.

[2020-06-08 21:06] #2904 closed

[2020-06-08 21:46] shrey commented on #3478
Okay on it

[2020-06-08 22:00] thompsongl commented on #3403
^ is the telling part. It means that the downloaded Chromium zip file is corrupted or incomplete. Research indicates that intermittent network issues are to blame, matching the inconsistency with which we see the failure.

The one true workaround (`Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download`) is a non-option because our automated axe testing suite uses Chromium.

Still lo

[2020-06-08 23:01] thompsongl commented on #3573
I agree that <kbd>esc</kbd> should prevent `onBlur` from triggering `onCreateOption` generally.

Another option would be to pass the DOM event as a parameter to `onCreateOption` so consumers have more control over the various interactions.

[2020-06-09 02:20] dimitropoulos opened #3580 "consider using new `allow-with-description` options for `ts-ignore` and `ts-expect-error`"
## Context

Recently I contributed [a change](https://github.com/typescript-eslint/typescript-eslint/pull/2099) to @typescript-eslint that I think the maintainers of this project may have interest in.

Basically, it's an option that mandates that any time someone uses a ts-ignore or ts-expect-error directive, it's followed with a comment explaining why the line needed to be disabled.  You can also

[2020-06-09 13:00] ashikmeerankutty commented on #3406
@chandlerprall This issue is fixed and can be closed 👍

[2020-06-09 13:01] ashikmeerankutty commented on #1077
This issue is fixed and can be closed 👍

[2020-06-09 15:22] ashikmeerankutty commented on #3056
`react-docgen-typescript`  only find `children` prop with a `comment`. So should I add comments to `children` prop ?

[2020-06-09 15:36] chandlerprall commented on #3580
Nice! It'd be great to enforce having comments on these (and prepping for the upcoming `ts-expect-error`). How does this interact with our existing `"@typescript-eslint/ban-ts-ignore": "off",` ?

[2020-06-09 15:38] chandlerprall commented on #3406
Closed by #3418

[2020-06-09 15:38] #3406 closed

[2020-06-09 15:39] chandlerprall commented on #1077
Closed by #3418

[2020-06-09 15:39] #1077 closed

[2020-06-09 15:44] chandlerprall commented on #3056
Yes, we'll want to make sure any existing `children` entries in _Props_ remains; if that requires adding comments let's do so

[2020-06-09 16:11] ashikmeerankutty commented on #3056
@chandlerprall I can`t think of a suitable comment for the same. Can you please suggest one 😐

[2020-06-09 16:23] dimitropoulos commented on #3580
`ban-ts-ignore` was [removed in v3](https://github.com/typescript-eslint/typescript-eslint/releases/tag/v3.0.0) and replaced with [`ban-ts-comment`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/ban-ts-comment.md), which covers `ts-nocheck` and `ts-check` as well.

[2020-06-09 17:06] chandlerprall commented on #3580
Great! Is your demo branch ready to be PRed, or are there other considerations needed?

[2020-06-09 17:09] chandlerprall commented on #3056
Let's start with,

[2020-06-09 17:12] dimitropoulos commented on #3580
ready to be PR'd I believe - I'll make one tonight after work.  This came up because I actually have a _different_ linting change to suggest after this goes in: (basically just a fun one to disallow `React.SFC` and `React.FC` (with an autofixer for a refactor) since this project doesn't prefer them (I'll make a separate PR later)).

[2020-06-10 05:51] kertal commented on #3568
FYI: EuiTooltip in Discover context was triggering a weird jump to top of the site in Firefox, when you scrolled down, hovered a filename it was jumping like this

![image](https://user-images.githubusercontent.com/463851/84231743-15ed4b80-aaef-11ea-87c6-2924df1b23d0.gif)

[2020-06-10 06:12] kertal commented on #3568
There's a similiar issue here related to EuiTooltip https://github.com/elastic/kibana/issues/58204, I could now reproduce it:
<img width="1345" alt="Discover_-_Elastic_Kibana" src="https://user-images.githubusercontent.com/463851/84233097-f4da2a00-aaf1-11ea-8b1c-b48e6473b2a9.png">
One user posted also a solution, which seems to be a simple CSS fix

[code]

[2020-06-10 07:19] timroes commented on #3568
@snide Could you clarify if this is a general recommendation not to use EuiTooltip then anymore? Because this performance issue is really severe for us, and if the solution from design is to use title instead, we'd start removing EuiTooltip in large across our apps. So would be good to have some clarity (and maybe adding it to the EUI documentation) if we no longer recommend using this component,

[2020-06-10 10:21] kertal commented on #2839
FYI @chandlerprall, found a solution for Discover, no more potential blocker it is:

https://github.com/elastic/kibana/pull/67259#issuecomment-641903996

[2020-06-10 15:39] phyolim opened #3586 "yarn/yarn install error"
I did ```nvm install```
then ```yarn```
I'm getting this following error. I had the error with node-gyp@5.1.0. so, i upgraded it to 7.0.0.
I tried running with both node v12 and v10 - resulting in the same errors.
[code]

[2020-06-10 15:48] ryankeairns opened #3587 "Update logoElastic to meet brand guidelines"
Recently, when updating the favicon for Kibana, I learned that the cluster logo should always show the white outline.

<img width="183" alt="Screenshot 2020-06-10 10 47 24" src="https://user-images.githubusercontent.com/446285/84289172-c8c9a380-ab07-11ea-9f42-24e22bacbb87.png">

While adding the new header variations to EUI's Figma library, I noticed that the cluster logo on the dark header does n

[2020-06-10 16:25] cchaos opened #3588 "Discuss and document guidelines for using EuiTooltip vs the `title` property"
_Originally posted by @timroes in https://github.com/elastic/eui/issues/3568#issuecomment-641785147_

---

## Starting a conversation ...

on how we want to handle our guidance to consumers over when to use EuiTooltip or simply use `title`. I know there's also some a11y concerns to consider.

[2020-06-10 16:27] cchaos opened #3589 "[EuiHeader] Some SASS issues from latest PR"
@cchaos I think this PR sneaked in a couple of issues into the documentation.

I think this should be `@include euiHeaderAffordForFixed;` and not `@mixin` if you want to include it. Also it seems, you MUST add it into a `body` rule and not anywhere in your SASS, since the style of that mixin currently uses `&.euiBody--headerIsFixed` to set the padding.

Also I am having problems actually applying

[2020-06-10 17:39] phylim opened #3590 "Amsterdam euiFilterGroup have a sharp angle border on rounded buttons"
current:
![Screen Shot 2020-06-10 at 1 13 57 PM](https://user-images.githubusercontent.com/42676669/84299761-48af3800-ab1f-11ea-8cff-583e528b8811.png)

proposed:
![Screen Shot 2020-06-10 at 1 36 16 PM](https://user-images.githubusercontent.com/42676669/84299822-611f5280-ab1f-11ea-95d2-8660dd00a749.png)

I believe this is a simple fix of adding a overwrite for euiFilterGroup css with border radius

[2020-06-10 19:19] #3586 closed, assigned to chandlerprall

[2020-06-10 22:17] anishagg17 opened #3593 "`EuiPopover` anchor is not positioned accurately"
![Screenshot 2020-06-11 at 3 45 10 AM](https://user-images.githubusercontent.com/43617894/84324235-f52c0100-ab95-11ea-91cc-13b142f6b46e.png)

The current set of configuration shows that `anchor` is placed bit below the body of `EuiPopover`

[2020-06-10 23:02] snide commented on #3593
This ONLY happens when the popover has no padding and has very little height. The combo of both are going to be be super uncommon and you have to make some bad decisions to get in that situation. Although this is a real thing that can happen, it's not something I would attempt to refactor the component to address.

[2020-06-10 23:08] thompsongl commented on #3568
I'll keep going with this, but an update for now:
Even without profiling, the visual lag is easily reproducible in the EUI docs by creating a simple component to mimic the show-button-on-hover UI in Kibana.
My thesis was that `cloneElement`, `EuiPortal`, and `EuiResizeObserver` inside `EuiTooltip` were the source of the slowness, but removing them _all_ from the component has no visual effect.

[2020-06-11 06:25] mbondyra opened #3594 "EuiAccordion - allow user to control open state from the outside"
I am implementing some changes for lens and using EuiAccordion.

![image](https://user-images.githubusercontent.com/4283304/84352153-194f0880-abbd-11ea-9a6b-8644a4b1438e.png)

I need to control the accordion from the outside because it has to change state to open when we search through the fields (see the screenshot, point 3). However, we still want to preserve the functionality of toggling it fro

[2020-06-11 14:30] philippkahr opened #3595 "Number fields issue with minimum number 1"
Hi,

I do not feel like the "1 is the minimum number in this box" is the best solution there is.

Let's say I want to change the value 1 to value 20.

Currently, I have to perform the following strokes:
20◀️◀️⬅️
as I cannot remove the 1, I have to write 120 and then go the one and delete the one.

Ideally, I would be able to do something like this:
⬅️20

I am talking about those fields:
<img width

[2020-06-11 14:34] cchaos commented on #3595
Hi @philippkahr , I believe you meant to open this issue in the Kibana repo. The EUI repo is strictly our component library. The issue you call out above seems to be with the implementation & validation of our number field not the component itself as I have tested on our side and works fine. I'll forward your issue over to https://github.com/elastic/kibana

[2020-06-11 14:44] thompsongl commented on #3594
I've not fully weighed both options, but I think there are two possibilities when `forceState` is in use:

1) Overload `onToggle`. Right now, `forceState` prevents `onToggle` from doing anything useful. We could allow `onToggle` to fire with  a single parameter of open/closed state, but prevent any internally directed state updates.

2) Add a new callback prop specifically for external control. Sa

[2020-06-11 15:07] thompsongl commented on #3057
Thanks for highlighting this, @anishagg17. Are there any potential options you see to solve the external control problem while keeping toggles?

@cchaos and @miukimiu here's another category of component to consider for your design work. In terms of its low prop complexity, **EuiFlyout** makes sense for toggles. But as a more full-page UI element it's unique. The focus trap problem, specifically,

[2020-06-11 15:09] thompsongl commented on #3057
Sorry I missed this comment 😞

I believe the designers have ideas for how to handle composed components like this.

[2020-06-11 15:17] #3589 closed

[2020-06-11 15:37] chandlerprall commented on #3593
Closing this as it is an established design decision.

For a little more explanation, modifying the existing _Panel class name and padding size_ example in the popover docs to include `anchorPosition="leftCenter"`, you get

![popover with arrow offset](https://d.pr/i/tF19rY.png)

Which is a more pronounced errant offset than the screenshot in the issue description (but is the same "error"). To sho

[2020-06-11 15:37] #3593 closed

[2020-06-11 16:15] chandlerprall commented on #3568
Did some quick testing as well; it appears that the slowdown is caused from the `this.hideToolTip()` call, so perhaps removing the portal & the resulting reflow is more expensive than creating it? If that's so, perhaps we need to wait to create the portal & tooltip DOM until that animation is triggered - moving the delay from CSS to JS.

[2020-06-11 16:18] #3523 closed

[2020-06-11 16:19] phylim commented on #3590
new proposed:
![Screen Shot 2020-06-11 at 11 36 14 AM](https://user-images.githubusercontent.com/42676669/84412841-d18ca900-abdd-11ea-93f7-e5854f51ea14.png)

[2020-06-11 16:36] cchaos commented on #3590
Yep, that would be great thanks!

[2020-06-11 16:55] chandlerprall commented on #3594
At first glance, I like option 1 better. The user is still requesting a toggle, and that should be reported back to the application to respond however it sees fit.

[2020-06-11 17:47] #3580 closed

[2020-06-11 18:17] thompsongl commented on #3568
I was able to get good results by using our `enqueueStateChange` utility on `hideToolTip` and `showTooltip`, effectively eliminating the DOM add/remove churn for elements that don't ever _need_ to be rendered.

[2020-06-11 18:23] chandlerprall commented on #3568
Nice! Good thinking!

[2020-06-11 20:48] anishagg17 commented on #3057
**BottomBar** and **Progress** take the entire screen width they too should be considered

[2020-06-11 21:23] #478 closed

[2020-06-11 21:26] #3590 closed

[2020-06-11 22:56] thompsongl commented on #3568
This helps a lot, also. Going to incorporate the idea in the open PR.

[2020-06-12 09:56] shrey commented on #2579
@cchaos Is this issue relevant still? if yes, what all changes do you expect?

[2020-06-12 15:02] chandlerprall commented on #2579
Here's a code sandbox demonstrating the issue - https://codesandbox.io/s/competent-williams-z29jd?file=/index.js

When the popup is open, 4 items are shown. The first two use **EuiContextMenuItem** directly, and tie their check icon to a `state` variable. The second two use **EuiContextMenuItem** wrapped in another component, and their icons are tied to a localized `state` variable. Clicking on ei

[2020-06-12 17:00] ashikmeerankutty commented on #3056
There is also an issue with `react-docgen-typescript` It doesn't produce a result when class extended as `React.Component<>`.

[2020-06-12 19:29] chandlerprall commented on #3056
Does it produce results with simple `Component<>` ?

[2020-06-13 15:28] ashikmeerankutty commented on #3056
Yes

[2020-06-14 18:33] ashikmeerankutty commented on #3056
I'm facing a weird issue in my plugin. I couldn't figure it till now. Exported types from `tsx` components aren't working whereas exported types from `ts` files work fine. It's not an issue related to `react-docgen-typescript` as I tried the same with my first babel plugin ( that takes 45mins 😐  ). It is working well with `tsx` files. As a quick workaround, I could move the types to be exported to

[2020-06-14 19:23] ashikmeerankutty commented on #3056
The above issue was fixed using   `jsx: ts.JsxEmit.React` in compiler option for `createProgram` 😃

[2020-06-15 11:34] ashikmeerankutty commented on #3056
It seems like this change
https://github.com/elastic/eui/blob/1259952aa509d8e7c55e915e2f3e8932f475193e/src-docs/src/views/accessibility/accessibility_example.js#L119-L121
is not necessary while using the new plugin. Can I change it ?

[2020-06-15 13:11] ashikmeerankutty commented on #3056
Manually checked all components to make sure that props are generated. Props are generated for 90% components even though there are issues with some prop types.
Props are not generated for components with `forwardRef` and that was fixed in a latest PR in `react-docgen-typescript`

[2020-06-15 14:53] formgeist opened #3606 "[EuiStat] Allow for customization of colors"
# Summary

The existing `EuiStat` component allows for coloring the values by specific color variables (our default color set). We would like to use the `EuiStat` as a large legend/KPI component in the Observability homepage visualizations. We want to be able to color the values by the assigned color in the visualization, which uses the `euiPaletteColorBlind` color palette.

Would it be possible t

[2020-06-15 14:56] kertal opened #3607 "[EuiDataGrid] Missing onColumnResize documentation"
When checking  the EuiDataGrid documentation (https://elastic.github.io/eui/#/tabular-content/data-grid), I've noticed, that `onColumnResize` was missing, and the link to data_grid_types.ts doesn't seem to work.

![Bildschirmfoto 2020-06-15 um 16 50 58](https://user-images.githubusercontent.com/463851/84672476-e42e1780-af28-11ea-8f4b-9e161e62092a.png)

[2020-06-15 15:09] AgathiaKimiya opened #3608 "EuiPopover in a container constraint does not seem to work"
Hello, here's a screenshot from the doc where the popover should render entirely in the Panel it is in but actually overflows.

![image](https://user-images.githubusercontent.com/20950399/84673552-da3ff080-aef7-11ea-9504-3bf4a7688ac8.png)

Sorry if the issue is not correctly written, it's my first time creating an issue like this!

[2020-06-15 15:14] cchaos commented on #3606
Those are nice looking charts! 😍

I'll agree that we should be able to customize more colors. I've had the same though for EuiProgress (to align to a vis color). This is one of those instances that if we do allow for colors, we should probably just allow any hex value instead of trying to account for all the colors we supply.

For instance, say we eventually get to a point where users can customiz

[2020-06-15 15:47] thompsongl commented on #3056
What was the reason for adding the `ScreenReaderOnlyDocsComponent`?

[2020-06-15 15:50] chandlerprall commented on #3056
We can convert all `React.Component<>` to `Component<>`, that's fine!

[2020-06-15 16:00] ashikmeerankutty commented on #3056
The component uses `cloneElement` and that was creating issues with `react-docgen` I guess

[2020-06-15 16:06] chandlerprall commented on #3608
Including the screenshot is perfect, thank you for reporting this issue!

[2020-06-15 16:14] chandlerprall opened #3610 "Docs+webpack build reports unfound type exports"
"export 'EuiColorPalettePickerPaletteProps' was not found in './color_palette_picker'
warnings @ bundle.js:352269
bundle.js:352269 components/color_picker/index.ts 24:0-126
"export 'EuiColorPalettePickerProps' was not found in './color_palette_picker'

Imports of types/interfaces are supposed to be removed via our custom ts->proptypes babel plugin. I suspect these two are missed because they are i

[2020-06-15 16:37] #3435 closed

[2020-06-15 16:55] thompsongl opened #3612 "Update EuiCode TS interface to reflect used/unused props"
**EuiCode** does not really accept `paddingSize` or `fontSize`. The props interfaces for **EuiCode** and **EuiCodeBlock** should be updated to reflect what props will have functional impact.

_Originally posted by @thompsongl in https://github.com/elastic/eui/pull/3529#issuecomment-644251034_

[2020-06-15 16:59] cchaos commented on #287
While it may/may not be a direct usage of EuiResizableContainer, having done that one first can inform how we'd handle similar functionality for EuiFlyout and possible reuse services and/or components like the resizing handle.

[2020-06-15 16:59] shrey commented on #3606
I'd like to work on this issue, How do you guys plan to let the user change the colour?

[2020-06-15 17:30] chandlerprall commented on #3610
Nothing to see here, bad build cache locally :disappear:

[2020-06-15 17:30] #3610 closed

[2020-06-15 17:34] #3608 closed

[2020-06-15 17:37] #3607 closed

[2020-06-15 18:05] snide commented on #3606
Normally when we've done these we allow either the enum of named colors (as it works now) or a hex value. You can likely look into a couple of our components (like EuiBadge) for an example of how we validate this at the prop layer. Thanks for taking a look.

[2020-06-15 18:20] thompsongl commented on #3056
Go ahead and change it if it is no longer the source of problems

[2020-06-15 18:29] #3536 closed

[2020-06-15 19:23] #3587 closed

[2020-06-15 20:17] thompsongl commented on #3568
Changes in #3596 result in only single-digit Chrome renderer CPU % increases compared with a stateless, tooltip-less component after excessive mouseover/mouseout activity.
More normal interaction (like in the original gifs above) will result in negligible CPU increases when using the improved **EuiTooltip**

[2020-06-15 22:51] #3568 closed

[2020-06-15 22:56] nreese opened #3615 "EuiColorPalettePicker palettes prop does not accept data-test-subj"
EuiColorPalettePicker needs to allow setting data-test-subj on palettes so that functional tests can select options. Blocking https://github.com/elastic/kibana/pull/69190

Should be able to pass `data-test-subj` to palettes and then the generated button should have data-test-subj. EuiSuperSelect allows passing `data-test-subj` to `options` list props

[code]

cc miukimiu

[2020-06-15 23:09] shrey commented on #3606
@snide So, we could create a seperate class like `euiStat__title--custom` where we could allow the user to enter a hex code for custom colours?

[2020-06-15 23:52] snide commented on #3606
You would likely check to see if if was one of the enums... then use a class. If a hex was used instead, apply the coloring through a style tag.

[2020-06-16 09:04] shrey commented on #3606
@snide I was thinking we could even use the `isValidHex` function to check the hex fn

[2020-06-16 14:49] chandlerprall commented on #3606
It's probably better to check if the string is a key in the enum lookup to use its className, and allow any other arbitrary strings passed through to a style tag. This gives the consuming application extra flexibility.

[2020-06-16 15:12] shrey commented on #3606
@chandlerprall I've made it work in the docs, but there are some errors, I'll make a PR, we we can from there

[2020-06-16 16:48] cauemarcondes opened #3618 "[EuiProgress] Allow for customization of colors"
The existing `EuiProgress` component allows for coloring the values by specific color variables (our default color set). We'd like to use it in the Observability overview page with custom colors.

This is similar to what was asked here #3606

<img width="993" alt="Screenshot 2020-06-16 at 18 47 17" src="https://user-images.githubusercontent.com/55978943/84803110-d26c7300-b001-11ea-8334-097ae617427

[2020-06-16 17:04] cchaos commented on #3618
This one is going to be slightly difficult because of the CSS prefix nature of using a native HTML element `<progress>`. But I have need for this as well to align the color based on the token field type in Lens.

[2020-06-16 17:38] cchaos commented on #3553
I dug into your code over there and can see that your problem actually lies with your imports of EUI's globals. In the dark theme, you actually need to import the dark colors **before** all the variables/functions/mixins. So you need to move [these lines](https://github.com/elastic/dream-machine/blob/e426245adcde43b06de4f9548d3dda1cc53cfd45/client/frontend/src/theme_dark.useable.scss#L7-L9) to the

[2020-06-16 17:38] #3553 closed

[2020-06-16 19:33] nreese opened #3621 "Add gutterSize prop to EuiFacetGroup"
EuiFacetGroup does not expose a `gutterSize` like `EuiFlexGroup` does. The default padding is `24px` which is rather large. It would be nice if you could specify something smaller.

[2020-06-16 19:56] #3615 closed

[2020-06-16 20:58] shrey commented on #3621
I'd like to work on this one

[2020-06-16 21:24] #3594 closed

[2020-06-16 22:41] shrey commented on #3466
I'd like to work on this one

[2020-06-17 10:33] shrey commented on #3466
@thompsongl So, for the persistence of the size, what do you think should be used, redux-persist perhaps?

[2020-06-17 11:57] miukimiu commented on #3621
Thanks, @shrey. Go ahead!

As @nreese mentioned you can look at how the `gutterSize` works in [EuiFlexGroup](https://elastic.github.io/eui/#/layout/flex) and do something similar.

So we would have a prop called `gutterSize` and we could pass different sizes: `"xs", "s", "m", "l", "xl"`. I don't think we need the `none`.

[2020-06-17 13:56] shrey commented on #3621
@miukimiu In the `EuiFlexGroup` the `gutterSize` property determines the margin between the nested `EuiFlexItem` components, In the case for `EuiFacetGroup`, we're just rendering a single `EuiFlexGroup` and the nesting some `EuiFacetButtons` in it, so if we're talking about the spacing between the buttons as a whole we can change the `margin-right: $euiSizeL;` in the `_facet_group.scss` and make i

[2020-06-17 15:23] chandlerprall opened #3623 "[EuiBasicTable & EuiInMemoryTable] Props tabs are missing common props"
The Props tabs for both **EuiBasicTable** and **EuiInMemoryTable** are missing the data-test-subj and className props. These apply not only to the top level table components, but also some sub-components like the in-memory table's search box, and should be added & described in each relevant location.

[2020-06-17 15:55] thompsongl commented on #3466
@shrey In this case, the data persistence in question would be done entirely in the consuming application; EUI would have no part in how those size values are stored. Redux is certainly an available option for apps using EUI, but we make no prescription.

The necessary changes for EUI would be:
1) Change the `onPanelWidthChange` callback prop to be called with the widths of _all_ panels in the **E

[2020-06-17 16:39] myasonik opened #3624 "[EuiBreadcrumbs] Accessibility"
- [ ] Default `aria-label` should be changed to "Breadcrumbs" and be i18n'ed
- [ ] DOM structure should be nav > ol > li > a/span/button/etc
- [ ] Popovers used in truncation should use `ownFocus` prop
- [ ] Should set `aria-current=true` to the last element. `aria-current="page"` if it's a link.

[2020-06-17 16:48] myasonik opened #3625 "[EuiSelectable] Discoverability of exclusions"
**Selectable** currently supports exclusions by clicking on each option multiple times: clicking once sets it to "included", clicking again sets it to "excluded", and clicking again resets it to nothing.

There isn't a great way to expose this to assistive tech (currently being done with `aria-label`s reading out instructions) but also this doesn't seem very discoverable to many people without spe

[2020-06-17 17:24] myasonik commented on #2774
This component is deprecated so I don't think we're going to do more work on this

[2020-06-17 17:24] #2774 closed

[2020-06-17 17:27] myasonik commented on #752
Everything in the meta ticket is done

[2020-06-17 17:27] #752 closed

[2020-06-17 17:28] myasonik commented on #1585
Duplicate of #731

[2020-06-17 17:28] #1585 closed

[2020-06-17 17:47] gjones opened #3626 "404 & 403 pages as components"
As Elastic builds more apps in-house, its becoming apparent that to ensure that platform feel, there are some areas we should be consistent with across those apps. Rather than trying to rebuild these areas in each code base, it seems to make sense to add them as components to EUI.

One such example is 404 / 403 pages, we have them in Cloud already and have another two apps that will be needing the

[2020-06-17 20:59] cjcenizal opened #3627 "EuiCode fullscreen feature broken on example pages"
Full-screening the examples just shows an empty code block:

![image](https://user-images.githubusercontent.com/1238659/84949847-bb319200-b0a2-11ea-8205-41d6cdfc0d62.png)

[2020-06-17 21:05] cjcenizal commented on #2903
Does scroll-spy need to be coupled to nav menus? For example, could you also use it to trigger an animation once it gets scrolled into view? Maybe "Utilities" would be a better section for it, though that's starting to become a bit of a kitchen sink. :)

[2020-06-17 21:27] sarahetter opened #3629 "[EuiCheckableCard] Grey portion around radio button is not clickable"
Currently only the label text and the radio button itself is clickable, however as it is part of the card, the grey container should also select the item, similar to how selectable cards work.

[2020-06-18 00:19] snide commented on #3621
Hoping in since @miukimiu is on vacation for a few days. In a vertical layout, it's fine to consider the margin as applied vertically between the items. Similarly I think you'll want to match the vertical space to the horizontal space (either 1:1 or on a set ratio) when in a horizontal layout and the items wrap to another line.

![image](https://user-images.githubusercontent.com/324519/84963570-9b

[2020-06-18 04:10] vadistic commented on #2474
Hello - I've just started to work with eui - it's amazing :)

About the hook - you want the hook only to access context - then you can return helpers in any shape you like :)
[code]

Actually, I'm going to play with it a bit in my project - but I have a tiny roadblock - could you consider exporting I18nContext variable?

https://github.com/elastic/eui/blob/5d29a4ae35802765e7d2fdf54200a60aae38f54c/

[2020-06-18 13:28] parikshitgawali commented on #1690
**icon property** is not working  7.7.x onward . **eui css styles** are not imported for custom icon. due look inappropriate .

[2020-06-18 15:25] atifsyedali opened #3634 "EuiCardProps is not exported in eui.d.ts"
EuiCardProps is not exported in eui.d.ts

[2020-06-18 15:37] cchaos commented on #3626
This is certainly a good opportunity to develop a pattern. I agree that the actions and most likely the description too will need some level of customization. It's very similar to our EuiEmptyPrompt which could be utilized in some fashion for a 404 specific  use-case.

As we start incorporating more generic illustrations like this into our patterns, I think EUI needs to come up with a plan on how

[2020-06-18 15:51] cchaos commented on #1690
@parikshitgawali Can you please explain more of your implementation so we can troubleshoot?

[2020-06-18 16:10] chandlerprall commented on #3626
I'd like to avoid issues EuiIcon has with this approach, and instead of calling `<Illustration type="blergh"/>`, either re-use a thin wrapping in each illustration (`<BlerghIllustration/>`) or import the illustration type and pass that in,

[code]

[2020-06-18 16:10] #3627 closed

[2020-06-18 17:07] snide commented on #3626
I 💯  agree with @chandlerprall's approach. One question will be whether we have two illustrations or whether we use the wrapper to allow for css selector changes in color based upon the theme.

I much prefer the later approach, only using one source image and updating its coloring through the theme itself.

Sounds like this would have a couple next steps:

* Develop an `EuiIllustration` component

[2020-06-18 17:10] cchaos commented on #3626
I'm good with whatever approach to an **EuiIllustration** component. Would love it if an engineer could tackle that portion.

As for **where** to store the illustrations, should we consider that these are brand-specific and don't want to open-source them or are we good with allowing public access to them?

[2020-06-18 18:51] anishagg17 opened #3635 "EuiTabs props don't render"
https://elastic.github.io/eui/#/navigation/tabs

shows only props for **EuiTab** but on Inspection I found that it is supposed to show props for both **EuiTabs** and **EuiTab**

[2020-06-18 19:42] snide commented on #3635
This is also happening with `EuiIcon`.

[2020-06-18 21:38] pickypg commented on #3553
Thanks @cchaos. Indeed that was the issue. It also impacted a different project, so it was super handy to catch it when / where you did!

[2020-06-18 22:55] cjcenizal opened #3637 "[EuiInMemoryTable & EuiSearchBar] Clears the filter input as you enter some text"
In the below example, the `EuiInMemoryTable` has its `search` prop configured with:

[code]

If you type `name=` and then any character, that keypress results in the character being input into the search box but then the search box gets cleared.

![table_filter](https://user-images.githubusercontent.com/1238659/85079439-b42a8280-b17b-11ea-8b6c-dcb03d464c55.gif)

[2020-06-19 17:07] shrey commented on #3634
@thompsongl  I'd like to work on this one, could you elaborate a little, what's the issue

[2020-06-21 01:00] atifsyedali commented on #3634
See #3038 or #3468

[2020-06-21 04:04] shrey commented on #3634
@atifsyedali Thanks, got it :)

[2020-06-21 05:46] parikshitgawali commented on #1690
Hi @cchaoss,
My implementation is working fine till 7.6.x release. I am facing issue while migrating plugin to 7.7.x. I have attached my plugin screenshot of custom plugin icons. It looks bigger than default EUI icons. As per my analysis '**class="euiIcon euiIcon--medium euiIcon--app euiIcon-isLoaded euiListGroupItem__icon"
![7 7 0](https://user-images.githubusercontent.com/20697102/85217642-ad388

[2020-06-22 21:52] FredKSchott commented on #3521
As of the latest Snowpack, namedExports should no longer be required thanks to an internal rollup upgrade.

[2020-06-23 07:25] lemcii commented on #3521
Thanks, seems to work. I've upgraded the example

Did have to workaround this error:

[code]

Used a [workaround](https://github.com/webpack/webpack/issues/10035#issuecomment-603231120), imagine this may be "fixed" by Snowpack later.

[2020-06-23 13:14] shrey commented on #3612
@thompsongl How would you want the `EuiCode` to be updated i.e should I just delete the unused props?

[2020-06-23 14:39] cchaos commented on #1690
@parikshitgawali This is actually an implementation problem with Kibana's nav and I have opened an issue in their repo referencing your comment https://github.com/elastic/kibana/issues/69691

[2020-06-23 14:41] philippkahr opened #3643 "[Enhancement] Multi close toast notifications"
Hi,

sometimes you run into such issues, displaying a lot of toast notifications.
![image](https://user-images.githubusercontent.com/12175559/85416726-1b2aab80-b56f-11ea-9fbf-540ceb0ca609.png)

You can now just reload the entire page, which takes time and kicks off the same search again. From a user experience perspective, I do not find that this is the best possible solution.

I can think of two

[2020-06-23 15:09] cchaos commented on #3643
I honestly consider this to be a Kibana issue and not EUI. Kibana should consider not duplicating the same error messages and/or grouping all similar errors into one toast. I'm going to move this issue to the Kibana repo.

[2020-06-23 15:37] thompsongl opened #3644 "[Docs] Props table custom interface links not working"

[2020-06-23 15:59] FredKSchott commented on #3521
+1, we should be able to handle global without the need for a node polyfill plugin

[2020-06-23 16:48] thompsongl commented on #3612
`Omit`-ing the unused props is likely to solve the problem, yes

[2020-06-23 17:13] shrey commented on #3612
@thompsongl Is `overflowHeight` a valid prop for `EuiCode` or just for `EuiCodeBlock` ?

[2020-06-23 17:45] snide commented on #3612
@shrey  `overflowHeight` is only used for `EuiCodeBlock`

[2020-06-23 18:42] #3634 closed

[2020-06-23 19:54] thompsongl opened #3649 "[Docs] Consolidate component pages into tabbed UI"
Adding a sort of sub-project to #3057 whereby the new Playground environment is located more closely to the component Examples page. Similarly, components with Guidelines would have those pages move to the same tabbed UI.

<img width="1186" alt="Screen Shot 2020-06-23 at 1 49 34 PM" src="https://user-images.githubusercontent.com/2728212/85452999-a8163a80-b558-11ea-90bf-6be843b59fbd.png">

Use the

[2020-06-23 20:15] anishagg17 commented on #3649
What about `Writing guidelines` ,`Text scales` ,`Sass guidelines`, `Color guidelines` and `Accessibility guidelines` where should these be located with ?

[2020-06-23 20:28] cchaos commented on #3649
Not **all** the guidelines will be able to move to a component specific page. Out of the ones you mentioned,  only `Text scales` can be moved to the "Text" / **EuiText** component page

[2020-06-23 21:29] snide opened #3651 "[EuiTextDiff] Jest tests fail on Linux"
EuiTextDiff includes an imported `.d.ts` module. This causes an import error for Jest before `24.9.0`. [Fixing it](https://github.com/kulshekhar/ts-jest/issues/1289) requires upgrading, but newer versions of Jest [run into issues](https://github.com/facebook/jest/issues/8906) around the `expect.assertions` stuff we do with `EuiIcon` tests.

Solution should probably be to upgrade Jest and fix the `

[2020-06-23 23:01] shrey commented on #3565
Can I work on this one?

[2020-06-23 23:02] thompsongl commented on #3547
Still able to reproduce the issue in my WIP focus trap update branch.
There are some suspect prop type warnings in the console that I'll look into. Can confirm that Firefox appears to be unaffected (although it does log the same warnings).

[2020-06-23 23:18] andreadelrio opened #3652 "[EuiProgress] Add label and value props"
We're displaying `EuiProgress` along with some metadata (namely a label and a value) in both Discover and Lens. It would be convenient to be able to pass these as props of `EuiProgress`.

<img width="226" alt="aimage 28" src="https://user-images.githubusercontent.com/4016496/85476304-e0c00f00-b56c-11ea-96d8-c0de7cfe63df.png">

Related to [this](https://github.com/elastic/kibana/pull/69440#pullrequ

[2020-06-24 00:30] snide commented on #3565
@shrey go for it, you're on a roll.

[2020-06-24 07:34] markov00 commented on #3184
closing this issue as EUI documentation now includes `Part to whole comparisons` with pie chart and treemaps https://elastic.github.io/eui/#/elastic-charts/part-to-whole-comparisons

[2020-06-24 07:34] #3184 closed

[2020-06-24 13:35] cchaos opened #3653 "[Discuss] Where/how to store illustrations and consume them"
_Originally posted by @cchaos in https://github.com/elastic/eui/issues/3626#issuecomment-646182801_

[2020-06-24 13:39] cchaos commented on #3653
**Things to keep in mind:**

1. SVG's need classes applied to certain paths/groups that will enable theming to switch between light/dark and possible others themes as well.
2. Including these in our dist will greatly increase our distribution package
3. It's more than just Kibana that will need access to them, but we'd like to keep them solely for Elastic use (not OSS)

**A couple of ideas that we

[2020-06-24 16:41] PhaedrusTheGreek opened #3654 "Add support for frozen columns/rows"
Today, I can make the table scrollable horizontally by doing:

[code]

Which immediately leads to the next question of, can columns or rows be frozen?

[2020-06-24 18:01] thompsongl commented on #3547
@toanjsonar For clarification, have you seen this error occur outside of the EUI docs example?

[2020-06-24 19:44] cchaos commented on #3654
@PhaedrusTheGreek Valid request! However, we've split this type of functionality between having a data-grid or simple table display experience. This would fall under the data-grid experience in which we have a new component **[EuiDataGrid](https://elastic.github.io/eui/#/tabular-content/data-grid)** and having frozen rows/columns is on that roadmap (https://github.com/elastic/eui/issues/2839). So

[2020-06-24 19:44] #3654 closed

[2020-06-24 19:51] toanjsonar commented on #3547
@thompsongl yes, one of company projects is using Eui, and I found this error there. Then I tried whether it occurs on Eui docs or not.

[2020-06-24 20:01] thompsongl commented on #3547
Thanks for helping!

_Troubleshooting update:_
I was able to get a standalone **EuiContextMenu** "stuck" in Chrome. That is, no popover or focus trap. Not sure what to make of it yet.

[2020-06-24 20:11] #3621 closed

[2020-06-24 23:11] shrey commented on #3565
@snide Thanks :) btw, How do I check if the changes actually work? because on changing it through the console, it seems fine
![Screenshot 2020-06-25 at 4 40 15 AM](https://user-images.githubusercontent.com/53302612/85636380-06006a80-b69e-11ea-9fc9-68920a139df2.jpg)

[2020-06-24 23:16] shrey commented on #3296
Is this issue still valid?

[2020-06-24 23:17] shrey commented on #3443
@thompsongl So what all changes would you like me to make?

[2020-06-25 06:35] ashikmeerankutty commented on #3635
The issues with EuiTabs and EuiIcon will be fixed by #3554

[2020-06-25 09:15] cauemarcondes commented on #3296
@shrey I think so!

[2020-06-25 15:02] myasonik opened #3659 "[EuiLink] Adding new tab/window help text for screen readers"
Whenever a link is going to open in a new tab or window, we should warn screen readers ahead of time.

In an ideal world, they could do this for us but [support is abysmal right now](https://www.powermapper.com/tests/screen-readers/navigation/a-target-blank/) so we're going to have to help out.

The easiest way we can do this is adding some hidden text to the link text that reads "opens in a new w

[2020-06-25 16:38] timroes commented on #3589
That's really weird, I actually tried that in my setup and didn't work until I put it into `body`, but might be something weird in create-react-app the way SASS is compiled ... or the more likely solution: I was simply too stupid :D

[2020-06-25 16:42] #3547 closed

[2020-06-25 16:46] #3612 closed

[2020-06-25 17:24] snide commented on #3589
@timroes  Having recently done this in the gatsby repo, the instructions could be a little more clear. I'll update it.

[2020-06-25 19:19] bhavyarm opened #3660 "[EuiSwitch] Can't add data test subject"
While adding a11y tests to saved object table - I found out that I cannot add data test subject to the the switch for "include related objects"

This is the code for switch in kibana/src/plugins/saved_objects_management/public/management_section/objects_table/saved_objects_table.tsx :
[code]

Thanks @myasonik @dmlemeshko

[2020-06-25 20:13] thompsongl commented on #3443
"Change all occurrences of `number | string` types to only allow `number`" in **EuiDualRange** and **EuiRangeInput**

This is 1) a breaking change and 2) will require simplifying all the related places we do `string` to `number` conversions.

[2020-06-26 14:47] marrasherrier commented on #3564
Wireframes: https://www.figma.com/file/OMFK6Bybe1wwVrq3HdDL8T/Empty-State-patterns-Copy?node-id=0%3A1

[2020-06-26 16:12] cchaos commented on #3660
I think the simplest plan here is to allow EuiCheckbox, EuiRadio, and EuiSwitch to all have a prop called `labelProps`, extending the props of `EuiFormLabel` and spreading them on the component.

[2020-06-27 15:32] shrey commented on #3660
I'd like to work on this one

[2020-06-27 23:27] snide commented on #3660
@shrey go for it

[2020-06-29 16:59] chandlerprall commented on #3659
I feel this falls under the bucket "should be fixed by the browser platform", similar to recent discussions around tabbing to scrollable div containers. I suppose the simple fix of adding an **EuiScreenReaderOnly** in affected **EuiLink**s makes the surface area for this very small, but could become complicated if/when individual browsers fix this on their end; wouldn't want the message duplicated

[2020-06-29 18:08] chandlerprall commented on #2474
It is, effectively, exported - though if the setup does not support your needs, I'm curious what you're doing :)

The context consumer is exported through **EuiI18nConsumer** and its provider is wrapped by **EuiContext**. This split is intentional, to ensure that a "required" context value is provided (or at least known and considered) if/when there is a new EUI context. Essentially, we want any c

[2020-06-29 20:23] snide commented on #3659
I also feel this is something that is so simplistic on the browser side that I don't want to create something on our side to cover. It seems more like a bug with them, and while I know we tend to fix browser oversights for this in more complicated components, I feel the line where we do that starts is when we're making non-semantic UI like toasts.

I don't think this is something we should take on

[2020-06-29 20:30] cchaos opened #3671 "Add guidelines for z-index concerns/customizations/practices"
What are you thoughts on creating a specific z-index concerns/customizations/practices page in the docs?

_Originally posted by @chandlerprall in https://github.com/elastic/eui/pull/3655#issuecomment-651246729_

[2020-06-29 22:42] zinckiwi opened #3672 "EuiCode background clashes with non-white backgrounds"
In a warning callout, for example, an inline EuiCode element can't help but look a little odd. The padding for inline elements is set to override the `paddingSize` prop, so your choices are:

(With `transparentBackground={true}`)
![image](https://user-images.githubusercontent.com/5832606/86063041-0e054380-babe-11ea-83e2-2d2bc712a322.png)

(With `transparentBackground={false}`)
![image](https://use

[2020-06-29 22:43] cchaos commented on #3672
Not entirely a dup, but piggy backs off of https://github.com/elastic/eui/issues/1131 in which there's a description as to why we've stayed away from transparency.

[2020-06-29 22:45] zinckiwi commented on #3672
For this immediate use case, allowing `paddingSize` to trump the padding set by `inline` would do the trick:

![image](https://user-images.githubusercontent.com/5832606/86063330-bfa47480-babe-11ea-8b5f-261c3ba5f36d.png)

[2020-06-29 22:49] zinckiwi commented on #3672
Never mind, thanks to @cchaos just a regular `<code>` will work fine since it applies the right styles and sizing on its own.

[2020-06-29 22:49] #3672 closed

[2020-06-30 11:56] limitall opened #3674 "https://elastic.github.io/eui/ not working"
![image](https://user-images.githubusercontent.com/1210200/86123219-b7682b80-baf6-11ea-981c-a7655f898fbf.png)
can't open page

[2020-06-30 12:35] miukimiu commented on #3674
Hello @limitall,

I can't replicate the issue. I tried on Firefox (different versions) and it works.

Which Firefox version are you trying to open the site?

[2020-06-30 12:48] limitall commented on #3674
![image](https://user-images.githubusercontent.com/1210200/86127818-239a5d80-bafe-11ea-9d48-df69648cdee3.png)

[2020-06-30 12:52] limitall commented on #3674
@miukimiu  yes your right it is working of google chrome for me

[2020-06-30 19:39] chandlerprall commented on #3674
Ack, that error comes from the EUI theme specified in your local storage no longer existing. Thought we had an existing issue to cover this, but it appears not. Try clearing your browser's local storage when on https://elastic.github.io/eui/#/ and then refreshing.

[2020-07-01 07:07] limitall commented on #3674
Solved. Thank you.

[2020-07-01 07:07] #3674 closed

[2020-07-01 13:45] cchaos opened #3676 "[EuiStat] Allow customizing the render of the title and description HTML tags"
The error occurs when in the Stat component in the description you add something other than plain text, for example I include my own component, doing this generates a ```<div>``` tag inside a ```<p>```, for example:
[code]
This produces a problem with React validation, to be more exact it shows this warning in console:

```Warning: validateDOMnesting (...): <div> cannot appear as a descendant of <

[2020-07-01 13:48] cchaos commented on #3676
Regarding the error, I thought that might be the case. **EuiStat** is pretty prescriptive with the elements it renders because they're being wrapped in **EuiTitle** and **EuiText** components which should be some level of text element (heading, paragraph, etc).

We will need to support some level of customizing these elements instead of just replacing the `<p>` tags with `<span>` tags. It will req

[2020-07-01 15:24] #2325 closed

[2020-07-01 15:24] #3426 closed

[2020-07-01 16:02] #3649 closed

[2020-07-01 16:10] chandlerprall commented on #3637
I can replicate with this setup:

[code]

which clears the application-controlled search query on a parse error, which `name=` results in. To resolve, the `onChange` callback can be modified to

[code]

Does this reflect your setup?

[2020-07-01 16:17] anishagg17 commented on #3057
@thompsongl I have successfully setup playground for `EuiButton` should I create a pr for review .?

[2020-07-01 16:36] myasonik opened #3678 "[EuiProgress] Add semantic structure to label and value"
Pulling out an idea from PR #3218 into a follow up issue.

Trying to think of a way to join the label and value text so there's something more semantic tying them together rather than just proximity...

I'm thinking maybe a `<dl>` might work? A DOM structure like this maybe:
[code]
If we introduced an extra prop for how to render the wrapping element, we could even extend this to better work with

[2020-07-01 16:36] myasonik commented on #3678
Comments from @cchaos:

I definitely see the benefit of using the `<dl>` type of structure but it seems way to prescriptive to do this for every single usage.
	- What happens if it's just a single progress bar? `<dd aria-hidden>` doesn't work by itself.
	- What if it's only a single use of the progress with a label? Is it ok to have a list with a single item?

Let's consider just making the elemen

[2020-07-01 16:38] myasonik commented on #3678
Ah, yeah, you're right. I guess we only go to the `<dl>` structure if there's a value and label then.

Yup, should be fine!

[2020-07-01 17:40] thompsongl commented on #3057
Great! Yes, open a draft PR and we can use that for more focused discussion.

[2020-07-01 17:50] walterra opened #3679 "EuiContextMenuPanel with EuiLink dom validation error"
The [docs for EuiBasicTable](https://elastic.github.io/eui/#/tabular-content/tables) show two ways of adding actions in the "Adding actions table" section: One with config objects and one with passing a render function that includes `EuiLink` to create the button. The example with config objects has 5 actions which will get rendered in the popover menu. The example with `EuiLink` has 2 actions whi

[2020-07-01 17:53] timroes opened #3680 "[EuiFlexGroup] Column layout has "weird" responsive behavior"
Currently when you have a `EuiFlexGroup` with `direction="collumn"` and multiple items in it, it all looks good in wide screen mode, that basically all items will render under each other and share screen space (or if you use `grow={false}` behave as expected).

If the screen now goes to small suddenly all items will be made 100% height and wrap beside each other in a scrolling way. This feels like

[2020-07-01 17:58] cchaos commented on #3680
Try changing `responsive="false"`. I agree it's weird behavior, but it's a carry over of `responsive` for row layout. I also find that unless you're centering an element vertically, `direction="column"` is less predictable than just sticking to the regular DOM block layout.

[2020-07-01 18:08] chandlerprall commented on #3679
This is reproducible in the **Adding actions to table** docs example by adding a 3rd custom action, forcing a popup/context menu when displaying the actions.

Also, in this configuration the control's action fires twice, once when clicking the action and then _collapsed_item_actions_ triggers it again.

_collapsed_item_actions_ is already touching the action component's props, perhaps it is not te

[2020-07-01 18:35] ashikmeerankutty commented on #3676
If an element other than a `string` is provided. What could we do for the screen reader. When I provided a div it was showing  [object Object]
https://github.com/elastic/eui/blob/c19ca9f1c2e70e8f8b0295fb6eb416837646fb45/src/components/stat/stat.tsx#L139-L141

[2020-07-01 19:33] miukimiu commented on #3606
Closed by https://github.com/elastic/eui/pull/3617

[2020-07-01 19:33] #3606 closed

[2020-07-01 20:12] miukimiu commented on #3565
Hi @shrey,

As @cchaos described this issue happens when the **EuiSuperSelect** is close to a window edge. A way to test is to put the **EuiSuperSelect** close to the browser window edge. For example on the top left corner with a fixed position.

![1](https://user-images.githubusercontent.com/2750668/86286377-40a65d80-bbde-11ea-823b-71db4ec0b8eb.gif)

To do that you can edit the `eui/src-docs/src/

[2020-07-01 20:49] thompsongl commented on #3679
A couple thoughts:

* Using `render` should be a option where the consumer can do anything they want but is more or less on their own.
  * Adding `onClick` to the config item is still too restrictive and the config would need to grow further to include `enabled`, etc.
  * We'd need to modify `EuiContextMenuItem` to not render a `button` or `a` (the only two outputs right now) and instead render a

[2020-07-01 20:58] cchaos opened #3683 "[EuiColorPicker] Need support for changing placeholder text and add `isClearable` option"
To help support a particular workflow in Lens where we have the idea of an "Auto" color, where then a user can override this, I've come up with a solution that doesn't involve a second click just for users to initiate "custom". This flow involves leaving the input blank to keep it in "Auto" mode, but the placeholder text says "Transparent" with no way to change it. Also, I'd like a quick single cl

[2020-07-01 20:59] cchaos commented on #3683
I'm labelling this as `urgent` because this color picker is going in to Kibana 7.9, and without a really big hack/workaround to not use the color picker, we really need to be able to change the placeholder text (at the very least).

[2020-07-01 21:19] chandlerprall commented on #3679
Expanding `name` sounds good to me. It does not fix the 3+ custom actions bugs, but clears the way for most use cases, as stated above. Only unintended consequence I can see is _default_item_action_ uses the name string as an aria-label and would need to implement `useInnerText` to extract that value from a component.

[2020-07-01 21:56] thompsongl commented on #3679
Right, I think we also want to "modify EuiContextMenuItem to not render a button or a" when `render()` is in use.

Good point about `useInnerText`.

[2020-07-02 10:32] shrey commented on #3676
@cchaos The description just straight out displays the text written inside it, could you guide me as to how to reproduce the bug.
[code]

[2020-07-02 10:52] ashikmeerankutty commented on #3676
Check the console for a warning

[2020-07-02 11:59] shrey commented on #3676
![Screenshot 2020-07-02 at 5 29 00 PM](https://user-images.githubusercontent.com/53302612/86356264-8ff59800-bc89-11ea-9bbd-b86cc52f6101.jpg)

@ashikmeerankutty  No warning related to the problem

[2020-07-02 12:12] shrey commented on #3676
![Screenshot 2020-07-02 at 5 42 06 PM](https://user-images.githubusercontent.com/53302612/86357398-6473ad00-bc8b-11ea-830d-9d12065978d6.jpg)
Still no warning though

[2020-07-02 12:19] #3565 closed

[2020-07-02 12:28] ashikmeerankutty commented on #3676
You passed the component as `string`. The component is not rendered here.
Try this:
[code]

[2020-07-02 12:51] ch-bas opened #3686 "[EuiFilePicker] File Picker not working in Codesandbox"
Hi everyone,
I think this is a bug.
When you want to test EuiFilePicker in Codesandbox, this error is showed.
![error](https://user-images.githubusercontent.com/18037647/86360923-5ade4b00-bc73-11ea-8104-9a344d9910f3.png)

[2020-07-02 13:42] cchaos commented on #3686
Thanks for catching this @ch-bas! Indeed, the problem stems from that demo not being exported as `default`.

[2020-07-02 16:02] pugnascotia opened #3687 "EuiBreadcrumbs breaks SSR"
`EuiBreadcrumbs` directly references `window` without any guards. I found this because I tried upgrading EUI in [next-eui-starter](https://github.com/elastic/next-eui-starter), and rendering the index page broke.

Replicate in the starter repo with:

   * `nvm use 14` (the next step upgrades a dependency that requires node >= 13.7)
   * `yarn upgrade --latest`
   * `yarn dev`
   * Visit http://loc

[2020-07-02 18:47] thompsongl commented on #3056
This would be follow up work to the PR you already have open, but we'd also like to find a way to directly include types and interfaces in the Props table (see #1688)

[Tables](https://elastic.github.io/eui/#/tabular-content/tables) are good example of this. We manually add complex types and interfaces through a [propsInfo](https://github.com/elastic/eui/blob/master/src-docs/src/views/tables/basic

[2020-07-02 19:13] thompsongl commented on #3057
Let's start a list of components that will get a Playground tab.

`EuiButton` is the obvious one. Some already marked complete in #3529 make sense.

What other simple components make sense?

[2020-07-02 19:18] anishagg17 commented on #3057
OKay then I would post a list of components here only

[2020-07-02 19:22] chandlerprall commented on #3679
@thompsongl @walterra EUI@26.3.0 is out, with the ability to pass a react node to an action's`name`.

[2020-07-02 19:39] anishagg17 commented on #3057
## Layout

  Accordion ( has a function `onToggle`)
  Bottom Bar  ✅
  Flex ( has child components )
  Horizontal Rule ✅
  Panel ( has betaBadgeTooltipContent as reactNode)
  Spacer ✅

## Navigation

  Button ✅
  Facet ( has a function `onClick`)
  Key Pad Menu ( `EuiKeyPadMenuItem` seems simple it too has a function `onClick` )
  Link ( has a function `onClick`)
  Pagination ( has a function `onPa

[2020-07-02 20:59] #3552 closed

[2020-07-02 21:53] #3683 closed

[2020-07-02 22:42] shrey commented on #3686
@cchaos What changes will be needed in this one?

[2020-07-02 22:44] cchaos commented on #3686
The documentation example for that one needs to be exported a `default` instead of as `const FilePicker`

[2020-07-03 08:32] manishmodi02 commented on #2806
Any Success friend?

[2020-07-03 08:34] manishmodi02 commented on #2806
Hi Caroline,

So does that mean that there is no way that we can integrate Custom SVGs to EUI ICON?

[2020-07-03 20:57] #3686 closed

[2020-07-04 16:19] IvanovRoman commented on #3687
Solved for me:
import dynamic from 'next/dynamic';

const EuiHeaderBreadcrumbs = dynamic(
  () => import('@elastic/eui').then(mod => mod.EuiHeaderBreadcrumbs),
  {
    ssr: false,
  }
);

[2020-07-05 12:23] ashikmeerankutty commented on #3056
One workaround for this issue I just found was to create a component called `TableProps` or `OtherProps` and let its component extend interfaces that we could display like for the table example:

[code]

In the generated `docgenInfo` we could find `extendedInterfaces` that have all the extended props of the component as separate info.

We could then pass it like `TableProps.extendedInterfaces.Pagi

[2020-07-05 22:57] bkniffler commented on #2520
Is there any news about CSS in JS? I know this will be tough to tackle, but I can't wait for this to happen.

Also, in terms of bundle size, moving away from momentjs would reduce the size drastically. MomentJS is around 250kb in bundle size, while a library like dayjs is around 6kb. Yes, sure, you can do some hacky stuff through Webpack to reduce locale support of momentjs, but still.

[2020-07-06 13:56] miukimiu commented on #2806
Hi @manishmodi02,

The way to integrate is to do what @chandlerprall recommended:

The best way, in my opinion, is to transform your SVG into a React Component. For that, you can use in your project a babel plugin like [babel-plugin-inline-react-svg](https://github.com/airbnb/babel-plugin-inline-react-svg) or use webpack and [@svgr/webpack](https://www.npmjs.com/package/@svgr/webpack).

Or you can

[2020-07-06 13:59] chandlerprall commented on #2520
We are proceeding with a trial around Emotion, and expect to start rolling out changes starting in the next few months. We have been experimenting with the best way to set up our theming, while still allowing applications to modify/overwrite those values. The next testing step will take place in a couple of weeks.

👍 while this isn't part of our roadmap, I don't think anyone disagrees. Unfortunate

[2020-07-06 14:16] jeroenbrouwer opened #3698 "EuiResizableContainer having nested instances (vertical and horizontal) doesn't work"
In my application I want to have 2 horizontally resizable panels of which 1 also has 2 vertically resizable panels. Having either a horizontally resizable container with 2 panels and a button OR a vertically resizable container with 2 panels and a button works like a charm. Once I start using both at once only the nested vertically resizable panels in a container still work, the horizontal one doe

[2020-07-06 14:50] jeroenbrouwer commented on #3698
Example codesandbox https://codesandbox.io/s/thirsty-mestorf-swljx

[2020-07-06 15:34] thompsongl commented on #3056
Thanks for looking into it. Let's move discussion to that issue (#1688).

[2020-07-06 15:39] thompsongl commented on #1688
@ashikmeerankutty Re: https://github.com/elastic/eui/issues/3056#issuecomment-653882311

Having the "base" component type extend additional types and interfaces doesn't quite get what we need. We need the additional type to be more standalone and include all of its props regardless if other types have props of the same name.

@chandlerprall had a workaround mentioned earlier in this thread, and no

[2020-07-06 15:39] KasiaGalazka commented on #3546
I'm going to reach out to Google to see if we can find a solution. I'll report back.

[2020-07-06 17:59] #3652 closed

[2020-07-06 18:02] thompsongl commented on #3466
Resolved by #3630

[2020-07-06 18:02] #3466 closed

[2020-07-06 19:48] anishagg17 commented on #3057
@thompsongl I have completed the list If you find any component missing you may add it.

[2020-07-06 20:08] haywoood commented on #2973
Thought I'd update this with how we're working around it. After we install EUI we replace the transpiled `icon.js` with a patched version that's checked into our project, relevant code change being the replacement of the async import call with a lookup using a function we provide on the window object:

[code]

The provided resolver looks like this. So when we use a component that uses an icon we d

[2020-07-06 20:21] haywoood commented on #2973
Oh wow now I'm seeing this was recently added!  https://github.com/elastic/eui/blob/684bbeed8d5960709f582c4c12ea90f7dffa5991/wiki/consuming.md#failing-icon-imports

I can clean this up a little bit now :)

[2020-07-06 20:48] #2973 closed

[2020-07-06 20:48] haywoood commented on #2973
Thanks again for adding that function!

[2020-07-06 21:41] KasiaGalazka commented on #3546
Quick update: Since I could only obtain a monotone wordmark, let's just drop "platform" and keep the logo as is. I'll close this ticket out and we can revisit if needed. Please re-open if needed. Thanks all.

[2020-07-06 21:41] #3546 closed

[2020-07-06 22:59] thompsongl commented on #3057
We have a kind of toggle system in place already for form controls, so they are lower on the priority list. We eventually move them over the playground, but we can wait.

[2020-07-07 15:03] yuliacech opened #3701 "[EuiComboBox] Options list doesn't show when singleSelection and onCreateOption are set"
Hi team,

I noticed an issue with the combo box options list not being shown when the user clicks inside the input field. The list will show eventually when the user starts typing the value in the input or if they click the "arrow down" icon on the right. I think that only happens when both props are set: `singleSelection={{ asPlainText: true }}` and `onCreateOption`.
Here is a minimal reproducibl

[2020-07-07 15:09] chandlerprall commented on #3258
Resolved by #3272

[2020-07-07 15:09] #3258 closed

[2020-07-07 15:17] #3698 closed

[2020-07-07 15:19] chandlerprall commented on #3698
Thanks for catching and reporting! A fix for this has been merged, and we'll likely cut a new release with it in a few hours.

[2020-07-07 15:32] jeroenbrouwer commented on #3698
Thanks for fixing this and great turnaround time. 👍

[2020-07-07 15:58] yuliacech opened #3702 "[EuiComboBox] Add an option to configure wording and display of "Hit Enter to add ... as a custom option""
Hello team,
while working on [#70627](https://github.com/elastic/kibana/pull/70627) in Kibana, I noticed that there is no option to configure the wording and overall display for when the input value doesn't match any existing options.

I think for the following use case, such an option would be very useful:
- The user can type in any value as a "wait for snapshot" policy name when configuring "Del

[2020-07-07 19:38] AgathiaKimiya opened #3704 "[EuiHorizontalSteps] EuiHorizontalSteps rendering over EuiHeader"
Hello, nothing much to add, the dots render above EuiHeader when scrolling down a page. The lines connecting the dots and the labels under do not.

![image](https://user-images.githubusercontent.com/20950399/86833557-acb61500-c067-11ea-806c-a3ad5bad4b50.png)

Thank you!

[2020-07-07 19:39] chandlerprall commented on #3698
Quick update on that "release within a few hours" - we're waiting for #3169 to merge before doing so. If not today, it'll definitely go out tomorrow.

[2020-07-07 19:54] #1789 closed

[2020-07-07 19:54] #2200 closed

[2020-07-08 06:20] kertal opened #3705 "[EuiDataGrid] Fullscreen browser rendering performance in Chrome"
When using Chrome 83, MacOS 10.16.4, I'm experiencing high CPU load, laggy interface by hovering rows in full screen mode. It starts with setting the number of rows to 50, and when setting it to 100 it looks like this:

![image](https://user-images.githubusercontent.com/463851/86884377-c4d37600-c0f3-11ea-9ca5-22cf364626b0.gif)

Used the docs for this: https://elastic.github.io/eui/#/tabular-conten

[2020-07-08 07:17] timroes commented on #3705
I can reproduce that behavior in Chrome Linux, even on a low-dpi screen. But what feels even more laggy is switching the page size from let's say 100 to 50 or 10 to 50, will cause a couple of seconds to render this.

![screenshot-20200708-091718](https://user-images.githubusercontent.com/877229/86889325-da4c9e00-c0fb-11ea-880e-179ca5b74860.png)

[2020-07-08 09:18] sulemanof commented on #3705
I'm experiencing the same issues, switching the pages, when there are 50+ rows per page. Reproducible in any browser. I'm on Windows 10.
Here is the performance snapshot of switching from 1st to 2nd page of grid in docs example https://elastic.github.io/eui/#/tabular-content/data-grid :

![image](https://user-images.githubusercontent.com/31325372/86900630-3cb19880-c114-11ea-9384-7e4dd29b6c6f.png)

[2020-07-08 15:34] PhaedrusTheGreek opened #3708 "[EuiInMemoryTable] Auto-search doesn't work on subkeys"
Given the following example, search does not work.   If `entry` is removed from each item (item is flattened), the search will work automatically.

[code]

[2020-07-08 15:53] #3704 closed

[2020-07-08 16:08] markov00 opened #3709 "Remove unexposed functions from declaration files"
The generated declaration file `eui.d.ts` is exposing some utility functions used only for tests like `takeMountedSnapshot`
[code]
This requires to declare `@types/enzyme` in the `deps` instead of `devDeps` as you also noticed here: https://github.com/elastic/eui/pull/2828

Do we really need these test utility to be exported as part of the public API?
I’m asking because this dependency can and is

[2020-07-08 17:37] dannya opened #3710 "[EuiSearchBar] Non-existent export error when using Rollup bundler"
Getting the following error when building my Eui-consuming project using Rollup (`2.15.0`) bundler:

[code]

This is probably due to the relative `./filters` file (`node_modules/@elastic/eui/es/components/search_bar/filters/index.js`) containing no trace of `SearchFilterConfig` - the entirety of the code in this file is:

[code]

I've tested this with both `26.0.1` and `27.0.0` and the issue occur

[2020-07-08 17:46] thompsongl commented on #3709
Some background:

Quite a few places in Kibana import from `'@elastic/eui/src/test/'` (`findTestSubject`, for the most part), so keeping the types available was the main consideration when deciding to move `enzyme` to be a dependency (as opposed to removing the exported types).
In reality, I think we see the `@types/enzyme` dependency for testing utility types as more of a peerDependency. Whereby

[2020-07-08 18:02] lindseypoli opened #3711 "Add Outlined Security Icon to EUI"
For 7.9, the Security team is going through our app and replacing the current SIEM logo with our new Elastic Security logo. For the most part, we'll be using the full-color version of the new logo but we noticed that, at the bottom of the Kibana homepage, we needed an outlined version of the new logo.

<img width="560" alt="86289980-a1bc3a00-bbba-11ea-8769-f427d6953841" src="https://user-images.gi

[2020-07-08 18:51] thompsongl opened #3712 "[EuiOverlayMask] `testenv` mock"
Investigate a `testenv` mock for **EuiOverlayMask** to help jest instances that cannot flush the effects needed to mount the main element.

[2020-07-08 18:52] thompsongl opened #3713 "[EuiDataGrid] `testenv` for `global._isJest`"
Investigate an alternative to setting `global._isJest = true;` in Kibana's jest polyfills setup.

[2020-07-08 21:46] thompsongl commented on #3709
Update: Kibana imports actually target `'@elastic/eui/lib/test/'` which means that the definitions don't match.
We may still want to create a new `d.ts` file, but it would be an enhancement and not to maintain compatibility.

[2020-07-09 00:11] plutocow opened #3716 "[EuiBasicTable / EuiDataGrid] Inline editing functionality?"
Hi everyone, is it possible / are there any plans  to implement this functionality?
Looking at the docs, it looks like the best way to implement this currently is using **renderCellValue** and rendering a cell while listening to an **onClick** event and swapping it out with a cell control but I'm wondering if there is an easy way to go about this.

[2020-07-09 06:41] kertal commented on #3705
Seems `.euiDataGrid__verticalScroll` is causing this poor performance of hover cells in Chrome, seems to be normal when deactivating: `overflow-y` & `height`

<img width="567" alt="Bildschirmfoto 2020-07-09 um 08 34 49" src="https://user-images.githubusercontent.com/463851/87005433-46440a80-c1bf-11ea-9a1c-2cf34c01c3b0.png">

Of course this is not the solution, since pagination disappears and scrol

[2020-07-09 10:06] lizozom opened #3718 "[EuiComboBox] Allow using case sensitive labels"
In the filter bar, when creating a "one of" filter, users might want to use the same string with different capitalization (`open` and `OPEN` for example).

At the moment, they can't do so, as the labels have to be unique and they are not **case sensitive**.

It would be great if there was an option to use case sensitive labels.

Related bug in kibana: https://github.com/elastic/kibana/issues/49450

[2020-07-09 13:16] mouradmourafiq opened #3719 "[EuiDataGrid & EuiFlyout] Z-Index of flyout is wrong in a full screen"
I am not sure if this is a bug or a feature but after this PR #3655 was merged, this [grid example](https://elastic.github.io/eui/#/tabular-content/data-grid-control-columns) does not work any more when selecting full screen and clicking on the control button that shows the flyout view.

[2020-07-09 13:26] miukimiu commented on #3711
I have a question. Should this new logo directly replace one of these two?

<img width="473" alt="Screenshot 2020-07-09 at 14 21 56" src="https://user-images.githubusercontent.com/2750668/87045261-989d1f80-c1ef-11ea-9d1f-a0b217ccbdb8.png">

[2020-07-09 14:14] ryankeairns commented on #3711
@Miukimu it should replace the one on the left.

As a side note to all, we’ll be updating the homepage soon and only the colored version will be used. We’re moving away from individual app icons, but I understand this one is an exception for this project.

[2020-07-09 14:18] chandlerprall commented on #3719
Thanks for reporting, definitely a bug.

Datagrid uses `$euiZModal` (8000) for its z-index, and the merged PR mentioned changed the flyout's z-index from that same value to `$euiZFlyout` (3000).

[2020-07-09 14:22] miukimiu commented on #3711
Thanks for the help @ryankeairns. 🙏

[2020-07-09 14:45] chandlerprall commented on #3716
Thanks for asking! We do not have plans of adding this ability within the EUI component(s). One major reason for this, is the datagrid does not know anything about the shape of your data source. This idea has come up a few times, and maybe there is room for a service to help manage the interaction, but this is not something we'd be getting to any time soon.

That said, I have previously put togeth

[2020-07-09 15:38] thompsongl commented on #3057
Let's start working on the Display components. Probably a single PR per component.

I think Badge, Card, and Toast can be added, also, as long as we fake the necessary `onClick`/`onClose` functions.

[2020-07-09 16:55] timroes commented on #3719
Duplicate of https://github.com/elastic/eui/issues/3469 ?

[2020-07-09 17:04] chandlerprall commented on #3719
Similar, but not duplicative - Flyout vs. Modal, as those z-indices are managed separately I'll keep both issues open. Good to have them linked together though, thanks @timroes !

[2020-07-09 20:29] thompsongl commented on #3049
Likely to be resolved by #3554

[2020-07-09 22:42] #3709 closed

[2020-07-10 13:30] mytototo commented on #3687
It looks like `EuiCollapsibleNav` breaks SSR as well...

[2020-07-10 13:50] frank-mendez opened #3724 "[Question]Is there are way to get the column values for a selected row on EuiDataGrid?"
Hi, I'm really new to EUI and I can't find a way to render the values of my rows on the EuiDataGrid when selected. I wanted to have a delete or edit function. Let me know if you can help me. Your ideas are highly appreciated. Thanks. Kind regards -Frank

[2020-07-10 14:17] #3711 closed

[2020-07-11 13:31] anishagg17 opened #3725 "Allow an IconType to be passed to EuiCard"
![Screenshot 2020-07-11 at 7 01 11 PM](https://user-images.githubusercontent.com/43617894/87225193-e4df8f80-c3a8-11ea-9b04-2d4e235597e7.png)

Currently , `EuiCard` accepts an `EuiIcon`  as a node only.

[2020-07-13 14:23] cchaos commented on #3725
**EuiCard** accepting a `node` for the `icon` prop is by design. **EuiCard** makes no assumptions as to what the icon is, it's size, or anything like this, but simply adds style around its placement. This is the most customizable way to handle the icon.

I'm going to close this issue as a "wont change" because it doesn't hinder a consumer's usage of the component.

[2020-07-13 14:23] #3725 closed

[2020-07-13 14:30] cchaos commented on #3719
This one is certainly tough because modals **should** always appear above flyouts, hence their default z-indexes. There almost needs to be some sort of automatic z-index service that any component's personal z-index will affect those that it triggers? Flyouts kind of do this right now... Not really really sure. Seems like something that needs a lot of engineering thought.

[2020-07-13 15:34] phylim opened #3727 "EuiSuperSelect focus lost after making a selection"
After clicking on an option in EuiSuperSelect dropdown, focus is moved to the first item in form. I think it should maintain focus on the current field like it does in other field types.

Workaround:
Create a ref attached to EuiSuperSelect.
onChange handler can be overwritten with a function that will trigger onChange and then focus on the ref attached to EuiSuperSelect.

[2020-07-13 15:59] cchaos opened #3728 "[EuiHealth] Warning color could be lightened to the graphic contrast levels instead of text"
<img width="116" alt="Screen Shot 2020-07-13 at 11 58 34 AM" src="https://user-images.githubusercontent.com/549577/87326029-351d3580-c500-11ea-9e4e-36337330e221.png">

It was asked in Kibana why the **EuiHealth** warning color was so dark and this is because it needs to adhere to certain contrast ratios for readability. Originally we only had the `makeHighContrastColor()` for text-specific cases,

[2020-07-13 19:01] thompsongl commented on #3687
At present, EUI doesn't have an official support strategy for SSR. We'd like to get to a place where we do, but it's not currently prioritized on the roadmap.

We'll fix (and happily accept PRs for) errors like these, but until there is a better testing framework in place for various app environments, they will likely continue to be one-off fixes.

[2020-07-13 19:32] chandlerprall commented on #3724
Please see my comment https://github.com/elastic/eui/issues/3334#issuecomment-616603058 which describes and links to a small project that includes this value swapping on focus.

[2020-07-13 20:19] chandlerprall commented on #3719
We do have a service to compute a necessary z-index to position one element above another. https://github.com/elastic/eui/blob/f937facb3f7647c5c9cacb146436d472082f651f/src/services/popover/popover_positioning.ts#L730-L759

It assumes the elements are structured correctly, as there are some edge cases where you cannot z-index elements correctly given a really bad DOM.

I think this is all complicat

[2020-07-13 20:44] myasonik commented on #2161
@snide Seems this audio example got lost. Any chance you have a new link or should I record a new one?

[2020-07-13 20:56] myasonik opened #3733 "[EuiSuggest] Rebuild using EuiSelectable"
The existing EuiSuggest has quite a few a11y shortcomings (see #2404 for the original remediation plan).

Instead of effectively rewriting it from scratch, it should use EuiSelectable to inherit all the a11y work that went into it and to consolidate implementations of similar components.

On top of EuiSelectable, EuiSuggest largely provides:
1. An opinionated rendering of individual items
2. Some

[2020-07-13 20:57] myasonik commented on #2404
Closing this issue to preserve the spec, but opening a new one to reflect the latest plan to rebuild EuiSuggest on top of/with Selectable.

See #3733

[2020-07-13 20:57] #2404 closed

[2020-07-13 21:19] myasonik opened #3735 "[EuiFilterGroup] Rebuild multi-select demo using EuiSelectable"
The existing EuiFilterGroup multi-select demo has a few a11y shortcomings and differs in implementation from EuiSelectable which has been crowned as the future implementation of dropdown-like things. To consolidate implementations of similar components, fix the a11y problems, and unify the UX, EuiFilterGroup should be rewritten using EuiSelectable.

On top of EuiSelectable, EuiFilterGroup's multi-

[2020-07-13 21:22] myasonik commented on #2708
Like other dropdown-like things, EuiSuperSelect should probably be rewritten using EuiSelectable which should fix all of the a11y issues outlines here. (This would also serve to consolidate implementations of similar components and unify the UX.)

On top of EuiSelectable, EuiFilterGroup's multi-select largely provides:

1. A dropdown view of the results instead of inline (which is [also a requirem

[2020-07-14 00:33] #3727 closed

[2020-07-14 09:30] timroes opened #3736 "EuiComboBox shows scrollbars since update to 27.0.0"
After the update from EUI 26.3.0 to 27.0.0 the `EuiComboBox` component started showing always scrollbars (no matter the amount of elements) and is for a few pixels scrollable, since the content slightly extends the container always (the following combobox has only 3 elements):

![screenshot-20200714-111925](https://user-images.githubusercontent.com/877229/87409355-1b91f180-c5c5-11ea-9f94-e542f5a7b

[2020-07-14 09:40] walterra commented on #3679
Thanks for extending the support for `name`. I just was looking into picking up the changes in the ML plugin, unfortunately we missed something in the discussion to consider:

`name` now allows custom JSX, but it doesn't support the callback style `item => <span>{item.whatever}</span>` to render dynamic JSX based on the item state. We'd need that to render custom tooltip texts depending on the ite

[2020-07-14 13:25] miukimiu opened #3737 "[EuiFacetGroup] Negative margin is creating layout issues"
In maps, I found the following issue. A horizontal scrollbar was appearing due to a negative margin from a **horizontal** **EuiFacetGroup**.

<img width="477" alt="Screenshot 2020-07-13 at 22 45 53" src="https://user-images.githubusercontent.com/2750668/87424177-6f0b3c00-c5d3-11ea-8831-9f05b6ecf4b6.png">

There's a negative margin being applied on `.euiFacetGroup--horizontal`. This was introduced

[2020-07-14 13:59] sulemanof opened #3738 "Debugging typescript files in development"
It is impossible to debug typescript files in development mode. Number of line where a breakpoint is placed is not in sync with the source map generated tree.
This really complicates debugging stuff in development 😞

Steps to reproduce:
- place the `debugger` statement somewhere in the EUI component code (`*.tsx` file);
- start the development server via `yarn start`;
- open a browser with dev too

[2020-07-14 15:27] thompsongl commented on #3679
Extending further to allow for the callback makes sense to me.

@chandlerprall, you're assigned here, but I'll take on this part.

[2020-07-14 15:36] chandlerprall commented on #3679
I'm not sure accepting a component here helps, compared with accepting an element. How would the component be re-triggered? Sounds like we either have an update lifecycle problem where new JSX isn't being rendered, and/or the implementation needs to hook into data updates somehow (e.g. React context). This should be possible:

[code]

[2020-07-14 15:44] cchaos commented on #2708
It would definitely make sense and be a great re-use of EuiSelectable. (Confused by your second sentence though, think a copy/paste error).

This is simply where the component, EuiSuperSelect, decides to **place** the list. It should not be a part of **EuiSelectable**.

One concern, or necessity, is that EuiSuperSelect's options can have variable heights right now because it doesn't use Virtualize

[2020-07-14 15:47] walterra commented on #3679
We could subscribe to the overall state using a context, but I'm unsure how we'd solve that for that component to know which _row_ item the instance is referring to on its inner state if that's not passed on?

[2020-07-14 15:52] chandlerprall commented on #3679
Ahh, _that_ callback structure! That the table is not informing you which row `name` is being rendered for. I understand now, and that request makes sense. Sorry!

[2020-07-14 15:58] myasonik commented on #2708
Are you referring to "This would also serve to consolidate implementations of similar components and unify the UX."? I just mean that if all of our list-like components could use the same base component then things like when/how arrow keys work, how focus functions, other keyboard shortcuts would all be the same across the board making it easier for users and a single implementation would also be

[2020-07-14 17:50] chandlerprall commented on #3736
Confirmed the issue in Chrome, Firefox, and Edge on MacOS. Issue comes from **EuiComboBoxOptionsList**'s default value for `rowHeight`, looks like it needs to be changed to `29` instead of its current `27` - this change removes the scrollbar in the 3 mentioned browsers.

[2020-07-14 18:12] bfishel commented on #3711
@XavierM just letting you know in case you need it!

[2020-07-14 18:22] #3676 closed

[2020-07-14 20:10] chandlerprall commented on #3738
This has been an ongoing issue with webpack+chrome for almost four years https://github.com/webpack/webpack/issues/3165

I tested some of webpack's other sourcemap options, and the options might track `debugger` statements properly against the source code end up running the dev server out of memory when any module is changed. I think the only workable option is to "downgrade" our source maps into

[2020-07-14 21:21] thompsongl commented on #3738
I'm all for a "downgrade" if breakpoints will work. I've not done any extensive research into fixing this problem for EUI, so I don't have a read on the trade-offs. But I think it's worth trying.

[2020-07-14 21:45] thompsongl commented on #3679
Expanded functionality was part of the latest EUI release. Should be available in Kibana master (hopefully) in the next week.

[2020-07-15 08:29] monfera opened #3742 "[Discuss] tradeoffs on the single-palette guidance for data visualization"
tl;dr
- category color readability and discernibility may be more important than constant RGB for a categorical value
- color perception depends a lot on shape and size, and it has direct datavis consequences
- therefore, we already don't have uniform category colors in the eye of the viewer (plus there's thinning in outer sunburst rings)
- color thinning for partitioning charts would achieve goal

[2020-07-15 09:48] sulemanof commented on #3738
I used the `cheap-source-map` (instead of current `cheap-module-source-map`) and feel much more better, at least I can set up break point at any desired line. Of course it has drawbacks, like react components transpiled into `React.createElement` function calls, but at least the code is "debuggable", the same source maps we are using in kibana code

[2020-07-15 10:04] legrego commented on #3153
Stopping by to add my support for this as well. We've had requests for this on Kibana's login screen (e.g. https://github.com/elastic/kibana/issues/56930)

[2020-07-15 11:07] miukimiu commented on #3702
@cchaos,

Before I start implementing do you think one of the following options would work?

The idea is to separate the `enter key` from the custom text.

<img width="900" alt="combo-box-custom-option-text@2x" src="https://user-images.githubusercontent.com/2750668/87538015-798d0a80-c693-11ea-9255-1fab7c502829.png">

[2020-07-15 11:13] cnasikas opened #3746 "[EuiSuperDatePicker] Error occurs when changing absolute date"
@stephmilovic found the following bug when reviewing https://github.com/elastic/kibana/pull/70713. The bug is on master and had nothing to do with the PR.

Steps to reproduce the bug:

1. Open the date picker
2. Click Absolute
3. Select a date
4. Edit the time

The bug appears randomly and is not always reproducible.

![87477416-5146d280-c5e5-11ea-947b-a5152033582d](https://user-images.githubuserc

[2020-07-15 12:11] miukimiu commented on #2540
This issue was closed by https://github.com/elastic/eui/pull/3717.

[2020-07-15 12:29] #2121 closed

[2020-07-15 12:46] efreeti opened #3743 "Add support for common layout pattern often used in Kibana"
In security application (Administration tab) my team is trying to migrate to a new page layout that looks something like this:

![image](https://user-images.githubusercontent.com/1155504/87546292-99c7c400-c6a9-11ea-9da1-edf32ae08d93.png)

This is not the first instance of such page layout - it's the same in Observability -> Overview and some Ingest Management pages. So I was playing around with it

[2020-07-15 13:00] kevinlog commented on #3743
@bfishel @lindseypoli @marrasherrier @caitlinbetz @paul-tavares @parkiino FYI - this issue on EUI would officially support the designs that we are looking at rolling out across the Security app.  We should give this some likes/attention

[2020-07-15 13:30] cchaos commented on #2540
I actually would like to keep this one open because of this comment I made on that PR:

[2020-07-15 13:48] cchaos commented on #3702
That is actually reminding me of the proposed Global Search dropdown where focused items get a badge on the right with the return symbol `↩`. So it might be nice to add a similar indicator to all focused items, with something slightly different for this custom option.
<img width="667" alt="Screen Shot 2020-07-15 at 09 44 29 AM" src="https://user-images.githubusercontent.com/549577/87552725-0e86088

[2020-07-15 14:18] cchaos commented on #3743
@hbharding @lindseypoli @jmiller263 You three have been working on page layout patterns. Looks like we'll need a spec for this specific layout pretty quickly. Could you all consolidate your needs into a single mock/spec?

[2020-07-15 14:25] hbharding commented on #3743
Happy to! I think there are a lot of places throughout Kibana where this kind of layout could be used. For planning purposes, when would this new component be needed, and when would ideally have specs by?

[2020-07-15 14:25] frank-mendez opened #3745 "[EuiContextMenu] Enhance navigation control for previous panel"
Hi I have a form on my ContextMenuPanel and I have cancel button and I wanted that action to navigate to the previous panel. I'm still new to EUI. Any help will be appreciated. Thanks

[2020-07-15 15:38] thompsongl commented on #3746
I was able to reproduce with a simple EUI case. Investigating further.

[2020-07-15 15:53] thompsongl commented on #3745
Hey @frank-mendez

EuiContextMenu does not currently support external state control like you mention. And the only action callback currently supported is menu item `onClick`.

If you can further describe your use case and maybe share some screenshots, we may consider adding external state functionality.

[2020-07-15 16:15] lizozom opened #3747 "[EuiComboBox] Allow dropdown width to fit contents"
Since Kibana V7.0 the drop down part of an `EuiComboBox` has the same width as the input box.

As a result, fields names often get cutoff making the UI unusable (especially if some fields have a prefix).

The drop down part should (optionally?) wrap it's content, probably up to some `max-width`.

Issue was first reported [here](https://github.com/elastic/kibana/issues/36409).

[2020-07-15 19:22] thompsongl commented on #3746
I've tracked down the problem, but am running into some unrelated build side effects from the packaged library. I'll sort it out before opening a PR.

[2020-07-16 09:44] Tooschee opened #3755 "[EuiBasicTable] not respecting paginationSize"
Hey guys,

so i've taken the demo of EuiBasicTable example and tried to feed it basic data to check if pagination works as it should, not sure if this is a bug or am i doing something wrong, can anyone point me in the right direction / point the error?

### steps to reproduce:
1. create a table with simple data (done with sandbox)
2. go to line 40 in sandbox example
3. `pageSize` is not respected

[2020-07-16 09:58] #3736 closed

[2020-07-16 13:15] peteharverson opened #3756 "Form inputs not always receiving focus on mouse click"
EUI form inputs sometimes are not receiving focus on mouse click.

For example, on opening this flyout in the ML Anomaly Explorer page, clicking on the `EuiTextArea` is not giving it focus:

![textinput_focus](https://user-images.githubusercontent.com/7405507/87674572-145a1780-c76e-11ea-9264-10c576a618f3.gif)

Have also seen this happen on inputs inside Kibana Dashboard, such as the inputs in the

[2020-07-16 14:45] chandlerprall commented on #3756
I've replicated in the anomaly explorer page on Kibana `master` branch. Digging into the cause now.

[2020-07-16 15:27] chandlerprall commented on #3756
@peteharverson I see something happening with the `ml-swimlane-selector` that may be related. It appears that opening the anomaly explorer adds 2 or 4 of these elements and never removes them, and they're doing something in response to mouse clicks on the page. Can you or someone on ML take a look into that?

![anomaly explorer adding ml-swimlane-selector elements](https://chandler-public.s3-us-we

[2020-07-16 15:49] darnautov commented on #3756
hey @chandlerprall, thanks for spotting this, the fix is coming

[2020-07-16 16:11] cchaos commented on #3755
Looks like you are missing one more step that actually grabs the correct amount of items from the data which is included in the demo as:
`const { pageOfItems, totalItemCount } = store.findUsers(pageIndex, pageSize);`
Then the table takes that as `<EuiBasicTable items={pageOfItems} />`

Realizing this isn't helpful at all since `store.findUsers` is in a completely different file not exposed by our

[2020-07-16 16:16] miukimiu commented on #3702
@cchaos I was thinking to allow to pass the entire text with the entered string just because it will be difficult to predict all the possible texts.

I'll update the mockups with a similar badge indicator to all focused items and something slightly different for the custom option.

[2020-07-16 19:59] cchaos opened #3758 "[EuiIcon] Change mock from rendering `<div>` to `<span>`"
Currently **EuiIcon**'s **mock** renders their elements `<div>` because of the dynamics of the SVG imports. However, React's DOM validator complains when they see this `<div>`nested inside either inline or other elements that shouldn't have block elements inside, like `<p>`.

[code]

----

**Kibana question:**

Is Kibana's mock of EuiIcon provided by EUI directly, or does this also need to change

[2020-07-16 20:08] thompsongl opened #3759 "[7.9] EUI backports"
* Backport of #3720 (security icon)

cc// @XavierM

[2020-07-16 22:42] #2474 closed

[2020-07-16 22:49] plutocow commented on #3716
Thanks for the update, for the time being I will be looking at other dedicated spreadsheet libraries and just sticking to EuiGrids for display functionality.

[2020-07-16 22:49] #3716 closed

[2020-07-16 23:08] myasonik commented on #3758
Why does EuiIcon render as a `<div />`? I could only find `<img />` and `<svg />` in [icon.tsx](https://github.com/elastic/eui/blob/master/src/components/icon/icon.tsx)

[2020-07-17 07:10] TAYTS opened #3761 "EuiCard description <p> wrapper causes descendant of <p> browser warning"
Hi, may I know is it possible to change the wrapper for the `<EuiCard>` description prop to be either `<div>` or `<span>` as `<p>` wrapper will trigger `... cannot appear as a descendant of <p>` warning when passing a component to it?

https://github.com/elastic/eui/blob/762dc559a215fe3ee36c19c75239547757f9976a/src/components/card/card.tsx#L382-L387

<img width="520" alt="Screenshot 2020-07-17 at

[2020-07-17 08:14] #3755 closed

[2020-07-17 13:41] cchaos commented on #3761
Hi @TAYTS, you must bet getting this warning because you are passing `<p>` tags in as part of your `description` prop. The guidelines for cards is to keep the description short and limited to 1 or 2 sentences. Otherwise if you really need multiple paragraphs you can either

1. Use break `<br />` tags to separate, or
2. Leave the `description` blank and pass in custom `children`

[2020-07-17 13:48] cchaos commented on #3758
😦 Ack! You're right, I never truly checked and I think I was thinking of the early days where we were rendering divs. Hmm, I even checked that exact example from Kibana, it there is not `div` inside the `p`. Will follow up with Kibana.

Nevermind me!!

[2020-07-17 14:58] TAYTS commented on #3761
Ok, thank you so much

[2020-07-17 14:58] #3761 closed

[2020-07-17 15:16] darnautov commented on #3756
The issue fixed by https://github.com/elastic/kibana/pull/72250, sorry for the bothering! 😅

[2020-07-17 15:16] #3756 closed

[2020-07-17 15:21] cchaos commented on #3758
Ok, I actually tracked down this issue, and no, EuiIcon normally does not render a `<div>` but an `<svg>`. However, the **mocked** version does. That is where that error above is coming from, the jest mock.

So I'm re-opening, but changing the title and description to be mock-specific.

[2020-07-17 16:12] efreeti commented on #3743
If it would be up to me I'd say we need it yesterday ;) but I'm not sure who is determining the urgency of these kind of things.

[2020-07-17 16:33] #3746 closed

[2020-07-17 17:15] miukimiu commented on #3742
I had a zoom call with @monfera to try to understand this issue.

And the idea is to support the use of the `euiPaletteColorBlindBehindText` rather than the `euiPaletteColorBlind()` for partitioning charts. The `euiPaletteColorBlind()` would be used for cartesian plots and legends.

As we can see, when we have situations like the following one (legends on top) the `euiPaletteColorBlindBehindText`

[2020-07-17 17:55] cchaos commented on #3742
I agree that the behind text variant is better suited for charts that have text directly on top of the color. Hence why the palette itself was created. 😉

The decision point is:

### Dashboards using the same "color palette" for all charts and using the same color for the same series across those charts.

If you use `euiPaletteColorBlind` for x/y charts and `euiPaletteColorBlindBehindText` parts-t

[2020-07-17 18:19] thompsongl commented on #1688
@ashikmeerankutty We have people on vacation, etc., so it might be a couple days before your main PR gets merged. In meantime, let's focus on this work if you haven't started yet.

[2020-07-17 18:36] ashikmeerankutty commented on #1688
@thompsongl  Typescript strips all the types and interfaces. So the only way I think of is to transform those types or interface to some objects. And append it to AST. I don't know if that is possible. Is there any possibility for that ?

[2020-07-17 19:34] thompsongl commented on #1688
Yeah, I think a transformation of some kind is in line with our thinking. That is how the current workaround is done: https://github.com/chandlerprall/eui/blob/6183abfbc1e3268a63375ae91aa0c7b739043d50/src-docs/src/views/datagrid/props.tsx

Basically the type/interface gets converted to a component so the parser picks it up. We'd just need it to be more automated.

[2020-07-17 19:39] ashikmeerankutty commented on #1688
I can get the interfaces and types from typescript.  So create a component with that interface automatically whenever an interface is found Sound ok. I will check that out.

[2020-07-17 20:04] monfera commented on #3742
Thanks @miukimiu and @cchaos for having spent work on it. You're right, it doesn't seem doable if the area chart and histogram bar chart can't use `euiPaletteColorBlindBehindText` or other lightening due to WCAG constraints.

Legends look solvable: bars and pie/treemap could both use `euiPaletteColorBlind` in the legend, as it's a good match for the sunburst too - not the same RGB, instead, close

[2020-07-17 22:13] thompsongl opened #3765 "[EuiBadge] Handle invalid `color` entry"
Currently during color validation in EuiBadge, entries that are not valid chroma-js values will result in console errors (`Uncaught Error: unknown format: #D`) and will block rendering in the docs.

Invalid entries should be noted with `console.warn` but the exception should not have such adverse rendering effects.

[2020-07-18 03:58] nyurik opened #3766 "No mentioning of the license/copyright at eui.elastic.co"
Hi, I have been thinking of using EUI for my own personal project, and I absolutely loved the documentation site https://eui.elastic.co/  -- that's some serious work the team has put into documentation!  One thing that seems to be missing is the link to the [LICENSE](https://github.com/elastic/eui/blob/master/LICENSE) file at that site.  Would it make sense to reference the status of EUI code righ

[2020-07-18 04:27] nyurik commented on #3508
Could there be a `edit this page` link instead? I find it very useful in most of Elastic and other project's documentation to direct users to the right docs file -- this way users can easily contribute minor documentation fixes without too much effort, and often use GitHub's online editor to propose the change.  Or should I create a separate issue for this request?

[2020-07-18 04:30] nyurik opened #3767 "Please add [edit this page] link to all EUI doc pages"
Many Elastic and other FOSS projects include `edit this page` links on each documentation page, allowing users to contribute minor improvements without too much effort -- e.g. using GitHub's online editor to edit and create a PR.  Could something like this be added to EUI as well?  Thanks!

Somewhat related to #3508

[2020-07-18 06:43] snide commented on #3766
It's a good point. I'm sure you found the info at Github, but it would probably make sense to mark it up on our homepage as well.

[2020-07-18 06:46] snide commented on #3767
I'm not so sure about this one. We get a pretty sizable amount of community contributions already, and usually those "edit this page" style links are for highly textual documentation, where EUI's docs tend to be pretty complicated (multiple pages to make a single view) and visual.

I'm worried it would distract from the content of the page, which already are pretty busy.

[2020-07-18 07:36] nyurik commented on #3767
@snide I tend to see a lot of those at the bottom of the page, e.g. [here](https://vega.github.io/vega/docs/scales/) (bottom left), or take a look at the [elastic search docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-adjacency-matrix-aggregation.html) -- on the side and semi-transparent (btw, asciidoc is even worse at their file-to-page structure).

[2020-07-18 09:16] monfera commented on #3742
...@flash1293 I may have read too much into the [colorwheel order](https://elastic.github.io/eui/#/utilities/color-palettes) in the style guide - is Lens / Kibana at liberty of picking colors in a different order?

[2020-07-19 16:06] nandorojo commented on #2074
@ScreamZ Do you have a git repo for your Medium article? I like how minimal a starter would be from that piece.

[2020-07-19 16:49] ScreamZ commented on #2074
@nandorojo

Nope because the article was small enough to allow reproduction from a barebones nextjs app

[2020-07-19 16:52] nandorojo commented on #2074
@ScreamZ sounds good, I went ahead and did that, thanks!

[2020-07-19 18:41] ashikmeerankutty commented on #1688
I found a solution for this issue. Its another babel plugin that finds all the interfaces in a file and converts it to an object with `___docgen` property and append it to the AST.

So we can access props info by just passing the interface to guideSectionPage

It will create results like this for interfaces.

![image](https://user-images.githubusercontent.com/10515204/87882300-d5052280-ca1c-11ea-8

[2020-07-20 07:40] flash1293 commented on #3742
@monfera As there is an abstraction layer between the EUI code and the Lens chart we could put this kind of logic there, but should we? Is there a reason the palette shouldn't be applied in the same order everywhere?

[2020-07-20 09:52] monfera commented on #3742
@flash1293 I didn't mean to limit the question to Lens only; if Kibana, and Lens within it currently picks colors from the `euiPaletteColorBlind` or `euiPaletteColorBlindBehindText` palette sequentially, ie. in this order:

![image](https://user-images.githubusercontent.com/1548516/87923486-de72a700-ca7d-11ea-81d7-6840ac1488c1.png)

then the discernibility between adjacent picks is reduced as it f

[2020-07-20 10:19] flash1293 commented on #3742
@monfera Makes sense, sounds like we should change the order of `euiPaletteColorBlind` upstream in EUI and Lens (as well as other consumers) will pick it up.

[2020-07-20 11:40] ashikmeerankutty commented on #1688
For the above example of type. I was able to generate doc info as following:
[code]

And this can be used as stated in the issue. I can change the result into any structure.

[2020-07-20 13:51] cchaos commented on #3742
The main reason we haven't changed the main order of `euiPaletteColorBlind()` is because it would be a major breaking change to consumers who rely on the particular order of those colors to match representations of series they've already established. (Thinking APM.) I do agree that changing the order of the colors to result in more contrast between neighbors would be ideal, we just have to tread c

[2020-07-20 13:53] cchaos commented on #3742
Also, here's the Issue where I discuss in great detail the latest evolution to the current palette https://github.com/elastic/eui/issues/2238

[2020-07-20 16:01] monfera commented on #3742
Thanks @cchaos for your comments and links. The more details you share, the more tradeoffs that I learn. I value the ton of work and insight you put into palette iterations, doing it along all the other workstreams you've simultaneously run 🙇
- Good point about backwards compatibility. New dashboards esp. with Lens, treemap not yet in GA may not need to be constrained by past color assignments, bu

[2020-07-20 16:07] myasonik commented on #3742
Just to throw something out there in case it hasn't been considered (haven't seen it mentioned here yet).

If there aren't enough colors to go around for everything, shading can also be used to differentiate segments. This isn't a solution for every chart or dashboard but could be something that apps could opt into themselves without having to force a change into EUI.

(By shading, I mean "striped

[2020-07-20 16:17] monfera commented on #3742
@myasonik indeed, patterns are great (enlisted eg. [here](https://docs.google.com/presentation/d/1enxahXGrI_wtFb3zDurlTDgN9-zhEaWMQp0pwNTQIkw/edit#slide=id.g851e989116_13_28)) while they have some limitations and optical illusions or interference with the overall shape can be a concern. There are related redundant encodings eg. markers of different shape per line like [here](https://help.tableau.c

[2020-07-20 16:43] thompsongl commented on #1688
Great! Thanks for exploring this. What plugin is used to get this result?

Let's make this its own PR. If necessary, have the PR point to the 3554 branch as the merge target for now.

[2020-07-20 16:48] ashikmeerankutty commented on #1688
Its a custom plugin. I will make a seperate PR from autodocs branch is that fine ?

[2020-07-20 17:17] thompsongl commented on #1688
Nice! Thanks

[2020-07-20 17:48] jportner opened #3773 "EuiAccordion - support `isLoading` state"
It would be nice to be able to disable the accordion. For example, in a case where you want to show a page with a pending XHR request -- you may not have any content to populate the accordion yet, but you still want to render the accordion itself.

[2020-07-20 17:56] snide commented on #3773
Would an `isLoading` state work better for this? I say this because I don't think we'd want the flickering between states with the interaction itself and I can see `disabled` being hard to show visually for that component since it's so bare bones. Better to allow the click, pause, and then show the content itself once the consumer tells us it's available?

[2020-07-20 18:21] jportner commented on #3773
That would probably be better, yes. In my use case ("Copy to space" in Kibana), at the moment we're conditionally rendering an `EuiLoadingSpinner` as the accordion's `extraAction` and child while we're waiting for content to load.

[2020-07-20 19:03] jen-huang opened #3775 "Long EuiComboBox option causes parent EuiFlexItem to wrap"
A long EuiComboBox option seems to cause width issues where its parent EuiFlexItem no longer respects the width constraints imposed on it from EuiFlexGrid/EuiFlexGroup.

Here is a [CodeSandbox demo](https://codesandbox.io/s/hidden-hill-t84cz?file=/index.js) using `EuiFlexGroup`s, the first one is with a short option which causes no wrapping issues. The second uses a long option and you can see tha

[2020-07-21 00:00] snide commented on #3775
Thank you for the codesandbox!

This is because the badge it set to a max-width of 100% and the input drops to the second line. Given that max-width a slightly smaller value, or doing a fancy calc trick against the width of the hidden input will fix it. Shouldn't be too bad to fix.

![image](https://user-images.githubusercontent.com/324519/87997602-68d10000-caaa-11ea-9a3c-8b5c800e59ee.png)

[2020-07-21 06:55] kertal commented on #2461
I would suggest to give the ability for consumers to replace this menu, because e.g. Discover needs a different implementation and wordings of "Hide columns" (There is no hiding here, columns are removed)

[2020-07-21 07:36] flash1293 commented on #3742
In this case we can also do the re-ordering as part of the Kibana side `charts` plugin to not break BWC for other consumers.

Did we come to a conclusion about how to treat `*behindText` with partition charts? If both ways (using regular color blind palette for everything vs using behind text version for partition charts) have drawbacks, which way do we pick?

It's probably not that easy, but shou

[2020-07-21 08:48] Joanes04 opened #3777 "[v27.1.0] Warning EuiFieldText"
Hi all!

When you create a EuiFieldText element, the console throws the following warning:

![image](https://user-images.githubusercontent.com/9945959/88032969-04ac4b80-cb3f-11ea-930b-e698c79b61de.png)

The element created has the following code:

[code]

It seems that the problem comes from this [code](https://github.com/elastic/eui/blob/v27.1.0/src/components/icon/icon.tsx#L565-L570) Since a **s

[2020-07-21 18:24] cchaos commented on #3777
Hmm, I can't replicate this. Can you give us more detail on your configuration?

[2020-07-21 18:55] alvarezmelissa87 opened #3779 "Request: Icons for the different types of analytics jobs in ML"
Request for icons for each of the machine learning data frame analytics jobs.
These icons will be used in the Data Frame Analytics job creation wizard for job selection and will be displayed in small cards along with a brief description of the job type.

- Outlier detection (https://www.elastic.co/guide/en/machine-learning/current/dfa-outlier-detection.html)
- Classification (https://www.elastic.c

[2020-07-21 19:41] cchaos commented on #3779
These are really complicated ideas to be summed up into a single 16x16 pixel glyph. Based on your description you're already supplying the name of the thing with a description of it. Cards work just as well without any icons. Are they truly necessary and would they need to be used outside of these cards?

[2020-07-22 07:29] Tocknicsu opened #3781 "[DataGrid] Width calculate"
Here is a minimum reproduce app.
https://codesandbox.io/s/sweet-tu-m5rm4

I wrapped `Datagrid` with a `div`.
The `Datagrid` has only one column with `initialWidth` which is set to `200` and the width of `div` is also set to `200px`.
Then, `Datagrid` shows `NaN` and console will report this error:
[code]

I traced the code and find following:
https://github.com/elastic/eui/blob/master/src/component

[2020-07-22 15:33] alvarezmelissa87 commented on #3779
The icons would allow the analytics job type selection to be consistent with the anomaly detection job type selection:

![image](https://user-images.githubusercontent.com/6446462/88195962-a3ec4400-cc0e-11ea-812c-08ba5be374d3.png)

The other ML icons in https://elastic.github.io/eui/#/display/icons look to be 32x32

![image](https://user-images.githubusercontent.com/6446462/88196078-c67e5d00-cc0e-1

[2020-07-22 16:01] cchaos commented on #3779
Ok, then I'll assign @mdefazio since it seems he's most aware of this.

[2020-07-22 21:33] chandlerprall commented on #3767
We discussed as a team and decided not to implement this - at least for now. We don't believe _most_ edits to our docs can really exist as a single-file change of copy (with exceptions for spelling/grammatical issues). As a page is comprised of sections containing examples, each with a separate code file, it would be difficult to know which of these an edit link should target.

[2020-07-22 21:33] #3767 closed

[2020-07-22 21:57] chandlerprall commented on #3781
Thanks for finding the root cause!

The fix should probably be both of those checks.

[2020-07-23 05:29] kertal opened #3790 "Data grid focus fighting"
When clicking the Data Grid actions of the docs https://elastic.github.io/eui/#/tabular-content/data-grid, this triggers a focus-fighting in Chrome (also Firefox detects it but there's just a single message). In chrome this also leads to an infinite rerendering of the grid
![Bildschirmfoto 2020-07-23 um 07 22 54](https://user-images.githubusercontent.com/463851/88254609-0fd5b780-ccb6-11ea-9e3b-ff5

[2020-07-23 15:23] cchaos opened #3791 "[EuiComboBox] Incorrectly indicates invalid state when the custom option is really long"
When someone types in a custom option that is so long that it hits the far right side of the input, the combo box will alternate from invalid to not invalid with every keystroke. It **should** stay valid.

![Screen Recording 2020-07-23 at 11 10 35 AM](https://user-images.githubusercontent.com/549577/88304844-c77ac180-ccd6-11ea-83c0-891daa608ea9.gif)

[2020-07-23 15:47] monfera commented on #3742
@flash1293 yes it appears so. the WCAG constraint Caroline linked unfortunately doesn't distinguish between small/thin shapes and shapes with larger areas, so I agree with Caroline's conclusion that we can't simply use the `euiPaletteColorBlindBehindText` palette for partitioning charts and call it a day.

We could have more complicated logic, eg.

1.  _use `euiPaletteColorBlindBehindText` for par

[2020-07-23 15:52] cchaos commented on #3775
@miukimiu Can you take on fixing this one since you were just in that codebase?

[2020-07-23 16:43] hygorkn opened #3793 "[EuiNavDrawer] Only shows the Flyout submenu on built app."
The Nav Drawer only works properly when the application is built. When it's on develop mode, the Flyout for the subItems doesn't appear.

    <EuiNavDrawer style={{ position: 'unset' }} ref={navDrawerRef}>
      <EuiNavDrawerGroup listItems={ModulesLinks} />
    </EuiNavDrawer>

I copied the ModuleLinks directly from the docs.

I'm using CRA with Typescript.

[2020-07-23 16:49] miukimiu opened #3794 "[EuiComboBox] Delimiter functionality not working when pasting list"
When we try to paste a comma-separated list and press enter the **EuiComboBox** doesn't work as expected. For example, when passing `one,two,three` on **With delimiter** docs example and press enter, 3 badges should be created.

![Screen Recording 2020-07-23 at 05 39 PM](https://user-images.githubusercontent.com/2750668/88313699-ce6ff700-cd0b-11ea-8371-4872b5bd5ff4.gif)

The expected behavior shou

[2020-07-23 16:52] phylim opened #3795 "[EuiFocusTrap] doesn't pass style props to div"
Previously, when style props are passed into EuiFocusTrap, they would be applied to the ```<div data-focus-lock-disabled>```
I noticed it no longer get applied to this div on 27.2.0.

[2020-07-23 17:01] miukimiu opened #3796 "Placeholders of input fields in Safari are not vertically centered"
The placeholders of input fields in Safari are not vertically centered. I noticed this issue on Safari `Version 13.1.2`.

<img width="512" alt="Screenshot 2020-07-23 at 17 51 17" src="https://user-images.githubusercontent.com/2750668/88314997-a41f3900-cd0d-11ea-8592-575d3ec3fee8.png">

[2020-07-23 17:21] cchaos commented on #3793
**EuiNavDrawer** has been set for deprecation in favor of **[EuiCollapsibleNav](https://elastic.github.io/eui/#/navigation/collapsible-nav)** so unfortunately we won't be supporting any updates to this component ourselves. If you'd like to tackle a fix for it, we welcome PR's, but I'm going to close this as a wont fix.

[2020-07-23 17:21] #3793 closed

[2020-07-23 18:52] paul-tavares opened #3798 "[BUG] EuiFieldText component `inputRef` prop is never set"
The `inputRef` prop seems to never be set on the `EuiFieldText` component - an error is output to the console:

[code]

Code looks something like this:

[code]
Ref: https://github.com/elastic/kibana/blob/82f6c6a1df9168b104227e999d927ea500bb11cc/x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/create_package_config_page/step_define_package_config.tsx#L106

[2020-07-27 06:33] Tocknicsu commented on #1023
Hello there.

I created a minimum app. https://codesandbox.io/s/tvrux and https://tvrux.csb.app/ is preview page.
Please go to preview page, then click the `fullscreen` and try those button.

The app has two sections. Each section has two button, one is eui and another is react-bootstrap.
First section is using `window` scroll and second section is using `div` scroll.

And all the situation are ex

[2020-07-27 15:48] chandlerprall opened #3801 "Create separate babel configurations"
EUI currently has a single babel configuration which is applied to distribution builds, docs, and jest runs. Some thoughts -

* non-docs builds should not have the react / docgen passes
* jest tests do receive a modified configuration through _.babelrc.js_'s `env` entry, but this isn't the preferred way to extend
* jest tests don't need the full browser-compatibility transforms

[2020-07-27 15:58] #3781 closed

[2020-07-27 16:09] #3791 closed

[2020-07-27 16:54] thompsongl commented on #3795
Thanks, @phylim

We changed the underlying library for focus trapping and this appears to be an API gap. Should be resolvable.

[2020-07-27 16:55] timroes opened #3803 "[EuiComboBox] Allow explicit id to track selected item"
Currently the `EuiComboBox` uses the `label` of an item as `key` in React and to keep track whether it's marked or not. It should also allow specifying an explicit `id` in case there might be duplicate `label` within the options. Obviously it won't be good usability to have multiple times the same label, but in some cases we allow the user to specify the label and cannot (easily) prevent duplicate

[2020-07-27 17:28] #3153 closed

[2020-07-27 19:00] chandlerprall opened #3807 "[EuiCodeEditor & EuiCodeBlock] Recommendations and migration guidance"
**EuiCodeEditor is now deprecated and will be removed in a future version of EUI**

- [x] If you just want to represent a more or less static code snippet (max length around 15 lines) use EuiCodeBlock.
- [x] If you need capabilities to edit, or want to print longer code (or potentially don't know how long, because you're printing JSON from APIs), [use CodeEditor (within Kibana)](https://github.com

[2020-07-27 21:01] #3397 closed

[2020-07-28 11:51] legrego commented on #3153
❤️ thanks for implementing this, @cchaos!

[2020-07-28 13:12] ch-bas opened #3810 "[Code editor][ReadOnly][codesandbox]: Ace is not defined"
Hi,
when trying to view the 'code editor' in [codesandbox](https://elastic.github.io/eui/?first=&range=50#/forms/code-editor), I allways end-up with this error:
![aceError](https://user-images.githubusercontent.com/18037647/88669868-b8d04800-d0e4-11ea-8cc3-a50aa271b48e.png)

[2020-07-28 14:03] snide commented on #3810
I can't replicate. Using the codesandbox link from https://elastic.github.io/eui/#/forms/code-editor

For codesandbox you'll need to make sure the dependency is loaded. Closing this out. If this is still an issue, please reopen and provide more details.

![image](https://user-images.githubusercontent.com/324519/88675781-273ee700-d0a0-11ea-8aa2-398b9875d30e.png)

[2020-07-28 14:43] ch-bas commented on #3810
Hi @snide ,
sorry for the confusion, but as I referred to in the title, it's about the 'readonly' example,
![error2](https://user-images.githubusercontent.com/18037647/88680810-2edaac00-d0f1-11ea-9c69-268374bd1013.png)
Steps to reproduce :

- Go to https://elastic.github.io/eui/?first=&range=50#/forms/code-editor

- Scroll to 'Read-only' and then click on 'Try out this demo on Code Sandbox'.

[2020-07-28 17:39] timroes opened #3812 "EuiComboBox broken keyboard navigation when using sortMatchesBy=startsWith"
If you use a `EuiComboBox` with `sortMatchesBy="startsWith"` and then use the keyboard to navigate and select an item, the item selected after pressing <kbd>Enter</kbd> will be the wrong one (it seems like it's the one that would be in that position without that property).

![Peek 2020-07-28 19-39](https://user-images.githubusercontent.com/877229/88701264-11660c00-d10a-11ea-8bbe-6444bcc47d91.gif)

[2020-07-28 19:40] jen-huang opened #3815 "Using `EuiCodeBlock` with `whiteSpace="pre"` overlaps content with buttons"
CodeSandbox: https://codesandbox.io/s/infallible-poincare-j0j2b

The code in the above sandbox is forked directly from the [documentation](https://elastic.github.io/eui/#/display/code) for code block's white space options, except I moved some of the contents into one line. You can see that the contents now overlap the fullscreen and copy buttons:

![image](https://user-images.githubusercontent.com

[2020-07-28 20:03] chandlerprall commented on #3810
**Custom mode** section on the same page also fails to open in code sandbox, appears to be a separate issue.

[2020-07-28 22:18] thompsongl commented on #3810
There was a PR merged not that long ago that fixed the example @snide mentioned.

The fix was to move the `@elastic/eui` import statement above the `brace` import statements

[2020-07-29 01:29] mdefazio commented on #3779
Here is a first go at these icons.
My goal with these was really trying to stay in the same style and reusing the elements.  Classification might be a bit vague and too close to some of the others. I think Regression is probably the one that needs the most help as it feels a bit far off from the others. But hopefully we're going down the right path.  Any advice towards content theme would be _grea

[2020-07-29 07:57] efreeti commented on #3743
Sorry for the late reply, I think it might end up in 7.10, some teams from security already do this layout in their own way.

[2020-07-29 14:34] alvarezmelissa87 commented on #3779
Thanks, @mdefazio! 🙌

I think the outlier icon looks pretty good. Regression seems okay - it only works with numerical values so if there's a way to reflect that, that could be a good improvement but it looks alright as is if that isn't possible.

The classification one is a bit too similar to the anomaly detection icons and could use some changes to reflect putting items in classes.

[2020-07-29 15:01] ch-bas opened #3817 "[EuiCodeBlock] Doc example's CodeSandbox link in documentation is broken"
Hi,
it appears that **Code block** fails to open in code sandbox.
Steps to reproduce:

- Go to https://elastic.github.io/eui/#/display/code

- Click on  Try out this demo on Code Sandbox

![error](https://user-images.githubusercontent.com/18037647/88816231-79752a80-d1bc-11ea-9dff-5700851393e4.png)

[2020-07-29 15:05] chandlerprall commented on #3817
If code sandbox supports the raw-loader approach, we could extend the sandbox generation's import detection to handle those `require`s. Otherwise, we need to update the sandbox-support heuristic to not show the link for these examples.

[2020-07-29 15:53] TAYTS opened #3818 "Disabled button pointer event"
May I propose to change the `pointer-events` to `auto` for disabled button so that the the `cursor: not-allowed` will be shown to indicate the disabled button state?

https://github.com/elastic/eui/blob/34e187fbd38a4717569383f3e2a1931d3cb3007c/src/components/button/_button.scss#L39-L43

[2020-07-29 16:12] poffdeluxe opened #3819 "EUICodeEditor doesn't prevent focus trap via hint overlay if you've made edits"
I was trying out the EUICodeEditor on the demo page and noticed that when I hit escape before making edits, I get the "When you're done press, press Escape to stop editing" overlay on the editor. But after making edits, hitting escape doesn't seem to do anything.

**Repro steps**
1. Load up https://elastic.github.io/eui/#/forms/code-editor and put focus on the editor
2. Hit escape (should bring up

[2020-07-29 16:49] cchaos commented on #3818
Looks like this was a recent regression caused by the creation of the `euiButtonContentDisabled()` mixin that comes before the `pointer-events: none`. https://github.com/elastic/eui/commit/b02b8403882cfeb0acfa15cab63bb34a313054fd#diff-c9c0736fdff5dd43acc1168076e8a319

But I think in the above snippet, line 43 can just be removed entirely.

[2020-07-29 17:11] thompsongl commented on #3819
So this appears to only be an issue with the EUI docs site, luckily.

`EuiCodeEditor` instances on Kibana master work correctly with <kbd>esc</kbd>.

Unsure of the actual cause at this point

[2020-07-29 17:28] thompsongl commented on #3819
Update: It's not just EUI docs, but occurs with a specific config that happens to appear in the EUI docs (`enableLiveAutocompletion: true`)
So this is a bug, but not one that (by change) affects Kibana

[2020-07-29 18:17] qn895 opened #3821 "[Data Grid] Popover in in DataGrid overflowing with extra icons"
Found an issue with the popover in DataGrid where it yields a down arrow at the bottom when the div is overflowing.

![overflow](https://user-images.githubusercontent.com/43350163/88837304-b847b800-d19d-11ea-977f-16c1a56e0f3b.png)

[2020-07-29 19:23] #3796 closed

[2020-07-29 20:38] #3810 closed

[2020-07-30 03:17] TAYTS commented on #3818
@cchaos I have submitted the PR to remove the `pointer-events: none`

[2020-07-30 08:49] shrey commented on #3758
hey, I'd like to work on this one

[2020-07-30 11:31] crux153 opened #3825 "[Discussion] Shouldn't `react-view` be devDependency?"
I found out that `react-view` was added as dependency in #3681, but this change is adding a lot of dependencies.

I noticed this after running `npm audit` on my project, and by just installing `@elastic/eui`, a custom scoped version of prettier is being installed on my machine, which itself includes number of dependencies.

[code]

As quick search on this repo shows that `react-view` is only being

[2020-07-30 12:07] #3144 closed

[2020-07-30 12:13] crux153 opened #3826 "[EuiPagination] Wrong page count with `compressed`"
<img width="369" alt="Screen Shot 2020-07-30 at 9 03 23 PM" src="https://user-images.githubusercontent.com/10908841/88921094-dfd77700-d2a8-11ea-8956-47f6717eeb54.png">

EuiPagination is showing wrong page count with `compressed` prop.

CodeSandbox: [https://codesandbox.io/s/serene-waterfall-oxsjc](https://codesandbox.io/s/serene-waterfall-oxsjc)

I think CodeSandbox is having some issue where page

[2020-07-30 13:25] thompsongl commented on #3825
Thanks for raising this. I realized the same thing yesterday and am going to investigate.

[2020-07-30 13:52] #3818 closed

[2020-07-30 16:28] timroes commented on #3819
Just as a side note: please also see https://github.com/elastic/eui/issues/3807 before adding `EuiCodeEditor` into any new places, since it's not recommended to use it anymore.

[2020-07-30 16:39] timroes opened #3829 "[Discussion] EuiComboBox have sortMatchesBy=startsWith by default"
I wanted to discuss if we might want to make `sortMatchesBy="startsWith"` the default value for `EuiComboBox`. We currently use that value very differently in Kibana, but tend to use more and more that setting (e.g. right now changing it for the field selection in visualize editor as requested by PMs).

My personal feeling is that `startsWith` is the more intuitive behavior, and thus I wonder if i

[2020-07-30 16:52] #3826 closed

[2020-07-30 16:55] #3798 closed

[2020-07-30 17:45] #3825 closed

[2020-07-30 18:39] #3812 closed

[2020-07-30 18:50] smhutch opened #3835 "[EuiI18n] Document string interpolation (values prop/arg)"
The [`i18n` docs](https://elastic.github.io/eui/#/utilities/i18n) currently do not explicitly mention support for string interpolation. A few of us using the framework tried to roll our own interpolation, only to discover support for `values` when checking the .ts declarations.

I would be happy to make this contribution to the project 🙂

[2020-07-30 18:51] anishagg17 commented on #3057
@thompsongl  as `EuiIcon` doesn't render props currently . So, should we skip `EuiIcon` component for now and can build it later on.

[2020-07-30 19:00] chandlerprall commented on #3835
That would be a very welcome contribution!

[2020-07-30 19:18] phylim commented on #3795
I saw that.. It is still passing the style props through to <FocusOn>. Looks like FocusOn doesn't accept it..

As a workaround I'm overwriting styles with styled-components for now.

[2020-07-30 19:25] legalastic commented on #3572
@snide  After looking at this from multiple angles, we (Tom, Greg, Peter and me) have gotten comfortable that there is no issue for us to allow the user to recreate the design.  This is based on our understanding that the developer is not doing anything that he would not be able to do if he were simply licensing the code as a CSS-only import under the Apache 2.0 license.  In other words, the resul

[2020-07-30 20:42] myasonik opened #3836 "[EuiCodeEditor] dark theme tabbing overlay has really low text contrast"
First photo is light theme:
<img width="489" alt="Screen Shot of EuiCodeEditor in light theme with tab overlay" src="https://user-images.githubusercontent.com/4188087/88972424-21e9c400-d27b-11ea-8e85-c3d09775d014.png">

Second photo is dark theme:
<img width="481" alt="Screen Shot of EuiCodeEditor in dark theme with low contrast tab overlay" src="https://user-images.githubusercontent.com/4188087/8

[2020-07-30 20:58] #3819 closed

[2020-07-30 21:00] cchaos commented on #2493
I got burnt out on Emotion, so here's a POC I've been meaning to cook up https://github.com/elastic/eui/pull/3837

[2020-07-30 21:10] myasonik opened #3838 "[EuiKeyboardAccessible] Discuss deprecation"
I'd like to deprecate and remove **EuiKeyboardAccessible**.

From the docs:

But that doesn't seem to hold up because:
1. All interactive elements should either be a native HTML element (e.g., button, anchor, label) or are more complex components (e.g., tabs, typeaheads) that require a lot more work than what **EuiKeyboardAccessible** does or even could reasonably do
2. The example here of anchors

[2020-07-30 21:20] ThomThomson opened #3839 "Add an unlink glyph to EuiIcon"
In adding the `unlink from visualize library` action to embeddable panels, I realized that EuiIcon glyph collection has a link icon, but no unlink icon.

This could also be used for unlink from saved search.

Something similar to this icon from fontawesome:

<img width="299" alt="Screen Shot 2020-07-30 at 5 18 02 PM" src="https://user-images.githubusercontent.com/14276393/88975787-d5a58080-d288-11

[2020-07-30 22:00] thompsongl commented on #3795
👉 https://github.com/theKashey/react-focus-on/issues/46

[2020-07-30 22:22] thompsongl commented on #3057
Yep, sounds like a good plan

[2020-07-30 23:03] #3821 closed

[2020-07-31 15:38] thompsongl commented on #3838
There are only two components in EUI that use it (**EuiBasicTable** and **EuiStepHorizontal**; 1 usage each). I'm guessing both instances could benefit from a more tailored approach like mentioned above.

[2020-07-31 18:39] anishagg17 commented on #3057
@thompsongl I noticed that `EuiEmptyPrompt` has `actions ` , `title` and `body` as some major props(_all ReactNode_) .

If `body `  and `actions` are set to `String`,  and `title` is faked then it works

Otherwise , it's playground shouldn't be considered.

[2020-07-31 20:28] bevacqua opened #3844 "[EuiButtonEmptyProps & EuiButtonIconProps & EuiButtonProps] Type don't match expectations"
Expectation is:

[code]

But those aren't the types we export

[2020-07-31 22:08] thompsongl commented on #3759
☑️ https://github.com/elastic/kibana/pull/73815

[2020-07-31 22:08] #3759 closed

[2020-07-31 23:23] i-a-n opened #3845 "[EuiPopover] Let 'anchorPosition' determine anchor position, regardless of screen real estate"
Hi team, I noticed that `EuiPopover` wasn't respecting `anchorPosition` if it calculated that the content took up too much screen real estate. It simply treats `anchorPosition` as a preference, and overrides it when necessary. See the example in the documentation:

<img width="300" alt="Screen Shot 2020-07-31 at 3 38 04 PM" src="https://user-images.githubusercontent.com/1937355/89087197-4c558300-d

[2020-08-01 14:01] nyurik opened #3848 "Make ThemeContext into a proper component"
Please add ThemeProvider to the published code, rather than limiting it to `src-doc`.  Switching themes seems to be a very common scenario, and I suspect its implementation is fairly consistent -- a context consumer that would allow light/dark toggling, and a provider that should use the provided EUI styles with optionally adding a few app-specific ones.

Note that there is a bug -- the NPM packag

[2020-08-01 14:02] nyurik opened #3849 "Published eui.d.ts file should not include src-doc components"
The NPM package's `@elastic/eui/eui.d.ts` already includes `ThemeProvider` and many other `src-doc` files, thus IDEs suggest to add `import { ThemeProvider } from '@elastic/eui';` which later does not compile.

[2020-08-01 18:15] snide commented on #3848
This was covered in some internal discussion, but posting here for visibility. Currently theme management is the responsibility of the application, not EUI. This will likely change as we move towards CSS-in-JS solutions, and we'd rather keep the discussion on those issues. Here is a good summary of some recent work around the subject. https://github.com/elastic/eui/pull/3760#issuecomment-667193180

[2020-08-01 18:15] #3848 closed

[2020-08-01 19:34] merlinscholz commented on #3572
Thank you for getting back to me, and for the insightful answer! I'll probably share some more information when my project gets to a point where it can actually be used.

[2020-08-01 19:34] #3572 closed

[2020-08-01 20:47] kurt-o-sys opened #3850 "[EuiDatePicker] findDOMNode is deprecated in StrictMode. in EuiDatePicker"
Having an overlay with an EuiDatePicker (using formik and yup for form control), I seem to run into issues with `findDOMNode` (when in `Strict` mode). Somewhere, depending on the code path, it seems there are still references to DOM Nodes. Can this be fixed?

`DatePicker.js#L17-27`:
[code]

`ChooseActivityDateForm.js#L89-99`:
[code]

results in:

[code]

[2020-08-02 11:39] TAYTS commented on #3737
Hi @miukimiu, I have tried a few options but I am not sure if any of it is a good option.

Option 1:
Change the `margin-right` to `margin-left` for both the `<EuiFlexGroup>` container and its children components(`<EuiFacetButton>`)  and this will offset the `<EuiFlexGroup>` container to the left instead.

[code]

Option 2:
Set the `<EuiFlexGroup>` to `position: relative` and `left: -#{$gutterSize}