[2019-12-20 18:35] #2699 closed

[2019-12-20 21:47] #461 closed

[2019-12-21 18:35] supergrecko opened #2711 "Doumentation: EuiGlobalToastList example does not have Demo HTML"
The ToastList / EuiGlobalToastList documentation is currently missing the Demo HTML.

**Steps to reproduce**

- Navigate to https://elastic.github.io/eui/#/display/toast
- Click on ToastList's Demo HTML Tab

![image](https://user-images.githubusercontent.com/42585241/71312251-f1aa8f00-2428-11ea-9f4f-a47747fae9db.png)

I suppose this is because the EuiGlobalToastList doesn't actually result in any

[2019-12-21 19:29] ScreamZ commented on #2074
@b-barry

Which configuration do you use for build with css… I was doing such a thing

[code]

To get CSS but looks like it's not shipped and with the above hack it only works in dev mode

[2019-12-22 15:19] spalger commented on #2671
Thanks @chandlerprall!

[2019-12-22 19:14] supergrecko opened #2713 "Documentation: EuiListGroup example Demo HTML does not correspond to Demo JS"
Some of the Demo HTML tabs for the List Group documentation does not correspond to the example component inside the Demo JS tab.

**Affected Snippets**

- "List Group"
- "List of links"
- "Secondary link actions"

Instead of including HTML for the entire snippet it only includes the "Show as Flush / Bordered" parts of the Demo JS tab.

The final snippet ("Text wrapping and tooltips") appears to ha

[2019-12-24 23:38] Geebrox opened #2716 "EuiSelect two caret icons"
When I use EuiSelect component there are two carret icons appear. One of them is EuiSelect component icon and second is default select caret icon and cursor is not pointer, but default when I hover EuiSelect.

![issue_preview](https://i.imgur.com/Bx73KJL.png)

[code]

[code]

[2019-12-24 23:56] supergrecko commented on #2716
Hi, I'm unable to reproduce this issue, could you provide more information about your environment?

The select does not have a cursor pointer, or at least I believe it does not. The ones shown [in the documentation](https://elastic.github.io/eui/#/forms/form-controls) do not.

I tried reproducing it with the above code here: https://github.com/supergrecko/elastic-eui-2716 but everything renders as

[2019-12-25 00:20] Geebrox commented on #2716
@supergrecko Hi, thank you for your response. Sorry, hover effect is not defined EuiSelect, my mistake.

This is my environment

- Windows 10 Pro - Build 19041
- Browser: Google Chrome v79.0.3945.88 (Official Build) (64-bit) (cohort: Stable)
- Elastic EUI Version: 17.3.1

Imports (components) of the component where I use EuiSelect:

[code]

Style (sass) of the component where I use EuiSelect:

[co

[2019-12-25 01:27] Geebrox commented on #2716
I don't know how and why, but when I build the project this issue disappears. I think, there are some style issues in my project and these is not issue in EUI's side as @supergrecko tested out.

[2019-12-25 01:27] #2716 closed

[2019-12-26 19:34] chandlerprall commented on #2713
Good catch! That was an interesting one to dig into, more information in the fix PR (#2718) but this led to a bug affecting every example's html tab.

[2019-12-26 22:12] #2661 closed

[2019-12-27 19:41] ScreamZ opened #2721 "EuiFilePicker documentation"
Hello,

https://elastic.github.io/eui/#/forms/form-controls

I'm using EuiFile picker and it is great! But the documentation is lacking some props like the `multiple` one. That allows playing with multiple upload.

Also is there any way to programmatically clear the input? (on bad content as example)

Thanks

[2019-12-30 12:58] miukimiu commented on #2721
Hi @ScreamZ ,

The `EuiFilePicker` is a  is a stylized, but generic HTML `<input type="file">` tag. In the example we are providing we're showing how to grab the files using the `FileList API`. So, the `multiple` prop is part of the `FileList API`. You can get more information about it here:  [https://developer.mozilla.org/en-US/docs/Web/API/FileList](https://developer.mozilla.org/en-US/docs/Web/A

[2019-12-30 12:58] #2721 closed

[2019-12-30 16:15] ScreamZ commented on #2721
Knowing that it's a regular input type file will help, as I can use a ref to interact with it :) Thanks

[2019-12-30 17:08] #2648 closed

[2019-12-30 17:25] chandlerprall commented on #2721
We should probably use a forwardRef with this component, but for now...

The `ref` passed to `EuiFilePicker` will give you the class instance of the EuiFilePicker, the `input` is accessible on that instance's `fileInput` property. Example -

[code]

Note also that we've been treating these class properties (e.g `fileInput`) as private, internal values and a future release of EUI will likely break

[2019-12-30 17:33] ScreamZ commented on #2721
Thanks,

So there is no safe way to interact with EuiFilePicker currently ? Only hacky things?
I'll play with some ` key` property to generate new components if something get wrong

[2019-12-30 17:45] chandlerprall commented on #2721
Correct

That's probably the cleanest, and future-safe approach for now.

[2019-12-30 21:31] #2644 closed

[2020-01-02 16:47] #2709 closed

[2020-01-02 18:04] snide commented on #2618
You'll need a maxwidth for the `EuiFlexItem` that contains the grid. `EuiDataGrid` requires a container with some manner of limits for the scrolling to know when to kick in. Please close if this fixes your issue.

Codesandbox here: https://codesandbox.io/s/euidatagrid-2-flex-width-bug-wxyph

![image](https://user-images.githubusercontent.com/324519/71683310-12d37f80-2d47-11ea-9ba7-db8888b5688d.png

[2020-01-02 18:43] #1259 closed

[2020-01-02 20:28] #2693 closed

[2020-01-02 21:12] #2711 closed

[2020-01-02 21:12] #2713 closed

[2020-01-03 15:36] thompsongl opened #2730 "Static docs, Netlify, and PR branch deploy previews"
## Summary
Based on work done in #2577, I've got a PoC working that would allow us to:
1) Build the EUI documentation as a static site
2) Move our documentation to Netlify...
3) which allows us to offload the docs build to the Netlify server...
4) which allows us to automatically create doc deployments for all pull requests
5) Remove the `docs/` directory from source control
6) Remove the `build-d

[2020-01-03 16:07] thompsongl commented on #2730
It was a long break; just thought of one more thing: We'd need to tweak the release process a bit and/or use (potentially) GitHub actions to specify which tags/branches get deployed (aside from PR previews). By default, the master branch would always be the production deployment, which isn't how EUI releases work today. TBD here //cc @chandlerprall

[2020-01-03 16:19] #2238 closed

[2020-01-03 20:34] ryankeairns opened #2731 "Extract SCSS variables for use in JS"
With all the work going on around colors, there is a growing need to access EUI colors programmatically via JavaScript. Currently, all of our hex colors are defined as global SCSS variables, so it would be nice to extract those into a set of color palette arrays.

This would allow us to import and use them in things like chroma color functions, etc.

Related issue: https://github.com/elastic/eui/i

[2020-01-03 21:52] #2655 closed

[2020-01-03 23:24] ryankeairns commented on #2716
Thank you both for sorting this out!

[2020-01-06 16:58] #2606 closed

[2020-01-06 17:39] #1769 closed

[2020-01-06 18:04] andreadelrio commented on #2476
@ryankeairns I'm trying to reproduce this using BrowserStack but no luck so far. I'm guessing you don't have any extra info about version of FF or Windows for this?

[2020-01-06 18:26] chandlerprall commented on #2476
I'm also unable to reproduce on Windows 10 with FF v70.0.1 & v71.0 (natively, no VMs). All scroll bars are small, and there isn't one for the navbar when it's collapsed.

[2020-01-06 21:36] simianhacker opened #2736 "EuiButtonGroup (and EuiButtonToggle) doesn't unmount properly"
We are using the EuiButtonGroup for our ViewSwitcher in the Metrics UI. Whenever the DOM is re-rendered due to the data changing (by either selecting a different metric OR any other option), this component throws the following warning:

![image](https://user-images.githubusercontent.com/41702/71850735-3b82ae80-3092-11ea-92f9-0ef6eeac0664.png)

If we remove the component from the page everything wo

[2020-01-06 23:44] cjcenizal opened #2737 "EuiDualRange inputs are missing aria labels"
This comment regards this type of range:

![image](https://user-images.githubusercontent.com/1238659/71856804-05492d00-309a-11ea-887a-54131bed9966.png)

I'm not sure what the norm is for this type of input, but when I focus the left input VoiceOver reads aloud "20" followed by the help text, and when I focus the right input "100" followed by the help text. It seems like the user would need some ad

[2020-01-07 14:24] ffknob commented on #2737
PR https://github.com/elastic/eui/pull/2738

[2020-01-07 14:29] ryankeairns commented on #2476
I'm going to close this as I don't have the setup to verify it either. This screenshot was shared in the class by another attendee. If somebody else reads this and is experiencing the same issue, then please leave the details of your setup and re-open the issue.

[2020-01-07 14:29] #2476 closed

[2020-01-07 16:24] snide commented on #1703
Hey folks. Is this issue closable? I know we've made some changes to this as we tweaked colors. We also have the control bar now. Is the bottom bar something we want to deprecate now that we have a better solution?

[2020-01-07 16:28] snide commented on #827
@andreadelrio can you verify this is still an issue and close if it isn't?

[2020-01-07 16:31] snide commented on #606
@andreadelrio Wanna make check with @cchaos and come up with a good solution for what we want to do here. It should be easy to change the media queries on this to output more of the ui.

[2020-01-07 18:02] #2656 closed

[2020-01-07 20:20] ryankeairns opened #2740 "Button text is centered on left- and right-aligned EuiCards"
When an entire card is clickable (i.e. has an `onClick` set) and `textAlign: left` is set, a long title becomes centered when it wraps to a second line.

Edit: the text inside the button is always centered, it's just not noticebale until the button hits the max-width of the card content container.

<img width="977" alt="Screenshot 2020-01-07 14 16 19" src="https://user-images.githubusercontent.com

[2020-01-07 21:46] ryankeairns commented on #1703
I'll close it. That blue bar I proposed is too loud, for one 😃

I think there may still be a use case for the bottom bar separate from the control bar, as the latter feels suited to a more complex set of actions, but I haven't actually employed either it. There's a chance we get one or the other in to Dashboard in the somewhat near future... I'll explore further and share thoughts.

[2020-01-07 21:46] #1703 closed

[2020-01-08 03:53] #2485 closed

[2020-01-08 08:46] walterra commented on #2618
Thanks for the update! In our case the left container has a fixed width and we want the data grid to use up the available rest of the width. So first I thought that's then an edge case we cannot cover with pure CSS. But `calc()` to the rescue! If I do a `max-width: calc(100% - 480px)` where `480px` is the fixed width of the left container, the data grid uses up the available space. Thanks for inve

[2020-01-08 08:46] #2618 closed

[2020-01-08 13:27] #2740 closed

[2020-01-08 13:41] ffknob commented on #2662
PR https://github.com/elastic/eui/pull/2742

[2020-01-08 21:20] #1894 closed

[2020-01-08 22:41] smith opened #2743 "[EuiPopover] Doesn't work while in fullscreen"
When in fullscreen mode popovers don't show up.

The problem is popovers, by default, are added at the end of the `body` element. When an element is fullscreen, everything else is ignored when rendering.

Using the `insert` prop can be used as a workaround.

This example codesandbox shows this in action: https://codesandbox.io/s/working-eui-isni5

You'll have to view it outside of the codesandbox

[2020-01-08 23:24] ryankeairns opened #2744 "Increase contrast of hollow label in dark mode"
The border on the hollow badge is too subtle in dark mode after the latest badge color changes.

<img width="274" alt="Screenshot 2020-01-08 17 21 34" src="https://user-images.githubusercontent.com/446285/72024737-b1764980-323b-11ea-8172-28e0ecf4511b.png">

[2020-01-09 14:00] #2737 closed

[2020-01-09 16:22] ryankeairns opened #2747 "Remove extra word in Popover docs copy"
Change 'make make' to 'make'.

<img width="357" alt="Screenshot 2020-01-09 10 21 13" src="https://user-images.githubusercontent.com/446285/72084840-ddd8a700-32c9-11ea-9f6f-021b344d9b24.png">

[2020-01-09 16:46] #2744 closed

[2020-01-09 19:58] #2747 closed

[2020-01-10 15:28] bmcconaghy commented on #2612
Wondering where we are on this?

[2020-01-10 18:50] chandlerprall commented on #2612
@bmcconaghy I'll take this on early next week.

[2020-01-10 20:39] thompsongl commented on #2252
This ticket is pretty much resolved. I think we could close and track the remaining feature request (skip-to-content link component) in its own ticket: #2356

[2020-01-10 20:41] snide commented on #2252
Sounds good to me.

[2020-01-10 20:41] #2252 closed

[2020-01-10 21:51] thompsongl opened #2751 "EUI release(s) for 7.6"
Provided `eui@18.0.0` does not merge to `kibana@7.x` before 7.6 FF, we'll plan on the following:

- [x] Create the `eui@18.1.0` release
- [ ] Create a `eui@17.4.0` backport release with:
  - #2710 (`eui@18.0.0`)
  - #2749 (`eui@18.1.0`)
  - New solution icons (if available)
- [ ] Update kibana with `eui@17.4.0` (including `7.x` branch)

If the new solution icons are not available by Tuesday(ish):

[2020-01-10 21:52] thompsongl commented on #2751
Anything else we need to backport, @snide @myasonik ?

[2020-01-10 22:17] myasonik commented on #2751
We also want to get as many of the a11y fixes into 7.6 as possible (we're going to be redoing the VPAT against 7.6 and a few other a11y things will peg off 7.6 as well).

I went through the changelog and only could find #2455 as an a11y improvement even though I could have sworn there were others... (Maybe they all went in earlier?)

[2020-01-10 22:46] thompsongl commented on #2751
I believe #2455 depends upon work in #2686, which is the reason that `18.0.0` is having trouble getting into Kibana //cc @chandlerprall

[2020-01-11 14:26] cchaos commented on #2751
I think that if we get the latest master into a release and update the Kibana PR, then I can do all the hex value replacements directly in that PR and 🤞 we could get it into 7.6

[2020-01-11 14:35] chandlerprall commented on #2751
Last rebase of the 18.0 PR against master breaks Kibana startup (?)(!). Working through that today, and even if it's ready Monday morning (which is my intent) it still needs review and approvals, so I don't imagine it will make the 7.6 cutoff via a [Kibana] backport.

An EUI backport to our 17.x line, however, should be able to make a direct merge into Kibana 7.x

[2020-01-11 17:09] #2420 closed

[2020-01-11 18:01] snide commented on #2751
I think it will be very tight for icons by Tuesday. I would assume we will have post FF release with those. Please don't work on the weekend to get 18.0 in. It either happens on monday/tuesday or it doesn't, but there's nothing in there super duper crazy that has me worried about cascading breaks. This wouldn't be the first time we've put an EUI release into Kibana post feature freeze, and as long

[2020-01-13 05:20] chandlerprall commented on #2751
Kibana PR for EUI 18.0.0 is green; moved out of draft and ready for review (thanks to @cchaos for helping clear it up).

[2020-01-13 15:53] phylim opened #2752 "Right field in DatePickerRange hidden with overflow-y:auto"
Given a form's with these styles
[code]
and a DatePickerRange input is rendered,

When I click on the end date field
Then the date picker popper is hidden partially.

I found the problem is due to this style in form_control_layout.scss
[code]
The date picker popper renders floating over and outside of the scroll pane if I override that above property to

[code]
![Screen Shot 2020-01-15 at 8 07 13

[2020-01-13 16:34] pickypg opened #2753 "EuiSearchBar needs to be converted to TypeScript"
[code]

[2020-01-13 16:43] snide commented on #2753
Rewrote this issue to match our other typescript conversions

[2020-01-13 17:19] chandlerprall commented on #2208
@myasonik can you test again when you get a chance? I'm not reproducing the auto-focus issue.

[2020-01-13 17:28] kobelb commented on #2336
This is necessary to address the following Kibana accessibility issues:
- https://github.com/elastic/kibana/issues/43018
- https://github.com/elastic/kibana/issues/42505
- https://github.com/elastic/kibana/issues/42400

[2020-01-13 17:41] snide commented on #2751
@thompsongl is going to prep 18.1.0 based upon master and @chandlerprall's upgrade PR. He'll check out the ease of getting an upgrade in. If it looks hard, the current plan is to make an 18.0.x series to backport some smaller nav only fixes. Likely there will be a minor icon PR that will need a backport after these.

[2020-01-13 18:45] thompsongl commented on #2751
Upgrading Kibana to `18.1.0` is looking to be smooth. Nearly all changes are just hex/color updates in snapshot tests.

[2020-01-13 21:10] #2612 closed

[2020-01-13 22:57] thompsongl commented on #2730
I'll likely close this issue in favor of another more appropriate one, but it's doubtful that Netlify and the approach outlined above will be our eventual direction. We're beginning work with Elastic infra to set up a more custom/configurable solution backed by Elastic.

[2020-01-14 15:24] mdefazio opened #2756 "[Spec] Add a popover component to text and textarea fields for inserting variables"
Users need an easy way to add index fields (or other possible variables) into an input text field or textArea field.

#### Proposal:
**Add an optional icon to the right of the `text` and `textarea` input types that would open a popover.**

![image](https://user-images.githubusercontent.com/3756330/72356420-3b4c6980-36b7-11ea-9101-5b43aeb8b15e.png)

**When the icon is clicked**, a popover will appe

[2020-01-14 16:03] myasonik commented on #2756
This has got some tricky accessibility concerns mainly around changing and removing variables... Before jumping in to far on a component like this, we should probably mess with some PoC in this area to make sure we can nail it.

The problems comes in with not being able to have anything other than text content in `input`/`textarea`. We could make it work by using `div[contenteditable]` but making

[2020-01-14 16:06] myasonik commented on #2756
Getting ahead of myself here, I think I'd really like the ability to toggle between the two versions...

It's kind of like Slack's markdown entry vs their WYSIWYG entry. Each have their strengths and different users will prefer different experiences.

One questions: if the "alternate" version ends up getting implemented, how would we treat it if a user typed in some content in brackets? (Or, whate

[2020-01-14 19:11] thompsongl commented on #2751
**Update**

`18.0.0` merged in time and `18.2.0` contains only commits that would have been backported otherwise. Therefore, upgrading Kibana to `18.2.0` is in the works and there will likely _not_ be a backport to `7.6` later this week. Any solution icons will be added ASAP, but in a normal release targeting `7.7`

[2020-01-14 19:35] cchaos commented on #2751
Both 18.0 and 18.2 will **not** be backported to 7.6?

[2020-01-14 19:42] ryankeairns opened #2757 "New focus ring getting clipped on checkboxes in tables"
The new, larger focus ring is getting clipped for checkboxes in EUI tables.

This was initially noticed by a Canvas engineer, but it is also visible in our EuiTable docs - see the checkbox focus getting clipped under the "Adding selection to a BasicTable" section:

<img width="257" alt="Screenshot 2020-01-14 13 38 20" src="https://user-images.githubusercontent.com/446285/72376362-7066b500-36d3-11e

[2020-01-14 19:43] chandlerprall commented on #2751
18.0 and 18.2 should be in the 7.x branch before 7.6 is cut, so included but not backports.

[2020-01-14 21:05] thompsongl commented on #2751
Yes, @chandlerprall  is correct, sorry for confusion.

[2020-01-14 23:24] snide opened #2759 "[Data Grid] Column widths need a slight pause before calculation"
We've had two reported issues in Kibana that column widths aren't being calculated properly when `initialWidth` is not in use. They don't "expand" to fill the width given the width available. I think this is due to the various hooks being called before the grid is painted on the page. Likely we need a slight pause before the widths are calculated so the main wrapping grid can grow to fill the cont

[2020-01-15 13:44] alabarga commented on #1077
A simpler case is to define initial selection for the table

it could be a property in the component

<EuiIBasicTable items={items} selectedItems={selectedItems} />

or as a property similar to selectable in the selection properties

  const selectOptions = {
    selectable: e => e.selectable,
    selected: e => e.selected,
    onSelectionChange,
  };

<EuiIBasicTable items={items} seelction={sele

[2020-01-15 15:04] thompsongl commented on #2751
✅ master: https://github.com/elastic/kibana/pull/54786
✅ 7.x: https://github.com/elastic/kibana/pull/54869

[2020-01-15 15:04] #2751 closed

[2020-01-15 16:05] chandlerprall commented on #2756
Certainly would be a powerful feature. Some open-ended thoughts & questions in no particular order -

### Programability
* Probably should be a new stand alone component (or components) instead of adding onto the existing text & textarea fields. Injecting additional content and interaction into the fields' `value` feels like it's over-stretching those elements' intentions. As new components we cou

[2020-01-15 16:47] snide commented on #2756
I think this is the rub. Looking out two years from now I could see us focusing more and more on wysiwyg style content editables. We have two "similar" problems here in the markdown+ component and this one. Generally I'd say let's build them functionally out first, then see where they share functionality. We've been pretty disciplined about rewriting core layers when we see the need, and as long a

[2020-01-15 17:14] chandlerprall opened #2760 "[Meta] Environments/Projects we want to intentionally support"
We've talked a lot about which projects & environments we want to support. I'm rolling those up into this ticket as a place to track discussions & decisions.

External (non-Elastic) targets mean we intend to support EUI running in those environments, Internal (Elastic managed) targets likely means we directly maintain & update as EUI releases.

### Current targets
* EUI Gatsby starter (https://git

[2020-01-15 17:46] myasonik commented on #2208
Can't reproduce it anymore! Closing this ticket!

[2020-01-15 17:46] #2208 closed

[2020-01-15 18:22] chandlerprall opened #2762 "EuiTablePagination should apply data-test-subj to options"
To better support functional tests, `EuiTablePagination` needs to apply `data-test-subj` onto the `EuiContextMenuItem` row options it generates.

[2020-01-15 18:24] chandlerprall opened #2763 "`EuiFieldSearch`'s manual call to `onChange` doesn't match intent"
This change does not respect the contract of the `onChange` handler that expects a React.ChangeEvent

<img width="577" alt="Screen Shot 2020-01-15 at 12 50 05" src="https://user-images.githubusercontent.com/2854616/72413348-a40a1380-3795-11ea-9263-d32dab0db17c.png">

It caused a regression bug on our side (https://github.com/elastic/kibana/issues/54810), we can quickly fix it but it might have cau

[2020-01-15 23:06] thompsongl opened #2765 "Flaky Test: context_menu_panel icon loading"
As seen in https://kibana-ci.elastic.co/job/elastic-eui-pull-request/1082/console

[code]

[2020-01-16 03:49] andreadelrio commented on #2757
It looks like this was already happening with the old focus ring.

I’ve been looking into it and I’m not sure if this is a problem with `EuiCheckbox` itself or with the table, as those checkbox cells are getting an inline width of 24px that I can’t seem to override. I was thinking of doing something like `Object.assign(styleObj, { minWidth: valueHigherThan24px}`here https://github.com/elastic/eui/

[2020-01-16 04:23] #2763 closed

[2020-01-16 04:50] dannyfritz commented on #2658
You mind if I pick this up? I want to use both `<EuiNavDrawer>` and TypeScript.

[2020-01-16 05:05] chandlerprall commented on #2658
@dannyfritz go for it!

[2020-01-16 13:59] ryankeairns commented on #2757
I took a peek at this and the issue is on the Canvas side. My guess is that the docs example was copied and it applies a hard-coded 24px to the header td which then sets the width for the td's on down the column.

That said, I think there may still be some tweaking worth doing on the EUI side as well. We currently set the td for checkboxes to 32px, but it is not being applied. A couple of thoughts

[2020-01-16 14:07] ryankeairns commented on #2757
The `$euiTableCellCheckboxWidth` is set here:
https://github.com/elastic/eui/blob/ea17ac5400e038487495f6f48251b7957a343f52/src/components/table/_variables.scss#L6

There are several table examples with checkboxes; here is one as an example:
https://github.com/elastic/eui/blob/e529234f5661b89b4fcd789b2302ee61ce90344b/src-docs/src/views/tables/custom/custom.js#L247

[2020-01-16 18:28] snide opened #2767 "EUI post 7.6 feature freeze backports"
This issue can contain any known items that will need to get backported into the 7.6 release of Kibana.

- [x] Solution mark icons need to be updated https://github.com/elastic/Design/issues/2208
- [x] EuiButtonGroup fix https://github.com/elastic/eui/issues/2736

[2020-01-16 18:29] mbondyra opened #2768 "EuiControlBar doesn't display correct colors in filled button"
Steps to reproduce:
1. Create EuiControlBar that has button as one of the controls:
[code]
The button looks like in the picture below:
![image](https://user-images.githubusercontent.com/4283304/72552091-6d67f200-3896-11ea-960b-86eb27e5eb12.png)

2. Expected:
![image](https://user-images.githubusercontent.com/4283304/72552034-575a3180-3896-11ea-953d-a885e2fa2da3.png)

Bug can be reproduced for all

[2020-01-16 19:18] myasonik commented on #2767
With the grouped nav not going in 7.6 anymore, are the icons still required for 7.6?

[2020-01-16 19:34] snide commented on #2767
Yes, because they still show in the UI (like the homepage of Kibana) and effect our branding message.

It's very easy to do.

[2020-01-16 21:24] #2654 closed

[2020-01-17 01:13] pickypg opened #2771 "Allow EuiModal to hideCloseButton"
I have a need to display an `EuiModal` where the the user shouldn't navigate away unless they explicitly cancel the action that is occurring (updating a bunch of things).

I think it's fairly reasonable to generally consider the `x` as a _close_ action, but I'd really rather force the user to think about what they're doing if they hit it for a _cancel_ action. The `Flyout` allows this type of expe

[2020-01-17 03:15] pickypg commented on #2771
In this case, the intent is to display progress of a slow operation and explicitly take their focus to it because they cannot do anything else on the form while it’s happening.

[2020-01-17 03:39] snide commented on #2771
Consider using a roadblock (a full page dedicated to the status of what is happening), rather than a modal in this case. Or disabling the the inputs and using a progress indicator.

Modals should usually be used to ask for user action on a single thing (aka: do this action before you can move forward). Not to indicate the state of of the application or a process.

[2020-01-17 03:43] pickypg commented on #2771
I’ll have to think about what I want to display there, but that makes sense. Thanks!

[2020-01-17 03:43] #2771 closed

[2020-01-17 15:37] myasonik opened #2773 "`NavDrawer` is too restrictive about its child element"
## Summary
`NavDrawer` only allows a specific whitelist of children (not sure exactly what it is) primarily: `< />` and `NavDrawerGroup`.

This makes it difficult to break up large navs because you can't wrap parts of it in a component even if that component returns a `NavDrawerGroup`.

One workaround is to call the component as a function instead of trying to render it as a component. Other than

[2020-01-17 15:45] myasonik opened #2774 "[EuiNavDrawer] Accessibility"
- [ ] **Allow setting `aria-current='page'` on nav links**
	Can either require being passed in from consuming app but would likely be nicer if it queried the URL and handled it all itself

- [ ] **Add `aria-controls` to nested flyouts**
	Requires reworking the DOM into something like `ul` > `li` > `ul` which requires reworking `NavDrawer` and `ListGroup` as neither support nested lists at the mome

[2020-01-17 16:39] legrego commented on #2760
If you're accepting unsolicited feedback, I'm fond of the codesandbox target. I find this especially useful when submitting small reproductions for EUI issues, or when trying to isolate behaviors between Kibana and EUI. Codesandbox allows me to get an environment quickly spun up without having to manage another project or toolkit on my own machine.

[2020-01-17 16:57] snide commented on #2760
@legrego Have a gander at https://github.com/elastic/eui/pull/2728

😄

Has one issue with icons, but otherwise builds dynamic sandboxes for most examples in our docs.

[2020-01-17 18:08] #2757 closed

[2020-01-17 19:14] #2660 closed

[2020-01-17 19:50] #2647 closed

[2020-01-18 02:35] Tocknicsu opened #2777 "[Data Grid] Cell state will be discarded when data grid rerender"
![captured (1)](https://user-images.githubusercontent.com/7693441/72657244-fd17b880-39dc-11ea-8bf2-707cd67672f7.gif)

Here is the minimum app:
https://codesandbox.io/s/great-dijkstra-4yr3e

I put a ```<Counter />``` in the data grid and another outside.
And wrapped them in a div which props changes every second.
As the gif show, the state of counter in the data grid will be discarded when data gri

[2020-01-18 17:40] chandlerprall commented on #2777
React is re-creating the cell every render because your `Table.js` re-creates the `renderCellValue` function. The `renderCellValue` function is treated as a React component, e.g.

[code]

When reconciling its Virtual DOM, React sees the component's identity has changed as treats it as an entirely different component, causing an unmount of the first before mounting the new one.

If `renderCellValue

[2020-01-18 23:25] Tocknicsu commented on #2777
Thank you for your response and solve my problem.

[2020-01-18 23:25] #2777 closed

[2020-01-20 12:26] ffknob commented on #2762
PR https://github.com/elastic/eui/pull/2778

[2020-01-20 23:08] seraphjiang commented on #1689
when could data grid support filter by columns

[2020-01-21 13:49] ryankeairns commented on #2756
I've been loosely following along and each time I pass by, the UX similarities with `EuiComboBox` stand out to me. In particular, typing and inserting a badge within the input.

I'm not able to sort out whether that should be explored/leveraged further or if its better to be clearly different (i.e. adding the icon button). A textarea input with a dropdown would certainly be unexpected and break no

[2020-01-21 14:41] chandlerprall commented on #1689
@seraphjiang Providing built-in search/filtering capabilities is a lower priority, and not currently scheduled. We have seen many different ways apps want to expose to their uses for filtering, from a basic text entry to a search grammar to a visual query builder, and are still exploring the options in this area. At the same time, it is fairly straight-forward for an application to build its own f

[2020-01-21 15:29] pugnascotia opened #2780 "Some icon asset SVGs are huge"
The Golang SVG is enormous given what it provides - 241KB in fact. Turns out, it's just a PNG embedded in the SVG.

If we have the opportunity, we should audit our logo SVGs for embedded images and replace them with proper vector versions. Fortunately, we load icons on-demand.

[2020-01-21 15:47] chandlerprall commented on #2756
Similarly, I think this is a good place for `EuiToken` to represent the variables' datatype, which moves toward `EuiSuperSelect`'s additional rendering features. However, I don't think either of those would extend well into a `textarea`.

There was an attempt at unifying some code between the combo box's and super select's popover, though I can't find it now. Also related: _Create a service for jo

[2020-01-21 17:05] #2762 closed

[2020-01-21 17:06] #2645 closed

[2020-01-22 13:47] mouradmourafiq commented on #2504
A lot of great progress, thank you for providing such a nice abstraction and framework overall.

Is there any ETA for: `Checkbox for rows`.

[2020-01-22 18:59] snide commented on #2504
We don't provide estimates beyond saying things like "near term". It's on our current roadmap, and is a heavily requested feature, so you can assume it will be coming in the near term 😄 .

[2020-01-22 22:01] snide opened #2784 "[DISCUSS] A11y work and breaking changes friction"
@myasonik and I have gone back and forth a bit about how a11y changes often force breaking changes because they require such precision. On one side upgrades are no fun and cause friction to people using the library, on the other hand, making our a11y work need context in development (because the defaults are lame) results in things technically passing, but not being optimal.

I think a compromise

[2020-01-22 22:22] myasonik commented on #2784
I'm all for on changing some of these attributes that we mark as "optional but very recommended for accessibility" to "breaking change: you're required to pass this in now."

The tricky point here will be to get the cadence right. I tend to err on the side of "ship small breaking changes often" which would be to ship every individual PR as a breaking change just whenever they land. I think many sm

[2020-01-22 23:33] #2768 closed

[2020-01-23 03:13] snide commented on #2780
Here's an audit. A couple of these can be fixed, but some of them are a little obscure and don't have readily available SVGs.

![image](https://user-images.githubusercontent.com/324519/72939559-f319f080-3d21-11ea-9ae3-1d9bf89e227f.png)

[2020-01-23 10:13] pheyos opened #2785 "[EuiCard] Can't be opened in new tab any more"
Usability feedback:
With #2521 the structure of EuiCards has been changed. This serves a lot of use cases, but there's one interaction with the cards that was more intuitive before the change:
Before, the whole card was a link, so the user could open it in a new tab (via CTRL+click or middle mouse button or context menu `open in new tab`). This was particularly useful to open multiple cards from a

[2020-01-23 16:00] #2662 closed

[2020-01-23 17:34] timroes commented on #499
I just wanted to raise that issue slightly again. We now use Monaco already in Canvas expression editor and Timelion expression editor since EUIfication of it, and it’s part of the kibana_react plugin in Kibana. I wonder if it makes sense starting some discussion again, around moving EuiCodeEditor over to Monaco?

[2020-01-23 18:38] snide commented on #499
From what I understood, Monaco was hard to use as a side-loaded dependency and that's why we put that component in Kibana directly, rather than EUI. @poffdeluxe can likely fill in the details here.

If that's the case, I think the best thing we can do in EUI is to simply remind people in our docs that the Kibana one exists and point to any docs for it (are there docs?).

[2020-01-24 08:18] datencia opened #2788 "EuiSearchBar escaping parenthesis"
I'm getting a parse error trying to filter a field using a value containing parenthesis. E.g.

![image](https://user-images.githubusercontent.com/18591213/73053896-43f82900-3e89-11ea-9ed4-615953ffec94.png)

I've tried also escaping the parenthesis with no luck

![image](https://user-images.githubusercontent.com/18591213/73054259-43ac5d80-3e8a-11ea-81b0-6d475c352146.png)

is there a way to use pare

[2020-01-24 15:40] s-xync opened #2789 "EuiIcon component not working when used with Electron and React."
`EuiIcon` component is not working when used with Electron and React.

The error is as follows.
[code]

For reproducibility, I have created a [sample repository](https://github.com/s-xync/eui-issues) with the issue.

You would just have to clone the repository and run `npm install` and `npm start`.

Thanks in advance.

[2020-01-24 15:46] s-xync opened #2790 "EuiGlobalToastList documentation issue"
[ToastList documentation](https://elastic.github.io/eui/#/display/toast)
The first example's demo js on this page uses toast id integers.
But when I use the same, it says it is expecting string instead of an integer.
This has been solved when I use string. But still, I am opening the issue so that the documentation will be fixed.

The error is as follows.
[code]

For reproducibility, I have create

[2020-01-24 17:03] chandlerprall commented on #2784
We should also canonicalize what we want to do in new instances: are defaults okay (always? sometimes?), or are they required input from now on.

[2020-01-24 17:24] chandlerprall commented on #2773
The best way to better support this functionality will be to have `EuiNavDrawer` define a React context which gets consumed by `EuiNavDrawerGroup`. That's all the child-specific logic really cares about - passing two values to the drawer group.

[2020-01-24 17:25] chandlerprall commented on #2765
Food for thought: How can we re-purpose the new _.testenv._ mocked icon in our tests, excluded from _icon.test.tsx_ which needs to have the actual icon component.

[2020-01-24 18:36] kertal commented on #2504
There's another component, who's excited to be datagrid-dilated, it's the Data Table Vis. I've got a general question. In the old table, when you hovered a cell, you got the filter in & out icons. In the new grid when you've to click with the mouse when you're not using the keyboard. So there's one click more. Is this possible in the new grid, or is there something like this on the roadmap? muchas

[2020-01-24 18:56] snide commented on #2504
@kertal You can change the render of the the content into the cell (which can include links or buttons), and then you can disable the popover using `isExpandable` on `EuiDataGridColumn`.
Because Data Grid truncates content by default, you'll want to make sure any such interactive items are the first things in the render. Alternatively, you could create a column of actions if you needed.

[2020-01-24 19:25] #606 closed

[2020-01-24 21:20] andrew-goldstein commented on #2736
Per the details below, we're seeing a similar error in the SIEM app in the `7.6` and `master` branches when we navigate from the Overview page, which uses `EuiButtonGroup`, to other parts of the app.

### Reproduction steps

1. Navigate to the SIEM app in Kibana. The `Overview` page will be displayed

2. Click on another tab in the global navigation, e.g. `Hosts`

Expected result:
* No errors in t

[2020-01-24 21:35] snide commented on #2736
We can likely take this on as a backport. I will add this to https://github.com/elastic/eui/issues/2767 to track and we'll work this in next week.

[2020-01-24 21:54] #2651 closed

[2020-01-24 23:01] myasonik commented on #2504
I thought for cell level actions the recommendation was to go with adding the actions in the popover (as that's at least currently the plan for Discover's grid).

[2020-01-25 00:57] pickypg opened #2793 "[EuiDataGrid] Control isExpandable at the cell level"
I am building a calendar using the DataGrid and I have run into the need to allow a small popover form, but only if the calendar day has stuff in it. For example, imagine that a manager wants to override a holiday to mark an engineer as working, it obviously is an unnecessary step if there is no holiday on that day.

<img width="360" alt="image" src="https://user-images.githubusercontent.com/15012

[2020-01-25 00:57] pickypg commented on #2793
/cc @chandlerprall

[2020-01-25 00:57] pickypg commented on #2793
Before it even shows the expand button that is.

[2020-01-27 07:50] kertal commented on #2504
thx, I just wanted to talk about it, before establishing this different user interaction pattern around Kibana. CC: @AlonaNadler

[2020-01-27 11:50] #579 closed

[2020-01-27 13:04] miukimiu opened #2794 "EuiComboBox and EuiColorPicker don't allow prepend and append"
`EuiComboBox` and `EuiColorPicker` don't allow `prepend` and `append`.

For instance, the maps team is using a `EuiComboBox` and a `EuiColorPicker` and that's the result:

<img width="379" alt="Screenshot 2020-01-27 at 12 24 03" src="https://user-images.githubusercontent.com/2750668/73175414-06ea9b80-4102-11ea-84c2-7fb66a2fd478.png">

Ideally, both components should allow `prepend` and `append` as

[2020-01-27 16:34] miukimiu opened #2795 "Add Color Palette Picker component and widget"
## The problem

In EUI are providing multiple [color palettes](https://elastic.github.io/eui/#/utilities/color-palettes) but we are not providing a component that allows users to pick them.

In Maps we are using the following pattern to pick a color palette:

<img width="376" alt="Screenshot 2020-01-27 at 14 01 54" src="https://user-images.githubusercontent.com/2750668/73180681-bd07b280-410d-11ea-

[2020-01-27 16:44] ryankeairns commented on #2795
Tracking this new component for use in Canvas which currently offers use this color palette picker:

<img width="369" alt="Screenshot 2020-01-27 10 42 10" src="https://user-images.githubusercontent.com/446285/73194516-ed415800-40f1-11ea-8902-33eb5dd2e377.png">

The palettes offered are largely arbitrary and could be improved upon.

[2020-01-27 16:46] AlonaNadler commented on #2504
I share the same concern @kertal raised. The need to hover on a field, select it, point the mouse to the little icon to filter a field too long/tedious : @snide filtering from a cell is very common, the need to get the mouse to the small icon is not ideal. Ideally, it will be good if we can solve it with either keeping the actions in the cell or opening a pop up while selecting the cell area. Ther

[2020-01-27 16:53] snide commented on #2504
Either style is supported by EUI and this isn't a data grid issue, but a Kibana design issue. Very specifically, data grid is not the Discover application, and the design decisions or defaults for the grid don't need to be the ones used in Discover. It just needs to provide flexibility for implementation.

This isn't the issue for this conversation. I'd start with a requirement list in Kibana of w

[2020-01-27 19:29] thompsongl opened #2799 "[META] EUI Infra Improvements"
This issue can be used to track ongoing and upcoming improvements to the test, build, release, and CI infrastructure behind EUI.

## Test
* Automated a11y testing (axe) [#2231, #2569]

## Release
* CI-based npm publishing

## CI
* Git tag-based docs deployment
* Doc preview builds for pull requests

## Docs
* Bekitzur infra [#2787]
* eui.elastic.co as canonical documentation location (Github pages

[2020-01-27 19:32] thompsongl commented on #2730
Closing this in favor of tracking in #2799

[2020-01-27 19:32] #2730 closed

[2020-01-27 19:58] #2736 closed

[2020-01-27 20:55] #2498 closed

[2020-01-27 22:09] pickypg opened #2800 "[EuiDataGrid] Override expand behavior"
Relates to https://github.com/elastic/eui/issues/2793.

I would like the ability to display a Flyout (with an overlay mask) or a Modal (also with the mask) when the user selects the expand button so that I can force them to do something with it or to discard it without having the chance to do anything else with the grid, particularly since I cannot disable the grid while the detail view is visible

[2020-01-28 07:32] kertal commented on #2504
Thx a lot @sn

[2020-01-28 07:37] kertal commented on #2504
thx @snide, sorry for accidentally closing this, just started my first coffee in the morning, wouldn't happen after the 2nd ;)

[2020-01-28 20:32] thompsongl commented on #2767
EUI backport release v18.2.2 has been published to npm
Track elastic/kibana#56206 for 7.6 update

[2020-01-28 20:32] #2767 closed

[2020-01-29 18:17] #762 closed

[2020-01-29 20:09] thompsongl commented on #1959
@snide Was working through upgrading deps in the `elastic/gatsby-eui-starter`, which brought this back to mind.

_Easy changes_: `@types/react-beautiful-dnd` has already been moved , so `@types/react-virtualized` and `@types/enzyme` need to move to be `dependencies` of EUI. They're used in `export`ed modules (`@types/enzyme` only; `enzyme` proper is not necessary).

_Discussion_: `@elastic/charts`

[2020-01-29 20:22] #2336 closed

[2020-01-29 22:38] thompsongl commented on #2629
@cchaos Looking at the TSVB color picker, it changes its input to rgba when opacity < 1.
Do we want to open the EUI input to accept rgba, also, or keep it limited to hex (returning 8-digit values when opacity < 1)?

Based on their usage, it looks like the input might not even be in use when changing to EUI (might be a swatch button instead of the input)

<img width="305" alt="Screen Shot 2020-01-2

[2020-01-30 14:09] stevecastaneda opened #2803 "Fixed sidebar and header in this example"
https://elastic.github.io/eui/#/layout/page

How would you make this sidebar and header fixed vs. scrolling with the content.  Here's a codesandbox I started.

https://codesandbox.io/s/competent-https-yo741

[2020-01-30 16:58] thompsongl opened #2804 "Use chroma-js for all color parsing and conversion"
Now that EUI has heavy reliance on `chroma-js` (color palette creation, color contrast calculations for a11y), other custom methods should likely be deprecated and removed.

Such custom methods are part of the public API, so we need to either schedule for deprecation and removal, or convert them to use `chroma-js` for consistency.

Methods in the EUI public API:
[code]

[2020-01-30 17:35] cchaos opened #2806 "[EuiIcon] Support straight SVG usages"
Currently, when using custom icons with EuiIcon and passing an `.svg` file to the `type` prop, EuiIcon **always** spits out an `img` tag with the SVG data-uri as the `src`. This causes issues when consumers want to use the SVG content directly, for instance, when coloring the fills based on the theme/content with `fill: currentColor`.

### Current example:

[code]

### Renders:

[code]

### What n

[2020-01-30 18:12] snide commented on #2803
Hey @stevecastaneda we can't offer support for layout / css questions here, so I'll need to close this out.

That said, doing an inspect of our own docs-src should show you a way to handle this, since we do it there. You'll want to create a position: fixed div, that itself contains the sidebar. Using our sass mixins like `@include euiYScrollWithShadows ` to handle the styling of that div.

This sh

[2020-01-30 18:12] #2803 closed

[2020-01-30 18:16] stevecastaneda commented on #2803
Thanks!

[2020-01-30 21:18] cchaos opened #2808 "EuiComboBox should show check mark for single select options"
Similar to the way a normal Select box works, when EuiComboBox is in the single selection state, the selected option in the dropdown should get a checkmark to indicate it is selected. It currently shows nothing.

<img width="436" alt="Screen Shot 2020-01-30 at 16 15 03 PM" src="https://user-images.githubusercontent.com/549577/73491191-0b21ed80-437c-11ea-911c-6339f405d74d.png">

**Select**

<img wi

[2020-01-30 22:25] cchaos commented on #2629
We'd probably have to use the inline version with an extra input they way the color stops popover does.

As to the hex vs rgba values, that's a good question. I **assume** most users would understand the alpha channel but not that adding 2 extra digits to a hex alters the opacity. However, I think supporting both complicates the component quite a bit.

Perhaps instead of just a single slider for o

[2020-01-31 12:17] bollinic opened #2811 "Add Google logo to EuiIcons"
It would be useful to have the G logo in the EUI third party logo

[2020-01-31 14:55] gjones opened #2813 "Add an announcement style icon"
We're looking to add an icon that communicates an announcement.

Something like this:

![cheer](https://user-images.githubusercontent.com/305167/73549022-c6479680-440f-11ea-9463-19fcbf7123a5.png)

[2020-01-31 15:30] cchaos commented on #2756
I think the best way forward is to create a dev spec for this component and ask questions like:
1. Does this need edit and preview views?
2. How will a11y be handled?
3. Does the input's height grow?
4. How will  consuming applications interpret or need the data to interpret the final message?

[2020-01-31 17:39] #2335 closed

[2020-01-31 19:33] thompsongl commented on #2804
`isValidHex` at the very least should remain part of the API, although it should change to use `chroma.valid` for consistency.

[2020-02-01 19:55] tabna opened #2816 "Display error for date picker minDate and maxDate"
In the date picker, if you set a minDate and maxDate, the < > controls enable and disable appropriately, but the Month and Year controls do not.

For example, in the demo shown in the documentation, the min/max is currently set to a one week time span, 1/20/2020 - 2/6/2020. If you click on '2020' in the calendar header, it displays a blank screen where normally you would see the year choices. At t

[2020-02-03 12:50] rlesniak commented on #2659
I need that in my TS project. Can I pick up this?

[2020-02-03 15:26] cchaos commented on #2795
The **Color Palette Picker Widget** idea is certainly interesting and will be helpful once we have more charts available in elastic/charts. I think the **Color Palette Picker Component** is high priority since we seem to have new instances pop up every minor and we should really get these UI's unified.

[2020-02-03 16:04] thompsongl commented on #2813
Closed by #2814

[2020-02-03 16:04] #2813 closed

[2020-02-03 16:40] snide commented on #2659
@rlesniak Go for it. We can review a PR.

[2020-02-03 16:44] #2649 closed

[2020-02-03 18:53] thompsongl commented on #2629
Ok. In this case we could treat alpha (or full rgba) as a second return value, which would allow consumers to handle it however they want.

Also, @snide brought up the point that 8-digit hex values aren't supported in CSS in IE11 (and Edge), which I verified.

[2020-02-03 19:35] chandlerprall commented on #1959
Would be great to avoid listing `@elastic/charts` as a `dep`. Since _themes.tsx_ isn't exported by the top-level `@elastic/eui`, ideally we can find a simple way to ignore it being included in _eui.d.ts_

[2020-02-03 19:36] #2437 closed

[2020-02-03 19:44] chandlerprall commented on #2806
This depends on the consuming application, not EUI. The application decides how imported svgs behave, e.g. as an image (file-loader, image-loader, etc) or as a React component (via another webpack loader, airbnb's babel plugin, etc).

In your example code, if you were to `console.log(reactSvg)` you'll see it isn't a React component, likely it is a is either a `data:` or `http` url.

[2020-02-03 19:50] cchaos commented on #2806
How do you suspect that a consuming application get the end result needed (inline SVG content)?

[2020-02-03 19:57] #2788 closed

[2020-02-03 20:14] chandlerprall commented on #2806
They would need something added to their build/bundle pipeline to convert svgs to React components (a webpack loader, the babel plugin, etc). These are common in build configurations and easily discoverable - but we probably should update the docs to push people in the direction that they should discover one.

[2020-02-03 20:18] miukimiu commented on #2794
I just added the append and prepend to the `EuiComboBox` without too much thinking and that was the result:

<img width="441" alt="Screenshot 2020-02-03 at 20 02 32" src="https://user-images.githubusercontent.com/2750668/73687466-0897fe80-46c2-11ea-9821-fb55f4060e20.png">

So I need to rethink the design. 😛

[2020-02-03 20:23] #2337 closed

[2020-02-03 20:41] cchaos commented on #2806
@thompsongl And I talked a bit about this one last week when it came up via Cloud. Do you have any thoughts on this?

I worry that @chandlerprall's solution creates a whole bunch of hoops for a simple inline SVG.

[2020-02-03 21:51] myasonik opened #2821 "[EuiDataGrid] Popover arrow placement is incorrect when tall"
Example:
![Screen Shot 2020-02-03 at 16 50 06](https://user-images.githubusercontent.com/4188087/73694099-69fda480-46a5-11ea-817d-edf2e4a54a95.png)

[2020-02-03 21:55] thompsongl commented on #2806
@chandlerprall is right that processing an SVG import would be entirely on the consumer to handle via webpack, etc. Assuming that'd understood, though, the desire is still for `EuiIcon` to accept an SVG as a string (if they bypass `import` altogether) or React component and render it as an `<svg />` instead of an `<img />`.

What might be more appropriate is a new HOC that could provide consumers

[2020-02-03 23:38] #827 closed

[2020-02-03 23:38] #2469 closed

[2020-02-04 00:20] matt-davis-elastic opened #2823 "Update the ILM UI to include the ability to wait for snapshot"
ILM is adding a new [action](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/_actions.html#ilm-delete-action) in the delete phase that allows ILM to wait for the specified snapshot policy to complete.  Can we add something in the UI on the delete phase to allow someone to include the action to wait for a snapshot policy?

@jethr0null let me know if you need any other information.

[2020-02-04 02:05] snide commented on #2823
Hello @matt-davis-elastic. I think you might have dropped this issue in the wrong repo. The covers the React UI framework (Elastic UI Framework) and doesn't cover the Elasticsearch UI. For those issues, I think you want to make them in Kibana, likely using the Elasticsearch UI label. https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3A%22Team%3AElasticsearch+UI%22

[2020-02-04 02:05] #2823 closed

[2020-02-04 16:51] cchaos opened #2824 "[EuiColorPicker] Prepend should shift popover to align to input"
The left side of the popover is aligned with the prepend versus the actual input. It should align to the input.

<img width="429" alt="Screen Shot 2020-02-04 at 11 33 55 AM" src="https://user-images.githubusercontent.com/549577/73765311-5e13f000-4742-11ea-937c-02c1618f4865.png">

_Originally posted by @cchaos in https://github.com/elastic/eui/pull/2819#issuecomment-581997257_

[2020-02-04 18:26] chandlerprall opened #2825 "propType generation needs to understand `never`"
`never` type is interpreted as `PropTypes.any`, when it should be excluded instead

_Current lack in functionality is demonstrated in https://github.com/elastic/eui/pull/2818_

[2020-02-04 19:16] chandlerprall opened #2826 "test-staged script does not pick up renamed files"
Found with [this commit](https://github.com/elastic/eui/pull/2818/commits/6e8a1eab0e43f9e4f001e9ea6450fc0e2a0daa8d), *test-staged.js* only picks up the *package.json* change in the commit and not the file renames (which also include edits).

_Originally posted by @chandlerprall in https://github.com/elastic/eui/pull/2818#issuecomment-582068582_

[2020-02-04 19:23] #2780 closed

[2020-02-04 21:29] thompsongl commented on #2629
<img width="163" alt="Screen Shot 2020-02-04 at 3 25 08 PM" src="https://user-images.githubusercontent.com/2728212/73788413-9cb9a280-4762-11ea-9ba3-7f2ebe3fb801.png">
<img width="176" alt="Screen Shot 2020-02-04 at 3 20 05 PM" src="https://user-images.githubusercontent.com/2728212/73788420-9f1bfc80-4762-11ea-9705-b34a66067207.png">

I think I like the decimal representation better. The return valu

[2020-02-04 23:03] cchaos commented on #2629
I think showing it as a percentage is more universally understood than decimal. Since the decimal notation is essentially a fraction.

[2020-02-05 22:52] #1959 closed

[2020-02-06 15:57] cchaos commented on #2795
Related Kibana ticket: https://github.com/elastic/kibana/issues/43697

[2020-02-06 16:34] cchaos opened #2831 "EuiBadge should allow for `href`"
Currently it only accepts `onClick` but badges can also link to other pages as well. It should accept `href` similar to EuiButton.

[2020-02-06 18:22] #2659 closed

[2020-02-06 18:59] #2065 closed

[2020-02-06 22:40] stephmilovic opened #2833 "EuiSteps - Support custom badges"
I've been asked to implement the below design on the SIEM team for Case Management. I'd like to use the `EuiSteps` component combined with the `EuiAvatar` component to achieve this. However, I'll need to be able to have a custom badge instead of the numbered step. Can the EUI team please add support for JSX elements being passed as custom badges?

<img width="400" alt="Screen Shot 2020-02-06 at 10

[2020-02-06 22:59] myasonik commented on #2833
Just throwing in something to consider: there are some a11y improvements I'd like to make the current `EuiSteps` component that would be slightly at odds with this request.

Currently, `EuiSteps` renders as a bunch of `<div>` tags. I'd like it to render as an `<ol>` with `aria-current="step"` set on the currently active step. (I should probably open a ticket for this but haven't done a deep dive i

[2020-02-06 23:16] ryankeairns opened #2834 "[Discuss] Decrease delay for EuiNavDrawer tooltip"
The current animation delay on the nav drawer tooltip is hardcoded to the `long` value and seems to be causing further frustration:
https://github.com/elastic/eui/blob/e88c8c6bc89d6e9e110f2d0c355b60cae0aac475/src/components/list_group/list_group_item.tsx#L232

Since its initial release in Kibana 7, there have been a [number](https://github.com/elastic/kibana/issues/47433) of [feedback](https://git

[2020-02-06 23:45] snide commented on #2833
Just out of curiosity @stephmilovic. Would you rather have some sort of `EuiComment` and `EuiCommentList` component instead? Just looking at the layout presented, I don't know that warping `EuiSteps` for this is worth it? Seems like it might be better as its own reusable thing?

What's your timeline? If we whipped up the design code quickly, would you maybe have time to handle the interface side o

[2020-02-06 23:48] snide commented on #2834
I think cutting the animation time is fine. As long as there is SOME delay so you don't get them all popping up in secession like 6.x I think we're fine.

[2020-02-07 15:04] stephmilovic commented on #2833
Yes @snide I think a EuiComment component would be better than extending steps. I need this for `7.7` so I've already started to program it out. I would be happy to contribute to the Eui repo once its done. I'm modeling it after EuiSteps, just started last night: https://github.com/stephmilovic/kibana/blob/case-siem-ui-v2/x-pack/legacy/plugins/siem/public/pages/case/components/user_action_tree/ind

[2020-02-07 15:24] thompsongl commented on #2765
This mocked component is now available in master, so we can start looking into this for real

[2020-02-07 19:55] #2657 closed

[2020-02-09 01:44] nreese commented on #2629
Are there plans to provide a property to opt out of showing the opacity input?

[2020-02-09 16:47] snide commented on #2629
It should be off by default. This is an optional feature.

[2020-02-10 14:31] pickypg opened #2839 "[EuiDataGrid] Allow sticky columns"
I got some feedback on a particularly wide usage of data grid where some people would like to lock some columns so that when they are forced to horizontally scroll, they get the column(s) that they're most interested in stuck on the screen.

I assume that the same applies to a sticky row in the same way that spreadsheets support both directions.

[2020-02-10 15:25] chandlerprall commented on #2839
👍Sticky columns & rows is on the feature list, but hasn't yet been roadmapped / planned.

[2020-02-10 16:41] i-a-n opened #2840 "[Icons] Icon request: "file attach" / paperclip icon"
Hi there. I'm working on the new support portal, and our designs have your typical vertically-oriented paperclip icon wherever a user can attach files, similar to the Material Design icon:

<img width="111" alt="Screen Shot 2020-02-10 at 8 35 12 AM" src="https://user-images.githubusercontent.com/1937355/74169950-fe559300-4be0-11ea-87d1-e5f2e99d146b.png">

I don't see one in EUI—can I request one b

[2020-02-10 16:47] cchaos commented on #2840
Yep, I'll add it to our incoming. Thanks @i-a-n

[2020-02-10 18:55] myasonik opened #2841 "Combobox a11y improvements"
Replacing Kibana issues [#42988](https://github.com/elastic/kibana/issues/42988) and [#39357](https://github.com/elastic/kibana/issues/39357)

Summary:
- Clear button for combobox fails contrast ratio check (should be 4.5:1)
<img src="https://user-images.githubusercontent.com/2439008/62739742-9d67bb00-ba03-11e9-8b19-8c2871a239a9.png" />

- Popup indicator should be excluded from focus order ([Unde

[2020-02-10 21:44] cjcenizal commented on #1877
Per discussion with @joshdover, to use `EuiBottomBar` in Kibana currently requires tracking the side nav collapsed state and applying custom styles to the bottom bar instance to resize it. This solution is brittle because sizes will be hardcoded, and ad hoc because it will need to be reimplemented in each app that uses this component.

I think there should be a core-level solution in Kibana so peo

[2020-02-10 22:03] snide commented on #1877
This reminded me of something similar we had to do with Flyouts awhile ago. The answer was mostly to just use css overwrites, which as @cjcenizal correctly mentions is fairly brittle. All that said, they generally have stood up fairly well over time, and it's probably OK for the short term in y'all are blocked. I know we all want something better, but it surprisingly has been pretty resilient sinc

[2020-02-10 23:35] thompsongl opened #2842 "`EuiCode` & `EuiCodeBlock` Jest compatibility"
As of #2820 (v19.0.0) `EuiCode` and `EuiCodeBlock` use a React portal to render content. In Kibana, this causes failures in several snapshot tests, giving:

Initial thought: we may want to provide a `.testenv.` mock to bypass `createPortal`.

[2020-02-10 23:46] thompsongl commented on #2842
Currently mocked as part of elastic/kibana#57284, which is a prereq for actually being able to consume `test-env` mocks in Kibana

[2020-02-11 13:53] jloleysens opened #2843 "[EuiTreeView] Allow draggable and droppable entries"
Would it be possible to create a draggable/droppable version of the `EuiTreeView`?

What I am thinking of is a new configuration like:

[code]

Which flags to the tree that it should create drag and drop zones around enabled Nodes:

[code]

This could enable business logic to determine what nodes in the tree are drop zone targets and just let application code respond to drag and drop events?

This

[2020-02-11 15:50] snide commented on #2843
@jloleysens Sounds like something that would be useful to others and we'd be happy to help. Something like this isn't on our immediate timeline, but if you'd like to lead on the dev we can offer:

1. A designer to work with you on the design code.
2. Dev review and feedback for any of your ideas.
3. We can take over (if you want) during the performance, accessibility and standardization stage to g

[2020-02-11 16:46] miukimiu commented on #2840
I also need this icon for #2597 so I'm assigning this issue to me.

[2020-02-11 20:33] ryankeairns opened #2844 "[icons] Icon request: image"
The tables have turned, now I am requesting icons!

We're going to need an image icon on Dashboard and I suspect it could be used in the upcoming Markdown component as well. If somebody has the time, I would much appreciate the addition of something like:

![image](https://user-images.githubusercontent.com/446285/74276438-5c66a100-4cdb-11ea-80f5-645391b090f1.png)

I'll keep an eye on this and knoc

[2020-02-11 20:42] ryankeairns commented on #2844
Added a vector image to the Figma file.

[2020-02-11 21:10] ryankeairns commented on #2520
+1 for the sticky component. This came up today while reviewing/planning improvements to Dashboard.

[2020-02-11 22:15] cchaos commented on #2833
@stephmilovic I agree with @snide that it seems forcing EuiStep into this configuration may not be the best path forward. And as I thought about it some more and looked at the screen you are trying to build, I think your solution can easily be created simply by using the EUI layout components.

I double-checked my thinking on that and came up with this simple solution https://codesandbox.io/s/work

[2020-02-12 06:20] s-xync commented on #2789
Just to let the team know that I am closing the issue.
The issue was occurring in version 18.2.1. I upgraded it to 19.0.0 and the issue has been resolved.

[2020-02-12 06:20] #2789 closed

[2020-02-12 16:29] #2840 closed

[2020-02-12 18:23] cjcenizal opened #2848 "[EuiBasicTable] Easier multi-row selection"
Per https://github.com/elastic/kibana/issues/57424, a user has pointed out that selecting multiple rows requires acquiring and clicking a checkbox for each individual row. This can become tedious when you want to select many rows.

The user's suggestion was to support holding down `SHIFT` to allow the user to click two separate rows and automatically select all rows in between them. This is simila

[2020-02-12 18:36] myasonik commented on #2848
I think <kbd>SHIFT</kbd>+click is much simpler to work around from an a11y perspective.

With the brush idea the big difficult I foresee is how to navigate tables with multiple actions. If you meant to click on the "delete row" button but missed it and clicked in empty space in the row instead, firing a different action could be quite a nuisance or potentially distressing depending on the action.

[2020-02-12 20:47] cqliu1 opened #2851 "Infinite pagination in empty EuiBasicTable"
The pagination controls appear when the EuiBasicTable has no rows and allows for infinite pagination to the right.

<img width="1253" alt="Screen Shot 2020-02-12 at 12 22 42 PM" src="https://user-images.githubusercontent.com/1697105/74375720-11fa2880-4d9e-11ea-8a87-f75141b365ce.png">

Cross link: https://github.com/elastic/kibana/issues/57492.

Possibly introduced in https://github.com/elastic/eui

[2020-02-13 07:29] jloleysens commented on #2843
Hey @snide ! Thanks for the explanation! This is definitely something I would be keen to do a POC for. But if someone gets to it before me that is totally cool too 👍 I don’t have en exact date in mind for when this is going to be needed in the example I provided.

[2020-02-13 16:36] chandlerprall commented on #2851
Unable to reproduce in EUI. Looked into the Canvas implementation and noticed that page manages its own `EuiPagination` and does not rely on `EuiBasicTable` for pagination.

https://github.com/elastic/kibana/blob/439708a6f9e9fd70e773409bbd03e1e723906170/x-pack/legacy/plugins/canvas/public/components/workpad_loader/workpad_loader.js#L271

[2020-02-13 16:52] chandlerprall commented on #2848
I agree with preserving the <kbd>shift</kbd>+click style as it's the more common pattern of interaction.

Though I think the other keyboard shortcuts @myasonik mentioned are less tenable for tables as the focus management is non-existent and it would be difficult to understand & govern those focus states.

[2020-02-13 17:30] myasonik commented on #2848
Mmm, yeah. I didn't think about that. The top two don't make much sense but we could support <kbd>ctrl</kbd>+<kbd>a</kbd> to select all and <kbd>shift</kbd>+<kbd>arrow_key</kbd> extends selection one row up or down from wherever focus is.

Both nice-to-have sort of stretch goals though. Nothing critical.

[2020-02-13 17:37] snide commented on #2462
I'm closing this one out. After the solutions presented with control columns in https://github.com/elastic/eui/pull/2846 I think this feature is best addressed downstream, rather than building this into the HoC. I'm going to adjust that demo to better illustrate a way to solve this.

[2020-02-13 17:37] #2462 closed

[2020-02-13 20:25] chandlerprall commented on #2626
### Discussion

*What is the best way to handle this?*

I think the main complication here is how to keep a predictable UX while some cells expand while others do not. In a grid without cell expansion, the rules would be simple: when there is one interactive element then focus on it, for two or more keep cell-level focus until <kbd>enter</kbd> or <kbd>f2</kbd> is pressed to toggle into a focus tra

[2020-02-13 20:32] snide commented on #2626
I agree on your list. 👍

[2020-02-13 22:54] myasonik opened #2855 "`BottomBar` can be difficult to navigate to"
`BottomBar` announces that new page level controls have been added to the bottom of the page but gives no assistance to navigating to them on.

On something like the Advanced Settings page which is both large and has a ton of tab stops, headings, and form controls navigating to it can be quite difficult.

[2020-02-13 22:56] cchaos commented on #2855
We're eventually going to deprecate `EuiBottomBar` in favor of `EuiControlBar` does that component have the same problems?

[2020-02-13 23:24] myasonik commented on #2855
😬 `ControlBar` is actually worse off than `BottomBar` as it gives no indication the the document changed

[2020-02-14 01:31] barlowm commented on #2855
@myasonik - Your comment about "no indication the document changed" reminded me of an [issue ](https://github.com/elastic/kibana/issues/37519) I opened a long time ago about pages loading an not giving an indication that the page has completed loading. It was originally for Discover but it's persistent across virtually all the pages that take a finite period of time to pull information from the ba

[2020-02-14 11:05] markov00 opened #2859 "renderToHtml throws warning logs when using useLayoutEffect"
Rendering components that use `react-redux` internally through the `renderToHtml` method, cause console warning logs like the following:

[code]

The `useLayoutEffect` hook is used by `react-redux` internally.
`react-redux` use a special hack to use the `useLayoutEffect` or the `useEffect` hooks determining whenever to use one or the other depending on the presence of the `window` global variable

[2020-02-14 13:52] shahzad31 opened #2860 "EuiFieldSearch doesn't shows a button that quickly clears any input"
EuiFieldSearch doesn't shows a button that quickly clears any input.

We are using EuiFieldSearch in Uptime app in filter group, isClearable is set to default true, but when user types something, it doesn't show clear button.
![image](https://user-images.githubusercontent.com/3505601/74537018-8a492100-4f39-11ea-9c6b-eeeac9e37e21.png)

[2020-02-14 14:12] shahzad31 commented on #2860
To further add, it seems like problem is related to value prop, we are not providing value, since it's value is controlled from prop, we can't provide static value.

[2020-02-14 14:33] cchaos commented on #2860
I have also run into this several times this week just thinking there was something wrong on my end. @andreadelrio Can you look into this one?

[2020-02-14 17:29] chandlerprall commented on #2860
As @shahzad31 said, rendering the clear button relies on a non-empty `value` to be passed.

To fix this, we'll need to internally track the value in the component's state and show/hide the clear button based on that.

Why track the value in a new state instead of checking `this.inputElement.value`? Nothing forces the component to re-render on value change, there is a path or two where it _could_ h

[2020-02-14 17:35] chandlerprall commented on #2859
Great write up, thanks!

I think the first option (render at build time instead of in browser) makes the most sense, would be straight forward to create or find a webpack loader that renders the component and implement it, though we have a handful of components which are not SSR-compatible and we'd had to polyfil the environment or update those components. We should explore this more.

A much quic

[2020-02-15 06:22] aryamanpuri commented on #2831
Hi @cchaos, can take up this issue .
Can you explain about about to be done in this ?

[2020-02-15 07:45] Tocknicsu opened #2862 "DataGrid header focus"
Here is minimum reproduce app.

https://codesandbox.io/s/flamboyant-dust-s5fdw
There is a `ModuleNotFoundError` and we can ignore it, just click `x` at top right corner.

My question is that combining DataGrid and Input will trigger browser to focus it. Therefore, it is always forced to scroll down. When we toggle `show` at `line 35`, the problem has gone.

I trace code and find https://github.com

[2020-02-16 01:03] phylim opened #2863 "Runtime error when toast from redux store containing react element in Title or Text is used in EuiGlobalToastList"
When I use the EuiGlogalToastList to display toasts from the redux store, I am getting this error -
```TypeError: Cannot assign to read-only property 'validated' of object '#<Object>'```

Below is my reducer. The error happens when I get the toast list from this store to use in EuiGlobalToastList.
It doesn't happen in production mode because immer default to `setAutoFreeze(false)`. I think somethi

[2020-02-17 20:27] roberto910907 opened #2864 "Elastic UI but for VueJS"
Hi team,

Just wondering what do you think about creating a new library based on this one but using VueJS instead. I've been playing with your theme styles on top of some Vue components and they look pretty nice. There are some good UI frameworks out there with version in both ReactJs and VueJs, eg: ElementUI so I was thinking that maybe I can start working on a new EUI version but delivering VueJ

[2020-02-18 16:52] chandlerprall commented on #2864
Thanks for the interest, and the compliment on Elastic UI!

First, some thoughts on the non-legal side of things:

* We are planning (#1656) to move to some sort of CSS-in-JS solution at some point this year. This will be likely be [Emotion](https://emotion.sh/). I do not know the CSS-in-JS landscape for Vue, but a quick google search shows it may be straight forward to use those together?
* Maint

[2020-02-18 17:09] roberto910907 commented on #2864
@chandlerprall Thank you so much for answering so quickly. I just sent an email to the email address you've provided :+1:

I've been working with the Elastic Search stack for a while, and IMHO, it's one of cleanest frameworks out there. I fell in love with Kibana UI at first sight :)

As I mentioned, I've been trying to create my own components but using your css layer. I tried to maintain the sam

[2020-02-18 19:39] thompsongl commented on #2863
Hey @phylim, thank you for the issue and for taking the time to put together a reproduction repo.

I did some digging, and it looks like immer auto freezing will not work when React components are part of the produced result.

(https://immerjs.github.io/immer/docs/freezing)

React needs to be able to set/mutate validation flags on component objects (`_store.validated`, for instance, which is where

[2020-02-18 20:04] chandlerprall commented on #2862
@myasonik the grid calls focus on the header element because it is interactable and the default focused cell is the first header column. I'm thinking the grid shouldn't set focusedCell at all until it is itself interacted with (put a tabIndex on the grid and listen for a focus event). Do you have any thoughts on this?

[2020-02-18 22:52] myasonik commented on #2862
Yeah, I think this is that same "data grid focus keeping is too aggressive" bug that comes up every so often that we've fixed and broken a few times, isn't it?

I think your solution should work.

[2020-02-19 16:39] cchaos opened #2871 "Create a EuiBadgeGroup component"
Badges are kind of complicated when you start laying them out in flex groups because of truncation issues. I had to do a lot of custom styles in Kibana to get the global filter pills to wrap and truncate properly. Now we're having the same issue in Kibana Graph (https://github.com/elastic/kibana/issues/57859).

We should just create `EuiBadgeGroup` that will handle the proper layout of multiple ba

[2020-02-19 16:43] cchaos commented on #2871
Part of the custom code in Kibana:

https://github.com/elastic/kibana/blob/0340fac14967d1e9b072517c4c09d64476b67d89/src/plugins/data/public/ui/filter_bar/_global_filter_item.scss#L1-L15

The component should probably allow altering similar properties to EuiFlexGroup like:

- `gutterSize`
- `wrap`

[2020-02-19 17:30] #2623 closed

[2020-02-19 18:39] snide commented on #2504
I'm closing this issue now that all but one of the issues are addressed. 🎉

[2020-02-19 18:39] #2504 closed

[2020-02-19 19:08] cchaos opened #2876 "[EuiColorStops] Beginning from empty should look more empty"
![image](https://user-images.githubusercontent.com/549577/74866786-6ca4fe80-5321-11ea-8a05-38f83d0b4b1a.png)

Yep. This was a valid request from Maps. They have situations where the color doesn't start until a certain point. The best way to illustrate that was to use gray since that felt "disabled"

_Originally posted by @snide in https://github.com/elastic/eui/pull/2850#issuecomment-588391982_

[2020-02-19 19:10] cchaos commented on #2876
Perhaps the gray needs to either be a lighter shade or the bar should be hollow (border only). I'm just not getting "disabled" with it. It looks like a full color, and I understand it has to be that dark for contrast.

[2020-02-19 19:22] snide commented on #2876
I like the hollow idea. I think it might be really tricky to do from a css perspective. I'd opt for the lighter shade answer as an easy-to-do solution.

[2020-02-19 22:36] #2665 closed

[2020-02-19 22:46] #2663 closed

[2020-02-19 23:25] #2844 closed

[2020-02-19 23:41] thompsongl opened #2883 "[EuiBadge] Prevent color opacity"
Per discussion in #2850, now that we've opened up `EuiColorPicker` to opacity we may want to do more than give console warnings for invalid color input. For instance, 8-digit hex values are still renderable by `EuiBadge` but are not desirable and can cause contrast failures.

#2804 is related for validation reasons

Solutions:

- Set alpha channel to 1 regardless of provided `color` value
- Render

[2020-02-20 00:10] dimitropoulos opened #2884 "EuiDatePicker needs to be converted to TypeScript"
Please correct me if I missed something, but it seems like this should be part of the TypeScript conversion:

[code]

If so: please assign to me and I'd be happy to take care of it.  Judging by the others in this family of tickets, it seems like the labels: `assign:anyone`, `chore`, and `typescript` are called-for.

[2020-02-20 14:43] ajangus commented on #1491
With https://github.com/elastic/eui/pull/2858 moving forward, closing this one.

[2020-02-20 14:43] #1491 closed

[2020-02-20 16:04] #2859 closed

[2020-02-20 16:34] #2862 closed

[2020-02-20 18:37] chandlerprall commented on #2884
Assigned to you! :)

[2020-02-20 19:56] thomasneirynck commented on #2794
Thanks for creating this. +1, it would really clean up the styling UX in Maps.

[2020-02-20 22:31] myasonik opened #2888 "`EuiDescribedFormGroup` clobbers title semantics"
## What's happening?
The title text we render inside of a hidden `legend` and on the actual contents we add a `aria-hidden="true"`.

On top of limiting now what we can put in titles, having a title also be a heading no longer works which breaks all of Advanced Settings and likely other pages throughout Kibana.

## What's the impact?
Large. Not only does this impact all semantically meaningful cont

[2020-02-21 00:12] pickypg opened #2889 "EuiDatePicker popover does not handle screen edge in Firefox"
I was attempting to use an `EuiDatePickerRange` within an `EuiFlyout` and I ran into this when using the end date in Firefox:

<img width="459" alt="image" src="https://user-images.githubusercontent.com/1501235/74989851-9d636180-540f-11ea-93d5-98d31a1356dd.png">

The major problem is ultimately caused by me setting the Flyout to `maxWidth={0}`. In Firefox, it its too narrow for the date picker _an

[2020-02-21 02:52] dimitropoulos opened #2892 "EuiForm needs to be converted to TypeScript"
it appears that:

[code]

need to be converted to TypeScript.

If so: please assign to me and I'd be happy to take care of it. Judging by the others in this family of tickets, it seems like the labels: assign:anyone, chore, and typescript are called-for.

[2020-02-21 08:16] Vineet-Sharma29 commented on #1866
Hi @cchaos I would like to work on this. Can you explain what should be done?

[2020-02-21 08:21] nik72619c opened #2893 "Add husky and lint-staged"
Please let me know if this can be added in the repo :)

[2020-02-21 08:29] shakti97 commented on #1866
Can I take this up?

[2020-02-21 08:36] shakti97 commented on #1401
Can I take this up?

[2020-02-21 08:39] shakti97 commented on #1501
may take this up?

[2020-02-21 08:48] shakti97 commented on #2831
may I work on this?

[2020-02-21 08:59] nik72619c commented on #1554
Anyone working on this ?

[2020-02-21 11:21] nik72619c commented on #2892
Is it free to work on ?

[2020-02-21 11:36] miukimiu commented on #1554
Hi @nik72619c,

I must have missed this while working on  #2287.

Not sure if @andreadelrio is going to work on this. I'm seeing her assigned to this task.

But do you want to help?

[2020-02-21 12:35] nik72619c commented on #1554
yeah sure !

[2020-02-21 12:55] nik72619c commented on #1554
Just wanted some clarity on the  fact that as there exists a class for setting the full width like `euiImage--fullWidth`, do we aspire to have the same with height ?

[2020-02-21 16:14] snide commented on #1554
I think by default the height would adjust based upon the width and a "full height" isn't needed. Likely we just need a "max height" that would restrict the width if needed. In all cases the images original ratio should be maintained.

[2020-02-21 16:21] cchaos commented on #1866
Hi @Vineet-Sharma29 & @shakti97 , as we are open source we absolutely invite anyone to take on issues from our backlog, no need to ask permission. Just create a PR and we'll be able to review and help with any problems.

As for the specific question of how to accomplish this task, the EuiBasicTable allows consumers to pass a data object with column specifications. Right now a consumer has to speci

[2020-02-21 16:25] cchaos commented on #2888
I think that `aria-hidden` attribute snuck in there from this PR #2783 when the original attempt was to hide the descriptions entirely to use the `aria-describedby`. @miukimiu Correct me if I'm wrong, but that shouldn't be there, yes?

[2020-02-21 16:25] cchaos commented on #2888
Oh wait nm, I walk that back. I see the hidden legend now.

[2020-02-21 16:27] chandlerprall commented on #2893
What benefit do you see to adding `husky`? We are currently using [pre-commit](https://www.npmjs.com/package/pre-commit) for our commit hook which executes a full `lint` run (which could potentially be optimized with `lint-staged`) and runs any affected test suites.

[2020-02-21 17:01] shakti97 commented on #2831
I checked the code, button component is already sufficient to handle render of anchor or button based on the href prop, so just I need to add the optional href in the badge prop and add it to the button .
@cchaos please correct me if I m going wrong.

[2020-02-21 17:03] nik72619c commented on #1554
how much should be the "max height" ?

[2020-02-21 17:05] nik72619c commented on #2893
Yup, that makes sense. I didn't notice that :)
Closing this issue .

[2020-02-21 17:05] #2893 closed

[2020-02-21 17:19] snide commented on #1554
Talking about this with @cchaos we decided it likely makes sense that the `size` prop essentially means "width or height should be set to this, whichever is larger" in any cases when it is not set to `original` or `fullWidth`.

It would also be nice if the `size` prop also accepted a numeric value. You can see examples of how to accept a numeric value or enum in several of our other components. Of

[2020-02-21 17:35] pickypg opened #2894 "[EuiFlyout] `onClose` invoked with unexpected parameter"
The definition for `onClose` as part of `EuiFlyout` is `() => void`. I was taking advantage of this by having my not-close button invoke the same method with an optional parameter.

However, I was surprised when certain closure's were triggering issues in my code. Upon inspection, it kind of became clear that I was receiving the events from the button clicks:

https://github.com/elastic/eui/blob/0

[2020-02-21 17:42] cchaos commented on #2831
The EuiButton component does correclty handle this situation, but we essentially need to translate that **same type of code** to EuiBadge to handle it as well since EuiBadge does not extend EuiButton.

[2020-02-21 17:48] jshreyans commented on #2424
I'd like to take this up @cjcenizal

[2020-02-21 18:03] cjcenizal commented on #2424
Sounds great @jshreyans ! Let us know if you need any help.

[2020-02-21 18:11] RisingGeek commented on #2831
Hi @cchaos , I was looking at the EuiButton component and was wondering what does exclusive union does?
`export type Props = ExclusiveUnion<EuiButtonPropsForAnchor,EuiButtonPropsForButton>;`

[2020-02-21 18:44] thompsongl commented on #2831
@RisingGeek There's a good, full description of `ExclusiveUnion` in the [code comments](https://github.com/elastic/eui/blob/master/src/components/common.ts#L53-L117). (And another for the [specific case you mention](https://github.com/elastic/eui/blob/master/src/components/common.ts#L119-L140))

The idea is that we needed a way for a component with multiple potential element targets to ensure that

[2020-02-21 18:46] shakti97 commented on #2831
okay will try to do that

[2020-02-21 19:02] RisingGeek commented on #2831
Got it. Thanks

[2020-02-21 19:35] pugnascotia commented on #2753
I'm working on this now. I'm also pulling in:

    src/components/search_bar/query/
    src/components/search_bar/filters/

[2020-02-21 23:37] thompsongl opened #2895 "Formalize `useColorPicker` as a component export"
Looks like `useColorPicker` is probably a service we'll want to document and export if it's this helpful in a consuming application?

_Originally posted by @cchaos in https://github.com/elastic/eui/pull/2850_

___

This idea extends beyond this case to other components with slightly-non-standard form element input-output expectations.

[2020-02-21 23:41] Dilshaad21 commented on #2895
@thompsongl I want to work on this

[2020-02-21 23:48] Dilshaad21 commented on #2894
@pickypg Can you please explain the issue or how can I reproduce this.

[2020-02-22 00:27] pickypg commented on #2894
Something along the lines of:

[code]

When pressing the close button, it will pass the event data through to

[2020-02-22 01:39] dimitropoulos commented on #2892
@nik72619c no biggie! I actually did this real quick last night after I made the issue, see: https://github.com/elastic/eui/pull/2896

[2020-02-22 05:23] walter-ind opened #2899 "Some relevant icons missing."
<h1>Description</h1>

Some relevant icons missing in the framework like =>

a). logoGitter.
b). logoNodeJs.
c). logoGitlab.
d). logoBitbucket.

[2020-02-22 05:40] walter-ind opened #2900 "Carousel Slider missing feature."
A slideshow component for cycling through elements—images or slides or texts —like a carousel is missing in the framework.

However, range sliders are present for sure.

[2020-02-22 06:01] raghav4 commented on #2894
@pickypg can I work on this?

[2020-02-22 06:10] Mallik813 commented on #2831
@cchaos
Is this issue not closed yet? It's been 16 days since it was open? If it is not closed yet, can I take up this issue?
Thanks

[2020-02-22 06:36] shakti97 commented on #2831
Hi @Mallik813 , I'm currently working on this. Could you please check some other issue

[2020-02-22 06:37] Mallik813 commented on #2831
@shakti97  sure!

[2020-02-22 06:40] raghav4 commented on #2894
**Update: **
@pickypg I tried reproducing whatever you've said, but couldn't encounter the issue, can you please elaborate it a little more?

[2020-02-22 07:40] Anupam-dagar commented on #1708
I was able to reproduce the issue with Firefox Browser on Ubuntu 18.04. The dropdown was closing as soon as the tooltip disappeared. Although I wasn't able to observe the flash of scrollbar on the left navigation bar.
I have opened https://github.com/elastic/eui/pull/2901 with the change suggested by @chandlerprall  in the comment above.

[2020-02-22 08:56] snide commented on #2899
Thanks for the suggestion. `EuiIcon` allows you to use custom SVGs. Outside of extremely obvious, needed marks, we prefer management of those icons to be managed downstream. The ones we have are legacy and maintained only to prevent breaking changes.

[2020-02-22 08:56] #2899 closed

[2020-02-22 10:29] walter-ind opened #2902 "Collapse [toggling] feature missing."
<h1>Description</h1>

The collapse plugin may be utilised to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from its current value to 0.

[2020-02-22 10:54] ghost opened #2903 "Scrollspy feature requested"
Scrollspy is a jQuery plugin that tracks certain elements and which element the user's screen is currently centered on. The main demo of this is our table of contents on every documentation page to the right/left/top. Clicking on these links will also scroll the page to that element.

[2020-02-22 14:52] jvince opened #2904 "[Data Grid] Memory leak"
Data Grid leaks memory when navigating between pages.

Minimum app to reproduce the problem:
https://codesandbox.io/s/reverent-lamport-xwx8z (Works but complains about` Could not find module in path: '@elastic/eui/lib/components/icon/assets/expandMini.js' relative to '/node_modules/@elastic/eui/lib/components/icon/icon.js'`);

Steps to reproduce:
- Navigate through data using pagination
- Take sna

[2020-02-22 18:30] chandlerprall commented on #2424
Might make sense to provide this utility method as a property on the `EuiContextMenu`, as it's use seems pretty specific? Or, if it is moved to a top-level utility/service export, I'd look into making the parent/child relationship keys configuration, e.g. the line

[code]

could be configurable with additional method parameters and transform into

[code]

[2020-02-22 18:37] chandlerprall commented on #2895
@Dilshaad21 This change is stand-alone and wouldn't interact with other changes or parts of EUI; feel free to take and work on it!

I'd recommend renaming this helper to something like `useColorPickerState`, as we've also used hooks to return actual Components themselves and can see the naming convention overlapping. Thoughts, @thompsongl ?

[2020-02-22 18:48] chandlerprall commented on #2902
Without a more specific use case, I believe the existing accordion meets this description. https://elastic.github.io/eui/#/layout/accordion

[2020-02-22 18:48] #2902 closed

[2020-02-22 19:03] chandlerprall commented on #2904
Thank you for identifying this issue and digging into the problematic area!

That's a very interesting observation; there is some interesting interaction around this map which has caused issues in the past if the value itself is interacted with directly, instead of cloning. I'll dig into this further, at the very least I want to see why these values aren't being collected.

[2020-02-23 00:11] walter-ind commented on #2902
okay!
I will try finding a more specific use-case of collapse[toggling] feature.

[2020-02-23 10:07] Dilshaad21 commented on #2895
Ok @chandlerprall, going for it

[2020-02-23 11:31] Vineet-Sharma29 commented on #1866
@cchaos Can you tell how to check out changes made in the codebase?

[2020-02-23 13:56] jvince commented on #2904
Hi chandlerprall,

After further digging in I think the problem is that the [DataGridCell](https://github.com/elastic/eui/blob/master/src/components/datagrid/data_grid_cell.tsx#L127) calls the `onFocusUpdate`  and passes the bound `this.focusUpdate` function. When the `unsubscribeCell` gets called the `this` (DataGridCell) still exists and the `Map` gets retained even if it got out of scope.

To a

[2020-02-23 14:50] Vineet-Sharma29 commented on #1866
I am planning to make following changes:-
**table/table.tsx**
[code]
**basic_table.tsx**
[code]

[2020-02-23 16:37] anishagg17 commented on #2217
@nreese
I am working on this issue

[2020-02-23 16:45] anishagg17 opened #2907 "No functionality to search among icons"
The icon list is huge one has to scroll though-out the list to find the icon there should definitely be a search place to show relevant results

[2020-02-24 03:37] jshreyans commented on #2424
@cjcenizal Sorry I couldn't get a chance to work on this earlier. Could you explain what exactly needs to be done here. I'm new to the codebase and all these terms are still quite new for me.

[2020-02-24 03:50] ashikmeerankutty commented on #2900
Can I take this @snide

[2020-02-24 05:58] tathagat2006 commented on #2424
@cjcenizal can I take this issue up if no one is engaged with it?

[2020-02-24 07:33] snide commented on #2900
Although carousel sliders occasionally have their uses (mobile or space constrained layouts), they more often than not introduce bad UX by limiting discoverability. It is not something we are looking to add to EUI at this time.

For some decent reading on the subject, Neilson, as always has a [good summary](https://www.nngroup.com/articles/mobile-carousels/). If we did build one in the future, it

[2020-02-24 07:33] #2900 closed

[2020-02-24 07:45] snide commented on #2907
To search text content within a page I find native browser search like `CMD-F` tends to provide a better experience than anything we might do in JS. If we had some manner of alias control or the page was better laid out towards results (rather than categories) a search bar might be useful, but alone I don't know that this would add much to the experience.

Not saying this is a bad idea, but I thin

[2020-02-24 12:46] mridulgogia commented on #2543
Can you please explain the desired output in detail?

[2020-02-24 15:05] cchaos commented on #1866
Hi @Vineet-Sharma29, we use the standard fork & pull request workflow. You can find a good intro and walkthrough of the process here: https://gist.github.com/Chaser324/ce0505fbed06b947d962

However, it looks like someone else has already created a PR #2906 to fix this issue.

[2020-02-24 15:44] Vineet-Sharma29 commented on #1866
@cchaos ok.

[2020-02-24 15:51] #2664 closed

[2020-02-24 16:04] Vineet-Sharma29 commented on #1866
@cchaos Also, if possible can you please consider assigning issues since it helps in working on one. If someone worked on a issue but some other interested contributor filed a PR early, which means first contributor's work got wasted.

[2020-02-24 16:15] cchaos commented on #1866
@Vineet-Sharma29 I understand that can be frustrating, however, we don't like to assign issues to community members as we don't want to put pressure on those individuals. They are very welcome to self-assign themselves  to issues that they will be working on. Your best bet is to subscribe to the issue to get updates. Unfortunately we cannot control who submits a PR first.

[2020-02-24 16:52] cchaos commented on #2851
Since this was a bug only found by the consuming application, I'm closing this issue as the pagination display is currently correct.

[2020-02-24 16:52] #2851 closed

[2020-02-24 16:56] #2217 closed

[2020-02-24 16:59] anishagg17 commented on #2907
@cchaos is this feature required?

[2020-02-24 17:02] pugnascotia commented on #2074
Inspired by [this post](https://medium.com/javascript-in-plain-english/back-office-with-nextjs-react-elasticui-eui-168cba44a952), I put together a [Next.js starter](https://github.com/elastic/next-eui-starter). Feedback welcome!

[2020-02-24 17:06] cchaos commented on #2907
I'm not sure what you mean by required, but to echo what @snide said. We can just rely on the browser's <kbd>command + f</kbd> functionality to search within the page for a particular icon name. Adding any internal documentation functionality like this would take quite a bit of time and isn't necessary since we don't have aliases for icons.

I would not consider this required and necessary at this

[2020-02-24 17:08] anishagg17 commented on #2907
But what about mobile view?

[2020-02-24 17:14] anishagg17 commented on #2871
@cchaos I want to work on this issue

[2020-02-24 17:15] anishagg17 commented on #2824
@cchaos I want to work over this

[2020-02-24 17:17] ScreamZ commented on #2074
@pugnascotia Oh! That's my post 😆 Glad to see that it is useful :)

it's not perfect as CSS is stripped and mocked, but it works, especially with static rendering :)

[2020-02-24 17:29] pugnascotia commented on #2074
Yes, thank you very much @ScreamZ for the inspiration!

Can you elaborate? If something isn't working, I'd like to fix it. If you could open an issue on the repo, that'd be great 👍

[2020-02-24 17:39] #2808 closed

[2020-02-24 18:06] #2811 closed

[2020-02-24 18:27] anishagg17 opened #2910 "Add Facebook,GitLab logo to EuiIcons"
It would be useful to have the Facebook,GitLab logo the EUI third party logo

[2020-02-24 18:30] thompsongl commented on #2895
`useColorPickerState` is a good name. I haven't fully thought through all of the impacts this could have, but a relocation and rename seem like a good start.

[2020-02-24 18:43] sjha2048 commented on #2098
hey @cchaos , Can I pick this issue?

[2020-02-24 18:53] sumukhah opened #2911 "EUIHighlight highlights only first found word"
In a given text it only checks and highlights the first word it found,
It completely neglects rest.
![highlight](https://user-images.githubusercontent.com/23723464/75181737-f3643c00-5764-11ea-9b04-000c9e4fdbd6.png)

[2020-02-24 19:23] sumukhah commented on #2911
Working on the issue

[2020-02-24 19:26] anishagg17 commented on #2911
I think it is the desired behaviour

[2020-02-24 19:40] chandlerprall commented on #2911
As `EuiHighlight` has been around for a while and is used in many places, this change (as a de facto default) would likely be unwelcome. That said, I think it is useful functionality (personally, I'm always tripped up when this component does not highlight all matching terms) and it should be built behind an additional flag/prop. This will need an accompanying docs example section and description.

[2020-02-24 19:47] sumukhah commented on #2911
Ok@chandlerprall, Should I close the issue?

[2020-02-24 19:50] chandlerprall commented on #2911
@sumukhah this is a valid feature request, and the functionality would be welcome in EUI. My comment was only to say the _default_ operation of the component shouldn't change (i.e. highlight only the first occurrence), and that the new functionality should be enabled through a new prop that can be passed to the component, e.g. `highlightAll={true}`

[2020-02-24 20:04] cjcenizal commented on #2424
@tathagat2006 Thanks for offering but I think @jshreyans got to it first! I believe there are still a number of other open issues with the “good first issue” label that need owners though.

@jshreyans I will defer to @chandlerprall in terms of next steps. I’m on leave this week and as an active maintainer of the repo he is also better positioned to advise you.

[2020-02-24 20:06] myasonik commented on #2888
Added this to the description too we found another impact in Kibana:

[2020-02-24 20:10] cchaos commented on #2910
Reiterating @snide's comment from other 3rd party logo requests:

[2020-02-24 20:10] #2910 closed

[2020-02-24 20:26] chandlerprall commented on #2424
@jshreyans the original ask came from identifying `flattenPanelTree`s usefulness in EUI's docs/examples and thinking it is probably useful for consuming applications. In fact, we've copy&pasted the function so it exists in 4 of our docs' files:

https://github.com/elastic/eui/blob/75fee43023fbe7ed32cf437cd711322d4228a7e0/src-docs/src/views/context_menu/context_menu_with_content.js#L14
https://gith

[2020-02-24 20:43] chandlerprall commented on #2824
@cchaos should the prepend/append areas still trigger the popover, or should it only be from interacting with the input element?

@anishagg17 it's available for you to take on, I'll add some thoughts on how to approach this but I'll wait for the above question to be answered first

[2020-02-24 20:47] sumukhah commented on #2911
yes,,that is a great idea 💡
then i will continue work on that,,

[2020-02-24 20:50] cchaos commented on #2824
No, the prepend/appends should not trigger the popover as they could be buttons that do something else. I **believe** if the a simple string is passed as the elements, then it properly hooks up as the `<label>` of the input so by default it would act as a trigger and we shouldn't force it otherwise.

[2020-02-24 20:52] snide commented on #2262
Closing since 7.6 has sailed away. Thanks to @myasonik for the reminder.

[2020-02-24 20:52] #2262 closed

[2020-02-24 21:21] anishagg17 opened #2915 "No side drawer component"
It would be nice to have a side drawer component

[2020-02-24 21:21] anishagg17 commented on #2915
@cchaos should i add this??

[2020-02-24 21:33] cchaos commented on #2915
This seems very vague. Can you explain, **in detail**, what it is you think is missing and what you would be creating?

[2020-02-24 21:36] anishagg17 commented on #2915
![sidenav](https://user-images.githubusercontent.com/43617894/75193220-c8d1ad80-577b-11ea-8a6d-9a25461a869e.gif)

Something like this

[2020-02-24 21:41] cchaos commented on #2915
We already have a [EuiNavDrawer](https://elastic.github.io/eui/#/layout/nav-drawer) that accomplishes this functionality plus we're working on new spec for an updated version already. I would recommend sticking to the [good first issue](https://github.com/elastic/eui/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) tags for contributions to the repo unless you are a direct consumer of

[2020-02-24 21:41] #2915 closed

[2020-02-24 23:24] cchaos opened #2916 "Figure out what is wrong with our SASS `contrastRatio()` function in dark mode"
When the second parameter (background color) is darker than the first color, the function seems to calculate the wrong contrast ratio.

**Example:**

[code]

returns

[code]

However, every other method of testing contrast says that it is `6.4`:

<img width="330" alt="Screen Shot 2020-02-24 at 18 06 50 PM" src="https://user-images.githubusercontent.com/549577/75199795-0b6e9800-5732-11ea-840b-a7ab6

[2020-02-24 23:42] myasonik opened #2917 "EuiFilePicker prompt text should be read by screen readers"
# Summary
`EuiFilePicker`'s `initialProptText` should associate the text to the `<input />` with `aria-describedby`

# Example
Current rendered output:
[code]

Could be changed to:
[code]

# Things to note
- If an `id` is passed in, the `id` of the `euiFilePicker__promptText` should be generated from that so that someone could pass in a custom `aria-describedby` and still preserve this text being

[2020-02-25 00:05] cchaos commented on #2916
I've narrowed this down to failings with our math functions. Not exactly sure **what** the problem is, but when I install https://github.com/terkel/mathsass and replace our math functions file with the import to that library, I get the correctly calculated luminance and contrast values.

[2020-02-25 02:50] Dilshaad21 commented on #2917
I want to work on this issue

[2020-02-25 09:09] mridulgogia commented on #2085
The required result is to highlight the text just like it is highlighted with a highlighter(like labels, above)?

If yes, do we need a new component or should we extend the functionality of the EuiMark feature?

[2020-02-25 15:07] thompsongl commented on #2085
@mridulgogia The `EuiMark` component does not yet exist. This issue is meant to result in the creation of that component, solving the use cases discussed above.

I had done some initial work on this issue several months ago, although I don't believe the branch to be feature-complete. Anyone is welcome to take up where I left off: https://github.com/thompsongl/eui/tree/euimark/src/components/mark

[2020-02-25 15:28] mridulgogia commented on #2085
Can i work on this issue?

[2020-02-25 16:43] MFrizzy opened #2922 "EuiDatePicker time interval"
Hey,
Would it be possible to add a prop 'timeIntervals' to customize the time interval for the time selector from EuiDatePicker ?
PS : React-DatePicker has a "timeIntervals" prop.
![image](https://user-images.githubusercontent.com/8687598/75267228-43d7aa00-57f6-11ea-9cc2-a69101ce20da.png)

[2020-02-25 17:06] anishagg17 commented on #2023
@cchaos that feature is already present Just it's preview is missing

[2020-02-25 17:30] #2765 closed

[2020-02-25 17:44] anishagg17 commented on #2098
@sjha2048
I am working on It

[2020-02-25 19:13] #2855 closed

[2020-02-25 19:34] myasonik commented on #1030
Not sure what the situation was in 2018 but `EuiTable` is marked up with standards based `th` and recently includes an option for row based headers as well.

Screen readers will pick up these headers by themselves and we don't need to do anything further.

Closing this issue unless there's a more specific issue with our markup.

[2020-02-25 19:34] #1030 closed

[2020-02-25 19:36] myasonik commented on #730
Closing this meta as it only tracks one issue

[2020-02-25 19:36] #730 closed

[2020-02-25 19:38] myasonik commented on #720
Closing this meta ticket as it only tracks one issue

[2020-02-25 19:38] #720 closed

[2020-02-25 19:42] myasonik commented on #503
Closing this issue because this is a very foot-gun-y approach. (Someone can reopen as a discuss issue if they want to.)

`aria-haspopup="true"` is really the same as `aria-haspopup="menu"` and if you say you have a menu popup you need to have menu semantics and menu semantics aren't your colloquial "oh, this looks like a menu" type of menu but are super finicky and particular structures. Our conte

[2020-02-25 19:42] #503 closed

[2020-02-25 19:50] ryankeairns commented on #2834
This is currently limited to the `EuiToolTip` options `regular | long`, where the former is no delay and the latter is `$euiAnimSpeedNormal * 5`. Presuming we don't want to mess with tool tips for this use case, should I simply do a class override on the aforementioned `EuiListGroupItem` and remove the `delay` prop?

[2020-02-25 19:56] cchaos commented on #2834
Do we still feel it's necessary to add to the nav drawer for one minor release. That is if the new nave gets into 7.8, then the shortened delay will be short-lived. 😆

[2020-02-25 20:30] #2023 closed

[2020-02-25 20:43] andreadelrio commented on #2833
![image](https://user-images.githubusercontent.com/4016496/75285863-44f3e180-57cc-11ea-94dc-3cf9fb994f03.png)

Just saw this on the Weekly Observability Design Update. Made me wonder if aside from `EuiComment` we want to consider adding support for custom badges in `EuiSteps`.

[2020-02-25 20:55] cchaos opened #2925 "EuiTitle wipes out className of cloned child"
EuiTitle is a component that doesn't **wrap** its children, but **clones** them applying the appropriate classes. However, it doesn't take into account if the child **also** has a className applied.

### Example

Component code written as:

[code]

Results in:

[code]

When it **should** be:

[code]

---

### Offending lines:
https://github.com/elastic/eui/blob/e3d482607ec210a40c0f8eff9d1d34739a00

[2020-02-25 21:03] anishagg17 commented on #2925
@cchaos please assign me this issue. I am working on It

[2020-02-25 21:28] ryankeairns commented on #2834
Yeah, that's a fair point. I was thinking we could backport a bit, but even with that we may only this  change into a couple of versions. I'm going to close this :)

[2020-02-25 21:28] #2834 closed

[2020-02-25 22:25] anishagg17 opened #2927 "Module import is not done in correct manner"
![Screenshot_20200226-035128~2](https://user-images.githubusercontent.com/43617894/75293173-a9a25100-584b-11ea-96a3-bbc5b4540318.png)

The highlighted import should be from `@elastic/eui`

[2020-02-25 22:25] anishagg17 commented on #2927
@chandlerprall is it a valid issue??

[2020-02-25 22:38] anishagg17 commented on #840
@myasonik i want to work on this issue

[2020-02-25 23:40] myasonik commented on #840
It's yours!

[2020-02-25 23:44] myasonik commented on #2925
@cchaos What do you think about `EuiTitle` taking a `headingLevel` param to not require html be passed in at all?

[2020-02-25 23:51] cchaos commented on #2925
I think that's out of scope for this issue and would require a larger refactor plus major breaking changes that I don't think are necessary given the wide usage of this component.

[2020-02-26 04:28] ravisaxena23 opened #2931 "0.0.0.0 does not render view on localhost"
### Issue
0.0.0.0 does not render anything on local machine. it shows error as shown in pictures.
![Screenshot (57)](https://user-images.githubusercontent.com/44205807/75311916-4f6eb380-587e-11ea-9b82-ff8302d89ff3.png)
![Screenshot (59)](https://user-images.githubusercontent.com/44205807/75311917-509fe080-587e-11ea-94f9-5c9d697049f8.png)

### reproduce issue
do yarn install and run the project on

[2020-02-26 06:07] cchaos commented on #2931
If you're running it in Safari try `0.0.0.0:8030/#`

[2020-02-26 08:44] ravisaxena23 commented on #2931
@cchaos it should work on all platform. the project dont run on linux.im currently running it on windows.

[2020-02-26 15:18] Gaurav-Punjabi commented on #1401
Is anyone still working on this issue ? I'd like to work on it.

[2020-02-26 15:44] chandlerprall commented on #1401
Sorry, we've been trying to keep up with these ownership requests and have been figuring out how we want to work with them. @shakti97 are you still interested in taking this? If not, I'll pass it on to @Gaurav-Punjabi

[2020-02-26 18:03] chandlerprall commented on #2927
Looks like it, good catch! The relevant code should be in *https://github.com/elastic/eui/blob/51290bdd098eed3a473d976a85e8270ad004db13/src-docs/src/components/guide_section/guide_section.js#L156-L168*

[2020-02-26 18:15] chandlerprall commented on #2922
`EuiDatePicker` forwards all extra props down to `react-datepicker`. While it isn't documented, passing `timeIntervals` works.

[2020-02-26 18:15] #2922 closed

[2020-02-26 18:47] gjones opened #2937 "Include Enterprise Search logo in library"
Currently `EuiIcon type='logoEnterpriseSearch' />` returns the workplace search logo, however we need the Enterprise search logo itself to refer to the solution in the UI.

<img width="130" alt="Screenshot 2020-02-26 at 13 46 54" src="https://user-images.githubusercontent.com/305167/75376709-79d06900-589e-11ea-84ce-a354fc31b763.png">

[2020-02-26 18:52] anishagg17 commented on #721
@chandlerprall please assign me this issue

[2020-02-26 19:01] chandlerprall commented on #721
@anishagg17 done!

[2020-02-26 19:02] anishagg17 commented on #721
@chandlerprall Do you want the change only in docs-view?

[2020-02-26 19:04] chandlerprall commented on #721
Ha! Yes. I don't think any of us caught that this would be docs only.

[2020-02-26 19:36] #2925 closed

[2020-02-26 19:40] thompsongl commented on #2917
Closed by #2919

[2020-02-26 19:40] thompsongl commented on #2917
Closed by #2919

[2020-02-26 19:40] #2917 closed

[2020-02-26 19:42] anishagg17 commented on #2937
@gjones Please assign me this issue

[2020-02-26 19:50] Gaurav-Punjabi commented on #2903
I think this is a good feature, but instead of using Scrollspy can we Intrapage links of HTML?

[2020-02-26 19:56] anishagg17 commented on #62
I am working on this

[2020-02-26 20:11] snide commented on #2937
Hey @anishagg17. Thanks for the offer, but this is a branding issue and we'll take care of it internal.

[2020-02-26 20:29] #840 closed

[2020-02-26 22:42] #2892 closed

[2020-02-27 05:27] jshreyans commented on #2424
@chandlerprall thanks a lot for the help! Will send a PR soon

[2020-02-27 10:38] ridhishjain opened #2941 "`yarn install` throws error"
forking the repo again and running `yarn install` gives a lot of errors due to outdated packages, they need to be updated. Here's the log on running `npm outdated`
[code]
Error:
[code]
opening a PR for this

[2020-02-27 16:16] ridhishjain commented on #2941
@gjones I am not getting the error here, i forked the repo 3 times and its still giving the same error
I am using windows 10......any ideas on how to resolve the error?

[2020-02-27 16:20] chandlerprall commented on #2941
What version of `node` are you running? A quick search shows that error can happen when `node-sass` doesn't support your node version. EUI's using an older version of `node-sass`, and I know the main project contributors are on node v10 - though we should fix any issues which prevent running on v12

[2020-02-27 18:10] #2927 closed

[2020-02-27 20:02] anishagg17 commented on #1756
@cchaos I think this issue has been already fixed

[2020-02-27 20:20] anishagg17 commented on #2831
@shakti97 May I take over this issue?

[2020-02-28 11:34] walter-ind commented on #2903
You mean..the one that we get using "name" attribute.

[2020-02-28 13:57] Gaurav-Punjabi commented on #2903
No .. the one that we get using id and provide the link to the page with the id of the section that we desire.

[2020-02-28 14:15] miukimiu opened #2943 "EuiComboBox should allow prepend and append"
### Feature request

`EuiComboBox` should allow **prepend** and **append** when `singleSelection` is true.

### Considerations

A **prepend** and **append** will only be possible when `singleSelection` is true because it doesn't look nice when there are multiple lines:
<img width="441" alt="73687466-0897fe80-46c2-11ea-9821-fb55f4060e20" src="https://user-images.githubusercontent.com/2750668/755553

[2020-02-28 14:16] miukimiu commented on #2794
I'm closing this issue in favor of #2943

[2020-02-28 14:16] #2794 closed

[2020-02-28 15:57] ridhishjain commented on #2941
@chandlerprall I was earlier using v12 but then I degraded it to v10 but it's still giving the same error

[2020-02-28 16:06] jayanthj737 commented on #1554
Is anyone working on this issue?

[2020-02-28 16:07] jayanthj737 commented on #1501
Is anyone working on this issue?

[2020-02-28 16:47] #721 closed

[2020-02-28 16:54] miukimiu opened #2945 "[Discuss] isColorDark documentation"
Yesterday, while using the EUI utility `isColorDark` I had to transform hex colors to rbg because this utility only accepts rgb.

I created my own function and then I realized that EUI has an `hexToRgb` utility and even other color utilities. I believe they are not documented. I found them searching through the codebase.

1. Should we improve the `isColorDark` docs section with more examples? With

[2020-02-28 16:56] cchaos commented on #2945
Is this in JS or SASS?

[2020-02-28 16:57] snide commented on #2945
Think the JS. They are essentially part of our services folder. We could document them, but my guess is that with our moves towards Chroma or Polished, we'll end up deprecating these functions. I know @thompsongl was thinking along these lines somewhere (can't find the issue)

[2020-02-28 16:58] miukimiu commented on #2945
I should have included the link 😊:
https://elastic.github.io/eui/#/utilities/is-color-dark

[2020-02-28 17:16] chandlerprall commented on #2941
I was hoping having a node+node-sass version matching would resolve this, but the issue appears to be your $PATH python version is 3, and node-gyp is looking for python 2 (see https://github.com/nodejs/node-gyp/issues/1687). Can you provide python2 in the shell session you are using (I'd recommend using Anaconda https://www.anaconda.com/distribution/ to manage multiple python installs)?

[2020-02-28 17:48] anishagg17 opened #2946 "Add `EuiLoadingBars` as a component"
### Feature request

Add loading bars as

![image](https://gitlab.com/fossasia/gci19-fossasia-org/uploads/fe3204651549ed72c7bcb66b40642110/Hnet.com-image.gif)

[2020-02-28 17:52] snide commented on #2946
We already have these as part of https://elastic.github.io/eui/#/display/progress

Check the example "toggle a fixed bar"

[2020-02-28 17:52] #2946 closed

[2020-02-28 18:21] ashikmeerankutty commented on #2943
I just tried implementing this and the result was this

![image](https://user-images.githubusercontent.com/10515204/75574770-e6a55800-5a84-11ea-80b1-e74e25e6a159.png)

[2020-02-28 19:41] cchaos commented on #1756
Ah, yep looks like this was fixed when the compresed editor controls were created. 👍

[2020-02-28 22:38] anishagg17 commented on #2831
@chandlerprall may i take this issue now?

[2020-02-28 22:45] ryankeairns commented on #2356
The Kibana Core UI team has an [issue](https://github.com/elastic/kibana/issues/38980) to add a 'Skip to content' link which is a rather fundamental accessibility feature, so I'm considering tackling this issue. First, a few questions :)

This seems sufficient for addressing the immediate need and is likely all we would need for some time. Given that...

I don't think this is a good option because

[2020-02-28 23:19] chandlerprall opened #2949 "DataGrid shouldn't fall to pieces when an invalid schema is provided"
For example, passing a column of `{ id: 'test', schema: 'does not exist' }` will blow up when rendering the column sort panel.

/cc @myasonik

[2020-02-28 23:23] chandlerprall opened #2950 "DataGrid columns should be able to be marked as un-sortable"
Not all columns are sortable. DataGrid should agree with this.

[2020-02-29 01:17] walter-ind commented on #2903
Here, is the one ->
https://www.yourhtmlsource.com/text/internallinks.html ..have a look at it.

[2020-02-29 02:46] dimitropoulos opened #2951 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-02-29 03:41] jshreyans commented on #2424
When I write the function into its own file in `services` directory, the type checker prompts me to specify the types for `tree` and `item` variables. What would be the respective types for both?

[2020-02-29 15:31] ashikmeerankutty commented on #2949
I'm working on this.

[2020-02-29 16:14] chandlerprall commented on #2424
This is a pretty terrible function, ha. I've removed the configurable `keyName` that I originally suggested as it doesn't play well with making this function more flexible, and I don't think it's worth the effort. This is the typing I came up with:

[code]

[2020-02-29 16:24] chandlerprall commented on #2831
@anishagg17 Go ahead

[2020-02-29 18:33] anishagg17 opened #2953 "New error arises"
![Screenshot 2020-03-01 at 12 02 36 AM](https://user-images.githubusercontent.com/43617894/75613118-f63da300-5b4f-11ea-8394-6db6b4f1eb1d.png)

Some commits might have caused this error

[2020-03-01 02:31] chandlerprall commented on #2953
I believe this is a change in our dependencies, try installing the latest by re-running `yarn`.

[2020-03-01 02:52] #2950 closed

[2020-03-01 03:25] chandlerprall commented on #2903
I'll make sure this is discussed as part of our team's weekly meeting. It might not have enough usages for us to consider the effort to build & maintain worthwhile.

Particularly, I don't think this should be a straight "copy" of scrollspy - there are many ways that mapping a jQuery plugin to React component can lead to bad user and/or developer experience, and a good first step would be to identi

[2020-03-01 03:28] chandlerprall commented on #2943
Another thing to keep in mind is the trigger for the combobox's popover, per the comment at https://github.com/elastic/eui/issues/2824#issuecomment-590542084

[2020-03-01 03:32] chandlerprall commented on #1501
@jayanthj737 go ahead and take this

[2020-03-01 06:06] walter-ind commented on #2903
@chandlerprall ....Sure...do discussion and let me know whether I have to work on it or not.

[2020-03-02 00:29] #2949 closed

[2020-03-02 02:46] ashikmeerankutty commented on #2911
I'm working on this

[2020-03-02 10:20] anishagg17 commented on #2953
Fixed it by updating dependencies

[2020-03-02 10:20] #2953 closed

[2020-03-02 13:01] miukimiu commented on #2943
Hi @ashikmeerankutty,

Thank you for trying! First time I tried to improve the `EuiComboBox` on #2794 my result was very similar to yours. 🙂

So I came to the conclusion that it doesn't work having the component growing vertically.

As I mentioned on the issue description, the **prepend** and **append** should only work if the `singleSelection` is `true`.

When `<EuiComboBox singleSelection />` th

[2020-03-02 13:37] jasonrhodes commented on #2427
Hey @elastic/eui-design folks, did this ever make it's way into EUI/Kibana that you know of?

[2020-03-02 13:54] cchaos commented on #2831
#2954 Cleaned up EuiButton code nicely, but it didn't address this issue. [EuiBadge](https://github.com/elastic/eui/blob/master/src/components/badge/badge.tsx) is a completely separate component that needs the **same** implementation as EuiButton. It does not re-use EuiButton or logic.

[2020-03-02 14:25] anishagg17 commented on #2831
@cchoas can I go for cleaning badge groups too??

[2020-03-02 14:26] anishagg17 commented on #2831
@cchaos can I go for cleaning badge groups too??

[2020-03-02 14:42] jshreyans commented on #2424
Right, this does it. Also, are we looking to add any tests for this function?

[2020-03-02 14:42] cchaos commented on #2831
EuiBadgeGroup doesn't actually contain any EuiBadge's. Only EuiBadge needs to be addressed by this issue.

[2020-03-02 14:53] cchaos commented on #2356
I would propose a different solution as I think about how consumers might try to find, or consume this type of component.

We already have `EuiScreenReaderOnly` which visually hides its children. We can then add an option to make its children visible on focus. This way it's a much more generalized component for any other instance where focus visibility is needed.

In the docs, we can showcase an e

[2020-03-02 14:56] thompsongl commented on #2945
Right, #2804 gets at this. I think all new color manipulation should use chroma-js, and we're already fairly close to being able to remove the custom utilities

[2020-03-02 15:49] thompsongl commented on #2427
@jasonrhodes No, EUI is still on 10.x. Kibana has additional app-specific deps on 8.x and 12.x.
Just checked and they've now released [v13](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v13.0.0) with _even more_ a11y improvements

[2020-03-02 16:02] myasonik commented on #2356
If we repurpose `EuiScrenReaderOnly` for this, which I do admit is quite a nice extension, I wonder if it would need a rename though? As this extended the scope of the component quite a bit... (With visible on-focus children it's expressly now not for "screen readers only".)

[2020-03-02 16:27] cchaos commented on #2356
Just remember that because of the wide usages of EUI and such a major component as `EuiScreenReaderOnly`, name changes is a **huge breaking change** and so you need to truly consider if it's a necessary path.

That being said, for this particular component I do still think the current name is appropriate since only keyboard users can access focus only elements and, right or wrong, I think most con

[2020-03-02 16:39] snide commented on #2356
Can always do both. Can just be a prop on `EuiScreenReaderOnly` and then have a separate component `EuiFocusLinks` or something that wraps it, automatically applies the prop and also takes an array of links.

[2020-03-02 16:43] snide commented on #2945
OK. Gonna close this out then, thinking that having these somewhat hidden for the moment makes sense.

[2020-03-02 16:43] #2945 closed

[2020-03-02 16:45] ryankeairns commented on #2356
+1 the 'do both' approach. I've got something close to working on the Kibana side that I can convert over.

[2020-03-02 16:47] ryankeairns commented on #2356
To keep in in the same home, I can add an example to Utilities > Accessibility page as opposed to having it appear as a new component in the main list. Does that work? It may make sense on the nav/header examples, as Caroline noted, or we could use it on the EUI docs site itself :)

[2020-03-02 16:50] anishagg17 commented on #2831
OKay , I would like to work on it @cchaos

[2020-03-02 17:00] cchaos commented on #2356
I"m fine with a more component specific component that extends EuiScreenReaderOnly. But just to be clear in case someone take this up, `EuiOnFocusLinks` I think is still **too** specific. Truly, what we're trying to accomplish is just make content invisible **until** focused. The content can be anything.

I'd recommend something like `EuiKeyboardFocusOnly`.

[2020-03-02 17:01] cchaos commented on #2356
Errr, I re-read that and the naming is still wrong lol, more like `EuiVisibleOnFocusOnly`... ugh naming is hard. But it needs to be this generic.

[2020-03-02 17:02] snide commented on #2356
That makes sense.

[2020-03-02 18:31] myasonik commented on #2356
Caroline and I talked off GitHub just cuz back-and-forth can be tricky here. Anyway...

It seemed like having `EuiScreenReaderOnly` with a prop of `showOnFocus` and then having `EuiVisibleOnFocusOnly` seemed like too thin of a wrapper and didn't gain us much because we'd still have to document a pattern of `EuiVisibleOnFocusOnly` with `EuiButton` to make a skip link.

So we're proposing to go inst

[2020-03-02 20:30] myasonik opened #2960 "[EuiCodeEditor] readonly mode is not accessible"
## Summary
When setting `isReadOnly`, `react-ace` doesn't set the textarea to read only

## Expected output HTML
[code]

Example of potentially how to implement this can be found in Kibana: [editor_example.tsx#L34-L45](
https://github.com/elastic/kibana/blob/master/src/plugins/console/public/application/components/editor_example.tsx#L34-L45)

[2020-03-02 20:34] myasonik opened #2961 "[EuiCodeEditor] does not work well with EuiFormRow to assign a label"
When using `EuiCodeEditor` inside of `EuiFormRow` there is no convenient way to assign a an id to the `textarea`.

In places Kibana has started to shim this after render but inconsistently and in Kibana probably isn't the best place to do this anyway.

Example of what I mean: [editor_example.tsx#L34-L45](https://github.com/elastic/kibana/blob/master/src/plugins/console/public/application/component

[2020-03-02 20:42] anishagg17 commented on #2960
@myasonik please assign me this issue

[2020-03-02 20:43] myasonik commented on #2960
@anishagg17 It's yours!

[2020-03-02 20:44] anishagg17 commented on #2960
Thanks @myasonik

[2020-03-02 21:53] ryankeairns opened #2962 "EuiScreenReaderOnly - Props do not appear on docs site"
The Props tab is empty for `EuiScreenReaderOnly` is empty:
https://elastic.github.io/eui/#/utilities/accessibility

It has one required prop, `children`:

https://github.com/elastic/eui/blob/aea12fa9507ae4fea3e1adfcf3583900b808da99/src/components/accessibility/screen_reader.tsx#L4-L6

[2020-03-02 22:18] ryankeairns commented on #2962
I have a fix for this in upcoming `EuiSkipLink` PR.

[2020-03-03 05:44] anishagg17 commented on #2962
@ryankeairns may i work upon this??

[2020-03-03 06:29] BrijeshBumrela opened #2964 "EuiFlexGroup - responsive layout not rendered"
# Description
`FlexGroups` throws an error while accessing `Demo JS`.

![Screenshot_20200303_114455](https://user-images.githubusercontent.com/37417813/75748235-f05ce300-5d44-11ea-8b40-b368f490f014.png)

I have resolved the issue.

[2020-03-03 08:41] pablotr9 opened #2968 "Page gets stuck when using EuiCodeBlock"
Hi guys,

I am using the `EuiCodeblock` component to display an HTML code (100-200 lines) and it takes about 4-5 secs to display the content and another 5+ seconds when clicking on the full-screen button, is this behavior expected? The CPU also hits 100% during this load
When the code is +500 lines the page crashes after 10+ seconds.
It only happens when the language is set to `html` or `xml`.
![e

[2020-03-03 09:02] anishagg17 opened #2969 "EuiCodeEditor lacks theme support"
ace-editor provides a variety of themes that can be used in the EuiCodeEditor but nothing is mentioned in the docs as prop

[2020-03-03 13:38] ryankeairns commented on #2962
@anishagg17 Thanks for offering, but I already have a fix in place that is part of a related PR.

[2020-03-03 14:23] jasonrhodes commented on #2427
Thanks for the update, @thompsongl !

[2020-03-03 15:23] cchaos opened #2972 "[Data Grid] Rows per page controls disappear when there's only a single page"
When changing the 'Rows per page' to a number that then gets all the results onto a single page, the 'Rows per page' control completely disappears without the ability to get it back or change back to a different 'Rows per page'

![Screen Recording 2020-03-03 at 09 58 AM](https://user-images.githubusercontent.com/549577/75790241-e339f700-5d38-11ea-97ec-83f18fc5f2ce.gif)

This then also completely b

[2020-03-03 16:18] ashikmeerankutty commented on #2943
@miukimiu Thanks for the suggestion. I will work on this.

[2020-03-03 17:42] haywoood opened #2973 "Components that use the `iconType` property should also support an `icon` override"
I am using this wonderful library in a project which relies on the Google Closure Compiler for code compilation. Unfortunately, GCC does not support the dynamic import syntax used to enable `iconType`. There are other build tools that have trouble with this as well https://github.com/elastic/eui/issues/2467.

Since support for that syntax is not universal, and there is an escape hatch built into s

[2020-03-03 18:02] myasonik opened #2974 "DataGrid should allow for a default sort order"
Discover in Kibana today supports a default sort order for fields.

Right now it's a global sort order (i.e., it's one setting and then that sort order is applied across all fields) but we might expand this in the future to be a default sort order per schema type.

To support this in Discover we need it supported in DataGrid.

[2020-03-03 18:49] chandlerprall commented on #2968
Closing, as this duplicates #1208 (though, thank you for bringing this back up - that issue's obviously old and it's good to have a reminder).

[2020-03-03 18:49] #2968 closed

[2020-03-03 18:59] chandlerprall commented on #2974
Does this require new functionality/code?

The schema defines `sortTextAsc`, `sortTextDesc`, and a `comparator` function (used for in-memory sorting) - these can be combined in potentially "interesting" ways (like making ASC actually DESC). At the same time, the `sorting.columns` prop is an array of `{ id: string, direction: 'asc' | 'desc' }` so the application will always control individual colum

[2020-03-03 19:16] chandlerprall commented on #2626
That was 19 days ago? :eek:

In the latter case, *2+ focusable elements (expansion button and 1+ custom elements)*, I feel we're stuck with a decision between some variant of

* as with the other 2+ elements case, focus on cell, enable <kbd>enter</kbd>/<kbd>f2</kbd> to enter a focus trap, and user can tab to the expansion button
* act as if there isn't an interactive element in the cell and auto-f

[2020-03-03 19:24] myasonik commented on #2974
Messing with `sortText*` and `comparator` to set a default sort is super hacky... Maybe possible but we're way into Hacksville by then.

I played around with the `sortingColumnsData` argument that gets passed into the `onSort` call but it already has `direction` populated as soon as a field is chosen to sort on so there isn't an opportunity to set a default. (Because I can't tell if something is u

[2020-03-03 19:30] chandlerprall commented on #2824
Getting back to adding thoughts here:

Either:

* the color picker's usage of `EuiPopover` needs to be refactored to not wrap the prepend/append buttons
* `EuiPopover` needs a complimentary structure that allows for redirecting the ref it applies to the button. Like some weird:

[code]

[2020-03-03 19:39] myasonik commented on #2626
I'm actually ok with either interaction I think...

I think a strict adherence to the spec would push us towards the first option. This option is nice because it seems consistent across the board. It's less cases to keep track of both for users and in our code.

Though, I can see an argument being made that the second option is actually the better UX because it seems like our "recommended" interac

[2020-03-03 19:39] snide commented on #2626
When 2 items are in there I would just focus the cell (which is the expansion) and not the inner elements. They can always open the popover and interact with the content there with a keyboard. Mouseclickers are fine either way.

The reasoning is that truncation means it is not always apparent there are multiple items in there.

It's also really simple and covers our needs.

[2020-03-03 19:48] #2969 closed

[2020-03-03 19:56] snide commented on #2973
This gets difficult fairly fast. While allowing icon to be passed into the `iconType` would work for surface level components, anything that uses icons in deeper components that don't expose the iconType props (essentially the entirety of forms or any high level component) wouldn't work. I certainly don't think we want to add that amount of props bloat to EUI to support this use case, and more lik

[2020-03-03 20:06] anishagg17 commented on #2961
@myasonik i am working on it and soon update you

[2020-03-03 20:08] anishagg17 commented on #2972
@cchaos please assign me this issue

[2020-03-03 20:13] snide commented on #288
We're closing this old one out. @cchaos and I agree this would cause more harm then good. `EuiControlBar` covers the bottom need for something like this. The other two areas are reserved for the header and nav.

[2020-03-03 20:13] #288 closed

[2020-03-03 20:40] haywoood commented on #2973
I think I follow what you're saying, but to be clear I'm advocating support for an `icon` property _in addition_ to `iconType`, that would be completely optional, basically copying how this component handles it https://github.com/elastic/eui/blob/master/src/components/list_group/list_group_item.tsx#L106.

Currently some components support both methods, and some don't, like https://github.com/elast

[2020-03-03 21:39] myasonik opened #2975 "`DataGrid` sort popover becomes to narrow"
Seems to only happen when the datagrid is constrained

<img width="669" alt="Screen Shot 2020-03-03 at 16 07 19" src="https://user-images.githubusercontent.com/4188087/75822112-66754000-5d6d-11ea-93c0-5ffa5d1854a6.png">

[2020-03-03 21:52] snide commented on #2975
Can you give me a way to replicate this? I'm not seeing it in discover or our docs.

![image](https://user-images.githubusercontent.com/324519/75823245-3f5f4400-5d56-11ea-85f7-7db0bdbb36f1.png)

[2020-03-03 21:57] myasonik commented on #2975
From [the docs](https://elastic.github.io/eui/#/tabular-content/data-grid) set your browser width to 745 or so and it should happen.

[2020-03-03 21:59] snide commented on #2975
Cool. Easy fix. Will tack onto my headers PR.

[2020-03-04 08:53] LeonY1 commented on #2427
Just curious, so is EUI looking to make react-beautiful-dnd (now on v13) a peer dependency and update all a11y improvements to match the current version?

If it is, I would be interested in picking this issue up.

[2020-03-04 09:08] anishagg17 commented on #2961
currently reacct-ace doesn't has an `id` prop that's why this problem is occurring I have raised an issue in `react-ace` library to fix this .

[2020-03-04 15:21] myasonik commented on #2961
In the mean time, can we do a fix similar to what was done in kibana? After render, query the dom for a textarea, then apply an `id` to that.

@thompsongl @chandlerprall does that sound like an all right interim solution? (Given that we don't know when/if react-ace will fix their hole and then when/if we'll update after that)

[2020-03-04 16:58] chandlerprall commented on #2961
Taking this a little further, we could support any additional attributes (limited to id + aria stuff, maybe?) with an approach similar to https://github.com/elastic/eui/blob/641732b1011a9455c70156cefb58c8c32d11feeb/src/components/overlay_mask/overlay_mask.tsx#L36-L43

[2020-03-04 17:06] chandlerprall commented on #2427
@LeonY1 yes, that is a good summary of what is needed to resolve this issue. I'll assign you, but feel free to ask any questions you may have about our implementation/wrapping of react-beautiful-dnd, specifics around keyboard/screen reader accessibility, etc.

Depending on where we are at with other projects, a detailed review of a PR may be delayed, but we'll definitely get to it if you put one t

[2020-03-04 17:47] #2975 closed

[2020-03-04 17:49] chandlerprall opened #2981 "[EuiDataGrid] bi-directional infinite scrolling"
Summarizing a conversation with @weltenwort

* logs app is the two-sided open-ended timeline and pagination doesn't work very well without a well-known "first" page (siem has an unrelated case where pagination doesn't work well)
* logs are often interacted with as a stream, chopping up the log stream into arbitrary pages gets in the way of the usual viewing experience; having to pagination between

[2020-03-04 19:09] snide commented on #1716
Hey @peteharverson. Doing some backlog. Is this still an issue? On the EUI side we can certainly make an `allowAutoRefresh` prop on this component. That would give Kibana the ability to turn it off through that prop. It might have some overlap with `isAutoRefreshOnly`, but can probably just add a check for that as well.

[2020-03-04 19:24] myasonik opened #2982 "Toggle button a11y"
## Summary
Toggle buttons as an `<input />` aren't very accessible (keyboard controls for buttons and inputs are different and voice control software won't recognize what you're trying to do)

## What to do?
- Switch to using a `<button />`
- Either
	- require two label props (one for the "on" state, another for the "off" state)
	- if only one label is provided, set `aria-pressed="true|false"` (pe

[2020-03-04 19:44] anishagg17 commented on #1715
@snide i want to work on this

[2020-03-04 21:01] IIIEII commented on #2031
Perhaps it's because of some third-party react component.
I'm having same behaviour while using with react-split-pane on the same page.
EuiToolTip (it covers action button) starts to open and close some portal continuously

[2020-03-04 21:34] chandlerprall commented on #2424
Yes, having a test or two would be great.

[2020-03-04 21:38] chandlerprall commented on #2903
We see the value of this kind of component and are open to a PR for. Before that, I think it would be really good to have an outline/basic spec of the functionality to review first. This would help ensure the component design matches our intent, and allows iterating on the idea before getting to the code. Would you be willing to create such a proposal/high-level design to begin with?

[2020-03-04 21:41] chandlerprall commented on #1554
Removing @andreadelrio from the assignee.

As the last comment was 5 days ago, I'm going to keep this un-assigned until the next time someone asks for it.

[2020-03-04 22:12] LeonY1 commented on #2427
Where can I view an example of the Draggable Components? I tried looking at the docs page for the data grid; however, I couldn't find such components regarding the toolbar.

Seeing as how there are major changes with v12 which cause major changes, I will probably start by updating it to v11 just to sequentially update it.

Things that will be changed for v12:
* We are no longer using `aria-roledes

[2020-03-04 22:14] chandlerprall commented on #2427
Our drag-and-drop documentation can be found at https://elastic.github.io/eui/#/display/drag-and-drop (or https://localhost:8030/eui/#/display/drag-and-drop when running `yarn start` for local development)

[2020-03-04 22:16] chandlerprall commented on #2427
This sounds correct; we'd be marking the EUI release after this update as a breaking change anyway, so any necessary around these methods is fine.

[2020-03-04 22:17] myasonik opened #2983 "[EuiProgress] Add option to render as a meter"
## Summary

The semantics of `<progress />` and `<meter />` are a little different though visually they present really similar info.

In Discover (and probably other areas), Kibana uses `EuiProgress` to show a ratio of a thing, not to actually show a "progressing" state. In these cases, `<meter />` would be the appropriate element to use.

## What to do
1. Add an option to render `EuiProgress` wit

[2020-03-04 22:23] LeonY1 commented on #2427
Another thing that will be changing is that `DraggableProps` themselves won't have children anymore in favor of a new type which will also be including a `DraggableRubric`. This is one of the major changes to the codebase.

[2020-03-04 22:34] chandlerprall commented on #2974
Sorted out my confusion through zoom: the ask is for a default sort order (`'asc' | 'desc'`) to be added to the data grid schemas. This only affects a column's initial sort when it is enabled through the UI -

![column always defaulting to ASC](https://d.pr/i/Fy8O2g.gif)

[2020-03-04 22:35] myasonik opened #2984 "[EuiProgress] Render a `<progress />` element when no value"
## Summary
`EuiProgress` renders a `div` if no `value is set.

A `<progress />` element with no `value` set is considered in an indeterminate state which I think is a pretty good semantic indication of our visual representation of when `EuiProgress` is used without a `value`.

## What to do
Always render a `<progress />` element

See the discussion in #2985, which concludes that we need to reasses

[2020-03-04 22:42] thompsongl commented on #2964
Closed by #2966

[2020-03-04 22:42] #2964 closed

[2020-03-04 22:45] #2863 closed

[2020-03-04 22:48] thompsongl commented on #2495
Haven't come across this during recent work in the component(s). Closing, but we can reopen if seen again.

[2020-03-04 22:48] #2495 closed

[2020-03-05 02:52] LeonY1 commented on #2427
Switching to v11 has caused the test `draggable.test.tsx` to break. Not entirely sure why. My guess is that it is related to Enzyme and React Hooks (from react-beautiful-dnd); however, I'm not entirely sure if this is the reason.

What would be the best way to proceed in ensuring that the test suites still run?

[2020-03-05 06:14] anishagg17 commented on #2983
@myasonik please assign me this

[2020-03-05 06:18] anishagg17 commented on #2974
@chandlerprall i wnat to work on this issue

[2020-03-05 06:19] chandlerprall commented on #2974
@anishagg17 it's yours

[2020-03-05 06:21] chandlerprall commented on #2974
Quick note: this default sort param should also be added to the column type, which (if present) would take precedence over any schema's value.

[2020-03-05 08:42] anishagg17 opened #2988 "No copy to clipboard functionality in DemoJs"
It would be nice if users can copy all the code in demoJS and use it directly.

[2020-03-05 08:42] anishagg17 commented on #2988
@chandlerprall is it valid issue?

[2020-03-05 13:27] cchaos commented on #2988
Our thoughts behind this is that consumers usually don't want or need the entire demo code since there is most likely extraneous functionality that isn't suitable for their use. That's why we've started introducing snippets (which we still need to add for more components) which does have the quick copy to clipboard feature.

<img width="545" alt="Screen Shot 2020-03-05 at 08 27 02 AM" src="https:/

[2020-03-05 13:27] #2988 closed

[2020-03-05 13:42] walter-ind commented on #2903
Yes @chandlerprall just wait for sometime...I will reply shortly.

[2020-03-05 14:25] #2356 closed

[2020-03-05 14:25] #2962 closed

[2020-03-05 15:17] thompsongl commented on #2427
It really depends on what the cause of the failures, and React hooks are certainly a potential source. What error messages do you receive from failing tests?

[2020-03-05 15:58] #2871 closed

[2020-03-05 16:57] chandlerprall commented on #2626
Same answer for both of these -I think there's concern if popover doesn't include the actions, for some reason. In that case the only way to interact with the items is with a mouse, and I wouldn't expect devs to always remember that is the case (what I meant by "as no one will test for it").

I'll put a PR together to explore these options.

[2020-03-05 16:58] anishagg17 commented on #2988
@cchaos I am  using Eui framework in one of my repo  but none of the styles are applied ,
i have installed
[code]

can you help me out in identifying what is going wrong?

[2020-03-05 17:00] snide commented on #2626
Just so this doesn't go down a rabbit hole, I'll mention that last concern can be mostly solved by good docs and guidelines.

[2020-03-05 17:07] LeonY1 commented on #2427
[code]
Similar cases happen for `droppable.test.tsx` and `drag_drop_context.test.tsx`. Please let me know if this is fixable using Enzyme.

I think it sparks from the `useStyleMarshal` hook but the warning is in relation to the `useLayoutEffect` hook that they use.

[2020-03-05 17:15] chandlerprall commented on #2988
@anishagg17 Currently, EUI relies on the consuming app to load our CSS in some way, see https://github.com/elastic/eui/blob/master/wiki/consuming.md#importing-css-or-scss

We are planning on moving to a CSS-in-JS solution (#1656) but this will not be available in any short-term time frame.

If loading the generated CSS file does not work for you, please let us know by opening a new issue and we ca

[2020-03-05 17:22] chandlerprall commented on #2427
My first thought is to use Jest's per-test mocking (`jest.mock`) to replace `useLayoutEffect` with `useEffect` in the affected test files.

If that doesn't work, please push up your branch and we can help explore other options.

[2020-03-05 17:50] LeonY1 commented on #2427
I think that fixes the issue. I used `React.useLayoutEffect = jest.fn(React.useEffect);` and that test passed. However, I'm trying to see the best way to do this immutably.

[2020-03-05 18:06] chandlerprall commented on #2427
We've used this pattern in other code before:

[code]

This tells Jest to use the object returned by the function when `react` is imported, but short-circuits that same mock when executing the function and loads the real react with `require.actual`, replacing the value of `useLayoutEffect` on the created module object.

Note: I didn't try running the above code, I may have a function name wrong or

[2020-03-05 19:54] jen-huang commented on #2833
For the use case @andreadelrio described above, it would be great to allow `EuiSteps` to specify a type of identifier for ordering, similar to (or matching with) HTML `<ol>` `type` attribute: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol#Attributes

[2020-03-05 20:01] #2231 closed

[2020-03-05 20:42] LeonY1 commented on #2427
After further research, the issue happens even with a quick check (still looking into `jest.requireActual()` to mock the hook). However, this only happens for the `'is rendered'` test. The `mount` test passes successfully.
[code]

[2020-03-05 20:45] LeonY1 commented on #2427
Because of this issue, I'll start preparing to push my branch to look into more options.

[2020-03-05 20:49] snide opened #2990 "[EuiDataGrid] Sticky headers have trouble with focus and scrolling"
Described well in this set of comments.  Likely we'll need to start calculating position of scrollbars for either the header, or the overflowed content if we want to make this work in a generic, repeatable way.

https://github.com/elastic/eui/pull/2959#discussion_r387296057

[2020-03-05 21:44] chandlerprall commented on #2427
We had a similarish issue with enzyme in *code_block.test.tsx*, and swapped it out for a custom ReactDOM.render call and wrote `snapshotCodeBlock` for snapshots. Might be needed here as well.

[2020-03-05 23:27] #2464 closed

[2020-03-06 02:06] LeonY1 commented on #2427
Sorry, I'm having some trouble trying to understand what the `find` is looking for for the component. It seems like I'll be using something similar to this for the `drag_drop_context`. However, I don't understand what this code is doing with the find, could you please explain?

[code]

[2020-03-06 05:27] anishagg17 commented on #2679
@myasonik what needs to be done for this?

[2020-03-06 11:18] peteharverson commented on #1716
@snide this is no longer an issue for ML, as when we redesigned the job wizards for 7.4 we switched to using `EuiDatePicker` / `EuiDatePickerRange`. So we currently have nowhere we need to use `EuiSuperDatePicker ` with the refresh controls hidden.

I imagine there might be some use cases where you'd want to hide those auto-refresh controls, but this isn't a priority for ML any more!

[2020-03-06 12:11] VasudevHarshal-123 commented on #1718
@snide  I would like to work on this issue if it is still open.

[2020-03-06 13:12] lokeshrana9999 opened #2994 "Embed virtual code editor for every component's examples."
### Integrate a virtual code editor like code sandbox to give give users a playable environment.

#### Current UI
![Before](https://user-images.githubusercontent.com/26645152/76143050-a56f0280-6099-11ea-9636-32a920a9ff8e.png)

#### Expected UI
![After](https://user-images.githubusercontent.com/26645152/76142768-a9e5ec00-6096-11ea-8d80-5e913c152dbf.png)

[2020-03-06 19:06] cchaos opened #2996 "[EuiDataGrid] Show a message when all columns are hidden"
It's also weird to have "pages" of data, but nothing is showing.

<img width="985" alt="Screen Shot 2020-03-06 at 13 43 42 PM" src="https://user-images.githubusercontent.com/549577/76114277-b80f0c00-5fb3-11ea-9a34-a6cc88784e99.png">

[2020-03-06 19:12] anishagg17 commented on #2996
@cchaos I want to work on this issue .Can you assign me this issue?

[2020-03-06 20:03] cchaos commented on #2984
Interesting article on styling `<progress>` elements, the a11y considerations, and a quick comment about it vs `<meter>`: https://scottaohara.github.io/a11y_styled_form_controls/src/progress-bar/

[2020-03-06 20:17] chandlerprall commented on #2973
`iconType` is intended to be the more flexible, as it includes a ReactElement escape hatch - https://github.com/elastic/eui/blob/5348a47864042ad25f82a49d3e52b7da3b1e3446/src/components/icon/icon.tsx#L403

It does differ in that it is passed down to `EuiIcon`, but that is intentional as it receives some css styling, etc.

I'm curious, though, if the change is adding an `icon` escape hatch prop addr

[2020-03-06 20:48] chandlerprall commented on #2427
No worries! I've intentionally been somewhat ambiguous in every response so it's not _here's a list of things to follow exactly_ - questions are more than welcome!

That find is pretty specific to how `EuiCodeBlock` works, given:
[code]
it has to first find the `Portal` component (returned by createPortal) and then find its sibling (the span), which uses the CSS selector `Portal + *` (could have b

[2020-03-06 20:51] #2911 closed

[2020-03-06 21:06] #2972 closed

[2020-03-06 21:10] snide commented on #2996
@anishagg17 you're welcome to get this one started, but we might want to push against any PR you make to adjust things for design. By all means though give it a shot. Remember than any text you add will need to use EUI's i18n components. You can find information about that in our docs.

[2020-03-06 21:20] chandlerprall commented on #2907
Mobile browsers (not necessarily embedded webviews) provide ways to search a page's content.

[2020-03-06 21:22] LeonY1 commented on #2427
Thanks for the help! Upgrading to v11 has been successful. Now I'll be trying to upgrade to v12.

[2020-03-06 21:48] anishagg17 opened #2998 "horizontal scroll on grid in docs overlaps guide section with side bar"
try horizontal scroll on https://elastic.github.io/eui/#/tabular-content/data-grid
with device width 750

### Screenshot:

![Screenshot 2020-03-07 at 3 17 51 AM](https://user-images.githubusercontent.com/43617894/76125164-3dc9a080-6022-11ea-91cf-c5e81b41dce5.png)

[2020-03-06 21:52] #2974 closed

[2020-03-06 22:01] myasonik commented on #2679
@anishagg17, PR #2995 by @ashikmeerankutty is a good example of what needs to be done. (You can find some more examples of the type of work that might need to be done in #2569 though it's a little bit muddled with some setup work that was done as well.)

As this is a big ticket if you're going to work on it please comment on which pages you are working to add. Also, please feel free to add pages n

[2020-03-06 22:01] anishagg17 commented on #2907
So should i close this pr now?

[2020-03-06 22:04] anishagg17 commented on #2679
okay @myasonik

[2020-03-06 22:11] cchaos commented on #2907
Yeah, I don't think this is a necessary feature.

[2020-03-06 22:11] #2907 closed

[2020-03-06 22:13] haywoood commented on #2973
Thanks for the thoughtful reply @chandlerprall I know you guys are never not slammed and I recognize this is not a high priority issue 🙂

I should clarify that the compiler doesn't die when encountering that import syntax, the code path just doesn't work. In the application we're working on the nested icons used in `NavDrawer` just don't show up, but everything is working other than the empty spac

[2020-03-06 23:48] myasonik commented on #2984
Scott O'Hara's great! Thanks for finding that!

If we want to move towards an alternate solution like he suggests, I can draft up an example of what we could do. (I didn't see a suggestion from him that we could use.)

Otherwise, given our current work and support matrix, I'd also be happy just moving to the standard elements and revisiting the a11y implications once we have no bigger fish to fry.

[2020-03-07 02:16] YulNaumenko opened #3000 "EuiCodeEditor cannot be highlighted if it has an invalid value"
EUI input controls support a property isInvalid which is very helpful for displaying validation errors. In action alerting forms we are actively using EuiCodeEditor for JSON input and rely on the future implementation of validation for this control.

[2020-03-07 16:47] ashikmeerankutty commented on #2943
I got this working as per @miukimiu comment and the result was
![image](https://user-images.githubusercontent.com/10515204/76147290-cdbe2780-60c0-11ea-904f-997973170166.png)
and this seems to be a good feature.

[#2824 (comment)](https://github.com/elastic/eui/issues/2824#issuecomment-590542084)

 @chandlerprall I'm not sure what should be done here. Do you have any suggestions?

[2020-03-07 17:23] VasudevHarshal-123 commented on #2998
@anishagg17 I saw the same issue yesterday and the site was not responsive. Once you go below 750 no component bar was shown but this issue was solved with the hamburger menu which was available in the mobile version.

[2020-03-08 10:06] mridulgogia commented on #2895
@Dilshaad21 Are you working on this?

[2020-03-08 11:04] anishagg17 commented on #2679
@myasonik   `Loading` and ` Progress` pass axe testing

[2020-03-08 12:38] walter-ind commented on #2903
<h1>Description</h1>

There would be all together two features given by this scrollspy component =>
1. automatically update active link in the navigation list based on the scroll position.
2. directly jump to that section whose (internal) link is clicked, present inside the navigation list.

It can be of two types based on the position of navigation list =>
a). Vertical Scrollspy [ when the naviga

[2020-03-08 13:45] walter-ind opened #3005 "Dimmer feature missing."
<h1>Description</h1>

<strong><u>Feature</u></strong> => A dimmer hides distractions to focus attention on particular content. A dimmer will automatically be created when a dimming behavior is triggered on an element.

<strong><u>Types of Dimmer</u></strong>
1. Simple => A simple dimmer displays no content.
2. Content => It can display content.
3. Page => A dimmer can be formatted to be fixed to t

[2020-03-08 16:14] anishagg17 commented on #2475
@snide should i add className only to EuiDataGridSchemaDetector interface

or

 add it in interface and also add it as a prop to every component that uses this ?

[2020-03-08 17:21] anishagg17 commented on #2982
@myasonik i am working on this

[2020-03-08 19:48] anishagg17 commented on #2821
@chandlerprall How can i replicate this issue in the docs-section ?

[2020-03-08 20:47] cchaos commented on #3005
Hi @walter-ind , I'm still not following what it is you are proposing. Do you have any examples with screenshots? Also, is there are a particular use-case/need for this component?

We don't usually add features/components just to align with other UI systems in the wild, but wait for a specific need identified by a consumer. At the same time, if you want to build something like this, we encourage y

[2020-03-08 20:49] cchaos commented on #2916
@mridulgogia Huh, that's interesting.... That would be great if you could the function working properly!

[2020-03-08 20:54] anishagg17 commented on #2350
@sqren i will try to implement this

[2020-03-08 21:06] anishagg17 commented on #2272
@snide should i convert EuiForm to <form> ?

or should it accept a prop which would guide the component to  render a form or a div

[2020-03-08 21:21] anishagg17 commented on #2259
@bevacqua SearchBar doesn't support `autoClose` prop ,
@cchaos do you think this feature is required?

[2020-03-08 22:27] sqren commented on #2350
Looking forward to see what ou come up with @anishagg17 👍

[2020-03-09 03:04] walter-ind commented on #3005
<h1>Description</h1>

<h2>Guiding Principles</h2>

We work on variety of apps and execute many actions while going through our work. Sometimes, we work on some really important and confidential tasks that needs confirmation from the application side that it has got completed and no other remaining action has been left to be taken.
The work could be anything like sending an email to your boss/PL(Pr

[2020-03-09 04:39] walter-ind commented on #2903
@chandlerprall Have a look at above.

[2020-03-09 09:34] anishagg17 commented on #2196
@myasonik is it still open?

[2020-03-09 11:49] myasonik commented on #2196
Yup! Though I'll warn you my proposal up there was a bit of a draft so there may be some rounds of revisions it has to go through when it's up in PR and I test it more fully.

Also, I'll give you a tip, that it'll be much easier to merge this if you can avoid making any breaking changes to the component API.

Thanks!

[2020-03-09 12:28] miukimiu commented on #2943
jenkins test this

[2020-03-09 16:02] snide commented on #2272
@anishagg17 Sure. Following convention I'd use a `component` prop that can take `form`, but defaults to `div`. Check `EuiFlexGroup` for an example.

[2020-03-09 16:17] LeonY1 commented on #2427
Switching to v12 has caused some more issues to the draggable component. After doing some research on it, this only applies to the draggable component with Enzyme.

[code]

Solution could be found here: [https://github.com/atlassian/react-beautiful-dnd/issues/1203#issuecomment-486987782](https://github.com/atlassian/react-beautiful-dnd/issues/1203#issuecomment-486987782)

However, this introduces

[2020-03-09 16:54] snide opened #3014 "Link to Figma UI Kit"
We should link to our Figma UI Kit from the header. No need to include the Figma logo into `EuiIcon`, we can just use a custom SVG for it in the docs.

https://www.figma.com/community/file/809845546262698150

[2020-03-09 16:55] miukimiu commented on #3014
I'll do it!

[2020-03-09 18:02] #2091 closed

[2020-03-09 18:09] thompsongl commented on #2983
Based on discussion in #2986, there are more items to consider:

* IE11 support/feature detection for `meter`
* `meter` vs. `progress` API differences
  * Create `EuiMeter`?
  * Refactor `EuiProgress`?

[2020-03-09 19:13] myasonik commented on #2983
Just throwing in my two cents:

If EUI is willing to support the semantic differences between `meter` and `progress`, I think two components would be a great long term move.

If EUI would rather not know they exist, then I think it's ok to allow `EuiProgress` to just render `meter` sometimes and let the implementing developer worry about if it's used correctly or not.

[2020-03-09 20:50] chandlerprall commented on #2821
@myasonik I've been unable to reproduce this in your discover branch. Does it still happen for you?

[2020-03-09 22:32] sqren commented on #1862
@justinkambic how did you end up solving this? I'm having a similar problem, and I'm unable to see how actions can have dynamic content like row-specific data.

@cchaos To be clear: For each table row I want to render an icon that links somewhere. The link is dynamic and depends on the row. For the `onClick` handler I'm able to access the row (`item`):

![image](https://user-images.githubuserconte

[2020-03-10 01:31] ghost opened #3021 "Reveal feature requested"
<h1>Guiding Principles</h1>

User Interface is something that can lead to wonders in thoughts and attention if made in an interactive and enhanced way. Many times there are few cases where we give information about multiple users/locations/incidents together on the webpage in the form of a series placed next to another. This information is more suited and well put up in front of people when it is

[2020-03-10 02:20] walter-ind commented on #62
@snide Do I have to add a prop ( https://elastic.github.io/eui/#/tabular-content/tables ) in EuiBasicTable or in the text above?

[2020-03-10 02:22] walter-ind opened #3022 "Few other small features lacking."
a). Ratings are missing. => can be 1. Star 2. Heart.
b). Country flags can be added.
     May prove to be useful in => https://elastic.github.io/eui/#/tabular-content/tables [inside tables].

[2020-03-10 02:48] myasonik opened #3023 "[EuiToggle] Deprecate in favor of documenting `aria-pressed`"
I'd like to deprecate `EuiToggle` largely because it's an inaccessible pattern that requires more work to get right but having it bundled in the library gives it a air of authority.

I think it also aligns with EUI's ethos of not providing things that don't have use-cases. So, right now, this is a public API that we have upkeep expectations around even though no one has any reason to use so we can

[2020-03-10 03:12] myasonik opened #3024 "Add a floating close button to all "popovers""
## Preamble

Before digging into this, I just want to define "popover" as I mean it in the title. I don't mean `EuiPopover` and I also don't mean anything that has a z-index that floats it above content. **By popover, in this case, I mean anything that can be focused or focused within that is displayed on top of other content.** (Some examples are `Modal`, `Flyout`, `Popover`, `ContextMenu`)

## T

[2020-03-10 05:33] walter-ind commented on #3022
@chandlerprall please review.

[2020-03-10 05:34] walter-ind commented on #3021
@chandlerprall have a look at above.

[2020-03-10 05:35] walter-ind commented on #3005
@cchaos have a look at above.

[2020-03-10 06:28] jshreyans commented on #2760
@chandlerprall could you elaborate a little more on the create react app point.
This is in the context of the testing suite that we aim to develop for various environments. How does create react app add any difference to the testing suite? It is essentially just a bootstrapping tool and does not add any special functionality to the project. The project is basically just a simple React app right an

[2020-03-10 07:50] sqren commented on #1862
I ended up solving it with a custom render function (probably like you did too @justinkambic

[code]

But I still think it should be possible to have actions with dynamic content.

[2020-03-10 09:00] Druux opened #3025 "code-editor elastic search mode"
I am wondering if there is the possibility to use a custom elastic search mode within eui code-editor (with appropriate syntax highlighting and autocompletion)?

[2020-03-10 09:25] lokeshrana9999 commented on #2795
@miukimiu  is anyone still working on this? I would like to try it.

[2020-03-10 09:42] lokeshrana9999 commented on #2731
@chandlerprall I would like to give it a try, please assign me.

[2020-03-10 12:16] varunsharma27 opened #3026 "[Docs] TypeError in In-Memory Table - Selection"
Location: [In-Memory Table - Selection](https://elastic.github.io/eui/#/tabular-content/tables)
![image](https://user-images.githubusercontent.com/18154526/76310812-7342e800-62c7-11ea-9cda-2f24a980f030.png)

![image](https://user-images.githubusercontent.com/18154526/76310833-7f2eaa00-62c7-11ea-8af6-08b1ff35a677.png)

![image](https://user-images.githubusercontent.com/18154526/76311419-d08b6900-62

[2020-03-10 13:05] gjones opened #3028 "[EuiFlexGrid] Has responsive issues in Firefox"
**Summary**
As reported in the linked cloud issue, The responsive layout of the deployment cards on the Deployment list view does not behaviour as expected. The do not seem to be resizing correctly. This layout uses `EuiFlexGrid`

Affects:
**ECE version: 2.4.3** - but seems to be a problem in ESS too.
**Browser: Firefox**

[2020-03-10 13:40] #2888 closed

[2020-03-10 13:41] #3014 closed

[2020-03-10 14:06] cchaos commented on #3023
@myasonik Before we just remove the utility altogether, is there no way to **fix** it?

[2020-03-10 14:15] cchaos commented on #3000
@YulNaumenko Can you expand more on what you need in the form of validation? It should be easy enough to place the EuiCodeEditor in a EuiFormRow and use the `label`, `helpText`, and `isInvalid` props together to get something similar to this state from Advanced Settings:

<img width="597" alt="Screen Shot 2020-03-10 at 10 13 43 AM" src="https://user-images.githubusercontent.com/549577/76321171-07a

[2020-03-10 14:28] chandlerprall commented on #2731
@lokeshrana9999 go ahead; this one has some extra considerations though, as our build output does not go through webpack (where these type of transformations usually happen). Instead, we have babel convert the source files into their target directories. We'd need another tool to similarly process SCSS into JS files with those variables.

[2020-03-10 14:36] chandlerprall commented on #2760
@jshreyans you're correct; the create react app target would be more of a smoke test that EUI compiled correctly and is usable. As an example, I've used it to verify TypeScript changes don't introduce any breaking changes, or that we've added a dependency correctly.

It wouldn't necessarily need to be create react app, but that was a quick way to describe exactly what you said: just a simple React

[2020-03-10 14:59] #1866 closed

[2020-03-10 15:10] jshreyans commented on #2760
Great thanks a lot!

[2020-03-10 15:36] miukimiu commented on #2795
@lokeshrana9999 yes, you can help.

The high priority right now is the **Color Palette Picker Component**.  But I still need to finish the designs and get the approval.

Once I have it done, I'll share here the designs and you can start building the component.

[2020-03-10 16:15] myasonik commented on #3023
I mean, I think the fix is `EuiButtonToggle`... I'm not quite sure what purpose this is supposed to serve that `EuiButtonToggle` doesn't.

[2020-03-10 16:31] varunsharma27 opened #3029 "Table Actions UI/UX: Action availability not taken into account."
As stated in the docs ([Adding actions to BasicTable](https://elastic.github.io/eui/#/tabular-content/tables)):

Currently, the availability of an action is not being taken into account while computing for popover and primary actions.

Let's say you have:
- Total Actions: 4.
- Active Action on a particular row: 1.

#### In a Table with 4 actions, the current behaviour seems to be:
##### Row with 1

[2020-03-10 16:36] chandlerprall commented on #3022
We've discussed these two as a team, and decided to keep these components out of EUI. I've listed some reasons below.

**Ratings**
Having built these before in other projects/products, they are often very specialized for any organization's use, and make it hard to generalize and design for within a component library. Variations can include:

* Fractional ratings, some displays are only integers 1,

[2020-03-10 16:36] #3022 closed

[2020-03-10 16:58] cchaos commented on #3005
Thanks @walter-ind for the in-depth description. Now that I see what you are talking about, we actually do have this feature. It's called **EuiOverlayMask**. Consumers can use this in conjunction with simple text, toast, or modals to provide the exact experience you are talking about.

We've discussed this as a group and decided that it already exists we are just missing the documentation. So I'm

[2020-03-10 16:58] #3005 closed

[2020-03-10 17:03] cchaos commented on #3023
When they don't want a `<button>`... haha

[2020-03-10 17:20] myasonik commented on #3023
🤔 OK — that's something!

So I wonder if we can solve this a different way? Just thinking out loud, haven't dug into the code to check the practicalities of any of this:
- Maybe we create a prop for `EuiButtonToggle` where you can pass `empty` into? You can already pass in `isIconOnly` which combines `EuiButton` and `EuiButtonIcon`. We could either have `isEmptyButton=true` or `buttonType='icon'|'

[2020-03-10 17:21] myasonik commented on #3023
That kind of makes me wonder though, why does `EuiButtonToggle` have "icon" and "regular" combined into one component but then there are separate components for `Button` and `ButtonIcon`?

Should there actually be one `Button` to rule them all?

[2020-03-10 18:02] myasonik opened #3032 "[EuiDescribedFormGroup] Reintroduce `fieldset`/`legend`"
Originally, it was `div[role=group]` with no `legend`.

Then in #2783 we changed it to use `fieldset`/`legend` with some `aria-hidden` and `ScreenReaderOnly` gymnastics to solve all the a11y and design issues.

Then in #2888 we discovered we might have made the a11y worse so we largely reverted the change in #2989.

We still want to introduce `fieldset` and `legend` into our form layouts but we go

[2020-03-10 18:04] myasonik commented on #3032
CC @cchaos @miukimiu

[2020-03-10 18:53] chandlerprall commented on #3033
Confirmed reproducible in EUI's docs (https://elastic.github.io/eui/#/forms/super-date-picker)

We should probably address the same <kbd>enter</kbd>-does-nothing issue in the **Quick select** input group at the top of that panel.

[2020-03-10 19:00] chandlerprall commented on #2903
That description sounds good. Could you add one more section that describes the technical approach? e.g. what would be used to identify the navigation links, how they find their corresponding section on the page, and how it would detect & update the navigation visuals?

[2020-03-10 19:09] chandlerprall commented on #2943
Reviewed the combobox setup further, it shouldn't be affected by the same problems. I'll double check while reviewing the PR, but there should be nothing to do for this.

[2020-03-10 19:31] anishagg17 commented on #3033
@chandlerprall I want to work over this issue please assign me

[2020-03-10 19:45] cchaos commented on #3023
@myasonik and I talked this on through. Essentially, to make a `<button>` behave like a toggle it simply needs the `aria-pressed` property. All HTML buttons accept this as a property and therefore, all EUI button (`EuiButton`, `EuiButtonEmpty`, `EuiButtonIcon`) all support this toggling option inherently.

Therefore, it makes **both** the `EuiButtonToggle` and `EuiToggle` components moot. Our path

[2020-03-10 20:20] myasonik commented on #2982
Per #3023, we'll be deprecating this component completely

[2020-03-10 20:20] #2982 closed

[2020-03-10 21:14] myasonik opened #3037 "[EuiFormRow] doesn't always wire up the label and input"
As discovered [during automated testing](https://github.com/elastic/eui/pull/3035#discussion_r390596052), `EuiFormRow` doesn't work when there is anything in between it and the form component breaking the label association.

[2020-03-10 21:16] myasonik commented on #3037
@thompsongl Just by the shape of the issue, I wonder if this is similar to #2710?

[2020-03-10 21:23] myasonik commented on #2493
Talked to @cchaos about this and saw #3037 in the same day so I'm going to try to get a POC up for this soon so there's something more concrete to talk about

[2020-03-10 21:51] thompsongl commented on #3037
Perhaps. The `cloneElement` bit in `EuiFormRow` will pass the `id` to nested elements, whatever they are, so it's possible the form element never gets it.

[2020-03-10 21:59] thompsongl opened #3038 "Missing `EuiTextProps` top-level export"
The definition at

https://github.com/thompsongl/eui/blob/7bf3a99ad5af248987c7c83c9cd578f78b864b8a/src/components/text/text.tsx#L19-L25

should be renamed `EuiTextProps` and also exported from `src/components/text/index.ts`

[2020-03-10 22:16] anishagg17 commented on #3038
@thompsongl please assign me this issue

[2020-03-10 22:19] anishagg17 commented on #3038
should i add a changelog entry or not?

[2020-03-10 22:21] snide commented on #3038
Yes

[2020-03-10 22:32] anishagg17 opened #3040 "Import is not done in correct manner"
![Screenshot 2020-03-11 at 4 00 26 AM](https://user-images.githubusercontent.com/43617894/76365247-d88cec80-634c-11ea-9399-678a649d0667.png)

@thompsongl is the highlighted import done in correct way?

or should it be

[code]

[2020-03-11 02:38] walter-ind opened #3041 "Documentation for "EuiOverlayMask" is missing."
The required documentation for the above feature is missing in the Elastic UI framework.

https://elastic.github.io/eui/#/

[2020-03-11 02:39] walter-ind commented on #3041
@cchaos I am working on it.

[2020-03-11 02:43] snide commented on #3040
Likely this should be replaced and  import from one of the palette services that EUI now outputs.

[code]

https://elastic.github.io/eui/#/utilities/color-palettes

[2020-03-11 07:38] mridulgogia commented on #2895
@thompsongl Can I work on this issue?

[2020-03-11 08:19] mridulgogia opened #3042 "EuiNavDrawer needs to be converted to TypeScript"
src/components/nav_drawer/index.js
src/components/nav_drawer/nav_drawer_flyout.js
src/components/nav_drawer/nav_drawer.js
src/components/nav_drawer/nav_drawer.test.js

[2020-03-11 10:24] anishagg17 commented on #3040
![Screenshot 2020-03-11 at 3 53 15 PM](https://user-images.githubusercontent.com/43617894/76406864-7960c380-63b0-11ea-9312-2d31d2ae73a0.png)

@snide is there any services related to display toggles also??

[2020-03-11 10:27] anishagg17 commented on #3042
This is already in progress https://github.com/elastic/eui/pull/2772

[2020-03-11 10:34] #3042 closed

[2020-03-11 12:12] cchaos commented on #3040
No, DisplayToggles only exist in docs

[2020-03-11 12:15] anishagg17 commented on #3040
Okay @cchaos

[2020-03-11 13:19] #2943 closed

[2020-03-11 14:31] thompsongl commented on #2895
I've made some modifications to the function in #2850. We should wait until that PR merges before moving forward again with work on this issue

[2020-03-11 15:50] myasonik commented on #2821
Getting a slightly different issue on my branch now where the arrow is just invisible but seems to be in the right spot...

![Screen Shot 2020-03-11 at 10 50 03](https://user-images.githubusercontent.com/4188087/76436326-16f2cd80-6386-11ea-9b63-cc99eef246c5.png)

[2020-03-11 16:47] chandlerprall opened #3044 "EuiResizeObserver fallback does not work for pure resizing"
Discovered while working on #2991

Safari and IE11 are the two browsers we support which do not have `ResizeObserver`. For those, we fall back to a `MutationObserver` watching for all changes. While that catches when mutation cause a different size, it incorrectly:

* misses size changes caused by a window resize
* catches content changes that do not affect size
* misses size changes caused by cha

[2020-03-11 16:48] chandlerprall commented on #3033
@anishagg17 go for it

[2020-03-11 17:51] #3038 closed

[2020-03-11 18:20] cchaos commented on #2259
`autoClose` is a prop on [`FieldValueSelectionFilterProps`](https://github.com/elastic/eui/blob/7d9533508fcb9d53eb7d570c9564046f27d6ff48/src/components/search_bar/filters/field_value_selection_filter.tsx#L49). But this logic block doesn't account for forcing allowing `autoClose: false && multiSelect: true` https://github.com/elastic/eui/blob/7d9533508fcb9d53eb7d570c9564046f27d6ff48/src/components/

[2020-03-11 19:09] chandlerprall commented on #2821
That one I can reproduce, though the arrow has always been hidden on the data grid (is that way in the docs). @snide is this working as expected?

[2020-03-11 19:10] mridulgogia commented on #3044
There are two possible solutions:
- We can check for hasResizeObserver in ComponentDidMount. If true, we can follow the code or if false, we can listen to an event of resize (supported by all browser).
- We can use a resize event only as it is supported by every browser.

[2020-03-11 20:43] #3040 closed

[2020-03-11 20:58] snide commented on #2821
Pretty sure I know why. I need z-index on the cells for the focus. It likely sits above the popovers. I can fix.

[2020-03-12 01:31] snide opened #3046 "[AMSTERDAM] Suggest filter buttons need some cleanup"
Internal issue: Only a designer should touch.

Saved query buttons likely need to be brought back to white. Likely tied to the button changes.

![image](https://user-images.githubusercontent.com/324519/76478568-5a6d2c00-63c6-11ea-8514-761816adff58.png)

[2020-03-12 01:33] snide opened #3047 "[AMSTERDAM] Filter group buttons have a break in border radius"
This is an internal issue that should be taken care of by a designer.

![image](https://user-images.githubusercontent.com/324519/76478689-ba63d280-63c6-11ea-86a7-1c882051f9b7.png)

[2020-03-12 02:34] cchaos commented on #3047
Ha, I literally have the same screenshot sitting on my desktop right now. I figure we're going to break some components in the Amsterdam theme along the way and that @daveyholler 😜 will have the task of coming through each component to fix regressions like this.

[2020-03-12 04:57] myasonik commented on #3023
@cchaos So I started writing this up tonight and I hit a decision point:

To deprecate this I wanted to update EUI to not use it so I was updating `EuiButtonGroup` which uses `EuiButtonToggle` and it exposed a thing:

`EuiToggleButton` is the only way we have to make a filled `EuiButtonIcon` it seems. Should I add a filled state to `EuiButtonIcon` or should I add an "iconOnly" prop to `EuiButton`?

[2020-03-12 08:18] anishagg17 opened #3049 "porps in condensed section don't show off"
![Screenshot 2020-03-12 at 1 48 19 PM](https://user-images.githubusercontent.com/43617894/76501359-234f5700-6468-11ea-8890-52f4356a758e.png)

[2020-03-12 08:19] anishagg17 commented on #3049
@snide should it be removed or props description be added ?

[2020-03-12 08:28] anishagg17 commented on #3049
![Screenshot 2020-03-12 at 1 58 23 PM](https://user-images.githubusercontent.com/43617894/76502148-8beb0380-6469-11ea-89c0-3ad5320c784c.png)

Also there is no html code for error boundary

[2020-03-12 09:15] anishagg17 opened #3050 "on toggling one option a change in another section is also observed"
![Hnet-image (1)](https://user-images.githubusercontent.com/43617894/76505649-d66f7e80-646f-11ea-92e8-be4f04be650e.gif)

this is because their states are connected , instead they should be distinct also this leads to same id allocation in various sections

[2020-03-12 11:39] bundaskifli opened #3052 "EuiTreeView component issue - Uncaught Invariant Violation"
Hi,

I am trying to use EuiTreeView in Kibana (7.5.2) plugin, but getting errors even with the examples from [official documentation](https://elastic.github.io/eui/#/navigation/tree-view).

My code:
[code]

This gives me rendering errors:
[code]

I have no problems with other Eui components in my code. Is this a known bug? Any suggestions? Thanks very much!

- React-dom version: `"react-dom": "^16

[2020-03-12 13:51] justinkambic commented on #1862
@sqren sorry for the late reply - the component I was originally working on when we made this issue has subsequently been modified and no longer uses this feature, but the original solution was a custom render function like you describe.

[2020-03-12 14:47] myasonik commented on #360
Is the impetus to remove lodash just bundle size or is there more to it than that?

[2020-03-12 14:50] chandlerprall commented on #360
Bundle size and limiting number & scope of external dependencies.

[2020-03-12 14:54] aaronjcaldwell opened #3054 "Expose EuiDualRangeProps > `type ValueMember` for external use"
While working on https://github.com/elastic/kibana/pull/59689, we noticed that `type ValueMember`: https://github.com/elastic/eui/blob/d44f1d329b25f6cf63489676581ddfa379d1663c/src/components/form/range/dual_range.tsx#L24 was not exported. It's certainly not hard to recreate the same type locally (which we've done) but for the sake of consistency we might want to just export it from here for reuse.

[2020-03-12 15:03] cchaos commented on #3032
I'm not sure this is connected to #2493 since this issue is directed at the EuiDescribedFormGroup which is really input/input row agnostic.

So right now the component uses `EuiFlexGroup` directly to layout the left/right sides. So we get this HTML:

[code]

We could potentially nix the `EuiFlexGroup` in favor of writing our own layout styles with our own elements to render something like:

[code]

[2020-03-12 15:13] cchaos commented on #3046
This was actually an artifact of the long ago badge color updates. It is already fixed from another PR in master but the PR build you were looking at wasn't up to date with master.
<img width="536" alt="Screen Shot 2020-03-12 at 11 12 49 AM" src="https://user-images.githubusercontent.com/549577/76536234-70283300-6452-11ea-8aba-7194fe9931fb.png">

[2020-03-12 15:13] #3046 closed

[2020-03-12 15:22] cchaos commented on #3023
Lol, I love the enthusiasm, but we should not continue to consider deprecating core components as a path forward. One of the main reasons we use separate components instead of more+ props is to make it more explicit/semantic to what the consumer is trying to create. Also, once you start compounding all the different permutations of combinations of props on a single component you start running into

[2020-03-12 15:42] cchaos commented on #3054
I think our policy with these is that consuming applications should be able to grab individual prop types via `EuiDualRangeProps['value']` and since this one specifically is an array , you should be able to grab it via `EuiDualRangeProps['value'][0]`.

[2020-03-12 15:58] anishagg17 commented on #713
@snide is this issue still open?

[2020-03-12 15:59] thompsongl opened #3055 "`EuiColorPicker` option for inline color input"
We'd probably have to use the inline version with an extra input they way the color stops popover does.

[...]

 Something like:

<img width="250" alt="Frame 1" src="https://user-images.githubusercontent.com/549577/73495912-702e1100-4385-11ea-9123-2d6bc8699e11.png">

_Originally posted by @cchaos in https://github.com/elastic/eui/issues/2629#issuecomment-580490961_

[2020-03-12 16:01] thompsongl commented on #3055
Currently, there is no option to render the "hex" input shown in the description  without composing a couple components together.

We should provide a new prop to render a color input inline for implementations that use a swatch or custom button for the anchor and have no method of manual text input

[2020-03-12 16:03] thompsongl commented on #2629
#2850 introduced opacity support

#3055 is a continuation of this, which would add new layout option and probably require a refactor/simplification of the `EuiColorStops` component

[2020-03-12 16:03] #2629 closed

[2020-03-12 16:17] myasonik commented on #3032
Do we want the `description` in the `<legend>`?

I imagine the `description` can be quite long which we might not want reread with every form control.

[2020-03-12 16:35] anishagg17 commented on #599
@snide would it be fixed by using `react-loadable` ??

[2020-03-12 16:36] myasonik commented on #713
@snide I'm thinking of closing this issue without any code change.

I can't think of a way to "mark it as potentially dangerous" but also:
- Be non-committal about in case implementing developers are abusing it just for the color change
- be as broad as EUI would need (in that, we don't know if it's dangerous because it's irreversible, or slow, or expensive, or any other possible reason)
- Provide

[2020-03-12 16:37] #2272 closed

[2020-03-12 16:52] aphelionz commented on #713
I provided a reference to this: https://gdkraus.github.io/accessible-modal-dialog/ and perhaps that's enough. The idea is that you just want to clearly mark any destructive actions or "one-way" trips in a way that a user with a disability can understand.

[2020-03-12 16:54] #3050 closed

[2020-03-12 16:55] #2601 closed

[2020-03-12 17:12] YulNaumenko commented on #3000
Thank you @cchaos! It looks great for me. I think it's not an issue that editor area is not highlighted with the red color at the bottom. Could you please provide a code example for the screenshot above? - want to come up with this this proposal on the next meeting with designers team to get the final approval that it works for us.

[2020-03-12 17:26] snide commented on #3000
You can see the code for that screen in Kibana's advanced settings panel. It's just a `<EuiFormRow>` wrapped around the editor.

Closing this one out.

[2020-03-12 17:26] #3000 closed

[2020-03-12 18:09] mridulgogia commented on #2059
Has the design been finalized?

[2020-03-12 18:14] cchaos commented on #2059
@mridulgogia Not quite yet. We're still in a bit of flux right now with some other work that's going on. But thanks for the interest!

[2020-03-12 18:14] thompsongl commented on #2753
Done in #2909 💟

[2020-03-12 18:14] #2753 closed

[2020-03-12 18:22] #2759 closed

[2020-03-12 18:29] chandlerprall commented on #2895
#2850 has been merged, this is ready to be worked on @mridulgogia

[2020-03-12 18:30] thompsongl opened #3056 "[GSoC] Automatic Documentation System for TypeScript Components"
A better automatic system for documenting EUI TypeScript components. Specifically, we're looking for a better method to extract the acceptable values for each prop on the API. This would be done through automatic transversal of the EUI components itself, combined with the type values from TS and our own inline comments.

**Outcome**
More accurate, robust prop documentation within the existing "Pro

[2020-03-12 18:30] thompsongl opened #3057 "[GSoC] Playground / Toggle System for Live Documentation"
A better playground / toggle system for [EUI live documentation](https://elastic.github.io/eui/). Right now we have flat, read-only code displayed next to static examples. It would be nice if people could change the code examples in-browser on our docs site and see the changes live in the examples.

**Outcome**
An edit mechanism that would allow users to change, add, or otherwise modify props and

[2020-03-12 18:31] thompsongl opened #3058 "Multi-Project Testing Suite"
Automated testing for projects and deployments that we expect EUI to support. Currently, we rely on manual build steps or testing suites (functional and/or unit tests) provided by consuming applications to check environment compatibility and catch instances of breaking API changes. Conversion to and adoption of TypeScript has helped at a low level, but we need broader, less manual means of underst

[2020-03-12 18:41] myasonik commented on #3023
I'm good with that being the plan forward for deprecating `EuiToggle`! Let's at least worry about one thing at a time.

But longer term, I actually find the bifurcation of `EuiButton`, `EuiButtonEmpty`, `EuiButtonIcon` more cumbersome than a single `EuiButton` that could take a prop and change its rendering.

@chandlerprall @snide Maybe y'all have some thoughts on the longer term strategy?

[2020-03-12 18:51] #2622 closed

[2020-03-12 18:59] myasonik commented on #713
Hey @aphelionz! Thanks for jumping in here! I ran through your example in Voice Over and didn't see any example of a "dangerous" button.

Do you have any recommendations on how to implement it? Things I thought about:
- We could add some screen reader only text into the button that says something like "This action may not be reversible" but EUI doesn't have any context on the button use so we don'

[2020-03-12 19:20] snide commented on #713
I think this is a downstream concern best solved by proper text, confirms and `EuiScreenReaderOnly` usage.

I can't think of any automatic methods we could do that would work most of the time.

[2020-03-12 19:22] snide commented on #3023
It is much easier to control the stylistic look and patterns of separate components, then try to make one component that can do everything, but be very adaptive with nested prop cascade. I'm will to have that conversation, but it would require a beverage and a lack of priorities. 🍻

[2020-03-12 19:27] chandlerprall opened #3059 "[EuiSuperDatePicker] Should quick-select auto close?"
Split from #3033

Should `EuiSuperDatePicker`'s quick-select auto close if the refresh interval timer is _started_, either by mouse or keyboard ( focusing on the _Start_ button and activating it, and/or pressing <kbd>enter</kbd> while in one of the interval inputs)?

[2020-03-12 19:27] chandlerprall commented on #3033
I've split the second point (auto-close) into its own ticket (#3059) to track & discuss.

[2020-03-12 19:34] LeonY1 commented on #2427
@chandlerprall I was wondering if you could help me out with this.

[2020-03-12 19:34] chandlerprall commented on #3023
I don't _particularly_ care about the end direction taken. However, I'd like to see an icon button concept that accounts for all of an icon button's use cases: icon with maybe a fill and/or border. I don't think `EuiButtonGroup` should be applying classes/styles to style the icon button in a specific way, instead of managing via props; doing so would break down some lines that a component should b

[2020-03-12 20:28] aphelionz commented on #713
Admittedly it's been a while since I've reviewed this so things may very well have changed since then.

This is probably the closest you can get:

But it adds complexity when you're trying to make things more simple! So I think really, ultimately, as long as the interface is accessible and doesn't pigeon-hole anybody, disability or not, then you're OK :+1:

[2020-03-12 20:36] cchaos commented on #3023
I'd recommend just taking baby steps right now. Let's fix what this issue is truly trying to solve, then we get into creating more states for other components. But currently adding more visual styles to EuiButtonIcon requires some thinking on design implications around the necessity/usages.

[2020-03-12 20:59] myasonik commented on #713
On that note, I'm going to close this issue then and hope that our continued education across the elastic orgs enables implementing developers to make good decisions with adding descriptions as needed

[2020-03-12 20:59] #713 closed

[2020-03-12 21:01] chandlerprall commented on #2427
Happy to take a look! Can you push up your branch with the changes so far?

[2020-03-12 21:47] anishagg17 commented on #1371
@snide I want to reproduce this issue in docs but I didn't find any relevant example should I add such to docs?

[2020-03-12 21:51] snide commented on #1371
You can see this on the search bar example for tags. https://elastic.github.io/eui/#/forms/search-bar

Note how they move to the top on press. As @cjcenizal mentions. it would be preferable if they retained their position while the popup was open, but then listed them at top if later re-opened.

[2020-03-12 22:07] anishagg17 commented on #1371
OKay  thanks

[2020-03-13 02:31] LeonY1 commented on #2427
Here is the pull request: https://github.com/elastic/eui/pull/3064

[2020-03-13 06:27] anishagg17 commented on #2679
Please recheck for Layot -> header

[2020-03-13 10:22] anishagg17 commented on #2520
@snide can you give some example preview of `Eui MDX-style editor` or some reference to it. I am interested in building it

[2020-03-13 14:30] aaronjcaldwell commented on #3054
Okay, thanks for the explanation @cchaos! That worked well for us. Closing this issue

[2020-03-13 14:30] #3054 closed

[2020-03-13 14:39] chandlerprall commented on #2520
@anishagg17 because of the size and complexity of that component's design & implementation, we are building it internally (already in progress, behind the scenes).

[2020-03-13 15:03] myasonik commented on #2679
Good catch! Removed!

[2020-03-13 16:13] anishagg17 commented on #2520
@chandlerprall is there any component that I could work upon?

[2020-03-13 18:55] chandlerprall commented on #2520
@anishagg17 unfortunately we don't have anything else ready to go; however, if you're looking for more than the existing issues we have, there is a lot of room to improve our coverage of our unit tests. Most of our components have a basic "is rendered" snapshot, without checking any functionality and I'm sure many are missing a lot of different input prop permutations. If you want to go really cra

[2020-03-13 20:15] chandlerprall commented on #3025
We have not created one. Kibana has built out [some custom tokenizing for autocomplete](https://github.com/elastic/kibana/blob/master/src/plugins/console/public/lib/autocomplete/autocomplete.ts), but it has been built on top of the ace editor and not a drop-in extension. There is also a conversation starting around extracting this functionality in https://github.com/elastic/kibana/issues/59962

[2020-03-13 20:39] #3026 closed

[2020-03-13 20:54] chandlerprall commented on #3052
The error you're receiving from React is saying that a variable is being used as a component, but the variable is not one. Quick example:

[code]

In your case, this is happening because `EuiTreeView` is `undefined`, as [Kibana 7.5.2 uses EUI@14.5.1](https://github.com/elastic/kibana/blob/v7.5.2/package.json#L112), but the tree view component was introduced in 14.9.0

[2020-03-13 20:54] #3052 closed

[2020-03-13 22:17] #2937 closed

[2020-03-13 23:00] cchaos opened #3072 "[EuiMark] Accessibility"
- [x] 1. Have a designer assess the styling of the rendered mark
- [x] 2. Use in EuiHighlight
- [x] 3. Add in accessibility

---

Original comment

I'd suggest doing something similar to this using `EuiScreenReaderOnly` before and after the mark, rather than using CSS before/after. That was we can make sure the text gets `i18n` treatment.

_Originally posted by @snide in https://github.com/elastic

[2020-03-13 23:01] cchaos commented on #3072
In particular when it comes to the styling, the browser doesn't handle very well the overlap of the mark's highlight and any find-in-page highlighting.

<img width="974" alt="Screen Shot 2020-03-10 at 17 54 26 PM" src="https://user-images.githubusercontent.com/549577/76665075-e749ee00-655c-11ea-8a63-16da57a3c76e.png">

[2020-03-14 08:32] Marvin9 commented on #3041
Are you still working on it?

[2020-03-14 08:34] mridulgogia commented on #2492
Can I work on it?

[2020-03-14 13:14] walter-ind commented on #3041
Yes...I am almost ready with the PR that is going to close this issue!!!
Kindly look for any other issue.

[2020-03-14 13:18] Marvin9 commented on #3041
Sorry. Go ahead with your PR. I'm going to close mine 😀 Good luck.

[2020-03-14 14:23] lokeshrana9999 commented on #2731
@chandlerprall how to simulate the [consuming](https://github.com/elastic/eui/blob/master/wiki/consuming.md) environment from local dev repo.
for eg doing this `import * as euiVars from '@elastic/eui/dist/eui_theme_light.json';
`

[2020-03-14 15:20] myasonik commented on #2492
We don't have a plan in place for how we want this component to look in the future and how it will differentiate itself from `EuiSideNav` so figuring that out is the first step.

If you have any proposals, we can discus them here before digging into the code.

[2020-03-14 17:18] anishagg17 commented on #3072
Also, there is no display case of `strict` mode for `Highlight`. I think we should use display toggles around this and also  add `highlightAll ` prop to it or should me make a different section for it?

[2020-03-14 20:47] pranshuchittora opened #3081 "feat: Add debouncing to all the input components."
### Description
Debouncing is a common technique used to decrease the frequent calls to the heavy functions/callbacks.

### How it can be used in `eui`?
As forms are one of the core building blocks of the UI, there can be a lot of fields(input) and those filed might react to the user input. Sometimes the performing those changes might take time.
Like
- API calls based on user input
- Search/Filter

[2020-03-15 06:13] Marvin9 opened #3083 "Retain state of scrolling in docs site examples"
Tab **Demo** is an output of **DemoJS**.

Whenever user switches these tabs, everytime **DemoJS** forgets previous scroll and default scroll is 0.

It makes hard to map between eui components in demo and it's relevant code.

![before_scroll](https://user-images.githubusercontent.com/17699717/76696367-a2cf6700-66b0-11ea-9a91-1ac522c96115.gif)

[2020-03-15 14:11] lokeshrana9999 commented on #2731
@ryankeairns I am working on an implementation of this issue. If you could point me to a specific use case, I might get a better idea of what is to be expected.

[2020-03-15 17:12] hetanthakkar1 commented on #1401
Is anyone still working on this issue ? I'd like to work on it.

[2020-03-15 17:18] hetanthakkar1 commented on #1501
@jayanthj737 are you still working on i or shall i take ? @chandlerprall

[2020-03-15 17:24] hetanthakkar1 commented on #1715
@anishagg17 are you working on it?im also interested. @cchaos

[2020-03-15 17:29] hetanthakkar1 commented on #2679
is anyone working on this issue i would like to. @anishagg17 @myasonik

[2020-03-15 17:30] hetanthakkar1 commented on #2960
@anishagg17  are you currently working on this issue?i would like to work on it

[2020-03-15 18:13] hetanthakkar1 commented on #1708
is anyone working on this issue? @chandlerprall  @Anupam-dagar

[2020-03-15 18:16] Anupam-dagar commented on #1708
@hetanthakkar1 there is a PR currently under review for this.

[2020-03-15 18:32] hetanthakkar1 commented on #1708
@Anupam-dagar  okay mate

[2020-03-15 22:05] myasonik commented on #2679
Hi @hetanthakkar1! This issue is quite large we (mostly @anishagg17) have been merging small PRs as they are ready to be able to make steady progress over time instead of no progress for a long time and then trying to roll out a big bang change.

You can see in the description which pages are already done and you can see open PRs (such as #3077) linked in this thread as well.

We're happy to look

[2020-03-16 01:16] LeonY1 commented on #2427
Sorry for being a little inactive recently, many changes have sparked up for my hackathon which will be in the next couple of weeks. I was wondering if I could still get help in trying to fix the draggable component issue for the test.

[2020-03-16 04:31] PeterSenpai commented on #3044
Hi there, I have a PR up for the fix. Take a look when you have time.

[2020-03-16 08:48] mridulgogia commented on #2441
Can I work on this issue?

[2020-03-16 11:42] aman-singal commented on #1718
@peteharverson can i work on this issue if its still open

[2020-03-16 13:40] cchaos commented on #1718
My worry about changing this behavior now, a year later, is that our users may have gotten used to the current behavior. Automatically changing the time to the start/end of the day selected instead of keeping their time selection which may cause undue confusion.

The one thing that the original post did not mention is that the old date picker didn't have an easy time select portion as the new time

[2020-03-16 13:40] #1718 closed

[2020-03-16 13:41] cchaos commented on #1718
@VasudevHarshal-123 & @aman-singal Sorry if you've already started work on this, but we don't feel it's necessary to fix.

[2020-03-16 13:46] anishagg17 opened #3090 "Facet_layout demo issue"
on toggling an option in vertical facet makes the same impact on the horizontal facet

![Hnet com-image (5)](https://user-images.githubusercontent.com/43617894/76764232-80c20b80-67ba-11ea-8961-4d8f04ae9b2e.gif)