[2021-01-21 17:28] thompsongl commented on #4394
I see a couple options for this:

1) As mentioned, the combination of `isClearable=false` and `singleSelection` prevents delete key behavior.
2) Add a new configuration option to `singleSelection` (`preventEmptySelection`) which overrides `isClearable` and prevents delete key behavior.
3) Add a new prop (`preventEmptySelection`) which overrides `isClearable` and prevents delete key behavior, and a

[2021-01-21 17:46] thompsongl opened #4439 "[EuiContext] App configuration provider"
Expand the use of the current **EuiContext** layer beyond i18n, or create a coordinated system of context layers that allow for global or application-level settings for various options in EUI.

Current ideas:
* Theming, as introduced in #3912
* **EuiPopover**, such as `buffer`
* a11y, such as enforcing stricter standards in certain applications
* domains, as used in `getSecureRelForTarget`
* Link

[2021-01-21 18:33] cchaos commented on #4394
Honestly, when looking at this exact example from Lens, I think the fault lies in that Lens doesn't have a good error state for when a field is not selected. The empty combobox should come up as invalid when empty **and** the configuration node should show as invalid the invalid state like:

<img width="326" alt="Screen Shot 2021-01-21 at 13 14 03 PM" src="https://user-images.githubusercontent.com

[2021-01-21 20:00] pickypg opened #4441 "[EuiSearch] Autocomplete Fields Popover"
As a page or site's search experience gets more and more complex, there is a natural desire to introduce autocomplete to the searchbar experience.

Kibana has this with KQL already, so it would be great to see that [equivalent] experience to EUI so that all projects can take advantage of it where the fields / types can be told to the searchbar for this same experience.

![image](https://user-image

[2021-01-21 21:48] wylieconlon commented on #4394
@cchaos we already implemented the error states you're discussing for the new functions in Lens, but not for older functions. We can update those too. https://github.com/elastic/kibana/issues/89032

[2021-01-23 08:38] XSAM opened #4443 "[EuiPopover] Should the popover itself be focusable?"
![firefox-superselect](https://user-images.githubusercontent.com/11306772/105573537-33a5b300-5d56-11eb-8f82-5063b6a25138.gif)

EUI version: 31.3.0
System: macOS 10.15.6
Firefox: 84.0.2

[2021-01-23 19:50] alah64 opened #4444 "My plugin icon is not displayed in Kibana version 7.10"
Hi

My implementation is working fine till kibana 7.6.0 release. I am facing issue while migrating plugin to kibana 7.10.0. and My plugin icon is not displayed:

plugin.tx
[code]

![image](https://user-images.githubusercontent.com/41846701/105612443-79ec2800-5dd1-11eb-8ebf-91e3cc858a46.png)

[2021-01-23 20:55] snide commented on #4444
Hey there, this isn't super specific to EUI and feels like it should be in the Kibana repo since it's utilizing functions from that service. I'll close this issue since it's not a bug in EUI directly.

A couple things to help though. EuiIcon, which that service likely feeds into, only accepts SVGs. I believe in older versions of Kibana that service likely allowed for pngs, and it was later upgrade

[2021-01-23 20:55] #4444 closed

[2021-01-24 19:06] timroes opened #4445 "[Amsterdam Theme] Increase top shadow of panels"
I noticed, that when using the amsterdam theme the top border of a panel is barely visible against the background, and it seems like it's directly fading into the background. This makes it (for me) often hard to perceive a panel as a closed area and imho is a design regression from the regular Light theme.

I tried to check the panel shadows on my iPad Pro and it seems they are better visible ther

[2021-01-25 14:28] miukimiu commented on #4443
Hi @XSAM,

The black `outline` in firefox appears when an element is `:focus`.  It was introduced in https://github.com/elastic/eui/pull/4242 as a way to improve the accessibility of our components.

Bear in mind, that the **Amsterdam** theme is still a work in progress, and according to user feedback, a few things can change.

cc: @cchaos

[2021-01-25 14:56] cchaos commented on #4443
Yep, and this particular issue was brought up as well. It's less that the focus ring is unintended, as we want to always make sure focusable elements have a visible focus ring, but that is it really necessary for the popover itself to be focusable. I'll reword the title of this issue a bit and add to the accessibility project and something to discuss further.

[2021-01-25 15:14] cchaos commented on #4445
👋 Heya @timroes

Thanks for the initial feedback. We are still considering Amsterdam as as "Work in progress / Beta" so feedback like this is appreciated and we'll take it under consideration.

Just to give a bit of insight into some design decisions here, the original plan was to try to remove as many "borders" as possible in Amsterdam and relying more on visual grouping and spacing between to cr

[2021-01-25 15:14] #4445 closed

[2021-01-25 15:31] thompsongl opened #4446 "[EuiSelectable] Testing virtualized options"
List options do not get rendered in test environments (react-testing-library, notably) because of [zero-width calculations in `react-window`](https://github.com/bvaughn/react-virtualized-auto-sizer/blob/master/src/index.js#L149). Attempting for force component dimensions with `height` or `style` props have no effect.
Need to allow `react-window` to find a calculable width or (perhaps) mock virtual

[2021-01-25 19:43] KSriki commented on #4240
For those looking for options in Elastic UI, turns out Elastic UI does maintain selection for data-grids:

https://elastic.github.io/eui/#/tabular-content/data-grid-control-columns

[2021-01-26 03:29] XSAM commented on #4443
Thanks for the reply.

@cchaos, I agree that focusable elements should have a visible focus ring, but is it necessary to show this focus ring while using the mouse (Not with the keyboard, just like the gif I presented in this issue)?

Also, **Amsterdam** theme will not show a focus ring while using the mouse in Chrome; it only happens in Firefox. This inconsistent behavior sounds like a bug to me,

[2021-01-26 21:15] #4422 closed

[2021-01-27 16:24] K-Kumar-01 commented on #4330
@cchaos
I have opened a PR for the issue. Let me know if there are any changes required :)

[2021-01-27 16:28] thompsongl opened #4453 "[EuiResizableContainer] initialSize vs. minSize initial calculation"
I don't know if this is related or not, but I have an issue in my usage of the component where I'm setting an `initialSize=15` which only accepts a number as percentage value, then I also set a pixel value `minSize=60px`. But on initial load, it doesn't respect that `minSize`. So If the window is skinny, and 15% of the width is less than `60px` the panel will be less than `60px`.

_Originally post

[2021-01-27 16:50] thompsongl commented on #4453
The thing that makes this complex (like the rest of the resizable container logic) is that we can easily encounter situations where the math just doesn't work out. For instance:

Panel 1: `initialSize: 15%, minSize: 60px`
Panel 2: `initialSize: 70%, minSize: 100px`
Panel 3: `initialSize: 15%, minSize: 60px`

If the container is initially 350px wide, Panel1 and Panel3 must steal space from Panel2.

[2021-01-27 16:59] cchaos commented on #4453
Can I also tack on adding the ability to supply a `maxSize`? 😃

[2021-01-27 18:06] chandlerprall commented on #4240
For completeness, row selection in **EuiDataGrid** is 100% custom code by the application. The datagrid does not have any internal concept of selection, and it would be up to the application to implement any functionality around it. The example linked to provides the basics as a starting point, and can be expanded on as desired.

[2021-01-28 15:10] myasonik opened #4454 "Logo icons should use random IDs"
[Third party logos](https://eui.elastic.co/#/display/icons#third-party-logos) come with static IDs defined which means the same one cannot be rendered on the page more than once without causing duplicate ID issues.

This is a problem on Kibana's load data page where the same 3rd party powers multiple sources
<img width="1354" alt="Screen Shot 2021-01-28 at 10 08 26" src="https://user-images.github

[2021-01-28 16:53] #4330 closed

[2021-01-28 17:52] timroes commented on #4273
Just for prosterity: With 7.11 and saved object tagging this issue came into Kibana, and makes all save dialogs quit annoying, since hitting enter when typing the title will just clear the tags from the list:

![Peek 2021-01-28 18-26](https://user-images.githubusercontent.com/877229/106178367-f8621480-6199-11eb-95b0-d696fcefb8d4.gif)

[2021-01-28 19:17] #4365 closed

[2021-01-28 21:29] chandlerprall opened #4456 "[EuiDataGrid] Scroll cells into view via keyboard"
When using keyboard navigation in the datagrid, cells do not always fully scroll into view and other times centers the newly focused cell.

https://github.com/elastic/eui/pull/4170#pullrequestreview-567698551

[2021-01-28 21:33] chandlerprall opened #4457 "[EuiDataGrid] Unnecessary scroll bars when constrained"
When **EuiDataGrid** is constrained along one dimension, it (correctly) triggers a scroll bar along the opposing side so the user can explore the entire dataset. However, that scroll bar's width/height is not accounted for which causes the other scroll bar to appear.

https://github.com/elastic/eui/pull/4170#issuecomment-762164338

[2021-01-28 21:35] chandlerprall opened #4458 "[EuiDataGrid] UX Cleanups"
Originally from https://github.com/elastic/eui/pull/4170#pullrequestreview-573688749

**1. ~The density adjustments no longer seem to be changing the overall height of the cells.~ Resolved in https://github.com/elastic/eui/pull/5372**
There seems to be some calculations going that always come out to make the cells `34px` high.
![image](https://user-images.githubusercontent.com/549577/105407812-2a0

[2021-01-29 01:20] akashgp09 commented on #4231
I would like to work on this issue

[2021-01-29 16:19] thompsongl commented on #4231
@cjcenizal The PR opened to close this issue appears to work, but I'm wondering if you have any more info about where you first encountered the problem.
Because it is an externally controlled search and the change event provides error information, it makes sense to me that the consuming app (including our docs example) should decide what to do with the error.
Does it make sense for your case?

[2021-01-29 17:13] cjcenizal commented on #4231
@thompsongl I think you're right! I found the original bug in Watcher, which can be reproduced by going there and searching for "a=". If I do the same thing in Index Management, it looks like the error is handled and surfaced by the UI:

![image](https://user-images.githubusercontent.com/1238659/106305833-0c495d00-6212-11eb-8a74-06a4d88f740b.png)

If the Design team thinks this is a good pattern,

[2021-01-29 18:10] Dosant opened #4460 "[EuiPopover] closePopover isn't called on outside click when popover is in opened state from initial render"
**Version**: 31.4.0

**Description:**
closePopover doesn't emit on outside click when on initial render popover receives `isOpen` prop.

**Reproduction**: https://codesandbox.io/s/hungry-fog-zxc7z?file=/index.js

**Current behavior**:
Clicking outside the popover which was opened during the initial render doesn't call `closePopover`.
If to close it using the button and open it again, then click ou

[2021-01-29 18:21] thompsongl commented on #4231
Great! I do think that it should be up to the app to deal with the error.

We should definitely update the examples in the EUI docs. @cchaos probably has a better idea of what error-surfacing patterns to use, both in EUI and ES UI, etc.

[2021-01-29 20:11] Anshultilondiya commented on #4054
@chandlerprall I would like to contribute to this project, could you please direct me from where I can get more information of the same, and will this project be available in GSOC '21

[2021-01-29 20:32] myasonik commented on #3385
Related Kibana issue: https://github.com/elastic/kibana/issues/89490

[2021-01-29 21:51] chandlerprall commented on #4054
Unfortunately the EUI project is not participating in GSOC this year due to our own time constraints & commitments - hopefully next year! If you'd like to contribute outside of GSOC, we have a [contributing guide](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md) and curate a list of [good first issues](https://github.com/elastic/eui/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+is

[2021-01-29 22:52] thompsongl opened #4462 "[CI] File watcher limit reached"
Noticed in a [failed CI run log](https://kibana-ci.elastic.co/job/elastic+eui+pull-request-test/3082/consoleFull):

Long list of errors in the form of

Not sure at this point what script is attempting to watch all(?) files in the `app` directory, but it almost surely shouldn't happen during CI.

[2021-01-30 08:27] muhammadtalhas opened #4464 "[EuiResizableContainer] dynamically determining the "direction" prop leads to an error"
I'd like to dictate the direction of resizable container depending on the size of the screen. I _may_ be doing this the wrong way...

Relevant code snippets:
`const { width } = useWindowDimensions();`
...
`<EuiResizableContainer direction={width <= 920 ? "vertical" : "horizontal"}> ....`

As soon as it hits the threshold, The following error happens:

![image](https://user-images.githubusercontent

[2021-01-30 08:29] muhammadtalhas commented on #4464
Just for clarification, `width` updates on a window resize.

[2021-01-30 12:50] K-Kumar-01 commented on #4286
@cchaos @DavidGOrtega
Is the issue still open?
I am unable to replicate the issue. It would be very helpful if someone can help me to replicate the issue.

[2021-01-30 13:03] K-Kumar-01 commented on #4183
@cchaos
If the issue is still open, I would like to work on it.
Can I make a PR?

[2021-01-30 19:54] cchaos commented on #4183
Any issue that's still open is up for grabs, go for it @K-Kumar-01

[2021-01-31 10:28] K-Kumar-01 commented on #4183
@cchaos
Created PR for the issue. Let me know if there are any changes required.

[2021-01-31 18:49] j-m commented on #4192
@cchaos Is there a ticket for the work on EuiPanel? If so this issue can be closed :)

[2021-02-01 08:23] darnautov opened #4467 "[EuiRange] Support custom color options"
At the moment only the following color options are supported: `[ "primary", "success", "warning", "danger" ]`.
I presume it's been done this way to preserve the EUI color palette and respect the active theme, but for some scenarios, it's important to have the ability to set a specific color code. For instance, we would like slider ranges to match anomaly security score colors: `'#fe5050', '#fba740

[2021-02-01 15:22] cchaos commented on #4467
Hey @darnautov , could you give us an example of the end result you are aiming for? A screenshot perhaps?

[2021-02-01 15:24] cchaos commented on #4192
No there isn't a specific ticket, but PR #4194 got us a step closer. I'm continuing to do work on the page components for an internal effort, so there will probably be more options in the future.

[2021-02-01 16:22] thompsongl commented on #4464
I think the problem is that we're not watching for/reacting to changes in the `direction` prop at all levels. Could be as simple as introducing a `useMemo` or `useEffect`, but it could also be as complex as needing to reinitialize each panel.

[2021-02-01 16:51] darnautov commented on #4467
hey@cchaos, just updated the description with a screenshot

[2021-02-01 19:56] thompsongl opened #4469 "[Docs] Table search error design pattern"
I found the original bug in Watcher, which can be reproduced by going there and searching for "a=". If I do the same thing in Index Management, it looks like the error is handled and surfaced by the UI:

![image](https://user-images.githubusercontent.com/1238659/106305833-0c495d00-6212-11eb-8a74-06a4d88f740b.png)

If the Design team thinks this is a good pattern, I think ES UI should consistently

[2021-02-01 19:57] thompsongl commented on #4231
This issue will close when #4459 merges, but I created #4469 to track the follow-up request for establishing a design pattern in the docs.

[2021-02-01 19:59] chandlerprall opened #4470 "[EuiDataGrid] Testing virtualized cells"
Cells are not guaranteed to be rendered in functional tests when the grid overflows in either dimension. This prevents validating entire datasets are rendered as expected.

[2021-02-01 19:59] chandlerprall commented on #4470
Related to #4446

[2021-02-01 20:10] #4231 closed

[2021-02-01 20:38] chandlerprall opened #4471 "[EuiDataGrid] datagrid does not have `role=row` elements"
**EuiDataGrid**'s `role=gridcell` elements are not wrapped in `role=row` elements, causing accessibility concerns.

[2021-02-02 11:15] Mehr29 commented on #4467
Hi @cchaos @darnautov  I would like to take up the issue if its still open

[2021-02-02 13:38] wenchonglee opened #4472 "[EuiComboBox] Misaligned options list"
Hey,

I recently updated from 30.4.2 to 31.4.0 and noticed the options list of EuiComboBox is misaligned to the left, like so:

![image](https://user-images.githubusercontent.com/18256786/106606217-d521d580-659c-11eb-81aa-3b18fc9ac617.png)

It took me a while to replicate this on a [codesandbox](https://codesandbox.io/s/boring-wilbur-5gq23) because it seems that this only happens when certain thin

[2021-02-02 14:11] joeried opened #4473 "[EuiCodeBlock] whiteSpace property missing in type"
It looks like the `whiteSpace` property is missing in the types for the EuiCodeBlock compontent.
Using the component like described [in the docs](https://elastic.github.io/eui/#/editors-syntax/code#code-block-and-white-space) will result in the following type error:

`Property 'whiteSpace' does not exist on type 'IntrinsicAttributes & CommonProps & OwnProps & HTMLAttributes<HTMLElement> & { childr

[2021-02-02 14:46] flash1293 opened #4474 "[EuiDataGrid] a11y roles not valid (gridcell without row)"
Due to virtualization, there are no "row" elements in the data grid anymore.

As the individual cells have a `gridcell` role, this is causing automated a11y tests to fail: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Gridcell_role

I'm not sure about the right solution:
* should we simply remove the `gridcell` role?
* should we wrap all of the cells in a single `row` eleme

[2021-02-02 14:51] chandlerprall commented on #4471
Closing in favor of #4474

[2021-02-02 14:51] #4471 closed

[2021-02-02 15:09] myasonik commented on #4474
@chandlerprall how does EUI's automated testing not fail on the same thing?

[2021-02-02 15:13] chandlerprall commented on #4474
Datagrid pages are disabled in the axe check

[2021-02-02 15:52] myasonik commented on #4474
For EUI, I can't think of a workaround for getting around this requirement. A `role=grid` needs children with `role=row`.

For Kibana, at this point, the most practical solution is probably to ignore datagrid classes in the tests. @flash1293 I can help you set that up.

[2021-02-02 16:55] thompsongl commented on #3713
Came across this used as a jest env check (@emotion/react):

`var isJest = typeof jest !== 'undefined';`

Not sure it'd work as a replacement for the `_isJest` hack, but though is worth noting.

[2021-02-02 18:55] chandlerprall commented on #4470
When this closes, update affected Kibana functional tests (search for `https://github.com/elastic/eui/issues/4470`)

[2021-02-02 20:25] #4411 closed

[2021-02-02 20:45] cchaos opened #4478 "[EuiModal] Add EuiOverlayMask directly"
https://github.com/elastic/eui/pull/4421 Addressed adding **EuiOverlayMask** inside of the **EuiConfirmModal** component, but we want to apply this to the regular EuiModal as well.

[2021-02-02 21:05] cchaos commented on #4472
I think it's more likely that #4301 caused this. That PR moved the vertical scrollbar to a different element which seems that the popover service may have been accounting for. For example:

**v. 30.4.2**

<img width="247" alt="Screen Shot 2021-02-02 at 15 58 39 PM" src="https://user-images.githubusercontent.com/549577/106662487-72b2e000-6570-11eb-8c99-84b5342e2a51.png">

**v. 30.5.0 (very next ver

[2021-02-02 21:23] cchaos commented on #4469
I think the main problem here is when to **know** to display the error. For instance, say a user is typing a search that does **start** with `a=`, You don't want an error callout jumping in and out with every keystroke. So I think it partially depends on if the search is being used to filter based on matched strings, or if it's actually performing some sort of query. The latter is harder to know w

[2021-02-02 21:35] cchaos commented on #4184
I'm confused about how this is a bug and/or directly related to our mixin. The Mac setting literally turns off any indicator of scrolling (removes the scrollbar from being positioned in the DOM layout) and overlays it visually only when scrolling. This seems to be behaving as expected. For instance here's just the new tab behavior in Firefox: https://share.getcloudapp.com/eDu8olGR

So I'm going to

[2021-02-02 21:35] #4184 closed

[2021-02-02 21:42] flash1293 commented on #4184
I still think the behavior is problematic, but I’m unsure how to fix it.

The issue is Chrome and Firefox behaving differently here. In Chrome, using this mixin introduces a padding of the size of the scroll bar while in Firefox it doesn’t. As in the examples I posted above, some layouts rely on this indirect padding introduced by the mixin.

if it’s possible to use custom css in Kibana to make Ch

[2021-02-03 02:21] akashgp09 commented on #4478
working on it

[2021-02-03 17:57] miukimiu commented on #4467
Hi @Mehr29,

Yes, it's still open. Go ahead and take up the issue! 🙂

[2021-02-03 18:55] #4460 closed

[2021-02-03 19:32] #4251 closed

[2021-02-03 19:39] #4273 closed

[2021-02-04 09:56] mouradmourafiq opened #4483 "[EUIDataGrid] rowHover in gridStyle has no effect after 31.4.0"
I think there was a regression in v31.4.0, the `{rowHover: 'highlight'}` in `gridStyle` has no effect anymore. The regression can be tested on the example provided in [data-grid-styling-and-control](https://elastic.github.io/eui/#/tabular-content/data-grid-styling-and-control)

[2021-02-04 10:01] flash1293 opened #4484 "[EuiDataGrid] header cell throwing call stack errors"
In some scenarios the grid header cells seems to interact with other popovers on the same page in a way that's causing a loop of focus settings. I can't reproduce it in a codesandbox, but it's consistently happening in Lens:
* Check out this PR https://github.com/elastic/kibana/pull/88680
* Go to Lens
* Configure data table
* Use column header popover to hide a column
* Open dimension editor to th

[2021-02-04 14:17] joselcvarela opened #4485 "[Docs] Horizontal card not working when image or footer is passed"
Hey guys once again,

This is a documentation issue only.

In https://elastic.github.io/eui/#/display/card it says:

Even though, it is imperative that those properties does not exist as we can see here:

https://github.com/elastic/eui/blob/f01c84ba484ac5611e1559ab8c90b8f56250befd/src/components/card/card.tsx#L217-L223

[2021-02-04 16:02] cchaos commented on #4485
Hi @joselcvarela , I'm not sure I'm understanding the issue here. Both the code and the docs explain say the same thing that Horizontal cards cannot work with any of those extra properties.

[2021-02-04 16:44] joselcvarela commented on #4485
Sorry for not being more explicit.

In the docs says: `Therefore, these properties will be ignored`

But they are not. They should not exist, otherwise if they are truthy, the code breaks.

[2021-02-04 16:51] snide commented on #4483
Yep. Thanks for adding an issue. We did make a conscious decision that benefits of adding virtualization outweighed the hover effect. We'd like to bring it back shortly. In general there are a couple other issues we've tracked around the update that we're trying to prioritize for fixes over the next week (in specific, the compression and full screen have some regressions as well).

[2021-02-04 18:39] cchaos commented on #4485
Thanks for the clarity. This is a great discussion topic.

As a consumer, what would you expect to happen if you tried to apply a combination of props that are not allowed?

For instance, if it were me and I had applied both `image` and `layout="horizontal"` props, but what rendered was a card that was only horizontal and had no image, I would assume there is a bug or my `image` url is not working

[2021-02-04 19:53] cchaos opened #4487 "[EuiSideNav] Prop types are not showing up in the props table correctly"
Possibly due to how the component is exported:
https://github.com/elastic/eui/blob/b52816ad4efd1c0fee148cffa55cb97eeea11bb3/src/components/side_nav/side_nav.tsx#L62

<img width="461" alt="Screen Shot 2021-02-04 at 14 49 32 PM" src="https://user-images.githubusercontent.com/549577/106947709-ba647380-66f8-11eb-91b4-5772a3444270.png">

[2021-02-05 07:03] jeroenbrouwer opened #4489 "[EuiResizableContainer] TypeError in resizers when code is hot-reloaded"
A TypeError occurs when my code is hot-reloading, somehow resizers might become `undefined` leading to the following error:

Inspecting the source there should probably be a safety check before calling `isFocused` and `isDisabled` here:
https://github.com/elastic/eui/blob/7337cffd5ccb783d2827a8f3602a96000c02b7ae/src/components/resizable_container/resizable_panel.tsx#L368

Screenshot of my beautifu

[2021-02-05 17:03] cchaos opened #4491 "[EuiCodeBlock] Expand focus ring to encompass the controls"
#4463 Introduced tabbing behavior of the `<pre>` block within **EuiCodeBlock** which will cause a focus-ring of just the `<pre>` element when tabbing into it (Amsterdam only right now).

<img width="977" alt="Screen Shot 2021-02-02 at 16 12 31 PM" src="https://user-images.githubusercontent.com/549577/106663494-c8d45300-6571-11eb-87c3-6f3061b63ef9.png">

We should figure out a way to allow that foc

[2021-02-05 17:24] mdefazio opened #4492 "[EuiSteps] Add more flexibility/customizability"
In our recent refresh to Index Lifecycle Management, we have a need to present options in a vertical timeline-like format to indicate the life cycle of data. Our design includes a set of icons that tie together vertically with a line, beside a set of panels that house the various options for that step. I suppose semantically speaking, this is closer to `EuiSteps`, but visually we felt `EuiComment`

[2021-02-05 17:49] chandlerprall opened #4493 "30.6.1 patch release for Kibana 7.11"
Backport release of #4479 for Kibana 7.11, reason in https://github.com/elastic/eui/issues/4273#issuecomment-769263086:

- [x] publish v30.6.1
- [x] upgrade Kibana 7.11 branch https://github.com/elastic/kibana/pull/90487

[2021-02-05 19:46] chandlerprall opened #4495 "Docs take a long time to load"
Especially in dev, but also true in production builds. Our docs prod build has grown to the point of a 3.9mb bundle (which is significantly better than I expected) that takes ~7s to parse & execute on my MBP before the page is available.

Will use this as a tracking issue to audit and resolve the bottlenecks

- [x] audit initial docs load
- [ ] lazy-fake data for virtualization examples (85% of cu

[2021-02-05 20:39] #3765 closed

[2021-02-05 21:18] chandlerprall commented on #4493
Merged into Kibana's 7.11 branch, /cc @timroes

[2021-02-05 21:18] #4493 closed

[2021-02-05 23:35] #4478 closed

[2021-02-07 17:00] akashgp09 opened #4498 "[EuiDataGrid] Does not return back to it's original Dimension"
The `EuiDataGrid` does not return  back to it's original dimension on clicking `Exit Full Screen`

<img src="https://i.imgur.com/M0jUxDX.gif">

[2021-02-08 14:38] bhavyarm opened #4499 "Cannot add data-test-subject to the arrow which expands sections in side nav"
I was fixing a skipped a11y test on Kibana home under x-pack and ran across this problem. I cannot add data-test-subject to this part highlighted in red circle. This is in  src/core/public/chrome/ui/header/collapsible_nav.tsx
[code]

<img width="1792" alt="Screen Shot 2021-01-29 at 4 56 25 PM (1)" src="https://user-images.githubusercontent.com/7074629/107234052-432d2900-69f1-11eb-9d56-dcfd32117afa

[2021-02-08 19:31] jportner opened #4500 "[EuiAvatar] Add support for isDisabled property"
In implementing elastic/kibana#89344, I have found myself needing to differentiate between different Kibana spaces. We are building components that plugin owners can reuse to implement sharing for saved objects (e.g., show a list of other spaces that an object exists in, show a flyout to allow the user to change the selected spaces). However, we may have a situation where the user is using a featu

[2021-02-08 19:36] snide commented on #4500
Just spitting out ideas for whoever picks this up. Visually this will be tough. Only thing I can think up is we grayscale the badge (which could require a css filter for the images) with a `cursor: not allowed`. Avatars aren't by nature clickable like badges, and get most of that functionality through common props (href/onclick).

[2021-02-08 20:10] chandlerprall commented on #4498
This is fixed by #4468

[2021-02-09 11:44] oyemini-fortifieddata opened #4502 "mocking htmlIdGenerator doesn't seem to work"
I tried to mock the generator to accomplish this but couldn't get it to work.

I would have provided an codesandbox example but the jest.mock is not yet supported.

[code]

[2021-02-09 14:50] thompsongl commented on #4502
Try this instead:

[code]

[2021-02-09 15:11] oyemini-fortifieddata commented on #4502
10x, I already tried it, also not working.

[2021-02-09 17:41] chandlerprall commented on #1854
Some thoughts on this from our weekly:

* shift focus to the validation errors when the box appears, better for screen reader support & can scroll it into view
* in addition to above/below, is there a version of the component that returns the validation errors element, allowing it to be placed anywhere in the form
* pattern familiarity & recognition - does this or related changes cause confusion f

[2021-02-09 17:53] pickypg commented on #3338
Thanks! I'll reopen this if I can reproduce it.

[2021-02-09 17:53] #3338 closed

[2021-02-09 18:41] chandlerprall commented on #4502
Created an new project with only the necessary dependencies, the snippet provided by @thompsongl works for me. I did adjust:

* added React import (I assume you're using the new auto React import preset)
* removed the jest import, neither `import jest from` and `import * as jest from` ran for me

One other thing you can try is changing the `lib` directory in the mock to `es` or `testenv`. The righ

[2021-02-09 20:45] chandlerprall commented on #4489
Can you explain or provide how your project's hot reloading is configured? i.e. which tools/packages provide that functionality, and at what level the hot reloading is configured in your application.

[2021-02-09 20:54] #4436 closed

[2021-02-09 21:03] chandlerprall commented on #4485
If I'm reading the original comment correctly, the issue isn't that the component throws an error, it's that the docs say the properties are ignored (implying throwing them away but still rendering), however the component throws an error and breaks.

[2021-02-09 21:06] chandlerprall commented on #4483
Related with #4401 as we want to find a unified API to solve both built-in and application-defined row highlighting.

[2021-02-10 06:00] jeroenbrouwer commented on #4489
Using `react-hot-loader` that hot reloads our root `<App/>` component, which is the component that `ReactDOM` renders into a `<div>`. The tool used to serve the code is `webpack-dev-server`.

I know that `react-refresh` is probably a better alternative now and might even solve this problem in a different way, but this is the first and only problem I've run into so far with hot-reloading.

[2021-02-10 06:43] jeroenbrouwer commented on #4489
I decided to try out `react-refresh` instead, this solves the problem.

[2021-02-10 08:01] oyemini-fortifieddata commented on #4502
Awesome! The issue was I had the mock action inside my test.
When moving it outside of it and using your full path mock action, it works.
any idea why it should be outside? anyway, you can close it thanks!

[2021-02-10 08:09] joselcvarela commented on #4485
@chandlerprall it's exactly that.

@cchaos you are maybe right, but since the docs says they are ignored, I was only adjusting the layout prop, not being worried about the other props, because the component should ignore them. But what occurs is the other props should be handled accordingly too, otherwise the component breaks.
In the end, they are not ignored.

[2021-02-10 08:13] katrin-freihofner opened #4506 "[EuiPagination] add a variation with next/previous buttons only"
I'd like to discuss an additional variation of the pagination that only uses next and previous buttons (without showing the number of pages). This could be especially useful for us when it comes to performance improvements.

Although there might be some usability drawbacks (not knowing the total number of pages), the load performance of our tables would benefit and therefore the user experience.

[2021-02-10 08:31] shahzad31 commented on #4506
This will be defenitely useful for many usecases, in uptime we had to do a custom implementation below table.

[2021-02-10 10:21] weltenwort commented on #4506
This is also true for the Logs UI. A common pattern would be a good idea. :+1:

[2021-02-10 12:03] #4308 closed

[2021-02-10 14:01] #2894 closed

[2021-02-10 15:41] jasonrhodes commented on #4506
I'd go even further than Katrin to say that I think this should probably be _the default_ for EUI pagination, given the way that Elasticsearch is designed to work. We've uncovered the situation a ton in our UIs where we are doing queries to show the full range of pages when we really didn't need to show the full range of pages. By having the default pagination work in the way it does now, it encou

[2021-02-10 16:21] #4457 closed

[2021-02-10 16:50] chandlerprall commented on #4506
Was going to suggest making some minor breaking changes to **EuiPagination** to require `activePage` and remove the default for `pageCount`, but I think a pagination bar with unbounded/unknown pages needs to be more flexible. Everyone please correct me / add to this list, practical needs appear to be:

* unknown page count, has lower bound - starts at page N but unknown length of result set
* unkn

[2021-02-10 16:55] #4224 closed

[2021-02-10 18:37] cchaos commented on #4499
Hey @bhavyarm , I'm working this one out for you. Quick question, are you specifically trying to target just the arrow icon? I assume you actually just need a `data-test-subj` on the whole accordion triggering button which actually includes that whole heading in your screenshot (Logo and "Analytics").

<img width="551" alt="Screen Shot 2021-02-10 at 13 30 34 PM" src="https://user-images.githubuser

[2021-02-10 18:41] bhavyarm commented on #4499
Yay Thanks @cchaos - we just need it on the whole accordion triggering button.

[2021-02-10 19:47] chandlerprall commented on #4502
Jest moves the `jest.mock` calls above the `import`s (which are transpiled to `require`), as it needs the mocking information prior to resolving the other files. When `jest.mock` is not top-level, it isn't hoisted above the imports. Sometimes that works, but is usually not the desired functionality.

[2021-02-10 19:47] #4502 closed

[2021-02-10 20:32] #4498 closed

[2021-02-10 21:47] #4499 closed

[2021-02-11 10:36] formgeist opened #4512 "[EuiBadge] Update the docs to exemplify the HTTP status color codes used in Observability"
# Summary

Related to https://github.com/elastic/eui/pull/4508

I would like to update the component docs to exemplify the use of the `euiPaletteForStatus` in the badges for HTTP status code as it will be used in Observability. Currently, the component is only using the default color palette or custom colors. It would be nice to extend it to use the `euiPaletteForStatus` as well in this case.

<im

[2021-02-11 19:07] #4473 closed

[2021-02-11 21:05] j-m opened #4514 "[EuiDataGrid] How should I test whether a row is rendered?"
For context: from my understanding, in React you test things mostly as black-box, that is, you don't test each individual function, but rather "when I do x, y happens" and assert the DOM. So, I want to test "when I click this button, a row is added to the table", and "when I click a row's delete button, that row is removed".

Trouble is, when using React Testing Library, the table only outputs
[co

[2021-02-13 20:05] oyemini-fortifieddata commented on #4514
I'm having the same issue with react testing library, just wanted to post a new issue when I encountered this one.
The DataGrid component wasn't generating any children when testing. I also tried with a test from your own repo:
the **renderCellValue** doesn't get called.

[code]

[2021-02-14 12:38] fatehMohamed14 opened #4518 "Attempted import error: 'EuiButtonToggle' is not exported from '@elastic/eui'."
Why **EuiButtonToggle** is missing on version 31.7.0? by i can find it the components list in the docs :
https://eui.elastic.co/pr_3846/#/navigation/button

[2021-02-14 17:55] akashgp09 opened #4519 "[Docs] Invalid link in FAQ"
Broken link FAQ file directing to 404 error page

## Screenshots

<img src="https://i.imgur.com/Sdv10SJ.png">

<img src="https://i.imgur.com/Fq5lx9J.png">

[2021-02-14 23:51] snide commented on #4518
You can see on the breaking changes of EUI@30.0.0 we removed that component for more consistent a11y controls.

You can find a documented upgrade path in https://github.com/elastic/eui/pull/4056

[2021-02-14 23:51] #4518 closed

[2021-02-15 09:57] git-anurag-hub commented on #4215
@smhutch I am working on this.

[2021-02-15 10:35] git-anurag-hub commented on #4215
This is working fine I think this is not an issue now I am not able to replicate this.

[2021-02-15 11:15] smhutch commented on #4215
Thanks for taking a look @git-anurag-hub. I can still see the issue in the [demo](https://codesandbox.io/s/black-platform-xs8tn?file=/index.js). To clarify, the issue is only shown in the first date picker shown. The second date picker shows a proposed solution.

[2021-02-15 11:32] #4519 closed

[2021-02-15 11:49] Dosant opened #4521 "[EuiPopover][EuiSuperDatePicker] Blurry popover content when opening in Chrome"
**Eui version**: 31.4.0
**Kibana version:** 7.7 onwards (at least)
**Browser version:** Chrome 88.0.4324.96

**Describe the bug:** When clicking on the time picker in Kibana (Discover, for example) the time picker is quite blurry for a fraction of a second.

I think that the same behavior in any popover in EUI examples, but most noticeable in super date picker

Firefox has a slight and quite accep

[2021-02-15 11:54] fairhat opened #4522 "Replace Anchor Components with Custom Link components"
is it possible to replace anchor components (\<a />) with custom one's globally?
For example the collapsible nav has "href" properties for navigation items, but it always renders as \<a />.
I know it is possible to use onClick instead, however especially for Collapsible Nav the behavior on mobile is very different from using the "href" attribute. Using onClick forces the user to double click to op

[2021-02-15 11:58] git-anurag-hub commented on #4215
@smhutch got the problem the problem lies inside this `showTimeSelectOnly` when this is enabled doesn't do right thing.

[2021-02-15 12:11] fairhat commented on #4522
For now this css query seems to work:

[code]

However this obviously unsets the background color onHover.
This seems related to this problem: https://css-tricks.com/annoying-mobile-double-tap-link-issue/

[2021-02-15 13:40] git-anurag-hub commented on #4215
![Screenshot 2021-02-15 at 7 09 56 PM](https://user-images.githubusercontent.com/58766532/107953645-66dc0a80-6fc1-11eb-9d98-c04d1afe6d61.png)

@smhutch Is this good?

[2021-02-15 14:45] miukimiu opened #4523 "[EuiDataGrid] No rows are displayed in Chrome for Linux"
### Issue

No rows are displayed in Chrome for Linux.  This issue was originally reported in https://github.com/elastic/kibana/issues/91373.

### More info

The **EuiDataGrid** works fine in Kibana 7.11.1.  It seems that this issue was introduced when EUI was updated to v31.3.0 in Kibana.

cc: @pheyos

[2021-02-15 15:39] smhutch commented on #4215
@git-anurag-hub that looks good to me. Thanks! 👍

It might be worth confirming with @cchaos or @thompsongl to confirm they are happy with this approach.

[2021-02-15 16:46] git-anurag-hub commented on #4215
Can I open the pr? @smhutch

[2021-02-16 03:35] snide commented on #4521
Also noticed this today AFTER doing a manual Chrome update. This is definitely related to the transform being applied. This appears in other transforms as well.

[2021-02-16 09:42] kertal opened #4526 "[EuiDataGrid] Inverse handling of boolean sorting"
EuiDataGrid should switch handling of Boolean sorting. When there's ascending sorting, `false` values should be first, and the sorting text should be `Sort False-True`.

<img width="381" alt="Bildschirmfoto 2021-02-16 um 10 40 20" src="https://user-images.githubusercontent.com/463851/108045146-67b58080-7043-11eb-8f37-4aa3ab5d959d.png">

Discovered by @flash1293 while testing Discover. Sorting is d

[2021-02-16 13:46] j-m commented on #4514
@chandlerprall Any ideas what we should do? Apologies for @ ing you, but you always seem to pop up with grids.

 If you've tested the DOM output, but used something other than React Testing Library, then I'm all ears; any advice is much appreciated

[2021-02-16 14:57] cchaos commented on #4521
Ugh Chrome, what are you doing?! I, honestly, remember this being an issue back in the day when a transform would land on a half pixel. Looks like they've reintroduced it? I'm really not sure what the course of action is here because it's definitely a Chrome bug (or do they call it a feature 😦 ) and we can't just turn of all transforms.

[2021-02-16 15:18] cchaos commented on #4521
Also, I"m on Chrome 88 Mac, and I see the blurryness of the popover content **while** the popover is animating, but when it comes to rest it's crisp again.

[2021-02-16 15:23] cchaos commented on #4521
It seems adding `will-change` **does** fix this, but at what cost? https://developers.google.com/web/fundamentals/design-and-ux/animations/animations-and-performance

[2021-02-16 15:54] Dosant commented on #4521
@cchaos, yes, this is what I meant. sorry if it wasn't clear from the description.

[2021-02-16 16:05] cchaos commented on #4521
I've setup a PR here if you all wouldn't mind giving it a spin. You can wait for the CI auto-build. https://github.com/elastic/eui/pull/4527

[2021-02-16 16:29] cchaos commented on #4413
I think the problem is further reaching than just changing EuiText's rendered component to a `<span>` since EuiText styles target specific text elements like `<p>` and heading tags. So you'd still get invalid warnings. We could add a callout warning to that specific docs example, but I don't think there's actually any practical way to solve this without just removing the example entirely.

[2021-02-16 16:59] cchaos commented on #4506
Before we get into the specifics of the engineering side, I'd love to hear more about the proposed user experience of it. @katrin-freihofner I'm guessing this is stemming from a specific problem being faced in Observability. Could you explain more of the type of feedback you've been receiving on the current implementation and how this proposal will mitigate those?

[2021-02-16 16:59] oyemini-fortifieddata opened #4528 "Datagrid- not responsive when inside multiple flex items in a row group"
I didn't find any documentation on how to fix it.
when resizing the browser it seems like a single item is responsive, but a multiple in a row are not.

I've an example [here](https://codesandbox.io/s/euidatagrid-xb70e?file=/index.js)

![image](https://user-images.githubusercontent.com/70780472/108095872-031d1480-7089-11eb-90cc-fea4f14e30fe.png)

[2021-02-16 17:03] cchaos commented on #4528
This is actually a flex model issue and not a EuiDataGrid specific one. Try adding `min-width: 0;` to those flex items. https://css-tricks.com/flexbox-truncated-text/

[2021-02-16 18:08] chandlerprall opened #4529 "[Meta] CSS-in-JS + theming rollout plan"
This is intended to reduce the number of breaking change releases to only 1, document the expected upgrade process both within EUI and by consuming applications, and be transparent about our timeline.

### Feature branch
https://github.com/elastic/eui/tree/feature/css-in-js | #4511

### PRs
- [x] [CSS-in-JS] Context and foundation #4440
- [x] [CSS-in-JS] Support extensions via overrides prop #4547

[2021-02-16 18:28] thompsongl commented on #4487
Related: https://github.com/elastic/eui/issues/4129

[2021-02-16 18:43] parkiino opened #4530 "[EuiBadge] Support onClick & href"
Type check fails when you have both an `onClick` prop and an `href` prop. Even if you are not using `iconOnClick`, if you have an `href` prop, type check requires `iconOnClick` and `iconOnClickAriaLabel`.

The EuiBadge type is inferred since type check knows it can't be an anchor because there's an onClick and it can't be a button because there's an anchor, so it must be the last type, which is ic

[2021-02-16 18:50] chandlerprall commented on #4530
@cchaos just to confirm, we want **EuiBadge** to work similarly to **EuiButton** and support both `href` & `onClick` props together?

[2021-02-16 18:57] cchaos commented on #4530
Yep, that's fine. I still like our ESLint warning, but we should still allow it for special cases.

[2021-02-16 19:01] cchaos commented on #4528
I was able to fix it with that `min-width` trick here: https://codesandbox.io/s/euidatagrid-forked-yje5v

[2021-02-16 19:01] #4528 closed

[2021-02-16 19:14] cchaos commented on #4416
I'm actually running into this right now where I really would like EuiPanel to render `as` a different element like `<main>` for the page layout stuff. I tried re-creating how [EuiPageBody](https://github.com/elastic/eui/blob/master/src/components/page/page_body/page_body.tsx) is handling it, but ran into issues when the panel could be a button because of an `onClick`.

[2021-02-16 20:28] thompsongl commented on #4522
It's not currently possible to substitute a component globally, but it is on our radar: #4439
Replacing `EuiLink` with a router library `Link` component will likely be one of the first options, but this isn't on the roadmap just yet.

[2021-02-16 21:03] chandlerprall commented on #4514
There is not currently a great solution for this, but I'll try to summarize my thoughts. Couple complications to start with,

* Because of the virtualization work, only visible cells are rendered (+1 hidden column and row in each scrollable direction)
* **EuiDataGrid** responds to its DOM container to determine its size, and consequently what cells are rendered
* `jsdom`, used by jest, does not im

[2021-02-17 08:16] flash1293 opened #4532 "[EuiDataGrid] Performance issue when row count changes while pagination is enabled"
Via https://github.com/elastic/kibana/pull/89264#issuecomment-779818989

This recent change introduced a performance issue in data grid if pagination with a high number of rows per page is used and the row count changes: https://github.com/elastic/eui/pull/4509/files#diff-7fd629564b805d7d5c25b7c9bc1e570afc0d443fa880192698fc13fe9776a729R516-R520

If `height` is set to undefined, `unconstrainedHeigh

[2021-02-17 11:32] Dosant commented on #4521
@cchaos, with the fix it is definitely sharper 👍

[2021-02-17 14:01] JasonStoltz opened #4533 "[EuiRange] `onChange` type can be difficult to work with"
The type for the `onChange` prop of `EuiRange` is a bit confusing.

The current type is as follows:
[code]

The docs show the following example:
[code]

If you actually attempt to do that within TS, you'll receive the following error:

So what it appears most folks do, is simply either ignore that error, or cast directly to `React.ChangeEvent<HTMLInputElement>`.

https://github.com/elastic/kibana/

[2021-02-17 15:29] #2380 closed

[2021-02-17 15:29] #4264 closed

[2021-02-17 15:39] cchaos opened #4534 "[EuiPopover] Some contents blinks in Safari"
This doesn't seem to happen on other EuiPopover instances from what I can tell. Though **could** be attributed to some auto-focus bit. But the contents is there during the animation, then when the animation stops the content disappears for a moment then reappears. (Only in Safari)

https://user-images.githubusercontent.com/549577/108227874-53898600-710c-11eb-82b5-dc91c87ab1db.mp4

[2021-02-17 16:09] j-m commented on #4514
What's the reasoning for 500x500? Would it be possible so that EuiDataGrid, in a test environment, shows all columns and rows by default?

<hr/>

Oh for sure! Integration vs unit is a heated topic everywhere.
I'd argue that from the moment you render a component in a test, it becomes an integration test.

Any business logic that can be taken out of a component (is idempotent) should be, e.g. for "

[2021-02-17 16:11] cchaos commented on #3653
@miukimiu , How do you see the dependencies of this Illustration repo and EUI working together? For instance, what if an Elastic product (like the website) wants to use the illustrations repo, but isn't consuming EUI?

[2021-02-17 16:24] j-m opened #4535 "[EuiHeaderSectionItemButton] Prop `disabled` does not change styling"
An `EuiHeaderSectionItemButton` with the `disabled` prop prevents the `onClick` callback, but still changes background colour on hover.

The accepted props for `EuiHeaderSectionItemButton` aren't directly listed in the docs, so I don't know whether `disabled` is actually a supported feature or not.

[2021-02-17 16:30] cchaos commented on #4535
I've noticed several issues with this component, like not allowing for `href` either. I'm currently working on updates to it and will keep the `disabled` state in mind to check.

[2021-02-17 16:32] j-m commented on #4535
Awesome, sounds good! Also worth mentioning, I'm still using the old theme, not Amsterdam

[2021-02-17 17:43] thompsongl commented on #4533
Yep, I agree that the type is unnecessarily confusing for consumers.
My initial read is that the event should be typed as `React.ChangeEvent<HTMLInputElement>` and that we handle any `button`-related casting internally and that complexity be hidden from consumers.

[2021-02-17 18:37] chandlerprall commented on #4514
I picked a round number that worked for our tests 😅. Thinking through this more, I think `infinity` should be a valid & workable value in jest. I'll test that out.

All excellent points. I commented that EUI doesn't follow my preference not as a negative to EUI, but that mine is only an opinion and there are multiple valid approaches and tooling. We'd like to have a better understanding of the var

[2021-02-17 18:59] hbharding commented on #4506
Hi @cchaos - happy to chime in here. @jasonrhodes and others, please correct me if anything I say is wrong, or add more detail as you see fit.

My understanding of the problem is that showing page numbers ( i.e. 1 2 3 4 ... 999 ) requires ES to lookup the entire dataset, even though we might only be showing 10 results at a time. For large datasets, this can be a very memory-intensive query for ES

[2021-02-17 19:08] #4521 closed

[2021-02-17 19:28] myasonik opened #4536 "[EuiSuperDatePicker] Remove static ID"
EuiSuperDatePicker uses a static IDs which breaks expectations that IDs are unique.

If multiple of this same component are rendered on a page at a time (which Kibana has recently started doing), this has the potential to cause problems with assistive tech and also makes running automated tests a struggle because each instance is flagged as an issue generating a lot of noise.

It should be replace

[2021-02-17 19:28] cauemarcondes opened #4537 "[EuiSuperDatePicker] Add "Round to" flag on commonly used section and expose a property to enable it by default"
On the `Relative` tab there's a flag called `Round to the ${unit}` that when enabled rounds the selected time.

<img width="619" alt="Screenshot 2021-02-17 at 13 25 08" src="https://user-images.githubusercontent.com/55978943/108256796-e84fac00-712b-11eb-9688-1e10800991c6.png">

I would like to have a similar flag on the commonly used section:

<img width="641" alt="Screenshot 2021-02-17 at 13 46 5

[2021-02-17 19:52] cchaos commented on #4215
Closed by #4524

[2021-02-17 19:52] #4215 closed

[2021-02-17 20:08] GaganAgarwal77 commented on #4536
@myasonik Can I work on this issue?

[2021-02-17 20:26] myasonik commented on #4536
Yup, but you don't need to ask

From our [Contributing Guidelines](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md#how-we-assign-work-and-define-our-roadmap):

[2021-02-18 05:13] git-anurag-hub commented on #4500
I am taking this up! @snide @cchaos

[2021-02-18 06:15] snide opened #4541 "EUI 31.7.0 backports for 7.12"
Backports to apply for EUI 37.1.0 to add to 7.12 release.

cc @flash1293 for tracking.

- [x] Revert background color on Data Grid background content. https://github.com/elastic/eui/pull/4542
- [ ] [EuiDataGrid] Performance issue when row count changes while pagination is enabled https://github.com/elastic/eui/issues/4532

[2021-02-18 08:31] flash1293 commented on #4541
Thanks for opening this @snide - as we decided to not make data grid the default discover experience in 7.12, #4532 isn't critical, so no need to squeeze it in.

[2021-02-18 09:51] j-m commented on #4514
Awesome! Thank you

So far the main problem has been with `EuiDataGrid` but, given the complexity of the component, this was hardly a surprise.

As everything needs to be found be a role, you can't/shouldn't find elements by classnames but use accessible names instead. `EuiLoadingContent` has no easy way to be found as, surprisingly, it has no accessibility roles. So, I pretty much always use the

[2021-02-18 10:50] weltenwort commented on #4506
Very well put, @hbharding :clap:

If I may try to answer those...

It would be possible by inverting the sort order while querying and then inverting again when displaying. The performance characteristics should be the same as displaying the first page, because the last page is essentially the first page when sorted the opposite direction.

Showing the total count is relatively expensive because t

[2021-02-18 13:30] git-anurag-hub commented on #4500
Do I need to make another section in doc for this feature.

[2021-02-18 15:06] snide commented on #4500
Adding an example to the existing section should be enough.

[2021-02-18 15:18] git-anurag-hub commented on #4500
Okay👍🏼

[2021-02-18 15:23] jportner commented on #4500
I just realized that EuiBadge's property is `isDisabled`, I updated the title and description of this issue to stay consistent 🤭

[2021-02-18 15:53] chandlerprall opened #4544 "[EuiMarkdownEditor] UI plugins array incorrectly typed"
When trying to push a `EuiMarkdownEditorUiPlugin` object to the array created by `getDefaultEuiMarkdownUiPlugins`, TypeScript errors about `IconType` (from the type) not matching `string` (from the array). The creation method's return value needs to be explicitly typed.

[2021-02-18 16:50] dej611 opened #4545 "[EuiSelectable] Missing or partial documentation and types"
I've recently implemented a component with EuiSelectable (within a popover - see https://github.com/elastic/kibana/pull/91844) in Lens and want to share some feedback on the documentation. Hope this is helpful.

* The `onChange` signature (`EuiSelectableSearchProps`) of the `searchProps` is slightly different compared to the one in `EuiFieldSearch`:
  * Intellisense is showing the different signat

[2021-02-18 17:21] chandlerprall opened #4546 "[EuiCard] card's children is an escape hatch but description is still required"
**EuiCard**'s [_Custom children_](https://elastic.github.io/eui/#/display/card#custom-children) example states

but even in that case, `description` is always required. There's an additional complication where, if you want the card's description to be a single block-level element, the entire content must be passed as `children` and nothing provided to `description`, as everything in `description`

[2021-02-18 18:28] cchaos commented on #4546
This is something that I have fought with for a long time. This first sentence in the docs has been up there since the creation of EuiCard and was to set the tone for what a card is:

And in a similar vein, the sentence that you copied says:

Means, that a description (rendering as paragraph text) is still required.

But I guess I give up and we'll just need to mark `description` as optional.

[2021-02-18 18:56] git-anurag-hub commented on #4500
![Screenshot 2021-02-19 at 12 25 44 AM](https://user-images.githubusercontent.com/58766532/108406928-11199380-7249-11eb-9367-ac6a60eae091.png)

Does this looks good to you? @jportner

[2021-02-18 18:58] jportner commented on #4500
That's perfect!

[2021-02-18 19:17] git-anurag-hub commented on #4500
![Screenshot 2021-02-19 at 12 46 05 AM](https://user-images.githubusercontent.com/58766532/108409159-dc5b0b80-724b-11eb-9197-55c554045e97.png)

Can you please see this error I can't understand what types do I need to change. (I know it's typescript error). @jportner

[2021-02-18 19:46] git-anurag-hub commented on #4500
![Screenshot 2021-02-19 at 1 11 19 AM](https://user-images.githubusercontent.com/58766532/108412198-91db8e00-724f-11eb-82ff-bfb46c8b0c80.png)
![Screenshot 2021-02-19 at 1 11 39 AM](https://user-images.githubusercontent.com/58766532/108412203-930cbb00-724f-11eb-99f0-8e6db7f189a3.png)

@jportner  Maybe you can help me with this I need to use !important here like that used in badges but commit is sho

[2021-02-18 19:48] cchaos commented on #4500
@git-anurag-hub We have `sass-lint` hooked up in our repo with certain rules, `no-important`s being one of them to try to limit to necessary casses. If you need to commit with the `!important` tag you'll have to do:

[code]

[2021-02-18 19:50] cchaos commented on #4500
And since you're most likely getting this error during the pre-commit hooks, you'll want to install a sass-lint plugin to your editor that can alert you while you're editing.

[2021-02-18 19:52] git-anurag-hub commented on #4500
Okay Thanks for help.:)

[2021-02-18 20:53] #3660 closed

[2021-02-18 20:55] jimmy-e opened #4550 "How to create an integer input with EuiFieldNumber"
Please see [this codesandbox](https://codesandbox.io/s/integer-field-debug-yifrx?file=/src/index.tsx).

I want to create a number input that only accepts integers. It doesn't appear that there are any props on the field number to allow me to do this, so normally what I would do is take the event on `onChange` and not have it mutate the field's values if a decimal has been pressed. However, when yo

[2021-02-18 21:10] chandlerprall commented on #4550
`onKeyDown` is always fired for the decimal (and other) keys, modified your codesandbox to prevent that keystroke https://codesandbox.io/s/integer-field-debug-forked-90jci?file=/src/index.tsx

Unfortunately, none of the `input` attributes help outside of validation. `step` - which defaults to 1 - does not prevent entering non-integer numbers, and `pattern` doesn't apply to numeric inputs. So we're

[2021-02-18 21:58] jimmy-e commented on #4550
Awesome, thanks for the help!!

[2021-02-18 21:58] #4550 closed

[2021-02-19 07:49] wenchonglee opened #4552 "[EuiComboBox] Unable to properly highlight input text with mouse"
Hey,

I recently noticed that if you were to mouse click and drag the text you just entered, you will be unable to overwrite that text by typing over it.

To be more specific:
1. Type `test`
2. Without clicking or pressing enter, drag text `test`
3. Type `abcd`
4. Notice `test` remains and no text can be overwritten

The [codesandbox](https://codesandbox.io/s/juwec) found in the "Custom options on

[2021-02-19 08:58] wenchonglee opened #4553 "[EuiSelectable] Behavior of using Home and End key in searchbar"
Hey,

In `EuiSelectable` (and `EuiSelectableTemplateSitewide` by extension), the `Home` and `End` key is currently configured to move around the options, as seen in the following snippet:

https://github.com/elastic/eui/blob/db3ddc19bf7b4a7d1c7b213d4c97ed32f38b6e7c/src/components/selectable/selectable.tsx#L272-L285

I've received feedback from my users that they expected the `Home` and `End` key t

[2021-02-19 12:19] git-anurag-hub commented on #4492
I am working on this.

[2021-02-19 13:57] sulemanof commented on #4470
Another request for testing purpose, would be great to implement a `debug mode` flag for the grid, like this is done in [elastic/charts](https://github.com/elastic/elastic-charts) lib -> they provide the `debugState={window._echDebugStateFlag}` prop, which enables additional `data-` attribute for the chart container with info for test.
It would be great to have at least simple data, like rows coun

[2021-02-19 15:13] cchaos commented on #4492
Hey @git-anurag-hub , thanks for the interest in this one, but it's going to need more design thought on how best to handle these requests. I'd recommend grabbing from our [list of `good-first-issue`s](https://github.com/elastic/eui/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

[2021-02-19 15:17] git-anurag-hub commented on #4492
Okay np @cchaos

[2021-02-19 15:33] myasonik commented on #4553
🤔 Thanks for bringing this to our attention!

So the reason we do this is because it is recommended by the [ARIA practices](https://www.w3.org/TR/wai-aria-practices/#listbox-popup-keyboard-interaction) spec but it looks like in the [latest version](https://www.w3.org/TR/wai-aria-practices-1.2/#listbox-popup-keyboard-interaction) it tweaks it slightly to only recommend the custom behavior if the te

[2021-02-19 15:57] cchaos opened #4555 "[EuiResizableContainer] Allow for dynamic prop changes"
Mainly, what I'm trying to accomplish is changing the `direction` based on window size. But when that window size changes to where the prop would change, the component breaks and errors out:

https://user-images.githubusercontent.com/549577/108527994-ee1ace00-72a0-11eb-9c0b-c12e7ef8af1b.mp4

My (simplified) setup:

[code]

I tried recreating this in a [codesandbox](https://codesandbox.io/s/vigorou

[2021-02-19 16:22] cchaos commented on #4545
That's because EuiPopover's don't have an intrinsic height. The height is created by the content. Using `full` just sets the height to 100% meant to fill something like a flex-box with grow. ([See Flyout example](https://elastic.github.io/eui/#/forms/selectable#sizing-and-containers)). In a popover, you will have to give the list an explicit height in pixels.

[2021-02-19 16:25] git-anurag-hub commented on #4546
@cchaos can I take this up.

[2021-02-19 16:44] dej611 commented on #4545
Yes, that was the solution I ended up using 👍

[2021-02-19 16:50] dej611 opened #4556 "[EuiSelectable] Expose a way to scroll to specific item"
At the moment the `scrollToItem` seems to be private and cannot be used.
Exposing it will allow to scroll the list to specific items.

[2021-02-19 17:05] thompsongl commented on #4555
This has come up before in #4464, and #4489 is somewhat related.
I can take a look

[2021-02-19 17:06] thompsongl commented on #4464
Closing this in favor of #4555

[2021-02-19 17:06] #4464 closed

[2021-02-19 17:12] chandlerprall commented on #4552
Took a bit of fiddling to find a reliable reproduction:

1. type `test`
2. drag to highlight text, but **start dragging in the containing div instead of the input** (see below)
3. text is highlighted, but typing does nothing

The problem is that the container div, with a `z-index={-1}`:

<img width="412" alt="Screen Shot 2021-02-19 at 10 00 56 AM" src="https://user-images.githubusercontent.com/313

[2021-02-19 17:28] cchaos commented on #4506
Thank you @hbharding for the detailed writeup and possible options. ❤️

This is a great example of trying to compromise between user experience and the underlying tech. Though, just "removing" options from the user seems like a poor compromise. The one thing that the current pagination does clearly is give the user the knowledge of how many entries that table contains. "5 pages of 5 rows" 👍 . Remo

[2021-02-19 17:55] chandlerprall commented on #4553
This makes sense to me, especially as we keep the text cursor in the input even when the options list is "active".

[2021-02-19 18:24] chandlerprall commented on #4506
Re: last page button in options 2&3:

@weltenwort is that still possible if the dataset is unsorted?

[2021-02-19 19:11] hbharding commented on #4506
Thanks @cchaos.

I think that's what I was going for with option 3, buy you've articulated it way better, kudos :tada:

In case the "first" and "last" buttons in option 2&3 are problematic, I realize there could be a 4th option, which would be the same as option 3 but without these buttons.

[2021-02-19 22:16] hetanthakkar1 commented on #4556
can i take this issues!?

[2021-02-19 22:17] hetanthakkar1 commented on #4556
Can i take this issue?

[2021-02-20 03:00] akashgp09 commented on #4553
working on it

[2021-02-20 04:25] chandlerprall commented on #4556
Go for it! The new `scrollToItem` method on **EuiSelectable** should be able to call into the selectable component's `optionsListRef.setListRef` which already has its own `scrollToItem`.

[2021-02-20 06:12] git-anurag-hub commented on #4526
Working on this @chandlerprall @kertal

[2021-02-20 07:08] git-anurag-hub commented on #4526
@kertal Isn't this also a feature for the date field. As it is also sorted on the basis of the text.

[2021-02-20 07:11] hetanthakkar1 commented on #4556
okay got it.i am on it

[2021-02-20 07:11] hetanthakkar1 commented on #4556
okay , i am on it

[2021-02-20 16:12] git-anurag-hub commented on #4526
@chandlerprall maybe i need to pass the another field in the columms props to let know that the value in the field is bool. Is that okay.

[2021-02-20 18:18] patelaryan7751 commented on #4546
can i work on this issue?

[2021-02-21 12:57] git-anurag-hub commented on #4534
@cchaos If this doesn't need any design work I am willing to work on this. Also just to know is this bug only exist in safari.

[2021-02-21 13:19] git-anurag-hub commented on #3923
@nyurik I can't replicate this issue can you please check the codesandbox again.

[2021-02-21 13:45] mhtocs commented on #4556
+1

[2021-02-21 14:33] hetanthakkar1 commented on #4556
@chandlerprall thanks ! I have submitted PR . Could you please review it

[2021-02-21 16:08] cchaos commented on #4534
Shouldn't be a design specific issue and yes only in Safari. Thanks!

[2021-02-21 16:20] git-anurag-hub commented on #4534
Working on it.

[2021-02-21 20:39] hetanthakkar1 commented on #4544
Can i take this issues ?

[2021-02-22 00:07] nyurik commented on #3923
@git-anurag-hub I just retried it with the latest EUI -- still the same issue. See https://codesandbox.io/s/relaxed-merkle-rkotj?file=/index.js  (tried in Chrome 88.0.4324.182 on Linux Mint 20.1 Cinnamon)

[2021-02-22 01:19] wenchonglee commented on #4553
That was quick!

Thanks @myasonik for linking both ARIA specs, I had no idea they included comboboxes 🧐

[2021-02-22 05:56] git-anurag-hub commented on #4534
@cchaos I got the solution for this I believe that properties assigned to `*:before`, `*:after` cause recent versions of Webkit to evaluate these pseudo elements for all elements whenever a repaint occurs. You can reproduce this effect on any website by using the web inspector to add any style rule to the `*:before`, `*:after` selector. When you resize, repaints will trigger and you'll see :before

[2021-02-22 08:39] katrin-freihofner commented on #4506
I'd like to add that there might be different use cases. The two examples that come to my mind are:

1. I have a small environment (maybe just set up) with < 100 hosts.
2. I have a very large environment with ~10,000 nodes.

While for the first use case it might be interesting to know the exact number of hosts, for the second one it is probably not important. Such a large environment is likely aut

[2021-02-22 09:23] shahzad31 commented on #4506
I think performance aspect of pagination may not be as prominent as we think if we think of pagination in terms of how people use it. I mean really in most cases pagination is mostly for visibility purpose, i don't have a data to back this, but user hardly click beyond first page, maybe in rare case second page. Users are more likely to use pagination if they have few pages and data is sorted.

So

[2021-02-22 12:18] git-anurag-hub commented on #3923
Got that (Just realized it works in mobile view :\).

[2021-02-22 13:49] jasonrhodes commented on #4506
Hey all!

Thanks for the write-up, @hbharding -- I think it's an excellent summary of the problems we've encountered.

This is fair, I'd just like to challenge some of our assumptions about features that users need in all cases, or even most cases. Especially in light of the type of data we are typically showing in our UIs and the capabilities we can offer them. We'll always have the full paginati

[2021-02-22 13:50] jasonrhodes commented on #4506
@shahzad31 can you elaborate? It sounded like you were saying numbered pagination may not be that useful but then this last sentence says you think we should always go with number pagination? Just trying to make sure I understand what you are suggesting, thanks!

[2021-02-22 14:00] shahzad31 commented on #4506
@jasonrhodes i think in most cases where performance isn't a big concern we should go with number pagination. Performance only becomes a concern if user wants to view i guess 20th page or 150th page depending on the data set, which almost never happens.

Even though user is unlikely to use all pages but from UX perspective number pagination is most familiar approach.

[2021-02-22 14:02] jasonrhodes commented on #4506
@shahzad31 the performance problem (one of them) is in the query that is needed to retrieve all pages and show them as a numbered set.

[2021-02-22 14:06] shahzad31 commented on #4506
@jasonrhodes i got your point so it seems like it's an offline paginated pages instead of using 'from' parameter in es query. In that case it make sense.

[2021-02-22 15:23] weltenwort commented on #4506
@shahzad31 There is a limit as to how far you can paginate with `from`, which is set to 10000 by default. And since that limit can be configured by the ES admin you can't even rely it being a well-known value. It also limits the ability of ES to rewrite the query to skip shards, which can be significant when dealing with cold data tiers and runtime fields.

@jasonrhodes That hierarchy makes total

[2021-02-22 15:26] weltenwort commented on #4506
Is it ever really "unsorted", not just implicitly so sometimes? You could always sort by `_doc` for the cheapest consistent order.

[2021-02-22 16:28] chandlerprall commented on #4546
@patelaryan7751 go ahead; any issue not assigned + doesn't have a comment with someone actively working on it is free to take on!

[2021-02-22 16:31] lukeelmers commented on #4506
I was asked to chime in based on a [related discussion happening in Kibana](https://github.com/elastic/kibana/issues/91562#issuecomment-782238241) -- thought I would add a few thoughts on UX as well as some more context on Elasticsearch's technical constraints here.

First, on the UX side, I'm +1 to [Jason's proposal](https://github.com/elastic/eui/issues/4506#issuecomment-783389057), in particula

[2021-02-22 17:42] chandlerprall commented on #4544
@hetanthakkar1 go ahead! Should be a small change defining `getDefaultEuiMarkdownUiPlugins`'s return type as `EuiMarkdownEditorUiPlugin[]`

[2021-02-22 17:56] cchaos commented on #4506
Great discussion!

I'm going to summarize in terms of what we can/should be doing in EUI to support these use cases.

1. **Always be clear to the user about the total results.** There needs to be a clear indicator of how many (and if not all results) have been returned and are included in the table. Just a simple count can do. Also, a nice summary of results at the top of the table goes a long way

[2021-02-22 18:18] git-anurag-hub commented on #4552
I am working on this:) @chandlerprall @wenchonglee

[2021-02-22 18:18] hetanthakkar1 commented on #4544
thanks @chandlerprall  i am on it

[2021-02-22 19:06] #4553 closed

[2021-02-22 19:09] weltenwort commented on #4506
Thank you for the consise summary. I'm not sure it pays tribute to the motivation that underlies the original ask, though. And they don't match the best practices of using the Elasticsearch API.

For example, "Always be clear to the user about the total results" is not something that aligns with what makes Elasticsearch efficient. It forces the developer to choose the slow option of asking Elastic

[2021-02-22 19:43] cchaos commented on #4506
I respectfully disagree with your assumption that these UX behaviors mismatch with Elasticsearch.

Does not necessarily mean you have to give a concrete number. You just have to be clear about what the current results showcase. For instance it can say "Showing **first** 100 results" or "Search results maxed at 1000" or "Results fetched at runtime". This is how you **communicate** to the user what

[2021-02-23 06:28] git-anurag-hub commented on #3923
There is no example regarding expanding of the memory tables I think. It will be good idea if I add it. What are your views @cchaos & @nyurik .

[2021-02-23 10:48] git-anurag-hub commented on #3923
@cchaos @nyurik Can you please review this.

[2021-02-23 12:03] hetanthakkar1 commented on #4544
@chandlerprall  I have submitted a PR. Could you please review it

[2021-02-23 12:05] hetanthakkar1 commented on #4537
@cchaos Can i take this issues ?

[2021-02-23 12:10] hetanthakkar1 commented on #4491
@cchaos Can i take this issue?

[2021-02-23 12:18] hetanthakkar1 commented on #4529
@chandlerprall i want to work on this feature. should i start with it!?

[2021-02-23 12:21] hetanthakkar1 commented on #4425
I am working on this

[2021-02-23 12:25] hetanthakkar1 commented on #4529
@chandlerprall  i want to work on this feature, Could you please tell me how should i procedd

[2021-02-23 12:26] hetanthakkar1 commented on #4529
@chandlerprall, I want to work on this feature, Could you please tell me how should i proceed

[2021-02-23 14:16] jasonrhodes commented on #4506
Yeah, I think in many cases this is the most performant approach (fetching new data when the user clicks next, and doing a new ES call on every sort). Especially in cases where, like most observability cases, we don't expect a user to need to move past the first page of results very often.

This reminds me of the discussions around how to bundle JS files, whereas we used to try to limit the number

[2021-02-23 15:28] myasonik commented on #4491
From our [Contributing Guidelines](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md):

Go for it! Would love to see a PR for this!

[2021-02-23 15:39] akashgp09 commented on #4293
woking on it

[2021-02-23 16:14] myasonik commented on #4293
@cchaos Do you have a feeling on which approach is best to take here?

Do we just add a `panelDataTestSubj` following the current convention on `EuiPopover`? Or would it be better to ship a breaking change and pass along a single `panelProps` object that seems more inline with other components?

I guess to avoid a breaking change, we could also support both things but that might get messy?

[2021-02-23 16:33] cchaos commented on #4416
I think mostly what I'm looking for at the moment, is a repeatable TS pattern we can start using in components where we want this behavior.

[2021-02-23 16:41] cchaos commented on #4293
We may just want to support both for now. Meaning, keep the existing panel specific props as the exist, but then extend with `panelProps` to encompass all possible props. This way we don't make unnecessary breaking changes since Popovers are everywhere.

[2021-02-23 16:44] snide commented on #4416
Another example of where this came up (with avatars).

https://github.com/elastic/eui/pull/4549#issuecomment-784337050

[2021-02-23 16:45] cchaos commented on #4537
This issue is marked as needs design as it will have to implement a new UI element to handle the feature request. I don't think we have a good path forward just yet.

[2021-02-23 16:47] chandlerprall commented on #4529
@hetanthakkar1 this doesn't have discrete, well-defined tasks at the moment. When the core functionality has landed, we will create a new [Meta] issue similar to #1557 in order to track the SCSS->Emotion conversion progress. At that point we'll be able to take contributions in this area; for now, we are still exploring internally and laying the ground work for that process.

[2021-02-23 17:00] hetanthakkar1 commented on #4529
okay @chandlerprall thank you

[2021-02-23 17:44] cchaos commented on #4529
@hetanthakkar1 , We've got a great [list of `good-first-issue`s](https://github.com/elastic/eui/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) that you may want to start with.

[2021-02-23 18:02] ryankeairns opened #4568 "[EuiTableCell] Default table cell alignment in Safari is mixed"
In https://github.com/elastic/kibana/pull/92374 , it was noted that the table cell content alignment is inconsistent on Safari. Using the `align` prop works for `right` and `center`, as that applies an explicit class, but `left` and `start` appear to have no effect (i.e. they are left to the browser default, I suspect).

In effect, this means you cannot reliably for a left/start alignment on Safar

[2021-02-23 18:11] cchaos commented on #4506
So from an implementation stand point, we're good with the design of being able to simply remove the numbering (similar to the mobile version) and adding optional first/last button. @hbharding's design here:

![Image 2021-02-23 at 1 08 54 PM](https://user-images.githubusercontent.com/549577/108887523-60a8e800-75d8-11eb-9d94-8ab88b5eabaf.jpg)

I think this can simply be an alteration of the current

[2021-02-23 18:25] flash1293 opened #4570 "[EuiColorStops] Allow stepped colors between stops"
The great `EuiColorStops` component allows two modes - `fixed` and `gradient`. For the use case of defining dynamic color palettes in Lens, we identified an additional use case: Stepped gradient between user defined stops.

The user would configure their stops and configure a number of steps, the resulting palette would use the defined stops as fixed points and interpolate between them, just like

[2021-02-23 18:27] hetanthakkar1 commented on #4529
@cchaos  yeah! thank you. I will check them out

[2021-02-23 18:29] hetanthakkar1 commented on #4537
@cchaos okay i will check it out once the design implementation is ready

[2021-02-23 19:14] weltenwort commented on #4506
@cchaos you're right, I was viewing it primarily from the perspective of someone implementing UIs for Elasticsearch, where incremental loading and lazy fetching is a valuable pattern.

I probably interpreted the "always" and "needs to" in your summary more strongly than I should have. Thanks for clarifying.

[2021-02-24 00:41] hbharding commented on #4506
Thanks @cchaos.

re: "**Always be clear to the user about the total results**" ... I still think it's important for the user to have some form of indication, but I get that it might be challenging to build this into a pagination component. When working with data of an unknown size from ES, this information probably needs to come from a separate query for performance reasons, and the text itself ma

[2021-02-24 10:41] mmourafiq opened #4572 "[EuiDatePicker] compressed flag support"
This is a feature request for adding support for `compressed={true}` to `EuiDatePicker` and `EuiSuperDatePicker` similar to other form controls.

[2021-02-24 12:05] Dosant commented on #4147
It looks like this wasn't completely fixed
Bug is reproduced in Kibana in 7.11.1 and master. A bit different steps to reproduce it now:

https://user-images.githubusercontent.com/7784120/108997838-64a03d00-76a0-11eb-8316-98d585ab4dfa.mov

1. Long list of index patterns and  make sure the last index pattern is selected
2. Open popover
3. Click on the first one
4. Didn't work because of the focus

c

[2021-02-24 13:41] cchaos opened #4574 "[EuiDataGrid] Sorting order drag-and-drop doesn't show currently dragging item"
Not sure when this disappeared, and I checked the regular DnD pages that show up fine. Might be a z-index issue.

https://user-images.githubusercontent.com/549577/109009075-15481580-767c-11eb-99d4-8335bd7d5a7b.mp4

[2021-02-24 15:09] #4555 closed

[2021-02-24 17:38] thompsongl commented on #4544
Closed by #4567

[2021-02-24 17:38] #4544 closed

[2021-02-24 18:23] chandlerprall opened #4576 "Disable file watching in CI build"
The dev server's `.ts(x)?` extra file watching is enabled in CI runs when it should be disabled. Need to investigate & disable.

_From: https://github.com/elastic/eui/issues/4564#issuecomment-784320803_

[2021-02-24 18:47] jimmy-e opened #4577 "EuiFlexGroup seems to be causing issues with Storybook"
### To Reproduce:

To reproduce this issue, please go to [this repo](https://github.com/jimmy-e/storybook_eui_debug), and run the following command:

`yarn && yarn storybook`

### Issue:

I want to create a storybook file / page that has full window height. I did this by doing the following:

**.storybook/preview-head.html:**
[code]

I also made sure that the background of my storybook page is pin

[2021-02-24 19:25] chandlerprall commented on #4526
Fixed in #4561

[2021-02-24 19:25] #4526 closed

[2021-02-24 19:58] cchaos commented on #4577
Hi @jimmy-e . Yeah we know that the negative margins we have on our flex groups aren't always ideal, mainly for situations just like this (#937). We're mostly waiting on better browser support for `gap`. What you'll need to do is apply a wrapper that accommodates for this negative margin with padding of the same value.

I emulated your app layout in this codesandbox: https://codesandbox.io/s/objec

[2021-02-24 19:58] chandlerprall commented on #4514
`Infinity` is not a valid replacement as it is provided as css value which does not support that value. However, `Number.MAX_SAFE_INTEGER` works in EUI's test suites. I'll do a custom build in Kibana next to see if it allows us to re-enable those jest tests.

[2021-02-24 21:35] hetanthakkar1 commented on #4491
I expanded focus ring like this which gets focussed when tabbed
![CODEBLOCK](https://user-images.githubusercontent.com/38756320/109068244-94d5f300-7715-11eb-84ad-d6b63271dc9f.png)

@myasonik  @cchaos  But I didn't get his " but continues to only show when :focus-visible" . You mean we need to add a focus-visible class on the block  to add more styles when it gets focussed upon or just focus ring o

[2021-02-24 23:04] cchaos commented on #4491
There's a [CSS pseudo class called `:focus-visible`](https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible). We use this to ensure the focus ring doesn't get in the way of mouse-only users. But it will only apply to the focused element directly. You can't chain something like `:focus-within:focus-visible` in order to surface the focus ring on a parent of the focused element.

I honestly

[2021-02-25 07:02] hetanthakkar1 commented on #4572
I am working on it

[2021-02-25 07:21] git-anurag-hub commented on #4552
https://user-images.githubusercontent.com/58766532/109117389-f0c96780-7767-11eb-833e-60f2d02b07aa.mov

I am not able to replicate it @chandlerprall Any sugessions?
(If this bug due to OS. I am using MacOS 10.15.3).

[2021-02-25 08:41] hetanthakkar1 commented on #4572
@miukimiu  @mouradmourafiq @thompsongl    In EuiDatePicker/EuiSuperDatePicker i added compressed flag to the text field of date picker. Do we also need to compress the date picker modal (the calendar modal from which we selet the date)?

[2021-02-25 11:38] mouradmourafiq commented on #4572
@hetanthakkar1 thank you for working on this.

Regarding the compressed behavior for the modal, I assume that should be the expected behavior, but not essential as a first iteration.

I will however expect a maintainer to comment on that.

[2021-02-25 12:53] hetanthakkar1 commented on #4572
okay i think @cchaos or @chandlerprall can help us

[2021-02-25 13:33] git-anurag-hub commented on #4574
@cchaos  Can you please tell the more about issue as I am not able to replicate this.

[2021-02-25 14:05] git-anurag-hub commented on #4570
I am interested in working on it @flash1293. I got the idea but can you give me a visual example or explain more so that it will be clear to me. (So that we won't have to rework :\ ).

[2021-02-25 15:18] cchaos commented on #4574
As shown in the video above, it's in the EuiDataGrid sort popover.

[2021-02-25 15:19] cchaos commented on #4572
Hey @hetanthakkar1 , this one is going to be more complicated because there's a lot of styling around how these are put together. I'm adding the `assing:designer` label because it will require intense CSS changes.

[2021-02-25 15:21] cchaos commented on #4572
Also, @mouradmourafiq , The EuiDatePicker is scheduled for a rewrite as we're currently dependent on an outside library. I'd like to add this one as a task to that rewrite so it may be awhile before we tackle it. Sorry.

[2021-02-25 15:29] hetanthakkar1 commented on #4546
@patelaryan7751  you still working on this issue?

[2021-02-25 15:42] chandlerprall commented on #4570
@git-anurag-hub let's figure out some of those details you'll need,

@flash1293 how do you see the steps count working with multiple color stops? If we take our example:

<img width="418" alt="Screen Shot 2021-02-25 at 8 38 15 AM" src="https://user-images.githubusercontent.com/313125/109177331-ea75c400-7744-11eb-981a-d904d0d844bc.png">

and imagine it with `stepNumber=10`, is that 10 steps between

[2021-02-25 15:45] jimmy-e commented on #4577
Thanks @cchaos, this helped a lot! Keep up the great work and have a great weekend!

[2021-02-25 15:45] #4577 closed

[2021-02-25 15:56] patelaryan7751 commented on #4546
i am busy with acads yaa you can work

[2021-02-25 15:58] flash1293 commented on #4570
That's a good question, @chandlerprall - I assumed it would have 10 steps between each color stop. cc @markov00

If we go with a total number of steps, the logic to determine the step width becomes much more complex (what  if the stops are not at 0, 10, 20, 30..., 100%? do we extend the step closest to the stop a bit? how do we deal with these non-uniform step widths? What if there are more stops

[2021-02-25 15:59] flash1293 commented on #4570
Kind of a side note, but it would probably make sense to extend https://elastic.github.io/eui/#/utilities/color-palettes in the same way

[2021-02-25 16:36] hetanthakkar1 commented on #4572
Yeah i tried to adjust the height of  Date Picker Model but it involved lots of changes in css of the package

[2021-02-25 21:13] chandlerprall commented on #4552
Instead of clicking at the very beginning of the text,

<img width="124" alt="Screen Shot 2021-02-25 at 2 09 56 PM" src="https://user-images.githubusercontent.com/313125/109217589-435c5100-7773-11eb-8959-e844a350604d.png">

start in the extra white space to the left of the text and then drag outside of the combobox,

![domselection](https://user-images.githubusercontent.com/313125/109217803-891919

[2021-02-25 21:42] chandlerprall commented on #4574
Reproduced in Chrome, FF, and Edge. Unable to reproduce in a very old version of Safari. Might make the difference.

[2021-02-25 23:29] hetanthakkar1 commented on #4546
@chandlerprall  I have submitted a PR for this issue. Could you please review it!

[2021-02-26 00:55] #3743 closed

[2021-02-26 04:43] pickypg opened #4583 "[EuiCard] onClick loses MouseEvent details"
While integrating an EUI with React Router 5.1, I noticed that opening `EuiCard`-based links (by clicking the card itself) in new tabs resulted in the current tab also navigating to the link even though I was actively ignoring `onClick` using the suggested mechanism:

[code]

Upon deeper inspection, I realized that it simply did not recognize that any of those were pressed (on Windows it's normal

[2021-02-26 10:09] j-m commented on #4192
@cchaos Does #4525 close this?

[2021-02-26 10:15] git-anurag-hub commented on #4574
Got that Working on it @cchaos @chandlerprall

[2021-02-26 13:50] j-m opened #4584 "Semver"
In v31 there have been a couple of violations of semver when minor was bumped instead of major.

The two things that impacted me were:
- `31.4.0` which introduced grid virtualisation which changes the default behaviour for a grid's height, i.e. can no longer be a direct child of a flexitem.
- `31.6.0` which deprecated using `EuiOverlayMask` when using `EuiModal` and removed it's `onClick`.
And loo

[2021-02-26 15:59] chandlerprall commented on #4584
Thank you for mentioning both of these, and I apologize for their impact on your project. In retrospect, the datagrid's DOM interaction probably should have stood out more, as we had specific instances in testing where layouts needed to account for it. This one in particular is right on our line when  considering something as a breaking change or not - on one hand we cannot try to account for ever

[2021-02-26 16:39] myasonik commented on #4584
Just to add a thought to the broader discussion of semver (though not directly these issues): it's struck me before how we're a little loose with deprecations.

Sometimes we just remove stuff. Other times, we label something as deprecated in the docs but don't consistently warn in code (and then remove it ~6 months later). But there doesn't seem to be any rhyme or reason on when each case happens

[2021-02-27 01:54] j-m commented on #4584
No problem! I'm just happy that Elastic is so open to community feedback, it's quite rare and definitely valued, so thank you!

I would strongly recommend **automatically** versioning and releasing with _every_ merge.

With a project this big you'll likely end up with minor versions in the hundreds or thousands, but this is desirable; you want the granularity.

[2021-02-27 17:09] git-anurag-hub commented on #4574
Tried solving this @cchaos @chandlerprall figured out where the problem is can't solve it :(

Problem:- https://github.com/elastic/eui/blob/master/src/components/drag_and_drop/_draggable.scss#L6
This z-index doesn't seem to work maybe this is the issue due to the parent HTML tag. It will be great if I get a little help. :)

[2021-02-27 23:55] cchaos opened #4585 "[Docs] Add back in the ability to page through the docs pages using the left/right keyboard arrows"
The update to react-router and the changes to this file nullified this ability by removing the `history`.

https://github.com/elastic/eui/commit/8d29c3115db72529a9a5d206328a6c027556b4d2#diff-a3e37e779466cbffa21938778433d0ce534a612da61784a6596511b7fb4a44fe

When trying to use the left/right arrow keys, you get this console error

[code]

[2021-02-28 13:55] akashgp09 commented on #4585
working on it

[2021-03-01 06:27] hetanthakkar1 commented on #4546
@myasonik  I've made the required changes could you please check

[2021-03-01 09:25] tosbaha opened #4586 "Switching themes"
Hi,
I checked out the document and looked at issues but couldn't find a way to switch themes easily. I also checked out services and it seems there is no service to change the theme. Is there a way to change the theme on the fly or we have to use a single theme?

[2021-03-01 10:08] flash1293 opened #4587 "[EuiColorStops] Allow passing props to value input in color stop popover"
In the color stops popover the value input in the popover is controlled by the color stop component.

However, in some cases it would be nice to be able to change the appearance in some ways, like defining `prepend` and `append`, like in these mockups of the Lens color palette builder:
<img width="227" alt="Screenshot 2021-03-01 at 10 41 22" src="https://user-images.githubusercontent.com/1508364/1

[2021-03-01 14:44] thompsongl commented on #4586
Hey @tosbaha
You're correct that there is no service to change themes, but some options for theme switching are discussed here: https://github.com/elastic/eui/discussions/2574#issuecomment-560501311

[2021-03-01 15:21] cchaos commented on #4586
Closing as duplicate of that discussion.

[2021-03-01 15:21] #4586 closed

[2021-03-01 15:30] flash1293 opened #4588 "[EuiDataGrid] Clicking a column header twice makes it impossible to close it via outside click"
Clicking a column header again if the popover is open already keeps it open even if the user clicks elsewhere. It's still possible to close it by clicking it a third time

![table_popover](https://user-images.githubusercontent.com/1508364/109519254-5b9dda00-7aab-11eb-944e-19d0814ca6cb.gif)

cc @chandlerprall

[2021-03-01 15:44] kertal commented on #4235
I've checked again, and in the meantime, this has been fixes, so I'm closing it

[2021-03-01 15:44] #4235 closed

[2021-03-01 15:55] kertal commented on #4234
Took another look at it, and it has been resolved in the meantime, closing it

[2021-03-01 15:55] #4234 closed

[2021-03-01 17:56] hetanthakkar1 commented on #4588
I am working on this

[2021-03-01 20:00] chandlerprall commented on #4514
The disable tests in Kibana are selenium, not jest, and unrelated to this (tracked in #4470). I'll queue up the change to render with `Number.MAX_SAFE_INTEGER` in the jest environment.

[2021-03-01 21:23] cchaos commented on #4574
So I picked an [old random EuiDataGrid PR's docs build](https://eui.elastic.co/pr_2987/#/tabular-content/data-grid) to test if this ever worked, and it did. I'm not sure if there's been any updates to draggable since then, so we might need to continue to investigate both.

<img width="883" alt="Screen Shot 2021-03-01 at 16 20 43 PM" src="https://user-images.githubusercontent.com/549577/109560919-7

[2021-03-02 09:50] git-anurag-hub commented on #4570
Any update on this @markov00 @flash1293 @chandlerprall

[2021-03-02 09:56] flash1293 commented on #4570
With a little (temporal) distance to the topic - maybe it's better to find good answers to the edge cases and make "steps" control the total number of steps between all of the user defined stops. Mostly because that's how the pre-defined palettes work today (see https://elastic.github.io/eui/#/utilities/color-palettes#recommended-quantitative-palettes )

What do you think @markov00 ?

[2021-03-02 10:05] markov00 commented on #4570
I think you are right @flash1293: the color stops are defined by the user, 2/3 or more as they prefer (hopefully max 3), but the step function, that sample the gradient into a finite set of colors, is applied for the overall created gradient, for example:
- I've defined a 3 steps color gradient
- Independently from where the stops are, I sample the gradient into the X number of equal steps

[2021-03-02 10:16] flash1293 commented on #4570
@markov00 To make sure I understand correctly - it should just be a best-effort basis? So if there are too little steps or the steps don't line up with the stops, they just get the nearest color.

Seems like this is close to how the quantative palettes work already, maybe we can simply generalize the logic there a bit to make this possible.

[2021-03-02 10:54] markov00 commented on #4570
The thing is: with a gradient you have a continuous interpolation between colors, but with a stepped interpolation, you just simplify the interpolation with a fixed number of steps, is not about taking the nearest color, but sampling the color depending on the interpolation point.
I've written a simple example using d3-scales and the chromatic one:
https://codesandbox.io/s/blissful-rgb-ptpo2?file=

[2021-03-02 11:17] flash1293 commented on #4570
@markov00 That's what I meant, thanks for using more precise language and the example.

[2021-03-02 15:57] cchaos commented on #4534
Thanks for investigating this @git-anurag-hub. As I was testing this theory in the Safari inspector, I found that more so than the pseudo elements, are all the `transitions` on the elements within the popover that get rerun once the popover's animation is stopped.

Both properties pose a problem that are not easily solvable. We can't just blanket remove all pseudo elements or transitions from thes

[2021-03-02 16:01] cchaos commented on #4192
Yep, thanks! Closed by #4525

[2021-03-02 16:01] #4192 closed

[2021-03-02 16:34] #1981 closed

[2021-03-02 17:47] #1854 closed

[2021-03-02 18:16] git-anurag-hub commented on #4552
@chandlerprall Please review this.

[2021-03-02 18:18] cchaos commented on #4570
I'm still confused as to how you would restrict this on a completely user-defined palette using [EuiColorStops](https://elastic.github.io/eui/#/forms/color-selection#color-stops) or how this is different from [EuiPaletteDisplay](https://elastic.github.io/eui/#/forms/color-selection#color-palette-display) supporting even color stops with `type="fixed"`.

Perhaps some quick screenshots of flows that

[2021-03-02 18:28] chandlerprall commented on #4584
Quick follow-up & closing, but feel free to re-open if you'd like to continue a discussion on any of these.

Removal of `onClick` support from the mask is intentional and will not be supported in the new configuration. We consider dismissal through clicking on the mask as too ambiguous of an operation from both user & app perspectives - e.g. does it apply or throw away changes - which are better c

[2021-03-02 18:28] #4584 closed

[2021-03-02 19:34] #4514 closed

[2021-03-02 22:28] arcoirisapp opened #4595 "EUI 31.9.0 upgrade error"
Hi, the new page template functionality is very cool, but when I update to 31.9.0, it doesn't compile.

![image](https://user-images.githubusercontent.com/75837492/109723830-a4719380-7b7c-11eb-8869-9d4e82bddfd9.png)

Thanks

[2021-03-02 22:34] p-young opened #4596 "'EuiPageSideBarProps' is not exported from './page'"
Trying out the new version: 31.9.0

Ran into an issue when compiling:

./node_modules/@elastic/eui/es/components/index.js
Attempted import error: 'EuiPageSideBarProps' is not exported from './page'.

looking into node_modules/@elastic/eui/es/components/page/index.js, EuiPageSideBarProps is not exported.

It seems to be missing from page/page_side_bar/page_side_bar.js entirely, even though the type

[2021-03-02 22:38] chandlerprall commented on #4596
Thanks for reporting! I'm gonna close this as a dupe of #4595 which was created a couple minutes before this one.

[2021-03-02 22:38] #4596 closed

[2021-03-02 22:55] #4595 closed

[2021-03-02 23:13] chandlerprall commented on #4595
`v31.9.1` is out (& documentation will reflect that soon)

[2021-03-02 23:13] chandlerprall commented on #4596
`v31.9.1` is out (& documentation will reflect that soon)

[2021-03-03 00:19] arcoirisapp commented on #4595
great thanks

[2021-03-03 04:53] snide opened #4599 "[EuiDataGrid] Cell styling retains when column position is changed"
Note how the green cells retain as you move the column to the left

![](https://snid.es/2021MAR/gWVJAxc68IajWZl8.gif)

[2021-03-03 06:42] wenchonglee commented on #4472
Hey all,

It's been a while but this issue was blocking me from updating Eui, so I tried to study why this happens.

Unfortunately(?), I couldn't reliably reproduce this problem. A few observations:
- If you open the codesandbox reproduction in a [new window](https://5gq23.csb.app/), there is no misalignment
- I couldn't reproduce this after forking Eui and pasting the same code in codesandbox in

[2021-03-03 10:13] j-m commented on #4514
🎉 Thank you!

I don't have time to check this works for me right now, so if I have any issues I'll raise another ticket and link it :)

[2021-03-03 10:45] j-m commented on #4584
What's changed as a result of this ticket?

If not automatic versioning then maybe your release script could look for keywords in commit messages?

May add extra checkbox questions in PRs? "Did you remove any props? Did you remove any components? Did you virtualise datagrid? ;)"

[2021-03-03 13:20] flash1293 commented on #4570
@cchaos It's actually just a quantization step of the smoothly interpolated palette.

The top component is using `stopType: 'gradient'`, the second one is using `stopType: 'stepped', stepNumber: 10` with everything else being equal.

<img width="556" alt="Screenshot 2021-03-03 at 14 16 49" src="https://user-images.githubusercontent.com/1508364/109811513-389a3400-7c2b-11eb-9d61-a9daad0dcd85.png">

[2021-03-03 13:33] akashgp09 commented on #4599
working on it

[2021-03-03 14:46] kertal opened #4602 "[EuiDataGrid] Add performance tests"
So in case EUI will get functional tests, it would be very useful, to create a test, to catch performance regression.

The test could render the grid with various documents per page settings, measure the time needed to render, and expect those times to be within a certain range. Due to virtualization there should not be much different between 50 and 500 document (if e.g. virtualization renders 30)

[2021-03-03 14:56] ogupte commented on #4265
This also seems to be same issue we're seeing with the sitewide search + `Flyout` with `ownFocus={false}` (https://github.com/elastic/kibana/issues/90771)

[2021-03-03 15:50] cchaos commented on #4570
Ahh thank you for that screenshot. It's much clearer to me now. I will say this is further down our list or priorities so if it's something that Lens or Charts needs ASAP, we're happy to review a PR.

[2021-03-03 15:55] cchaos commented on #4584
Hey @j-m , We actually discussed this ticket as a whole team yesterday. It was first on our agenda. In the end, we did agree that we might have slipped up in the past few releases with being too lenient on deciding what's a breaking change. However, our current workflow works really well for us and see more pitfalls than positives when it comes to automatic releases.

What's changed is that we hav

[2021-03-03 16:11] flash1293 commented on #4570
@git-anurag-hub do you still want to work on this? Happy to support where ever I can. My email is in my profile if you want to talk through it.

[2021-03-03 16:16] git-anurag-hub commented on #4570
Yeah sure @flash1293. Will get to you if I face any problem.

[2021-03-03 16:24] j-m commented on #4584
Okay, sounds good!
Thanks all 💜

[2021-03-03 16:31] chandlerprall opened #4603 "[EuiColorPalettePicker] [EuiSuperSelect] options list does not reposition when input element moves"
We'll need to reposition the popover when the source element moves.

![peek_2021-03-03_17-14](https://user-images.githubusercontent.com/313125/109838063-0b399000-7c03-11eb-933e-223f423806cb.gif)

[2021-03-03 16:34] #4293 closed

[2021-03-03 19:16] #3923 closed

[2021-03-03 19:42] #4574 closed

[2021-03-03 20:46] chandlerprall commented on #4472
Took me a while to reproduce at all so I'm leaving this interesting bit: only way I can observe the shifting is when the bottom/height of the page is close to but not yet triggering the scrollbar. I believe the popover element added to the bottom of the DOM is triggering the scrollbar, locating the anchor element (which was left-shifted by the scroll bar's appearance), then repositioning the popov

[2021-03-04 01:26] wenchonglee commented on #4472
I see! The scrollbar being the root cause is very interesting, I would never have thought of that. Digging through #4382, I saw kibana having the same problem as well (elastic/kibana/pull/93274).

I can help submit a PR when I get some free time (likely by tomorrow)

[2021-03-04 06:12] hetanthakkar1 commented on #4588
I can't reproduce this issue

[2021-03-04 09:06] flash1293 commented on #4588
Here's what I did:
* Go to https://elastic.github.io/eui/#/tabular-content/data-grid
* Click the "Name" column header so the popover appears
* Without moving the mouse, click again
* Popover stays open
* Move the cursor somewhere else, e.g. to the "Location" column header
* Click
* Now the popover menu for both name and location column is shown (the name popover should close once the name popover

[2021-03-04 13:59] flash1293 opened #4606 "[EuiDataGrid]: Add debug data for functional tests"
Due to virtualization, it became harder to assert whether the data grid is in a valid state in functional tests. Similar to elastic-charts, it would be helpful to add some debug information:
* data grid looks for a flag on the global object: `window.__euiDataGridDebug`
* if it's set to true on render, data grid will add a `data-debug` attribute to the root element of the data grid
* This attribute

[2021-03-04 16:01] git-anurag-hub opened #4608 "[EuiColorStop]: Standard and Random new example are in sync."

[2021-03-04 16:03] git-anurag-hub opened #4609 "[EuiColorStop]: Standard and Random new example are in changing on changing another."
In Docs [Link](https://elastic.github.io/eui/#/forms/color-selection#color-stops):- Standard and Random new example are in changing on changing another. They are using I think the same state or stuff.

[2021-03-04 16:04] git-anurag-hub commented on #4609
If this is valid issue I am working on it.

[2021-03-04 16:21] #4608 closed

[2021-03-04 16:43] thompsongl commented on #4609
It does look like a valid issue; they shouldn't share the same state. Thanks, @git-anurag-hub

[2021-03-04 18:30] #4585 closed

[2021-03-04 20:24] cchaos commented on #4500
Whoop, this was has been closed via #4549

[2021-03-04 20:24] #4500 closed

[2021-03-04 20:30] #4222 closed

[2021-03-04 22:37] myasonik opened #4612 "[EuiDatePickerRange] Error state relies on color alone"
Example:
<img width="614" alt="SuperDatePicker in error state has a red background" src="https://user-images.githubusercontent.com/4188087/110039885-e41cb480-7d0f-11eb-952d-3806624c0db6.png">

It'd seem to make sense to add a bottom border to those inputs like we do for other form error states (well, they're actually `<button>` elements here but they look like inputs so I think the point holds) bu

[2021-03-04 22:53] cchaos commented on #4612
An even better fix may be to actually adjust that arrow icon to become the alert icon. Since the error usually stems from the times being out of order.

[2021-03-04 22:59] myasonik commented on #4612
Oh yeah, that reminds me: on the same thread, potentially the calendar on the left could become an alert icon. Then the date picker could get the same treatment and it might look nice having those two match like that.

[2021-03-04 23:12] cchaos commented on #4612
The only worry I have about that is the association of where/how to fix the problem. Clicking the calendar replaced with alert icon button opens the quick select where all they can do is choose between some pre-fabbed options. Whereas, they most likely got into this error situation because they're manually updating the from vs to dates. So really we'd want to direct them to those to continue editi

[2021-03-04 23:28] thompsongl commented on #4529
Support for theming EuiIcon will require continued use of class names (or other DOM selectors), but can still be done in with Emotion. Targeting `path`s not accessible from the component file itself (e.g., `fillSecondary`, `fillNegative`) will be done in much the same manner as in Sass; something like:

[code]

There is likely to be a different pattern for adding stateful classes/logic for things

[2021-03-05 11:26] git-anurag-hub commented on #4570
@flash1293 @cchaos @markov00. I have made the draft pr as I am struck at some point and will need some help.
The problem is that I have made the stepped ColorStop such that user can select any color from the the color bar and it will be stepped with the other colors but I am not able to make it in sync with the stops.
It will be great is anyone of you can help. :)
![Screenshot 2021-03-05 at 4 53 5

[2021-03-05 13:42] #3249 closed

[2021-03-05 14:43] #4472 closed

[2021-03-05 15:12] #4609 closed

[2021-03-05 16:27] git-anurag-hub commented on #4587
Mabye I can work on this @flash1293. :)

[2021-03-05 16:28] flash1293 commented on #4587
Sure, let me know if you have questions :)

[2021-03-05 21:02] chandlerprall commented on #4576
Ah, nice find!

Right now the CI test does a11y test then a build, https://github.com/elastic/eui/blob/master/scripts/test-docker.js#L15-L16

I bet we can just swap those around and run a11y tests against a `python -m SimpleHTTPServer` (python 2.7) / `python -m http.server` (python 3) from the build directory.

[2021-03-05 21:06] thompsongl commented on #4576
That's a great idea. I'll kick the tires on a python server.

[2021-03-05 23:21] thompsongl commented on #4576
I had `watchOptions.ignored` misconfigured in my earlier attempt 🤦

#4618 has working fix

[2021-03-07 05:39] hetanthakkar1 commented on #4126
@cchaos  I've submitted a PR for this issue. Could you please review it!?

[2021-03-07 16:37] ostiwe opened #4621 "[EuiBasicTable] Expanding rows not work"
I followed the guide on the link https://elastic.github.io/eui/#/tabular-content/tables#expanding-rows.

But for some reason it doesn't work for me

My code
[code]

User list structure (userList)

[code]
Columns
[code]

`toggleDetails` method

[code]

![GIF](https://i.imgur.com/LZ723Zc.gif)

[2021-03-08 12:54] nhanhaloli opened #4622 "Cannot change width of <EuiModal />"
Hello everyone, i have an issue that i cannot change width of EuiModal
Sorry because my english is not good.

This is my code:
`return isVisible ? (
    <EuiModal
      onClose={onClose}
      maxWidth={1000}

      <EuiModalHeader>
        <EuiModalHeaderTitle>{title}</EuiModalHeaderTitle>
      </EuiModalHeader>
      <EuiModalBody>{props.children}</EuiModalBody>
      {footer}
    </EuiModal>

[2021-03-08 16:53] cchaos commented on #4622
👋  Hi @nhanhaloli !

The `maxWidth` prop on EuiModal doesn't manually change the actual width of the modal. The width of the modal is dependent on the **content** inside it. It will simply stop widening at that value. If you want to force the modal to be a certain width, you'll have to pass a `style` block with the width that you want.

Here is an example codesandbox originating from our first exa

[2021-03-08 16:58] sebelga opened #4623 "[EuiAccordion] Content is clipped"
The `<EuiAccordion />` does not calculate correctly the height of the content as sown in the screenshot. It clips at the first line of the input helptext.

<img width="464" alt="Screenshot 2021-03-08 at 15 51 44" src="https://user-images.githubusercontent.com/2854616/110353466-0162c300-802f-11eb-8aa3-872037e1796b.png">

This is the code to reproduce (`UseField` and `SelectField` come from the form

[2021-03-08 17:06] snide commented on #4623
@sebelga You'll likely need to give us a way to replicate this in a siloed way. Barring that, pointing to where this code directly exists in Kibana and a way to replicate the UI that causes it would help.

[2021-03-08 17:18] cchaos commented on #4623
Yeah, I can't replicate this behavior in a codesandbox with purely a form row inside an accordion. https://codesandbox.io/s/recursing-hellman-zpqcm

[2021-03-08 18:12] sebelga commented on #4623
@snide  You'right. I'm going to investigate a bit more and let you know (and come back with a reproducible example). 👍

[2021-03-09 10:24] flash1293 opened #4627 "[EuiDataGrid] "Fit to data" mode"
Resizing columns is cool, and a lot of spreadsheet tools provide a functionality to "fit" a column width to width of the largest cell in this column.

For some of the places where data grid is used, this would be helpful as well.

[2021-03-09 11:44] sebelga commented on #4623
I found how to reproduce the issue (by adding the prop `hasEmptyLabelSpace: true` to the `<EuiFormRow />`

[code]

[2021-03-09 17:31] shahzad31 opened #4629 "[EuiButtonGroup] OnChange is emitted twice on click"
In EuiButtonGroup when you click a button, onChange event is emitted twice

https://codesandbox.io/s/ggcvw?file=/index.js

![image](https://user-images.githubusercontent.com/3505601/110512585-9df79480-8105-11eb-84b4-bf1476fe3a6a.png)

[2021-03-09 17:39] akashgp09 commented on #4629
working on it

[2021-03-09 17:41] akashgp09 commented on #4629
hey @cchaos i already have a fix for this, can you review this https://github.com/elastic/eui/pull/4610#discussion_r588284722

[2021-03-09 19:54] cchaos commented on #4623
But to further diagnose, it's because the accordion's content calculation doesn't take into account any margin which is what `hasEmptyLabelSpace` does. If you just need spacing, I'd us an `<EuiSpacer />` instead.

[2021-03-10 09:26] sebelga commented on #4623
@cchaos That was a mistake on our side probably from a copy/paste. I removed the `hasEmptyLabelSpace` prop and it works fine now. So we can close the issue, unless you think the accordion should take into account margins when calculating height for other scenarios.

[2021-03-10 14:24] cchaos commented on #491
We'll be tackling some documentation features this year and I'll add this as something to look into.

[2021-03-10 14:31] cchaos commented on #731
@myasonik Are there any guidelines on how to implement this properly?

[2021-03-10 14:34] cchaos commented on #1546
Is this the same as/would be solve by #731?

[2021-03-10 14:48] cchaos commented on #3047
Welp this was fixed quite a while ago... 😆

[2021-03-10 14:48] #3047 closed

[2021-03-10 14:50] peteharverson commented on #1546
@cchaos this does sound similar to #731. If you compare the screenreader behavior for `EuiContextMenu` with `EuiPopover`, you get much clearer instructions for the popover about entering the popover and then needing to press Escape to leave the popover. For the context menu, there is no message about pressing escape to leave the context menu. That requirement for including instructions on how to e

[2021-03-10 14:50] cchaos commented on #3121
Closing this issue. None of the outstanding "features" have come up and if they do a single issue for them would be more helpful/

[2021-03-10 14:50] #3121 closed

[2021-03-10 14:52] cchaos commented on #3500
I think this issue has gone stale because we're not sure what the actual course of action is here.

[2021-03-10 15:11] cchaos commented on #3766
I've added a link to our license page in the docs redesign https://github.com/elastic/eui/pull/4449/commits/446950b8f648fa5438fb5d9696cd5e814ad118fe

[2021-03-10 15:18] cchaos commented on #3890
https://github.com/elastic/eui/pull/4352 Changed the `label` prop from `string` to `ReactNode`

[2021-03-10 15:18] #3890 closed

[2021-03-10 16:43] thompsongl commented on #2596
Merging this issue with #2799

[2021-03-10 17:23] aphelionz commented on #731
Seems a lot has changed + been debated since then but I'd look at this article: https://adrianroselli.com/2019/06/link-disclosure-widget-navigation.html

[2021-03-11 00:34] pickypg commented on #1545
Curious if removing the label is enough, so I'll try that on the next one.

[2021-03-11 05:11] hetanthakkar1 commented on #4319
@chandlerprall I have submitted the PR. Could you please review it

[2021-03-11 07:57] kertal commented on #4019
Yes, I think we should do this, maybe as a simple first step adding a item `Remove column width` to the column actions, this would already help

[2021-03-11 12:41] stratoula opened #4634 "[EuiDataGrid] Auto-fit rows to content"
Right now, the datagrid doesn't display the entire content if the content is long enough. Here is an example of how it looks on the kibana data table visualization, Discover and Lens.

![image](https://user-images.githubusercontent.com/17003240/110787693-580e0e00-8276-11eb-92d0-19389c6373a2.png)

![image](https://user-images.githubusercontent.com/17003240/110787949-a6231180-8276-11eb-8adb-f6505e45

[2021-03-11 12:46] stratoula commented on #4634
cc @flash1293 @kertal

[2021-03-11 14:38] ymao1 commented on #4603
Similar issue here using `EuiSuperSelect` https://github.com/elastic/kibana/issues/93922

The options list remains fixed when the page is scrolled

[2021-03-11 14:45] flash1293 opened #4635 "[EuiDataGrid]: Support hierarchical columns"
If there are a lot of columns, in some cases it makes sense to group them in a hierarchical way:
<img width="1512" alt="Screenshot 2021-03-11 at 15 38 45" src="https://user-images.githubusercontent.com/1508364/110804697-b2ac6780-8280-11eb-8d55-695c0f423558.png">

Reference: https://github.com/elastic/kibana/issues/94433

Open questions (this list is probably incomplete):
* How is this configured?

[2021-03-11 14:50] flash1293 opened #4636 "[EuiDataGrid] Grouped rows and summary rows"
For some types of data it makes sense to collapse/expand some rows, not repeating the same value for this group and adding sub-summary rows for these groups

<img width="501" alt="Screenshot 2021-03-11 at 15 46 55" src="https://user-images.githubusercontent.com/1508364/110805106-15056800-8281-11eb-8477-7afe7d9255f6.png">

Kibana reference issue: https://github.com/elastic/kibana/issues/61470

Open

[2021-03-11 16:25] thompsongl commented on #3403
Keep this open for now. There are soon-to-be-merged PRs that might improve CI performance and make this issue less prevalent.

[2021-03-11 16:53] snide commented on #4636
Grouping I think need to be handled very similar to Airtable with defined separation and exposed controls to provide the grouping. This aligns with our current toolbar driven approach.

![image](https://user-images.githubusercontent.com/324519/110823687-35b0cc00-8247-11eb-9428-ebbc8c4101ea.png)

![image](https://user-images.githubusercontent.com/324519/110823608-229dfc00-8247-11eb-8129-3b30c7073e2

[2021-03-11 17:51] cchaos opened #4637 "[Meta][CSS in JS] Possible accessibility features/options to build in"
The transfer to applying a theme via JS, gives us the opportunity to have more user-level settings that can affect all of the application. Here are a few:

### Easy:

- [ ] **Font family**: Some disabilities make it hard to read specific font families or their experience can be improved by allowing them to provide a font-family of their choice. Example: Dislexia
- [ ] **Focus rings always on**: So

[2021-03-11 18:11] cchaos commented on #4637
As a note to this. When we do start adding these types of customizations, it's going to be ever more important that consumers acknowledge that any style "overrides" may hinder or negate these accessibility features in their usages. We can facilitate this communication through documentation but we'll need to go further to ensure the Elastic engineers understand the significance.

[2021-03-11 18:40] chandlerprall commented on #506
We still want to track this.

[2021-03-11 20:35] #4576 closed

[2021-03-11 20:52] #3521 closed

[2021-03-13 17:56] LvlAndFarm opened #4640 "[EuiFilePicker] Programmatically changing local files state/validation"
I'm using the file picker to select a list of images to upload to a service. There is a max file size limit of 32MB, which I do check when onChange() is called, and I don't process the filelist. But despite that, the file is shown as selected, because the file picker has its own local state that it updates with the filelist without any possible checking or validation.

This wouldn't be an issue if

[2021-03-15 08:55] kertal opened #4641 "[EuiDataGrid] Column action menu can freeze Chrome browser"
Reported by @aarju

_When the column dropdown menu is being displayed if you press the space bar or the up and down arrows the entire discover window locks up and is unrecoverable. I tested this in Safari as well and the space bar didn’t cause it to lock up, but pressing the arrow keys did. I tried to get a developer profile of it but when the tab locks up even that hangs and won’t_

This doesn't

[2021-03-15 09:08] kertal opened #4642 "[EuiDataGrid] Navigate column actions with arrow keys"
You can navigate to cells with arrow keys, but when you open the column actions popover, navigating those actions with up/down keys no longer work, navigation with tab key works. it would be more user friendly, if up/down keys would work in this context.

![Bildschirmfoto 2021-03-15 um 10 04 31](https://user-images.githubusercontent.com/463851/111129376-509c7c80-8576-11eb-8dbe-7d9df9c57618.png)

[2021-03-15 13:30] cchaos commented on #4640
Hi 👋 @LvlAndFarm . Sorry you're having issues with the EuiFilePicker. If you could get a codesandbox started with an example of how you're currently limiting the file size, that would be helpful. You can start with this one. https://codesandbox.io/s/2qiuq

[2021-03-15 16:10] snide commented on #4642
Note for anyone that picks this up. It should likely be in addition to tab, not replacing tab.

[2021-03-16 13:37] cchaos commented on #4546
Closed by #4582

[2021-03-16 13:37] #4546 closed

[2021-03-16 14:08] hetanthakkar1 commented on #4319
@cchaos  can you please review it!?

[2021-03-16 15:02] AceTheCreator commented on #4642
@snide I'd love to pick this issue up if you don't mind.

[2021-03-16 15:06] cchaos commented on #4642
Welcome 👋 @AceTheCreator. Feel free to work on any open issues! You can read more about how we work with community members in our [Contributing wiki](https://github.com/elastic/eui/blob/master/CONTRIBUTING.md).

[2021-03-16 17:25] chandlerprall opened #4645 "[EuiDataGrid] Styling example uses invalid DOM"
![https://user-images.githubusercontent.com/313125/110012062-59bb5d00-7cdd-11eb-9a6f-36f630e018e9.gif](https://user-images.githubusercontent.com/313125/110012062-59bb5d00-7cdd-11eb-9a6f-36f630e018e9.gif)

I dug in more to see why clicking one button triggered another button's click handler, and it turns out that example is misusing IDs on the options - each toggle uses the same true/false option I

[2021-03-16 19:43] myasonik commented on #1546
I don't think there's really anything specific to this implementation that we need to hold around this ticket for. EuiBasicTable just inherits all the other bits that we have captured in #731, #3889, and #4040.

[2021-03-17 08:06] formgeist opened #4646 "[Amsterdam] `EuiFlyout` and `EuiCollapsibleNav` position is a few pixels off the expected alignment"
# Summary

![screencapture-localhost-5601-mhi-s-amsterdam-app-apm-services-elastic-co-frontend-transactions-view-2021-03-17-08_57_04](https://user-images.githubusercontent.com/4104278/111433812-0db9e080-86ff-11eb-8c54-009ac80ed5bf.png)

The two Kibana header elements sum up to `96px` but the current header offset is set to `98px` which means the flyouts appear not vertically aligned to the headers

[2021-03-17 12:49] cchaos commented on #4646
Hey @formgeist , Just a quick check, when you are running the K8 theme locally, are you starting up Kibana with one of these commands?

[code]

[2021-03-17 13:09] formgeist commented on #4646
I wasn't until now and the issue no longer there. So closing, sorry for the noise.

[2021-03-17 13:09] #4646 closed

[2021-03-17 13:11] cchaos commented on #4646
Not a worry. Mainly glad that it is a non-issue. 😆

[2021-03-17 17:17] chandlerprall commented on #4052
This is still valid, and is now unblocked

[2021-03-17 18:01] ryankeairns opened #4648 "[EuiIcon] Add glyph to denote a runtime field"
As part of the runtime fields project, we're need a unique way to identify runtime fields in the Kibana UI. These are custom created fields - created in the UI - that will appear in a variety of places (field lists, index pattern management, etc.). As they behave and perform differently, it's necessary to denote fields of this type.

@MichaelMarcialis proposed the icon, below, for Lens and I've si

[2021-03-17 18:02] cchaos commented on #2785
Closing this as duplicate of #4583 which has more implementation detail on how to fix and is actively being worked on.

[2021-03-17 18:02] #2785 closed

[2021-03-17 21:53] cchaos commented on #4648
How about at least filling in the triangle? It's really hard to discern that shape at such a small size with only a stroke. A solid fill would also align better with those index icons. Or further simplify and just use a triangle (not within a circle), but white space created between it and the "page" portion. More like the `indexEdit`.

Also, be sure to try the blurry eyed test on all these icons.

[2021-03-18 05:57] snide commented on #566
While the switcher does not exist, if anyone needs to get to old version of EUI docs you can use some URL scumming to get older versions. For example: https://eui.elastic.co/v31.9.0/#/ . Just substitute the version you want into that pattern.

[2021-03-18 05:59] snide commented on #3474
Added this to a long term goal.

[2021-03-18 08:05] #2784 closed

[2021-03-18 08:05] #2512 closed

[2021-03-18 08:06] #2492 closed

[2021-03-18 08:06] #1710 closed

[2021-03-18 11:11] MilanDeruelle opened #4651 "How to get started/import styles"
Hey!
I might overlook something huge but I can't find a "getting started" page that explains how to include the stylesheets.
I tried using the compiled styles from the /dist/ folder without success and using my own .scss (for which I also couldn't find any clear documentation, ended up pasting together a bunch of imports I found in the Discussion section) which worked fine, but for some reason acc

[2021-03-18 12:09] miukimiu commented on #4651
Hi @MilanDeruelle,

The getting started wiki page used to exist. But while working on our docs redesign and moving files around it seems that it was deleted.

I created a PR to revert the change. In the meanwhile, you can find the file here: https://github.com/elastic/eui/blob/2fb12152e770a0e534f2f031036c66974d3fac65/wiki/consuming.md.

[2021-03-18 12:48] #3381 closed

[2021-03-18 13:52] #4651 closed

[2021-03-18 14:21] myasonik opened #4653 "Placeholder text does not have sufficient contrast in some browsers (wcag 1.4.3)"
_Originally captured by @sasgrw while reviewing Cloud_

**Bug description:**
The "Help me find..." placeholder text in the "Documentation" section has insufficient color contrast.  Some browsers (Firefox, for example) use opacity on placeholder text which gives it a lighter color and a lower color contrast.

![image](https://user-images.githubusercontent.com/9466851/109372825-df1bb900-7868-11eb-93

[2021-03-18 15:38] ryankeairns opened #4654 "[EuiPagination] Hide 'of' when `compressed`"
In working on some responsive improvements for Discover, we noticed that the `compressed` version of `EuiPagination` shows as below. In this situation, the "of" text is no longer useful when the page numbers are not present.

<img width="422" alt="Screen Shot 2021-03-18 at 10 28 37 AM" src="https://user-images.githubusercontent.com/446285/111653455-eda92080-87d5-11eb-9f20-c9264c9361da.png">

[2021-03-18 15:46] cchaos commented on #4654
Yep, just needs to hide the `of` at small screens too.

[2021-03-18 15:52] #4648 closed

[2021-03-18 16:05] #622 closed

[2021-03-18 16:23] chandlerprall commented on #1865
This is definitely still a thing.

[2021-03-19 03:32] snide commented on #287
We need to keep this one going.

[2021-03-19 03:35] snide commented on #1205
We should probably provide this. I'm going to label this as a good first issue. I think this should be done by using a form append with an info item button. That button should load a popup with documentation for the search syntax.

[2021-03-19 03:37] snide commented on #1208
We have active plans to fix this. The first step is to replace Highlight.js with Prism.js. Then we can add virtaulization. https://github.com/elastic/eui/pull/4638

[2021-03-19 03:42] snide commented on #1221
I'm going to label this a good first issue and provide some design advice for implementation. We should provide a new prop that allows for an empty state, but then also use `EuiEmptyPrompt` as a default for that prop. As mentioned in this issue earlier, we want to not show the table at all, including the column head and footer. We want to make sure this does hide the search bar or button controls

[2021-03-19 03:43] snide commented on #1401
This is still valid.

[2021-03-19 03:44] #1655 closed

[2021-03-19 06:31] flash1293 commented on #1668
Bumping this - it’s still valid. There’s a workaround on Kibana side, but it would be nice to have it supported natively

[2021-03-19 09:34] flash1293 commented on #2199
Bump - this is still valid.

[2021-03-19 09:34] flash1293 commented on #2358
Bump - this is still valid.

[2021-03-19 14:02] hbharding commented on #2334
no longer relevant / needed

[2021-03-19 14:02] #2334 closed

[2021-03-19 15:49] #1716 closed

[2021-03-19 15:51] snide commented on #1945
Closing this one out. Although it would be neat, we don't have any current plans for this.

[2021-03-19 15:51] #1945 closed

[2021-03-19 15:52] snide commented on #1864
Closing this one in place of https://github.com/elastic/eui/issues/2000 which is likely the better solution long term.

[2021-03-19 15:52] #1864 closed

[2021-03-19 15:53] snide commented on #2000
We're now using actions, and so there is probably something we can do to automate this.

[2021-03-19 17:42] cchaos commented on #1074
Closing in favor of #3474

[2021-03-19 17:42] #1074 closed

[2021-03-19 17:46] cchaos commented on #1456
I'd like to add this as part of the #2841 issue.

[2021-03-19 17:48] cchaos commented on #1929
Honestly this feels like a weird one to do outside of EuiDataGrid, so I'm closing in favor using that component instead.

[2021-03-19 17:48] #1929 closed

[2021-03-19 17:49] cchaos commented on #2025
Adding this to long-term goals, as I still think it could be a neat solution.

[2021-03-19 18:03] cchaos commented on #2424
I'm going to leave this one open as we further reiterate and improve on our docs.

[2021-03-19 18:18] cchaos commented on #2233
Leaving open as a TODO during the re-write of the component.

[2021-03-19 18:38] cchaos commented on #4144
Closing this, as the new docs redesign now has a persistent header with a link to the Github (Octocat logo) in it. We're also doing better with creating self-encompassing examples that the codesandbox links work well for recreating/experimenting and/or just copy/pasting the example code.

[2021-03-19 18:38] #4144 closed

[2021-03-19 18:40] cchaos commented on #2848
I still want this, even for generic checkbox groups, but it is a long-term goal.

[2021-03-19 19:01] cchaos commented on #4010
Related #3500 #2405

[2021-03-19 19:08] cchaos commented on #3564
Related #1221

[2021-03-19 19:17] cchaos commented on #1899
I've added each of these bullet points to the [Guidelines column of the Documentation project](https://github.com/elastic/eui/projects/5#column-13468480). I find this organization easier to track.

[2021-03-19 19:17] #1899 closed

[2021-03-19 19:57] cchaos commented on #3385
_A couple thoughts I've had on this recently, as it has also come into question via Cloud, and some notes for my future self._

In a recent update (in master only as of today) to the docs, I've included messaging on our CSS utilities page in the overflow section basically giving consumers an indication that when using these utilities, to better support a11y, they also need to add `tabIndex` to the

[2021-03-19 20:32] cchaos commented on #4023
We've opted to have this be done inside the particular Elastic consuming applications since it is a trademarked wordmark, that's better left out of this repo. Both Cloud and Kibana have updated to the wordmark.

[2021-03-19 20:32] #4023 closed

[2021-03-19 20:57] cchaos commented on #4143
We've actually started moving these playgrounds to directly inside/alongside the examples. So they're no longer separate pages nor routable. We like to instead lean on consumers to use the codesandbox links to recreate reproducable bugs because it usually involves specific contexts not just certain prop combinations.

[2021-03-19 20:57] #4143 closed

[2021-03-19 21:00] cchaos commented on #4159
I would venture to guess that this PR #4566 also fixed this issue because of the nested selectors. Without a reproduceable code, it's hard to know for sure. So if this problem still exists, feel free to reopen.

[2021-03-19 21:00] #4159 closed

[2021-03-19 21:07] cchaos commented on #4314
Closing for the recommendation mentioned above.

[2021-03-19 21:07] #4314 closed

[2021-03-19 21:23] cchaos commented on #4402
I'd like to give this issue a bump, specifically in regards to the EuiResizeObserver. I think it's starting to get used a lot more and I even have plans to use it in a lot more components. But recently I've noticed some people mentioning performance/issues with using a lot of this component. For example this issue in Kibana: https://github.com/elastic/kibana/issues/22913#issuecomment-530596291

[2021-03-19 21:26] cchaos commented on #4416
Just as a note, this is going to be pretty tricky to get right with Typescript.

For example, just about this whole folder by Tailwind is dedicated to supporting this in TS: https://github.com/tailwindlabs/headlessui/tree/main/packages/%40headlessui-react/src/utils

[2021-03-19 22:01] cchaos commented on #4522
Also a possible use case for the `as` prop #4416

[2021-03-19 22:02] cchaos commented on #4541
Are we done with these?

[2021-03-19 22:03] cchaos commented on #4568
Can we get a copy/paste of the actual implementation code, or at lease the rendered cell DOM? I feel like this may be specific to the inner child.

[2021-03-19 22:07] cchaos commented on #4621
Hi @ostiwe , were you able to find a solution to this? If not, is it possible for you to reproduce this in a [Codesandbox](https://codesandbox.io/s/pl55q)?

[2021-03-19 22:08] #4622 closed

[2021-03-19 22:09] #4623 closed

[2021-03-19 22:12] cchaos commented on #4653
Ugh, I had just fixed this specifically for Safari's `disabled` opacity too. Didn't realize `placeholder` has it's own issue. Grrr... browsers.... (/¯◡ ‿ ◡)/¯ ~ ┻━┻

[2021-03-20 01:23] pickypg commented on #2800
I do not know if this works or not given all of the changes to the Data Grid since this was written. I think it's useful, but I'm going to close it under the assumption that it works now.

[2021-03-20 01:23] #2800 closed

[2021-03-20 01:24] pickypg commented on #2793
This still seems useful.

[2021-03-20 01:25] pickypg commented on #2839
Still needed.

[2021-03-20 15:57] nreese commented on #2034
still valid issue

[2021-03-20 20:02] cchaos commented on #3456
I've added this as a bullet point to https://github.com/elastic/eui/issues/4439, so we don't need this ticket to stay open.

[2021-03-20 20:02] #3456 closed

[2021-03-22 08:16] fairhat opened #4656 "VSCode autoimport broken"
Hello,

since 31.10.0 i've noticed that my vscode imports for eui are broken.
If I try to import a component, it always points to the absolute node_modules path instead of using "@elastic/eui"

Example:

[code]

I've checked VSCode Issues and while some people seem to have the same problem, it seems to be fixed by TS 4.x.x.
However, in my project (TS 4.0.5) this issue still happens and only with E

[2021-03-22 10:36] peteharverson commented on #1715
I still feel this is a valid enhancement request, and the usability would be improved if the `EuiSuperDatePicker` accepted valid partial input as suggested by @cchaos in https://github.com/elastic/eui/issues/1715#issuecomment-599751406. You still have to enter the full date / time, right down to the thousandth of a second:

![image](https://user-images.githubusercontent.com/7405507/111976988-2872c

[2021-03-22 13:20] ryankeairns commented on #4568
The linked PR provides more context. There are some interesting details in there.

[2021-03-22 13:24] cchaos commented on #4568
In that PR it looks like the root of problem was tracked to the specific content:

[2021-03-22 13:30] danedavid commented on #4645
@chandlerprall Hi, raised a PR for the issue.
Is anything else required? What documentation is to be added to `EuiButtonGroup`? That the IDs provided to option items be globally unique?

[2021-03-22 13:35] ryankeairns commented on #4568
I tinkered with the markup, briefly, and it didn't _seem_ to be the culprit. Also, the [first example in the EUI docs site](https://elastic.github.io/eui/#/tabular-content/tables#a-basic-table) shows the same result on Safari:

<img width="494" alt="Screen Shot 2021-03-22 at 8 33 59 AM" src="https://user-images.githubusercontent.com/446285/111997780-61567080-8ae9-11eb-8fc7-325d9dbdb20b.png">

[2021-03-22 13:38] cchaos commented on #4568
👍  Ugh, just another place where Safari is way too heavy-handed with their default browser styles.

[2021-03-22 13:57] cchaos commented on #1221
Hm.. I agree that we should make more use of the **EuiEmptyPrompt**, but we have to consider the different scenarios that result in no table rows. (Mainly for extra clarification)

### 1. Nothing exists, ever

Meaning, there isn't even any data to pull from, or the user never created one of these things. This is the perfect place to completely replace the table and table controls for **EuiEmptyPro

[2021-03-22 14:23] thompsongl commented on #3712
Bumping this

[2021-03-22 15:24] chandlerprall commented on #4656
We did not intentionally make a change around this. Importing from `@elastic/eui` is still the supported way, and component files do not exist in the `src` directory in the published package.

I know at least one other person is affected by this, so it's definitely something we need to look into.

[2021-03-22 19:31] i-a-n opened #4660 "[EuiCallOut] TypeScript requiring unnecessary prop `translate`"
It seems the use of `Pick<>` in the `<EuiCallOut>` type def is leading to unintentionally required props, specifically, it requires me to use "translate" in order to satisfy its requirements. Example—this code:

[code]

...leads to this error:

[code]

And this "fixes" it:

[code]

Asking about this in #eui led to Chandler noting:

So here we are. Thanks for taking a look.

[2021-03-22 19:56] chandlerprall commented on #4660
What are the versions of typescript and eui you are using? Tried replicating this within eui with the latest `master` but it works as expected.

[2021-03-22 19:58] thompsongl commented on #4402
This is true, except for jest environments. jsdom does not implement the ResizeObserver API, which means that jest is using the MutationObserver fallback in `makeCompatibleObserver`. It appears that [`resize-observer-polyfill`](https://www.npmjs.com/package/resize-observer-polyfill) often recommended for jest environments uses a similar MutationObserver fallback approach.
So, by removing our Mutat

[2021-03-22 19:59] i-a-n commented on #4660
@chandlerprall

I'm using EUI `31.9.1` and TypeScript `3.9.9`

[2021-03-22 23:06] myasonik commented on #2684
@kertal @chandlerprall I don't know if this is still a valid/worthwhile request...

[2021-03-22 23:07] myasonik commented on #2636
@kertal @chandlerprall I don't know if this is still a valid/worthwhile request...

[2021-03-22 23:10] myasonik commented on #2547
@kertal @chandlerprall I don't know if this is still a valid/worthwhile request...

[2021-03-22 23:18] myasonik commented on #3928
++ If Elastic products are going to have this type of pattern, would love to see it handled in EUI because I worry about individual implementation a11y

[2021-03-23 17:13] cchaos commented on #4302
Just making note here about an open-source "fully" accessible auto-complete component we can inspect when fixing up EuiSelectable. https://github.com/alphagov/accessible-autocomplete

[2021-03-23 17:28] chandlerprall commented on #4634
We discussed this as a team and feel there needs to be a larger discussion first to better understand the requirements & rational. Multi-line or otherwise adjustable row heights would introduce a number of UX/UI and technical challenges, and while there are a number of related requests for dynamic heights, it does go against the initial design decisions for the data grid.

[2021-03-24 00:09] LvlAndFarm commented on #4640
Hi @cchaos , thanks for your reply. I have added my filesize check to the codesandbox. As you can see, the current behaviour is this:
- User opens file picker
- User selects file > 18MB
- User gets an error
- File picker still shows the file name even though the app state didn't set that file due to the error

This could easily be fixed by having us specify a `files` prop that would be passed to t

[2021-03-24 10:10] j-m commented on #4656
Are you definitely _using_ 4.0.5?

I had this issue with EUI 31.0.0 after installing the VSCode 1.54 update, but has since resolved itself; 1.54.2 looks like it bundled a new TypeScript version: 4.2.3.

My package.json specifies Typescript to be "^4.1.3", so it makes sense my workspace would use VSCode's 4.2.3.

[2021-03-24 10:34] fairhat commented on #4656
Yes, i am using "4.0.5" not "^4.0.5".
I even tried using 4.1.x and 4.2.x and the issue still exists

[2021-03-24 11:27] j-m commented on #4656
Ah I stand corrected, auto-import is broken for me, too; I've been using the `Ctrl + .` dialogue.

[2021-03-24 14:34] kertal commented on #2547
for me it's more a Discover issue that we can clean up once we get rid of the legacy table

[2021-03-24 15:08] myasonik commented on #2547
Going to close this then and let someone reopen if it's needed

[2021-03-24 15:08] #2547 closed

[2021-03-24 20:13] chandlerprall commented on #4656
Couple more reports of this internally; one is using the Gatsby starter which is at eui@31.9.1

Might be related to #3979

[2021-03-24 21:18] i-a-n commented on #4660
note: I've upgraded to TypeScript `4.0.5` and the problem remains

[2021-03-25 00:00] i-a-n commented on #4660
note!: this was due to my version of `@types/react` being outdated. upgrading from `@types/react@16.8.22` to `@types/react@16.9.12` fixed it. how about that.

[2021-03-25 09:16] fairhat commented on #4656
I'm using CRA with react-scripts@4.0.3 and Typescript@4.0.5 if that is helpful

[2021-03-25 12:07] dej611 opened #4664 "[EuiColorPaletteDisplay] Different representation of palette color scheme when in fixed mode"
I've noticed that in `fixed` mode the `EuiColorPaletteDisplay` editor has a left-shifted representation of a palette, when compared to the one from the `EuiColorStops`.

This happens with the same data provided to both, as reproduced here:
https://codesandbox.io/s/affectionate-dew-chmnw?fontsize=14&hidenavigation=1&theme=dark

Screenshot:
<img width="421" alt="Screenshot 2021-03-25 at 13 07 15" sr

[2021-03-25 17:19] dej611 opened #4665 "[EuiDataGrid] Cells styling stick to cell's position when adding new columns"
In Lens we're building a dynamic coloring feature for the datatable, which uses `EuidataGrid` underneath.
Only numeric cells can be coloured, so nor dates or string cells should have a background-color style set.

The code used to color cells in this demo is taken from the `EuiDataGrid` documentation:

https://user-images.githubusercontent.com/924948/112514920-17de7d80-8d96-11eb-8265-1b070170de40.

[2021-03-25 17:22] chandlerprall commented on #4665
This is likely a bug in the cell props management, looks like they aren't cleared from memory/cache when the cell's column and/or row identifiers change, requiring the reset performed on renderCellValue's unmount.

[2021-03-25 17:58] chandlerprall commented on #4640
That'd be great, we're unlikely to be able to get to this any time soon but would be happy to review a PR.

[2021-03-25 20:13] #4139 closed

[2021-03-25 21:11] chandlerprall commented on #2636
I think it's a good request, keeping it around.

[2021-03-26 16:04] #4645 closed

[2021-03-26 16:27] dej611 opened #4666 "[Portals][Doc] Props table not available for Portals"
Clicking on the `props` tab in the Portal page leads to an error:

<img width="735" alt="Screenshot 2021-03-26 at 17 26 01" src="https://user-images.githubusercontent.com/924948/112662861-779d5d00-8e58-11eb-8cf8-e5e5f10e83cf.png">

[2021-03-26 19:46] jportner opened #4668 "[EuiSelectable] Add support for Indeterminate values"
#1107 added indeterminate values for EuiCheckbox, but EuiSelectable doesn't have an equivalent.

Kibana needs this in elastic/kibana#67380.

[2021-03-26 21:05] thompsongl commented on #4489
Should be resolved by #4557

[2021-03-26 21:05] #4489 closed

[2021-03-26 21:06] thompsongl commented on #4462
Resolved by #4618

[2021-03-26 21:06] #4462 closed

[2021-03-28 21:12] #3629 closed

[2021-03-28 21:12] #4429 closed

[2021-03-28 21:12] #4485 closed

[2021-03-29 05:05] hidesminimally opened #4671 "Bad-precaching-response with themes/min.css when trying to use EUI next.js Starter for PWA"
I'm using EUI's Next.js starter and am trying to make this into a PWA -- [here](https://github.com/hidesminimally/engram) is the repo. I haven't done anything crazy different from the EUI starter. Upon running `npm run build; npm run start` I get
`workbox-030153e1.js:1 Uncaught (in promise) bad-precaching-response: bad-precaching-response :: [{"url":"http://localhost:3000/public/themes/eui_theme_a

[2021-03-29 13:50] #4666 closed

[2021-03-29 13:56] miukimiu commented on #4671
Hi @hidesminimally,

Is this the starter you're using? https://github.com/elastic/next-eui-starter/.

If yes, can you open an issue here instead? https://github.com/elastic/next-eui-starter/issues

[2021-03-29 16:41] thompsongl commented on #4671
Closing: https://github.com/elastic/next-eui-starter/issues/25

[2021-03-29 16:41] #4671 closed

[2021-03-30 00:03] #3949 closed

[2021-03-30 00:03] #3915 closed

[2021-03-30 00:03] #3907 closed

[2021-03-30 00:03] #3897 closed

[2021-03-30 00:03] #3858 closed

[2021-03-30 00:03] #3745 closed

[2021-03-30 00:03] #3708 closed

[2021-03-30 00:03] #3705 closed

[2021-03-30 00:03] #3651 closed

[2021-03-30 00:03] #3540 closed

[2021-03-30 00:03] #3482 closed

[2021-03-30 00:03] #3445 closed

[2021-03-30 00:03] #3439 closed

[2021-03-30 00:04] #3119 closed

[2021-03-30 00:04] #2254 closed

[2021-03-30 00:04] #1940 closed

[2021-03-30 00:04] #1909 closed

[2021-03-30 00:04] #1431 closed

[2021-03-30 00:04] #1170 closed

[2021-03-30 00:04] #902 closed

[2021-03-30 08:01] #3909 closed

[2021-03-30 08:01] #3908 closed

[2021-03-30 08:01] #2478 closed

[2021-03-30 08:01] #2475 closed

[2021-03-30 08:01] #2467 closed

[2021-03-30 08:03] markov00 commented on #2254
hey @cchaos are you ok to close this? I'm pretty sure you moved this issue to a different project to avoid closing this due to lack of activity but seems that the GH action doesn't recognize a project change as activity

[2021-03-30 11:29] #4654 closed

[2021-03-30 14:26] cjcenizal commented on #4024
Is drag and drop used elsewhere in lists in Kibana? I wonder what the UX is like there. I wonder if people generally find it fatiguing to drag and drop in long lists.

[2021-03-30 15:11] j-m commented on #4506
Please don't make this the default.

When filtering, the user should be told how many results (roughly, if in the millions) will be returned as this gives them immediate feedback as to how precise their queries need to be.  The first thing you see on a Google results page is "About X million results". The reason you can skip to 10 pages at a time is because when you search the same thing again, it

[2021-03-30 15:36] j-m opened #4675 "[EuiDataGrid] Show footer when there is less than `pageSize` rows"
Just upgraded from 31.0.0 to 31.12.0 and spotted that datagrids with less than `pageSize` rows don't show the `pageSizeOptions` or `pagination` components. However, they still take up `pageSize * rowHeight - footerHeight` space. As soon as there is exactly `pageSize` rows, the footer is displayed, even though there is only 1 page.

I would like the footer to always be shown to avoid cumulative lay

[2021-03-30 15:51] j-m opened #4676 "[EuiDataGrid] Add an option to use the container's dimensions"
I overrode the CSS for datagrid so that my SideNav and NavBar are still shown when in fullscreen. This is all that was needed:
[code]
However, with the virtualisation update, the table goes off the right of the screen.
The height is correct because I just so happened to have used the same NavBar height as EUI but I have not applied the SASS mixin as my SideNav has multiple widths.
I understand thi

[2021-03-30 15:52] #4587 closed

[2021-03-30 15:53] chandlerprall commented on #3979
This is still valid

[2021-03-30 17:51] chandlerprall commented on #4676
The grid is supposed to be constrained by its container, can you verify that the container is correctly sized when the datagrid is not rendered inside of it?

[2021-03-30 17:53] myasonik opened #4677 "Define color names"
Not sure on the specifics of this issue so hoping to just kick off some conversation around this.

In EUI (but also in Charts and Kibana) we sometimes refer to colors visually by a color swatch. Currently, the best that we can do is give screen readers a hex code of the color which isn't a great experience.

So, ideally, we'd give names to colors.

There are two types of colors that we'd have to n

[2021-03-31 05:35] #4570 closed

[2021-03-31 06:52] mbondyra commented on #4024
In our case we don't really have very long lists in drag and drop with both draggable and droppable elements so we don't optimize for this case.

For example the datasource field list panel can be only draggable so we don't rerender all the elements when starting dragging, just the dragged one. As for configuration panel, we don't expect having more than 5-10 draggable/droppable elements maximum a

[2021-03-31 08:48] fairhat commented on #4656
Something i noticed yesterday:

Some imports still seem to work, e.g: EuiPanel, EuiText, EuiSpacer (possibly more) is correctly imported from "@elastic/eui", but EuiFormRow does not work.

[2021-03-31 09:39] j-m commented on #4676
Sorry, my use of "container" was misleading. Explaining this is difficult so here's [a codepen](https://codesandbox.io/s/ecstatic-jepsen-8ntqm?file=/index.js), which can just boil down to

[code]

[2021-03-31 16:51] cchaos commented on #4087
I've been handling this manually in our docs, by simply wrapping EuiCode with EuiCopy. This could still be the path we go in implemenation, just bringing it into the component itself.

[2021-03-31 18:33] rashmivkulkarni commented on #1322
A test is dependent on this and is failing on jenkins with this error

[code]
Link to failure: https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/116371/testReport/junit/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_apps_monitoring_elasticsearch_indices%C2%B7js/Kibana_Pipeline___general___Monitoring_app_Elasticsearch_indices_listing_should_show_indices_table_w

[2021-04-01 10:25] dej611 opened #4679 "[EuiColorStops] EuiColorStop Popover won't close if thumb element gets focus"
Can reproduce on the EUI website as well:

![Kapture 2021-04-01 at 12 24 19](https://user-images.githubusercontent.com/924948/113280920-39cf8700-92e5-11eb-9842-813b7f821007.gif)

Probably by mistake, but in the Lens implementation I managed to reproduce it quite often 😓 .

[2021-04-01 16:15] cchaos commented on #2254
Yes I'm ok to close. We don't have the bandwidth to do this.

[2021-04-01 19:24] chandlerprall commented on #4677
Is there a distinction between reading color names vs. announcing their intention? For example, I can imagine a table cell shaded `rgb(189, 39, 30)` could be stated as "red" or "deep red", when in EUI it's already named in variables as "danger". Which is more useful, and when? "The value in this cell is 5, and is visually marked as dangerous".

[2021-04-01 19:25] chandlerprall commented on #4676
Perfect example, thanks!

[2021-04-01 19:36] myasonik commented on #4677
Yeah, different circumstances might call for different approaches and we will likely never know which the author intends.

Ideally, we'd solve both situations but I didn't want to add yet more complexity. Solving either of these would already help improve the situation compared to what we have today...

[2021-04-02 15:33] dej611 commented on #4664
I've spent some time trying to figure out a possible solution for this problem, and I concluded there's no right universal solution between the two components.

Probably changing the `EuiColorPaletteDisplay ` stops order may be the solution, but it may have some impacts on current code, as the same format is used also for other components like `EuiColorPalettePicker`.
The term `stop` as in the `Eu

[2021-04-02 19:09] cjcenizal opened #4684 "[EuiButtonGroup] Usability/accessibility enhancements"
I noticed a couple issues while playing with this component. Oddly enough, they only occur with the button group on the left in the screenshot below.

### Missing focus state

When tabbing through the UI, it looks like there's no visual indicator for when a button in the button group is focused. I think this is a keyboard accessibility issue. This might be due to the component rendering a `<label>

[2021-04-02 19:45] cchaos commented on #4684
Thanks for the feedback. As a quick note, #4056 is the PR where there was an extensive re-work of this component and it's underlying elements for accessibility. The `type` of group you use `multi` vs `single` determines what is rendered. Multi-select button groups are buttons, but in order for the `single` type to behave properly they had to be a radio group.

We're also still working through some

[2021-04-02 19:59] cjcenizal commented on #4684
Thanks for the background and tip @cchaos! FWIW I just tested the k7 theme and it looks like hover states work fine, but the focus states are missing in that theme too. That's a great tip about providing the `title` property -- it'd be great to update the snippet to do that, too.

[2021-04-04 00:05] #3563 closed

[2021-04-04 20:12] timroes opened #4685 "[EuiBasicTable] Trigger `onClick` on `keypress` not `keyup`"
The `EuiKeyboardAccessible` currently triggers the `onClick` when <kbd>Enter</kbd> or <kbd>Space</kbd> is pressed in the `onKeyUp` method. I think this should rather happen in the `onKeyPress` instead to be aligned with browser behavior.

Browser will trigger button clicks after the keypress, and thus also properly work with repeating key events, i.e. having a `button` focused and keep pressing <k

[2021-04-05 03:25] myasonik commented on #4685
Yeah, the component definitely has ways that it could be improved but with such a broad charge as making accessible whatever it wrapped, it ultimately is next-to-impossible to make accessible for all cases and was often misused making matters worse.

Because of that, we deprecated `EuiKeyboardAccessible` (in https://github.com/elastic/eui/pull/4135) and it is scheduled for removal in June.

It _so

[2021-04-05 12:57] cchaos commented on #4677
Can you explain further the **technical implementation** of this, perhaps with examples of using both the core color palette vs the visualization palette?

[2021-04-05 13:57] wylieconlon commented on #2705
@chandlerprall this stale issues bot is probably wrong for big features like this one. We do still need this.

[2021-04-05 21:39] p-young opened #4686 "EUI 32.0.1 Broken Version"
The current latest version 32.0.1 is broken because of a broken /services import from button_group_button

I believe it was fixed with this commit #4682

It has not been released yet, are there plans for that soon? Thanks!

[2021-04-05 21:46] snide commented on #4686
Thanks for the note. Releases are made generally every Tuesday.

[2021-04-05 22:31] wylieconlon commented on #2705
Although we no longer need this in the BasicTable, we now need this in the DataGrid. Which does have this issue: https://github.com/elastic/eui/issues/4635

[2021-04-06 00:04] #4085 closed

[2021-04-06 00:04] #4073 closed

[2021-04-06 09:31] timroes commented on #4685
My "fake button" is actually a EuiBasicTable, with onClick listeners on its rows. Thus looking at the linked issue, it seems there is no plans right now for EuiBasicTable and the deprecation of `EuiKeyboardAccessible`, thus I'd consider that issue to still be relevant, since `EuiBasicTable` is a widely used component, that this problems applies then to. Reopening the issue and renaming it.

[2021-04-06 11:02] miukimiu commented on #4664
Thanks, @dej611 for trying to find a solution.

@thompsongl is there a solution you might think of to make these two components work well together?

It seems that the `EuiColorPalettePicker` and `EuiColorPaletteDisplay` need to be improved to handle this scenario. The  `EuiColorPalettePicker` uses the `EuiColorPaletteDisplay` internally. So we just need to focus more on the `EuiColorPaletteDisplay

[2021-04-06 12:48] gebeto commented on #4686
Yup, it was fixed in that commit, and I am waiting for the release too. If you don't want to wait until the Tuesday you can use https://www.npmjs.com/package/patch-package this package to patch @elastic/eui

[@elastic+eui+32.0.1.patch.txt](https://github.com/elastic/eui/files/6264696/%40elastic%2Beui%2B32.0.1.patch.txt)

[2021-04-06 14:39] thompsongl commented on #4664
It's probably worthwhile to recount where the concept for EuiColorStops started.

<img width="487" alt="image" src="https://user-images.githubusercontent.com/2728212/113725417-e7adad80-96b8-11eb-932a-72c111d9e9c3.png">

Its purpose was/is to replace the custom color ramp UI in the maps application and the color stops API reflects this. In the screenshot, you notice that the number value for the fi

[2021-04-06 15:05] myasonik commented on #4685
++ for sure, this would be good to shim in `EuiBasicTable` until we figure out how to migrate it away from `EuiKeyboardAccessible`

[2021-04-06 16:16] #4679 closed

[2021-04-06 16:49] chandlerprall commented on #4686
v32.0.2 has been released, fixing this import

[2021-04-06 16:49] #4686 closed

[2021-04-06 17:59] cchaos commented on #2017
This is a forever, yes.

[2021-04-06 18:08] stephmilovic opened #4688 "Cleanup types from EuiMarkdown"
We are needing to do some funky typecasting for the `EuiMarkdown` `processingPlugins`, [see this commit](https://github.com/elastic/kibana/pull/96249/commits/5402fa9df3157ac5af6781ec46e947b38c101611#). @chandlerprall said if I make a ticket, Eui team will cleanup.  🙏  😉

[2021-04-07 10:12] j-m opened #4689 "[EuiDataGrid] Instantly shows a sliver of the blue popout button on cell hover"
If you hover over a cell you will instantly see a sliver of the pop-out button
![image](https://user-images.githubusercontent.com/15386491/113849429-62e29280-9791-11eb-8697-c8ae79846d26.png)

It used to only appear after 60(?)ms, the same time its width transition started

[2021-04-07 11:12] miukimiu commented on #4689
Thanks, @j-m for reporting this issue.

I'm unable to reproduce it. What browser and version are you using?

Does this issue also happen in any of our demos in https://elastic.github.io/eui/#/tabular-content/data-grid?

[2021-04-07 12:16] j-m commented on #4689
How bizarre!
I checked the docs before reporting the issue, it happens with all of your data grids, too.
It happens in Chrome 89.0.4389.114 and Firefox 87.0 so I would be surprised if it was a compatibility issue

[2021-04-07 12:46] j-m commented on #4689
It appears to be inheriting `.euiButtonIcon`'s border-width, using the following fixes the issue:
[code]

[2021-04-07 13:47] miukimiu commented on #4689
Thanks, @j-m. I can see now.

I was looking into EUI Amsterdam theme. It seems that this issue happens with the default theme.

We'll take a look! Thanks! 👍🏽

[2021-04-07 14:20] j-m commented on #4689
Ah whoops forgot about the different themes 😅

[2021-04-07 16:20] thompsongl commented on #3969
Most of this got accomplished. Closing in favor of more targeted, updated issues.

[2021-04-07 16:20] #3969 closed

[2021-04-08 11:53] fairhat opened #4693 "Conditional Rendering of useEuiI18n causes React Warning"
Using the ```useEuiI18n``` hook on conditional rendering causes a react warning:

Example code:
[code]

[code]

Suggestion:
A new hook called something like "useEuiI18nFn()" which returns a function *once* and can then be used to get i18n values

[2021-04-08 12:44] miukimiu commented on #4693
Hi @fairhat, thanks for reporting this issue.

If you do something like the following code, the error goes away. Let me know if that helped.

[code]

[2021-04-08 14:36] thompsongl commented on #4693
A new hook called something like "useEuiI18nFn()" which returns a function once and can then be used to get i18n values

If this is something you want to try to implement, we'd be happy to look at a PR!

[2021-04-08 15:03] jasonrhodes commented on #4506
@j-m Thanks for the feedback!

I think what we've found over and over is that this just really depends on the type of query and the type of UI you're designing, and that we need the tools to be able to adapt to that more easily. In fact, because of how powerful the ES search functions are, some of us are proposing that we build _up_ from a simple list to a full, paginated list of results with full

[2021-04-08 16:31] fairhat commented on #4693
will look into it!

[2021-04-08 17:16] miukimiu opened #4694 "[EuiDualRange] Allow dragging the highlighted value"
When interacting with the **EuiDualRange** the only way to change the current highlighted value is to drag the handles.

For the work in the upcoming Maps Timeslider, we need to support a new feature that allows changing the current value by dragging the `.euiRangeHighlight__progress`. Similar to:

https://user-images.githubusercontent.com/2750668/114064878-f4d1c480-9891-11eb-894e-25b38ddaf189.mov

[2021-04-08 22:21] barlowm opened #4703 "[EuiCombobox] Placeholder color contrast too low"
On the Kibana Manage users page (/app/management/security/users/), create a new user, the "Add roles" drop down has insufficient contrast (2.5:1), minimum required is 4.5:1.
![User_Contrast](https://user-images.githubusercontent.com/2439008/114103010-56942d80-9896-11eb-91ef-b9c241a63daf.png)
This issue occurs on drop downs within all Management pages.

**Kibana Version:**
7.10

**OS:**
Windows 10

[2021-04-09 10:48] j-m commented on #4506
@jasonrhodes Thank you for clarifying. I don't use ES, so it's a little difficult to understand all the intricacies.

I still think the default pagination should be as is, even if just for EuiDataGrid as it doesn't handle dynamic/pending data particularly well; has no loading state, needs to know `rowCount`, and sorting would be redundant or janky (rows would reorder as new data is loaded).

I don

[2021-04-09 12:37] j-m opened #4696 "Search docs using component name"
Just a nice to have but would be great if we could search the docs using the component name, say, "EuiDataGrid" instead of "data grid"

[2021-04-09 22:15] hetanthakkar1 commented on #4642
I'm working on this

[2021-04-11 00:08] stil opened #4698 "[EuiFilePicker] Missing localization for prompt text"
https://github.com/elastic/eui/blob/cbb2601481149f29d7040fa0ed05f001b9993bc2/src/components/form/file_picker/file_picker.tsx#L198

[2021-04-11 00:49] stil opened #4699 "[I18n] Missing support for pluralization"
For example here:

https://github.com/elastic/eui/blob/b2ffddee61913202224f2967599436ca95265879/src/components/form/file_picker/file_picker.tsx#L90-L92

In English there is no problem (because it's always more than 1 file) but in other languages, for example in Polish this cannot be translated correctly.

In Polish:

Am I correct there is currently no support for pluralization in EUI?

You can rea

[2021-04-11 11:49] git-anurag-hub opened #4700 "Modal Scrolling"
Is there any way I can make the modal scroll? I read the docs to use something else as option other that modal. But my use case fills the purpose of modal, and I want that to be scrollable. Any help?

[2021-04-11 14:27] #4700 closed

[2021-04-12 00:04] #4090 closed

[2021-04-12 09:33] cristina-eleonora commented on #4158
Wanted to resuscitate this issue, as we did some user testing and noticed that many people did not notice the bar and the save action either.Here are some details:

- Most users didn’t notice the bar (11 out of 14)
- Some users reported that it looked like a cookie bar
- Some users said it doesn't appear related with the rest of the page
- Some users reported that it would be hard to spot, because

[2021-04-12 10:07] #4689 closed

[2021-04-12 10:23] miukimiu commented on #4158
Right now it's possible to have the content (left and right) aligned with the main content of the page. For that, we just need to use the **EuiPageTemplate** and pass a `bottomBar` prop. See https://elastic.github.io/eui/#/layout/page#showing-a-bottom-bar.

![Page-Elastic-UI-Framework](https://user-images.githubusercontent.com/2750668/114379610-ebda3f00-9b80-11eb-9df0-efc9c3730b13.png)

One thing

[2021-04-12 11:19] miukimiu commented on #4696
Hi @j-m,

We are looking into integrating Elastic Site Search. This would allow having a better search experience.

But right now this is not a priority and we're depending on other tasks to be accomplished first in order to make the search work.

You can follow the issue here: https://github.com/elastic/eui/issues/2799.

[2021-04-12 11:19] #4696 closed

[2021-04-12 17:56] thompsongl commented on #4699
Correct; not like in the vue-i18n library you reference.

[2021-04-12 19:01] myasonik opened #4702 "[EuiFormRow] Don't wire up `htmlFor` for `<button>` elements"
It's technically, semantically ok and it works* though it's rarely the thing that someone would actually want and is likely to just causes confusion.

*I've anecdotally heard that it doesn't work consistently but don't know a full support matrix.

_Corresponding Kibana issue: https://github.com/elastic/kibana/issues/96668_

[2021-04-12 19:06] myasonik commented on #4702
One possible reason to not do this: by passing `hasChildLabel: false`, we already can disable wiring up `htmlFor`.

So there's a bit of a push-pull between expected defaults, flexibility, and consistent APIs... Not sure what the best way forward might be.

[2021-04-12 21:43] thompsongl commented on #4702
I forgot about this option. I still like the idea of disabling the behavior for all `<button>`, but I'm not sure if we can actually account for all cases (i.e., we'd be checking `Component.type`, not the rendered HTML element).
It's good to know that this _could_ be solved by better documentation and recommendations about `<button>` in EuiFormRow.

[2021-04-13 00:04] #4047 closed

[2021-04-13 14:36] j-m opened #4705 "[EuiDataGrid] `stripes` in `gridStyle` alternates bewteen pages"
Prior to virtualisation, the config
[code]
always started the first row of a page with a white background.
Now, the first row will alternate white/grey on odd/even pages respectively, as if the pattern were continuing across pages.

See also #4483

[2021-04-13 16:14] j-m commented on #4705
Also, if you don't update `rows` during `onSort`, the rows keep their background colour; so you could end up with multiple whites/greys in succession. For now, I'm just going to disable `stripes`

[2021-04-13 16:28] hetanthakkar1 commented on #3231
@i-a-n   I can't reproduce this issue. If you can send a video or elaborate on the steps to reproduce it would be nice. @cchaos can you please verify whether this issue can be reproduced!?

[2021-04-13 16:46] git-anurag-hub opened #4707 "[EuiAvatar] Error on passing the styles to the EuiAvatar dynamically."
I got an error when I was trying to render the EuiAvatar on changing the size of the screen:

Code:-
`<EuiAvatar`
`    iconType="user"`
`    size="l"`
`    style={{ marginLeft: "10px", marginRight: "10px" }}`
`    name="user"`
`    color="#E6F1FA"`
`    onClick={() => this.setState({ isPopoverOpen: !this.state.isPopoverOpen })}`
`  />`

Error:-
![Screenshot 2021-04-13 at 10 12 01 PM](https://user-

[2021-04-13 17:17] miukimiu commented on #4707
Hi @git-anurag-hub,

The **EuiAvatar** shouldn't be used as a clickable element because it renders as a `div`. Ideally, if you want to have a click you should use a button.

But besides this a11y issue, the `onClick` works.

I tried to replicate your code and I don't see any error:
https://codesandbox.io/s/confident-hoover-iei6o?file=/index.js

Can you create a CodeSandbox with your implementation

[2021-04-13 17:39] snide commented on #4703
We've talked about this one a bit internally over the years. This is one of the few places I feel the accessibility guidelines are problematic. Not being able to tell what is / isn't a placeholder is a worse problem than the contrast level of placeholders being legible overall.

I'm sure there's some debate in this, but off-hand I would continue to make an exception to the rules here.

[2021-04-13 18:01] myasonik commented on #4703
I think we could still hit the requirements with a gray for placeholders and the normal black that we have for text.

If we always had labels with our inputs, I could more easily see your argument but we don't so our placeholders also have to do double duty as labels as well sometimes... Which is what I'm more concerned about...

Another option maybe you'd like better, we could try to detect if th

[2021-04-13 20:26] chandlerprall commented on #4702
Is putting a button in a form row a good thing to do? Seems like this may be trying to find a solution for something we wouldn't support/recommend?

[2021-04-13 20:45] snide commented on #4703
We can definitely hit the requirements. The problem is that people can't read them as placeholders when we do. Since placeholders often convey example values, rather than instruction (like help text / labels). These leads to people thinking that forms are already filled out. That isn't as likely to happen when the contrast between a placeholder and actual user text is larger.

[2021-04-13 21:05] myasonik commented on #4703
:/

So what do we do in cases where the placeholder is being used instead of a label?

[2021-04-13 21:11] myasonik commented on #4702
From the Kibana ticket, this is the UI: <img src="https://user-images.githubusercontent.com/2439008/114102318-184a3e80-9895-11eb-9e69-fb2a19cc7933.png" alt="Edit user UI screenshot showing a <button> in a EuiFormRow" />

It might not be the pattern we'd recommend but it doesn't break so people will do it (and without reading the documentation because it'll seem to work).

So I think we either need

[2021-04-13 21:20] chandlerprall commented on #3231
codesandbox with a reproduction: https://codesandbox.io/s/dazzling-euler-5cjlp

Disabling pagination should render all 100 rows (but currently renders the same 10 from the first page). Alternatively, if the table starts with pagination off and toggle it on I'm seeing the _Rows per page: 1_ situation described above.

[2021-04-13 21:23] chandlerprall commented on #4705
Second issue may be related to #4665

[2021-04-13 21:46] chandlerprall commented on #4699
EUI's internationalization support is intentionally weak to avoid forcing a particular solution on applications. Instead, we support overriding our tokens with string templates and/or formatting functions. [Code sandbox](https://codesandbox.io/s/interesting-torvalds-zjl59?file=/index.js) showing this, with the first two panels showing the string & function approaches, and the 3rd applying a custom

[2021-04-13 21:49] chandlerprall commented on #4698
Additionally, the file picker's `promptText` needs to be refactored to use the [i18n service](https://elastic.github.io/eui/#/utilities/i18n)

[2021-04-13 22:13] hetanthakkar1 commented on #3231
@chandlerprall Thank you for reproducing. I am working on it!

[2021-04-14 01:06] thompsongl commented on #4109
@miukimiu Maybe keep this in mind when you look into EuiDualRange adjustments for the time slider.

[2021-04-14 11:10] j-m commented on #4529
Just to confirm, we'll still be able to easily override things, right?

I have 200 lines of CSS that override EUI, for instance, for #2184 I added
[code]

[2021-04-14 13:03] j-m commented on #2272
What is the use case for `div`? Why is the default not `form`?
At the very least `div` should add the ARIA role `"form"`

See also #4416

[2021-04-14 13:07] j-m opened #4710 "[EuiFieldText] `required` prop validating immediately, not on blur"
The `required` prop is violating the [form usage guidelines](https://elastic.github.io/eui/#/forms/form-layouts/guidelines)

Validation should occur on blur from an input field. The submit button should be active by default, then show errors after click. Error messages should be specific to the situation.

Here's [a fork](https://elastic.github.io/eui/#/forms/form-layouts) of the [form validation

[2021-04-14 13:19] cchaos commented on #2272
Yep, we understand, it's a legacy piece of code that would be a major breaking change if we changed the default. You can change it with `component="form"` or add the aria role.

[2021-04-14 13:21] j-m commented on #4710
Appears to just be a styling issue, resolved with
[code]

Essentially just replacing
[code]
with
[code]

[2021-04-14 13:27] cchaos commented on #4710
Yes, we intentionally override the invalid color with the focus color when the input is in focus. If validation only occurs `onBlur` then the invalid marker would continue to be present even if they've changed their input to be valid.

Appreciate the feedback here, but not something we will be changing as it was a conscious decision.

[2021-04-14 13:27] #4710 closed

[2021-04-14 13:32] j-m commented on #4710
Apologies, the fork link was supposed to take you to [a codepen](https://codesandbox.io/s/sad-sinoussi-6no5p).

Ignore `focus`, that was needed so my patch would work.
You'll see in the codepen that the first and second fields are invalid; all I've done is add the `required` prop to them.

[2021-04-14 14:14] j-m commented on #2272
Not what I wanted to hear but completely understandable, all breaking changes cost something. However, at the same time, this raises new concerns for me; I don't want import features, like accessibility, to be blocked by technical debt/cost from existing adopters. I choose EUI because it's "Accessible to everyone" so, regardless of the default element, I suggest adding the aria role as a minor bum

[2021-04-14 15:17] thompsongl commented on #4688
Hey @stephmilovic, I don't see any type errors when I remove the casting in that (now refactored) file.
No errors in EUI when attempting to replicate either.

[2021-04-14 15:28] myasonik commented on #2272
Thanks for feedback! It's really great to hear that folks outside of Elastic are choosing EUI because accessibility is one of it's primary goals.

Unfortunately, we're a small team and can't tackle everything. You can see [a whole swath of a11y issues](https://github.com/elastic/eui/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aaccessibility) that we're aware of and would like to get t

[2021-04-14 15:31] myasonik opened #4711 "[Form Layouts] Align examples to best practices"
_Originally posted by @j-m in https://github.com/elastic/eui/issues/2272#issuecomment-819551761_

All examples that use `EuiForm` should use `component="form"` and _probably_ all examples should use `EuiForm`.

[2021-04-14 16:13] j-m commented on #2272
Thank you for your candour, and for you and your team's great work!
I continue to be impressed by the EUI team's attitude and passion towards this project, and love how open you are to community feedback.

I know my comments and issues probably come across as gripes but I assure you that I'm not trying to be mean. I love EUI and want to see it get the attention it deserves. Thank you for your pati

[2021-04-14 18:30] jeffvestal opened #4712 "[EuiDataGrid] Date Sort Order is Reversed"
In the EuiDataGrid in Discover, when you sort by a date field, the order is reversed from what the buttons show.

**Currently when sorting by date**:
sort selection button -> viewing rows in Kibana from top to bottom of the screen
`Old-New` -> 2020, 2010, 2000
`New-Old` -> 2000, 2010, 2020

**Desired State**
`New` should show the most recent dates
`New-Old` -> 2020, 2010, 2000

`Old` should show t

[2021-04-15 00:45] hetanthakkar1 commented on #3231
@cchaos @chandlerprall  Can you please review!

[2021-04-15 08:01] #1919 closed

[2021-04-15 09:06] mbondyra opened #4715 "$euiBorderRadius variable evaluates to 6px but EuiPanel gets 4px of border radius"
Steps to reproduce:
1. Go to this [page](https://elastic.github.io/eui/#/guidelines/sass) and notice that the $euiBorderRadius evaluates to 6px.
2. Now, go here: https://elastic.github.io/eui/#/layout/panel#shadow-and-border and notice that for the panels with `borderRadius` set on 'm' (of only available options 'none' and 'm') it evaluates to 4px.
Not sure if this is a bug, so raising it to make

[2021-04-15 09:39] miukimiu commented on #4715
Hi @mbondyra,

We have a variable `$euiBorderRadiusSmall` that evaluates to `4px`.

Let me know if that helped! 🎉

[2021-04-15 09:46] mbondyra commented on #4715
Hi @miukimiu, yeah, that works for me! Thanks! Feel free to close this issue.

[2021-04-15 09:50] mbondyra opened #4716 "Importing any component from elastic/eui to codesandbox in Safari throws maximum call stack size exceeded"
Steps to reproduce:
1. Open Safari browser (my version is 14.0 (15610.1.28.1.9, 15610)
2. Go to https://codesandbox.io/s/romantic-ardinghelli-wr9j1?file=/index.js
3. Uncomment the line 4: `import { EuiText } from "@elastic/eui";`

The moment it gets uncommented, codesandbox throws an error:
<img width="472" alt="Screenshot 2021-04-15 at 11 49 31" src="https://user-images.githubusercontent.com/4283

[2021-04-15 09:50] miukimiu commented on #4715
I'll leave it open so we don't forget to add this variable `$euiBorderRadiusSmall` into our docs: https://elastic.github.io/eui/#/guidelines/sass.

[2021-04-15 10:04] miukimiu commented on #4716
Confirmed. Not sure we can do anything or it should be fixed on the CodeSandbox side. What do you think @chandlerprall, @thompsongl?

That's the error in Safari:

<img width="808" alt="Screenshot 2021-04-15 at 10 58 11" src="https://user-images.githubusercontent.com/2750668/114851689-03603480-9dda-11eb-9468-823e4ba946a6.png">

[2021-04-15 11:10] mbondyra opened #4717 "[EuiPopover] After opening a popover, EuiButtonGroup labels appear with delay in Safari"
The issue only happens in Safari. I couldn't reproduce it in codesandbox because of [problems with running eui in safari on codesandbox](https://github.com/elastic/eui/issues/4716) so I have this branch that reproduces the issue inside the demo eui page.
https://github.com/elastic/eui/compare/master...mbondyra:check_popover

The problem is that after opening the popover, the labels appear much lat

[2021-04-15 12:11] #4707 closed

[2021-04-15 13:22] cchaos commented on #4534
Looks like this **does** happen with some other popover configurations.

_Originally posted in #4717 by @mbondyra _

[2021-04-15 13:24] cchaos commented on #4717
Thanks @mbondyra! We've noticed this behavior in the EuiSuperDatePicker (with no good solution yet). We hadn't found another instance of EuiPopover contents that did this, so this is very helpful. I'm going to close though as a duplicate of #4534 and moved your comment there (plus generalizing that issue title).

[2021-04-15 13:24] #4717 closed

[2021-04-15 13:52] #4532 closed

[2021-04-15 13:52] #4588 closed

[2021-04-15 13:52] #4641 closed

[2021-04-15 14:23] thompsongl commented on #4716
Tracked the error back to EUI v28.0.0 (v27.4.1 works in Safari). EuiMarkdown* components were added in that release, which also added quite a few new dependencies and exports (npm shows an "unpacked" size increase of 18MB).
[`material-ui` had a similar problem](https://github.com/codesandbox/codesandbox-client/issues/5022) a while back with one of their packages. EUI is 6x larger than the package

[2021-04-15 15:43] crob611 opened #4718 "[EuiFilePicker] Disabled FilePicker shows underlying html input"
On the Eui Website
![image](https://user-images.githubusercontent.com/515272/114897574-5f798780-9ddf-11eb-91ac-505ad4eaff3f.png)

In Canvas
![image](https://user-images.githubusercontent.com/515272/114898007-c26b1e80-9ddf-11eb-9ed1-59d61064aac4.png)

Setting the prop `disabled` to `true` disables the html input property.  Looks like there is a CSS rule `input:disabled {opacity: 1}` that is getting

[2021-04-15 16:00] cchaos commented on #4718
Fun! This happened when trying to fix browser's changing opacity of all disabled inputs. #4538  Terribly, that reset selector is overriding our opacity of the background input.

[2021-04-15 16:18] snide opened #4719 "[EuiHeaderBreadcrumbs] Amsterdam has visual issue with focus state"
Likely just need to make something custom because of the focus ring

![image](https://user-images.githubusercontent.com/324519/114903180-64ccd700-9dcb-11eb-94f0-42ac212fe3b8.png)

[2021-04-15 16:27] hetanthakkar1 commented on #4719
@snide I think the problem is mismatch between the focus ring shape and the border of the element.  Do we need to match/align  them so that they both are superimposed!?

[2021-04-15 17:34] cchaos commented on #4719
Thanks @snide, and yes I'm aware. 😆  This is because `outline` will never respect shapes other than squares. It just so happens that Chrome's `oultine` has rounded corners that it aligns well with our buttons, but even circles will get square outlines. This is just how browser's do it. I'm not sure the best way to tackle this one, and honestly, I wasn't really going to because it's also only visib

[2021-04-15 18:34] cchaos commented on #4715
@mbondyra Just as an FYI though, Amsterdam uses the small size for panels, but the default theme uses the regular size. SO you'll need to target the `v8` theme specifically in Kibana to use that smaller radius variable.

[2021-04-15 19:48] snide commented on #4719
Yep no worries. Fine to close with a won't fix if you feel. Just wanted to doc it while i saw it.

[2021-04-15 21:10] chandlerprall commented on #4319
Closed by #4626

[2021-04-15 21:10] #4319 closed

[2021-04-16 10:08] j-m opened #4723 "[EuiDataGrid][Docs] Broken link to "Grid styling""
This link 404s

![image](https://user-images.githubusercontent.com/15386491/115009264-06bff280-9ea4-11eb-9c91-9832e9eccc71.png)

[2021-04-16 13:19] j-m opened #4724 "[EuiDataGrid] Sort using hidden column"
Let's say the user wants to order a table by date of creation.
They don't necessarily care when exactly the item was created, or its id(s), they just want want to see them in the "most recent" order. As such, it is likely they will want to hide these columns or these columns were hidden by default.

Currently, if you sort the date/id column and then hide it, the sort is not applied - and the colum

[2021-04-16 15:02] hetanthakkar1 commented on #4719
@cchaos I think we can probably get around the issue by applying box-shadow and setting outline: none when the element is focussed: https://css-tricks.com/having-a-little-fun-with-custom-focus-styles/

[2021-04-16 16:46] jeepers3327 opened #4725 "EuiButton has underline text decoration when hovered"
I don't want to create an issue regarding this one but since I cannot create a question in Discussions part, I created the ticket, my apologies.

When visiting ElasticUI docs page and go over Button component, I noticed that when button is hovered, a text-decoration: underline style is set. This is also visible on [Cards component](https://elastic.github.io/eui/#/display/card).

My questions are:

[2021-04-17 08:46] tosbaha opened #4726 "EuiBasicTable doesn't update checkboxes after clearing selection."
If I select items by using the `selection` property and then clear that array, checkboxes don't update. Here is the minimal demo. Select any item and then hit the button. You'll see that, even though the `setSelectedItems` function clears the array which also removes the button, but checkboxes still remain in a checked state.

[code]

[2021-04-19 09:57] mouradmourafiq commented on #3140
Too late I guess to keep this issue open?

[2021-04-19 12:26] miukimiu commented on #4723
Thanks @j-m for opening this issue. I confirmed and the link is not working.

It's a very easy fix. On page https://elastic.github.io/eui/#/tabular-content/data-grid#core-concepts the link **Grid styling**  should be pointing to https://elastic.github.io/eui/#/tabular-content/data-grid-styling-and-control.

[2021-04-19 12:31] #4725 closed

[2021-04-19 13:20] ryankeairns opened #4729 "[EuiDataGrid] Footer row jumps in Firefox"
This [Kibana PR](https://github.com/elastic/kibana/pull/97083) (with link to related issue) provides a near-term fix until this can be addressed at the EUI level. The issue has to do with the summary row being slightly out of position upon initial load and then 'jumping' into place upon hover.

From the originating issue:

**Screenshots (if relevant):**
![firefox_datagrid](https://user-images.gith

[2021-04-19 13:30] ryankeairns opened #4730 "Add toolbar button styles"
Perhaps this could instead be a discussion topic, but Lens and the presentation toolbar (Dashboard, Canvas) are using the same toolbar button styles which smells like a possible EUI addition (e.g. new button group variation?).

They've been operating with separate sets of styles and, as of this writing, are having to make [simultaneous](https://github.com/elastic/kibana/pull/97237) [adjustments](h

[2021-04-19 13:57] hetanthakkar1 commented on #4723
@miukimiu I will just replace this

[2021-04-19 14:07] miukimiu commented on #4730
Thanks @ryankeairns,

For sharing this. The Maps app also has toolbar buttons.

<img width="71" alt="Screenshot 2021-04-19 at 14 53 06" src="https://user-images.githubusercontent.com/2750668/115248181-6118b780-a11f-11eb-9a4c-4ec60a4619c7.png">

I think in EUI we could definitely create a toolbar button and toolbar button groups to create some consistency across all apps.

[2021-04-19 14:28] hetanthakkar1 commented on #4723
@miukimiu working on this!

[2021-04-19 15:23] j-m opened #4731 "[EuiDataGrid] Column visibility popout not reordering on drag & drop"
I'm using an object for my columns instead of an array so I could use generics and enforce type safety of rows.

But I've run into an issue with the ordering of columns, [here's a codepen](https://codesandbox.io/s/bold-butterfly-4gwbx?file=/index.js:914-928)

<details>
  <summary>Summary of Differences (click to expand)</summary>

[code]
instead of
[code]
Which means I have to do
[code]
instead of

[2021-04-19 15:26] hetanthakkar1 commented on #4723
@miukimiu Please review!

[2021-04-19 15:58] thompsongl commented on #4726
The checkbox selection state is controlled internally by EuiBasicTable, and your app's `selectedItems` state is only a reference to that internal state. That is, your `setSelectedItems` state updater will have no impact on the internal state of the component.

That being said, we should allow some way to better manage selection externally. Unsure at this point if we'd want to implement full extern

[2021-04-19 16:11] tosbaha commented on #4726
Thanks for the reply. I can manipulate the internal state of the table by using `useRef` but this just defeats the purpose of using  `selection` props. If we can only manipulate the selection state with `useRef`, there is no need to use selection props. Anyway, thanks once again for this awesome library. It is really a joy to work with it.

[2021-04-19 16:22] #4723 closed

[2021-04-19 16:24] miukimiu commented on #4715
Fixed by #4722.

[2021-04-19 16:24] #4715 closed

[2021-04-19 17:35] myasonik commented on #4724
Generally, the feature sounds like something EUI could/would support but I don't think we have the bandwidth to take it on at the moment. If you worked on a PR for this, I imagine we could get it merged.

@chandlerprall Correct me if I'm wrong ☝️

[2021-04-19 20:07] hetanthakkar1 commented on #4719
@cchaos what are your view?

[2021-04-19 20:31] thompsongl commented on #4731
Try moving the object-to-array conversion to state. The `columns` prop is getting called anew on every rerender and clearing the sort order.

[Updated codepen](https://codesandbox.io/s/hardcore-rgb-0pgo7)

[2021-04-19 20:39] cchaos commented on #4719
We've tried the `box-shadow` route before and it was just a pain to maintain this implementation to be consistent with  `outline`.  I don't have a good solution for this yet, and would like to hold off on trying anything just yet.

[2021-04-19 21:06] mouradmourafiq commented on #3140
@cchaos thank you for the reply.

I don't I can reopen the issue with my account, at least I don't see the reopen button in the UI.

[2021-04-19 21:11] cchaos commented on #4703
I agree that generally placeholder text having high contrast is misleading to what is filled in and what is not and there really should not be anyone who is using the placeholder as the `label`. But that's not something we can control/enforce (at this time).

I'm inclined to go ahead and increase the contrast of the EuiComboBox's placeholder, though, to match those of the other inputs. Somehow thi

[2021-04-19 21:13] cchaos commented on #4703
We might also want to add a global Sass for this text color. Right now it's hard coded in the forms mixins as `$euiColorDarkShade`.

[2021-04-19 21:19] mouradmourafiq commented on #3140
@cchaos thank you for reopening the issue.

[2021-04-19 21:25] myasonik commented on #4703
Consistency will at least be a step in the right direction 👏

I'm going to mark it as "good first issue" for now but keep it on my radar. I know it's a small PR but I don't know when I'll get to it.

[2021-04-20 09:46] j-m commented on #4731
@thompsongl Perfect, thank you!
I made the assumption the state was managed internally and that it didn't try to modify the `columns` prop

[2021-04-20 09:46] #4731 closed

[2021-04-20 10:58] KishorBudhathoki10 opened #4736 "[EuiResizableContainer] Needs `isCollapsed` option"
It will be nice to have a props like **isCollapsed** for **Resizeable Panel**.  I have a page where I have a resizable component. But when I go from one page to another the resizeable panel goes back to its previous state. I can manage the size of the panels but not collapsible state.

[2021-04-20 12:50] cchaos commented on #4736
++ This is something I found I needed as well in order to ma

[2021-04-20 13:05] cchaos commented on #4736
So there actually should be a way to handle this already since you can trigger the collapsed state from outside of the container. I took the [last example](https://elastic.github.io/eui/#/layout/resizable-container#collapsible-panels-with-external-control) and added a `useEffect` to trigger the `onChange` even initially setting the id of a collapsed panel to `2`. https://codesandbox.io/s/interesti

[2021-04-20 13:53] thompsongl commented on #4736
The `useEffect` method will work, but it's reasonable that there should be an `isCollapsed` and/or `initialIsCollapsed` prop on EuiResizablePanel.

[2021-04-20 13:59] thompsongl commented on #4731
It doesn't modify the `columns` prop, but it does react to external changes to the `columns` prop. That is, using `Object.entries(columns).map` creates a new array on every rerender. That new array does not have the same reference as the previous array, and EuiDataGrid therefore can't assume the same columns are present and refreshes with the new array from the prop.

[2021-04-20 14:11] j-m commented on #4731
Ahh, I've been relying on show/hide rather than letting users add/remove columns completely - hadn't thought of that use case, makes sense

[2021-04-20 17:21] chandlerprall commented on #4724
Before we knew how the toolbar would look&act, there was some concern (from only me, I believe) about sorting on a column without a way to present that fact to the user, or allow them to modify that sort state. With the _Sort fields_ popover that concern is resolved, and I double checked our original spec to verify there's no other reason to not do this.

As @myasonik said above, unlikely somethin

[2021-04-20 17:41] chandlerprall commented on #4730
Related: ARIA toolbar proposal #2405

[2021-04-20 20:31] #4718 closed

[2021-04-20 21:25] KishorBudhathoki10 commented on #4736
@cchaos I saw in the examples that using buttons we can manage to hide the panel. But, to keep it collapsed with the open icon it does not seem to work. It seems that the collapsed panel gets the width of `33.33%` as a inline style. Maybe cause of flex but not sure. You can check it in this link https://codesandbox.io/s/billowing-night-wsw1p.

In the code from sand box that I link if you changed t

[2021-04-20 21:50] cqliu1 opened #4739 "App icon colors don't match button text color"
I'm using a bunch of app icons in the Dashboard toolbar, and it looks like the dual color icons don't support `ghost` button text color, or at least the `lensApp` icon didn't. I also wanted to make them monochrome to match the text.

To make the app icons monochrome and match the text color, I had to apply custom CSS like this to work in both light and dark mode:

https://github.com/elastic/kibana

[2021-04-20 22:02] #4712 closed

[2021-04-21 00:03] #4094 closed

[2021-04-21 11:44] miukimiu commented on #4739
Hi @cqliu1,

I tried to inspect your code in Kibana and for the context menu's instead of passing the icon as a string you can pass the icon like: `<EuiIcon type="lensApp" color="text" />`. For the two tones icons setting the `color` prop to `"text"` will make the icons monochrome and match the text color in both light and dark mode.

See:
https://codesandbox.io/s/inspiring-khorana-bs4uz?file=/ind

[2021-04-21 13:48] #4711 closed

[2021-04-21 14:46] hetanthakkar1 commented on #4668
@cchaos We don't have styles for handling indeterminate value in EuiSelectable.right!?

[2021-04-21 15:02] cchaos commented on #4668
Yeah this is a broader decision that will need to be lead by design.

[2021-04-21 15:20] j-m commented on #4724
Awesome!
I'll try to make some time for this and will leave another comment when I pick it up.
In the meantime, if anyone else fancies it and I haven't left a WIP comment, feel free to have a go

[2021-04-21 15:23] j-m commented on #4115
@chandlerprall I believe this is mostly fixed, other than #4676. Shall we close this in favour of that?

[2021-04-21 15:54] thompsongl opened #4741 "[Infra] Add `noindex` tag to PR preview builds"
As seen in https://github.com/elastic/eui/pull/4727#pullrequestreview-641262281, we should prevent search indexing of the PR preview builds.

[2021-04-21 16:51] dannya opened #4742 "[Docs] [EuiStat] Incorrect reference to `size` property in example, should be `titleSize`"
Incorrect reference to `size` property in example, should be `titleSize`:

![image](https://user-images.githubusercontent.com/394687/115591640-39b21e00-a2ca-11eb-9747-df529146f040.png)

PR to fix incoming.

[2021-04-21 17:35] hetanthakkar1 commented on #4739
@miukimiu Can you please review my PR

[2021-04-22 12:26] miukimiu commented on #4739
@hetanthakkar1,

If you want to help with this issue the solution is to change the app icon colors inside the **EuiButton** to match the current button color text.

As you can see here the app icons are:
- changing the color to dark when the light theme is active
- changing the color to light when the dark theme is active

https://codesandbox.io/s/euibuttons-app-icons-05wge?file=/index.js

<img wi

[2021-04-22 16:04] stephmilovic commented on #4688
hm, strange. i just confirmed and you're right. closing 🍾

[2021-04-22 16:05] stephmilovic commented on #4688
wait i found it sorry

[2021-04-22 16:54] #4742 closed

[2021-04-22 19:05] thompsongl commented on #4688
Ah yep; I see it now. "Exported variable has or is using name from external module but cannot be named"

[2021-04-22 21:23] #4688 closed

[2021-04-22 21:43] hetanthakkar1 commented on #4304
@cchaos @chandlerprall Can you please review my PR

[2021-04-23 08:15] hetanthakkar1 commented on #4333
Working on this

[2021-04-23 09:19] pheyos commented on #4523
As mentioned in https://github.com/elastic/kibana/issues/91373#issuecomment-825522442, I'm still seeing this in 7.13.0 and master with Chrome and Firefox on Linux and Windows (not the original issue with **no** rows displayed, but the one with an unexpected vertical scroll bar described later in the other issue).
Do we have any update on this topic?

[2021-04-23 09:34] dej611 opened #4749 "[EuiColorStop] Would provide event for color thumb click, and way to customize the specific popup editor"
In [our use case](https://github.com/elastic/kibana/pull/95217) the `EuiColorStop` component provides 2 mandatory stops at the beginning and end of the range.
In particular the user:
* should not be able to drag the stops from their ends position - but still add new stops in between
* should not be able to modify the stop value in some configurations
* should not be able to delete the extremities

[2021-04-23 14:47] thompsongl commented on #4749
I agree. Your use case is a logical extension of what we already provide, and an interesting one at that.

I need to think on the API a bit longer, but I like your `onStopClicked` callback idea. It doesn't really make sense to require that consumers pass a fixed configuration that accounts for each stop individually. Regardless, it sounds like (at the moment) two configuration properties: "permane

[2021-04-24 02:28] malekjaroslav commented on #4054
Do you have some plans to put SSR support on the roadmap? I am loving EUI and I use it in my project, but the no SSR is something that holds me back a bit. Thank you! 🙏

[2021-04-26 03:19] snide commented on #4185
I'm going to close this out. I don't think we want to support a sass toolchain on these links now that we're making progress on Emotion.

[2021-04-26 03:19] #4185 closed

[2021-04-26 12:55] ostiwe commented on #4621
A classic mistake. I was inattentive, in the props component I passed temId instead of itemId

[2021-04-26 12:55] #4621 closed

[2021-04-26 13:08] walterra opened #4755 "App icons don't consider disabled state"
Actions for `EuiInMemoryTable` support icons and when an action is not enabled the icon and text will be grayed out.

When using an icon from the "Apps" section (https://elastic.github.io/eui/#/display/icons) the icon won't be grayed out though, it looks like the colors are hard coded for the icon and the action is not able to override the style.

In the example below you can see that the icon for

[2021-04-26 13:50] miukimiu commented on #4739
@hetanthakkar1 because we're having a lot of issues with how app icons behave inside buttons, context menus, or tables (see #4755), I'm assigning this issue to me.

[2021-04-26 14:56] akaRem opened #4756 "[EuiPopover] Popover is placed above header (z-index)"
![image](https://user-images.githubusercontent.com/1472728/116103481-ea943080-a6af-11eb-8a1c-483d0990c346.png)
![image](https://user-images.githubusercontent.com/1472728/116103713-262efa80-a6b0-11eb-84b3-bb1ec2b91f38.png)

to reproduce:

- go to https://elastic.github.io/eui/#/display/tour
- scroll down to example

or

- go to https://elastic.github.io/eui/#/layout/popover
- in first example click

[2021-04-26 15:00] akaRem opened #4757 "[Docs] Sketch zip archive is not available on amsterdam-* themes"
![image](https://user-images.githubusercontent.com/1472728/116104283-9c336180-a6b0-11eb-9227-8d3083bf4300.png)

![image](https://user-images.githubusercontent.com/1472728/116104321-a35a6f80-a6b0-11eb-81e1-bed1a215627e.png)

to reproduce
- go to any doc page, ex: https://elastic.github.io/eui/#/
- cycle through themes
- the yellow gem icon disappears on Amsterdam themes

[2021-04-26 15:11] snide commented on #4757
This is on purpose. The sketch files are legacy and not available in the new theme. We don't plan on providing them as most of the industry has moved on to Figma.

[2021-04-26 15:11] #4757 closed

[2021-04-26 19:52] cchaos commented on #4453
This is where I think the consumer shouldn't have to specify percentages for **every** panel. This could easily mean mistakes in math (ensuring they all add up tp 100%). So I'd almost prefer a method where one of the panels kind of has to just be the "rest" and if all the minimums add up to more than the parent, the parent will just have to scroll or accommodate in some way.

So taking your exampl